In [1]:
from sqlalchemy import create_engine, text
from bs4 import BeautifulSoup as bs
import datetime as dt
import pandas as pd
import numpy as np
import warnings
import requests
import pymssql
import locale
import glob
import os

warnings.filterwarnings('ignore')
pd.set_option('use_inf_as_na', True)
pd.options.display.max_columns = None
pd.set_option('float_format', '{:.2f}'.format)
locale.setlocale(locale.LC_ALL, 'ru_RU.UTF-8')

'ru_RU.UTF-8'

In [2]:
report_folder = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\Мониторинг Sokolov и Sunlight'

In [3]:
engine = create_engine('postgresql://sergei:S714801t@51.250.54.232:5432/dldb')

In [4]:
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')
month_now = dt.datetime.now().month
day_now = dt.datetime.now().day 
year_now = dt.datetime.now().year

In [5]:
way = os.getcwd()

# 1. Sokolov

In [6]:
df_sokolov = pd.read_csv(rf'{way}\sokolov\parsed_data\result\bk_sokolov_{date_now}.csv')

In [7]:
df_sokolov.sample(5)

,data,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,article
1135,12.07.2024,Sokolov,Кольцо из золота,rings,1.66 г,20250,44990,Второе украшение БЕСПЛАТНО! 1 = 2,Без вставок,Красное золото 585 пробы,NaN,019539
199,12.07.2024,Sokolov,"Обручальное кольцо из золота, comfort fit, 6 мм",rings,4.24 г,56250,124990,Второе украшение БЕСПЛАТНО! 1 = 2,Без вставок,Красное золото 585 пробы,NaN,111034-01
668,12.07.2024,Sokolov,Кольцо из золота,rings,2.36 г,31500,104990,Второе украшение БЕСПЛАТНО! 1 = 2,Без вставок,Красное золото 585 пробы,NaN,017795
630,12.07.2024,Sokolov,Подвеска из золота,pendants,0.76 г,9900,21990,Второе украшение БЕСПЛАТНО! 1 = 2,Без вставок,Красное золото 585 пробы,NaN,036506
1169,12.07.2024,Sokolov,Кольцо из золота,rings,2.6 г,26000,129990,Второе украшение БЕСПЛАТНО! 1 = 2,Без вставок,Красное золото 585 пробы,NaN,019285

In [8]:
# df_sokolov['article'] = 'https://sokolov.ru/jewelry-catalog/product/' + df_sokolov['article']
# df_sokolov['article'] = df_sokolov['article'] + '/'

df_sokolov.columns = ['date', 'competitor', 'name', 'group', 'weight', 'price', 'price_old',
                    'discount', 'insert', 'metal', 'lock_type_or_weaving_type', 'url']

In [9]:
df_sokolov['discount'].value_counts(dropna=False)

discount
Второе украшение БЕСПЛАТНО! 1 = 2    1493
NaN                                    19
Name: count, dtype: int64

In [10]:
df_sokolov['discount_for_dash'] = df_sokolov['discount']
df_sokolov['discount_for_dash'] = df_sokolov['discount_for_dash'].fillna('нет скидочного купона')

In [11]:
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] == 0:
        df_sokolov['discount_for_dash'][i] = 'ШОК-ЦЕНА'

In [12]:
def discount_value(discount):
    '''у Sokolov купоны имеют скидку до 30%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '10%' in discount:
        return 0.9
    elif '15%' in discount:
        return 0.85
    elif '20%' in discount:
        return 0.8
    elif '25%' in discount:
        return 0.75
    elif '30%' in discount:
        return 0.7
    elif '40%' in discount:
        return 0.6
    elif 'Второе украшение' in discount:
        return 0.5
    return 1

df_sokolov['discount'] = df_sokolov['discount'].fillna('1')
df_sokolov['discount'] = df_sokolov['discount'].apply(discount_value)

In [13]:
df_sokolov['weight'] = df_sokolov['weight'].str.replace(' г', '')
df_sokolov['weight'] = df_sokolov['weight'].astype('float')

In [14]:
df_sokolov['metal'].value_counts()

metal
Красное золото 585 пробы            1161
Жёлтое золото 585 пробы              153
Комбинированное золото 585 пробы     102
Белое золото 585 пробы                82
Красное золото 375 пробы              11
Комбинированное золото 375 пробы       2
Золото 585 пробы                       1
Name: count, dtype: int64

In [15]:
df_sokolov['price'].isna().sum()

0

In [16]:
df_sokolov = df_sokolov.dropna(subset=['price'])

In [17]:
# применяем скидку для первоначальной цены
df_sokolov['price'] = np.where(
    df_sokolov['discount'] == 0.5, df_sokolov['price'] * df_sokolov['discount'],
    np.where(
        df_sokolov['discount_for_dash'] == 'ШОК-ЦЕНА', df_sokolov['price'], df_sokolov['price'] * 0.7
    )
)

In [18]:
# для расчета персональной стоимости нужно выделить изделия для которых применины баллы. Для этого в парсинге цен используються cookies аккаунта с баллами (любым кол-вом).
# чтобы определить если ли персональная цена сравниваются 2 столба "price_old" и "price".
# если "price_old" равен нулю, значит этот товар является товаром из списка ШОК-цен, на них не распространяются бонусные баллы
# в противном случае мы можем списать до 30% от стоимости товара бонусными баллами
# мы считаем, что пользователь может использовать программу лояльности по-максимуму

In [19]:
df_sokolov.sample(10)

,date,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,url,discount_for_dash
53,12.07.2024,Sokolov,"Цепь из золота, плетение Панцирное, 585 проба",chains,2.42,16950.00,112990,0.50,Без вставок,Красное золото 585 пробы,Панцирное,582040502,Второе украшение БЕСПЛАТНО! 1 = 2
77,12.07.2024,Sokolov,Браслет из золота,bracelets,10.75,84375.00,374990,0.50,Без вставок,Красное золото 585 пробы,NaN,051465,Второе украшение БЕСПЛАТНО! 1 = 2
1361,12.07.2024,Sokolov,Брошь из золота,brooches,2.75,17550.00,77990,0.50,Без вставок,Красное золото 585 пробы,NaN,040314,Второе украшение БЕСПЛАТНО! 1 = 2
1370,12.07.2024,Sokolov,"Обручальное кольцо из золота, 375 проба, 4 мм",rings,1.22,4050.00,17990,0.50,Без вставок,Красное золото 375 пробы,NaN,110188-4,Второе украшение БЕСПЛАТНО! 1 = 2
1506,12.07.2024,Sokolov,Колье из желтого золота,necklaces,2.98,15750.00,69990,0.50,Без вставок,Жёлтое золото 585 пробы,NaN,070274-2,Второе украшение БЕСПЛАТНО! 1 = 2
49,12.07.2024,Sokolov,"Цепь из золота, плетение Тройной ромб, 585 проба",chains,7.67,56990.00,0,1.00,Без вставок,Красное золото 585 пробы,Ромб тройной,582100602,ШОК-ЦЕНА
1205,12.07.2024,Sokolov,Серьги из золота,earrings,2.10,19800.00,87990,0.50,Без вставок,Красное золото 585 пробы,Замок-булавка,0200365,Второе украшение БЕСПЛАТНО! 1 = 2
1329,12.07.2024,Sokolov,"Обручальное кольцо из желтого золота, 4 мм",rings,2.24,14175.00,62990,0.50,Без вставок,Жёлтое золото 585 пробы,NaN,110030-2,Второе украшение БЕСПЛАТНО! 1 = 2
1091,12.07.2024,Sokolov,Серьги из золота,earrings,2.67,14625.00,64990,0.50,Без вставок,Красное золото 585 пробы,Замок-булавка,0200099,Второе украшение БЕСПЛАТНО! 1 = 2
1054,12.07.2024,Sokolov,Кольцо из золота,rings,1.55,11925.00,52990,0.50,Без вставок,Красное золото 585 пробы,NaN,019466,Второе украшение БЕСПЛАТНО! 1 = 2

In [20]:
no_discount = 0
df_sokolov['discount_flag'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] != 0:
        df_sokolov['discount_flag'][i] = df_sokolov['price'][i] * 0.3
    else:
        df_sokolov['discount_flag'][i] = no_discount

In [21]:
df_sokolov['price_personal'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['discount_flag'][i] <= (df_sokolov['price'][i] * 0.3):
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - df_sokolov['discount_flag'][i]
    else:
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - (df_sokolov['price'][i] * 0.3)

In [22]:
df_sokolov = df_sokolov.drop(columns=['discount_flag'], axis=1)

In [23]:
df_sokolov['price'].isna().sum()

0

In [24]:
df_sokolov['price_personal'] = df_sokolov['price']

In [25]:
df_sokolov

,date,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,url,discount_for_dash,price_personal
0,12.07.2024,Sokolov,Кольцо обручальное из золота,rings,1.61,12990.00,0,1.00,Без вставок,Красное золото 585 пробы,1.61 г,110260,ШОК-ЦЕНА,12990.00
1,12.07.2024,Sokolov,Кольцо обручальное из белого золота,rings,1.60,12990.00,0,1.00,Без вставок,Белое золото 585 пробы,1.6 г,110260-3,ШОК-ЦЕНА,12990.00
2,12.07.2024,Sokolov,Кольцо обручальное из золота,rings,1.63,12990.00,0,1.00,Без вставок,Красное золото 585 пробы,1.63 г,110261,ШОК-ЦЕНА,12990.00
3,12.07.2024,Sokolov,Кольцо из белого золота,rings,1.61,12990.00,0,1.00,Без вставок,Белое золото 585 пробы,1.61 г,110262-3,ШОК-ЦЕНА,12990.00
4,12.07.2024,Sokolov,Кольцо из золота,rings,1.09,7990.00,0,1.00,Без вставок,Красное золото 585 пробы,NaN,019424,ШОК-ЦЕНА,7990.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,12.07.2024,Sokolov,Колье из золота,necklaces,1.99,8550.00,37990,0.50,Без вставок,Красное золото 375 пробы,NaN,070404-4,Второе украшение БЕСПЛАТНО! 1 = 2,8550.00
1508,12.07.2024,Sokolov,Колье из желтого золота,necklaces,2.45,13050.00,57990,0.50,Без вставок,Жёлтое золото 585 пробы,NaN,070439,Второе украшение БЕСПЛАТНО! 1 = 2,13050.00
1509,12.07.2024,Sokolov,Колье из золота,necklaces,2.60,19125.00,84990,0.50,Без вставок,Красное золото 585 пробы,NaN,070450,Второе украшение БЕСПЛАТНО! 1 = 2,19125.00
1510,12.07.2024,Sokolov,Колье из белого золота,necklaces,1.68,8550.00,37990,0.50,Без вставок,Белое золото 585 пробы,NaN,070520-3,Второе украшение БЕСПЛАТНО! 1 = 2,8550.00
1511,12.07.2024,Sokolov,Колье из желтого золота,necklaces,1.12,8775.00,38990,0.50,Без вставок,Жёлтое золото 585 пробы,NaN,070620-2,Второе украшение БЕСПЛАТНО! 1 = 2,8775.00

In [26]:
df_sokolov['price_per_gramm'] = (df_sokolov['price_personal'] / df_sokolov['weight']).round(0)
df_sokolov['name'] = df_sokolov['name'].str.lower()

In [27]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sokolov['tg'] = np.where(
    ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка'))), 'ПОДВЕС КУЛЬТ',
    np.where(
        ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка') == False) | (df_sokolov['name'].str.contains('колье'))), 'ПОДВЕС ДЕКОР', 
        np.where(
            ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ', 
            np.where(
                ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное')==False)), 'КОЛЬЦА', 
                np.where(
                    (df_sokolov['group'] == 'bracelets'), 'БРАСЛЕТЫ',
                    np.where(
                        (df_sokolov['group'] == 'chains'), 'ЦЕПИ', 
                        np.where(
                            ((df_sokolov['group'] == 'earrings')| (df_sokolov['name'].str.contains('пирсинг'))), 'СЕРЬГИ', np.nan)
                    )
                )
            )
        )
    )
)

In [28]:
df_sokolov[df_sokolov['tg'] == 'nan']['name'].value_counts()

name
брошь из золота                          10
шнур декоративный                         2
сувенир из золота                         2
кожаный шнурок с золотым замком           2
текстильный шнурок с замком из золота     2
золотая звезда на погоны                  1
брошь-булавка  из золота                  1
шнур декоративный                         1
крестильный набор из золота               1
кожаный шнурок с замком из золота         1
брошь из желтого золота                   1
Name: count, dtype: int64

In [29]:
df_sokolov = df_sokolov[df_sokolov['tg'] != 'nan'] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [30]:
df_sokolov['tn'] = np.where(
    ((df_sokolov['insert'].str.lower().str.contains('выраще|синте|искусств')) & (df_sokolov['insert'].str.lower().str.contains('бриллиант') == False)), 'ПДК',
    np.where(
        (df_sokolov['insert'].str.lower().str.contains('бриллиант|сапфир|рубин|изумруд') & (df_sokolov['insert'].str.lower().str.contains('выращ|искусств|синтети') == False)), 'ДК',
        np.where(
            df_sokolov['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ',
            np.where(
                df_sokolov['insert'] == 'Без вставок', 'БК', 
                np.where(
                    df_sokolov['insert'].str.lower().str.contains('фианит|бриллиант'), 'ИФ', 'ПДК'
                )
            )
        )
    )
)

In [31]:
df_sokolov['tg'] = df_sokolov['tn'] + ' ' + df_sokolov['tg']

In [32]:
df_sokolov['tg'].value_counts(dropna=False)

tg
БК СЕРЬГИ          465
БК КОЛЬЦА          269
БК ПОДВЕС ДЕКОР    228
ЦБ БРАСЛЕТЫ        186
ЦБ ЦЕПИ            135
БК КОЛЬЦА ОБРУЧ    115
БК ПОДВЕС КУЛЬТ     90
Name: count, dtype: int64

In [33]:
df_sokolov['price_case'] = np.where(
    df_sokolov['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sokolov['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sokolov['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sokolov['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sokolov['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sokolov['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sokolov['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [34]:
df_sokolov['price_per_gramm'].describe([0.05, 0.95])

count    1488.00
mean     6789.45
std       966.81
min      3320.00
5%       5240.10
50%      6812.50
95%      8316.95
max     10227.00
Name: price_per_gramm, dtype: float64

In [35]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url', 'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]

In [36]:
df_sokolov['num_shop'] = '_' + df_sokolov['competitor']
df_sokolov['num_diap'] = df_sokolov['price_case']

In [37]:
df_sokolov.sample(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case,num_shop,num_diap
567,12.07.2024,Sokolov,колье из золота,necklaces,070560,11250.00,0.50,1.53,Второе украшение БЕСПЛАТНО! 1 = 2,7353.00,БК ПОДВЕС ДЕКОР,7 000 руб. - 8 000 руб.,_Sokolov,7 000 руб. - 8 000 руб.
962,12.07.2024,Sokolov,серьги из золота,earrings,029695,20250.00,0.50,3.95,Второе украшение БЕСПЛАТНО! 1 = 2,5127.00,БК СЕРЬГИ,до 5 500 руб.,_Sokolov,до 5 500 руб.
931,12.07.2024,Sokolov,браслет из золота,bracelets,051129,11700.00,0.50,2.14,Второе украшение БЕСПЛАТНО! 1 = 2,5467.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.,_Sokolov,до 5 500 руб.
105,12.07.2024,Sokolov,кольцо обручальное из золота,rings,110252,15750.00,0.50,2.50,Второе украшение БЕСПЛАТНО! 1 = 2,6300.00,БК КОЛЬЦА ОБРУЧ,6 000 руб. - 6 500 руб.,_Sokolov,6 000 руб. - 6 500 руб.
294,12.07.2024,Sokolov,кольцо из золота,rings,019006,18000.00,0.50,2.49,Второе украшение БЕСПЛАТНО! 1 = 2,7229.00,БК КОЛЬЦА,7 000 руб. - 8 000 руб.,_Sokolov,7 000 руб. - 8 000 руб.

In [38]:
df_sokolov['discount_for_dash'].value_counts()

discount_for_dash
Второе украшение БЕСПЛАТНО! 1 = 2    1469
ШОК-ЦЕНА                               18
нет скидочного купона                   1
Name: count, dtype: int64

In [39]:
df_sokolov['price_per_gramm'].describe().round(0)

count    1488.00
mean     6789.00
std       967.00
min      3320.00
25%      6127.00
50%      6812.00
75%      7432.00
max     10227.00
Name: price_per_gramm, dtype: float64

In [40]:
Sokolov = df_sokolov['price_personal'].sum() / df_sokolov['weight'].sum().round(0)
print(Sokolov)

6585.654230873209

In [41]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url',
       'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm',
       'tg', 'price_case']]

In [42]:
df_sokolov.sample(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
1093,12.07.2024,Sokolov,серьги из золота,earrings,0200188,13050.00,0.50,1.86,Второе украшение БЕСПЛАТНО! 1 = 2,7016.00,БК СЕРЬГИ,7 000 руб. - 8 000 руб.
779,12.07.2024,Sokolov,колье из золота,necklaces,070398,14175.00,0.50,1.55,Второе украшение БЕСПЛАТНО! 1 = 2,9145.00,БК ПОДВЕС ДЕКОР,9 000 руб. - 10 000 руб.
586,12.07.2024,Sokolov,серьги конго из золота с алмазной гранью,earrings,140149,13500.00,0.50,2.39,Второе украшение БЕСПЛАТНО! 1 = 2,5649.00,БК СЕРЬГИ,5 500 руб. - 6 000 руб.
685,12.07.2024,Sokolov,кольцо из золота,rings,018889,15000.00,0.50,2.92,Второе украшение БЕСПЛАТНО! 1 = 2,5137.00,БК КОЛЬЦА,до 5 500 руб.
1164,12.07.2024,Sokolov,подвеска из золота,pendants,036641,19500.00,0.50,3.58,Второе украшение БЕСПЛАТНО! 1 = 2,5447.00,БК ПОДВЕС ДЕКОР,до 5 500 руб.

# 2. Sunlight

In [43]:
df_sunlight = pd.read_csv(fr'{way}\sunlight\parsed_data\result\bk_sunlight_{date_now}.csv')

In [44]:
df_sunlight = df_sunlight.drop(columns=['index'])

In [45]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount
0,12.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена']
1,12.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена']
2,12.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена']
3,12.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена']
4,12.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена']

In [46]:
def get_params_from_dic(df):
    '''функция для разделения столбца "params" на отдельные столбцы'''
    spisok = []                                                           
    for c in df['params']:
        for i in c.keys():                                
            spisok.append(i)              
    spisok = set(spisok)
    for s in spisok:
        z = []
        for j in df['params']:
            try:
                z.append(j[s])
            except:
                z.append(np.nan)
        df[s] = z
        
    return df

In [47]:
df_sunlight['group'].unique()

array(['Серьги', 'Крест-подвеска', 'Шейное украшение', 'Цепи', 'Кольца',
       'Подвески', 'Колье', 'Браслеты', 'Ножной браслет', 'Серьга',
       'Пирсинг', 'Брошь', 'Булавка', 'Запонки', 'Зажимы для галстука',
       'Брелоки'], dtype=object)

In [48]:
# чтобы функция написанная выше работала, необходимо, чтобы столбец params стал снова словарем, это происходит благодаря функции eval()
df_sunlight['params'] = df_sunlight['params'].apply(lambda x: eval(x))
get_params_from_dic(df_sunlight)

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount,Ширина браслета,Страна производства,Модель,Материал изделия,Диаметр серег,Ширина кольца,Ширина цепи,Покрытие,Плетение,Вставка,Вес изделия
0,12.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,Россия,200100.16-1ш/з*,Розовое золото,NaN,NaN,NaN,NaN,NaN,NaN,1.04 г
1,12.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,Россия,200100.16-1ш/з*,Розовое золото,NaN,NaN,NaN,NaN,NaN,NaN,1.04 г
2,12.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,Россия,200100.16-1ш/з*,Розовое золото,NaN,NaN,NaN,NaN,NaN,NaN,1.04 г
3,12.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,Россия,200100.16-1ш/з*,Розовое золото,NaN,NaN,NaN,NaN,NaN,NaN,1.04 г
4,12.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,Россия,200100.16-1ш/з*,Розовое золото,NaN,NaN,NaN,NaN,NaN,NaN,1.04 г
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5518,12.07.2024,Sunlight,\n Золотой браслет\n,Браслеты,"{'Модель': '46-0015-11*', 'Материал изделия': ...",52870,345091,https://sunlight.net/catalog/bracelets_345091....,105 740 ₽,52 870 ₽,31 722 ₽,"['Белые ночи! Ещё -10%, код: НОЧЬ до 15.07']",NaN,Россия,46-0015-11*,Розовое золото,NaN,NaN,NaN,NaN,NaN,NaN,5.34 г
5519,12.07.2024,Sunlight,\n Золотой браслет\n,Браслеты,"{'Модель': '46-0009-11-61*', 'Материал изделия...",89490,345089,https://sunlight.net/catalog/bracelets_345089....,178 980 ₽,89 490 ₽,59 490 ₽,"['Белые ночи! Ещё -10%, код: НОЧЬ до 15.07']",NaN,Россия,46-0009-11-61*,Розовое золото,NaN,NaN,NaN,NaN,NaN,NaN,9.42 г
5520,12.07.2024,Sunlight,\n Золотой браслет\n,Браслеты,"{'Модель': '46-0002-11-61*', 'Материал изделия...",59360,345086,https://sunlight.net/catalog/bracelets_345086....,118 720 ₽,59 360 ₽,35 616 ₽,"['Белые ночи! Ещё -10%, код: НОЧЬ до 15.07']",NaN,Россия,46-0002-11-61*,Розовое золото,NaN,NaN,NaN,NaN,NaN,NaN,6.12 г
5521,12.07.2024,Sunlight,\n Золотой браслет\n,Браслеты,"{'Модель': '442-00-0180-31130*', 'Материал изд...",369510,344752,https://sunlight.net/catalog/bracelets_344752....,739 020 ₽,369 510 ₽,339 510 ₽,"['Белые ночи! Ещё -15%, код: НОЧЬ до 15.07']","11,5 мм",Россия,442-00-0180-31130*,Розовое золото,NaN,NaN,NaN,NaN,Гарибальди,NaN,54.34 г
5522,12.07.2024,Sunlight,\n Золотая цепь\n,Цепи,"{'Модель': '342-00-0180-31130*', 'Материал изд...",1009790,344747,https://sunlight.net/catalog/chains_344747.html,2 019 579 ₽,1 009 790 ₽,979 790 ₽,"['Белые ночи! Ещё -15%, код: НОЧЬ до 15.07']",NaN,Россия,342-00-0180-31130*,Розовое золото,NaN,NaN,"11,5 мм",NaN,Гарибальди,NaN,157.78 г

In [49]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount,Ширина браслета,Страна производства,Модель,Материал изделия,Диаметр серег,Ширина кольца,Ширина цепи,Покрытие,Плетение,Вставка,Вес изделия
0,12.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,Россия,200100.16-1ш/з*,Розовое золото,NaN,NaN,NaN,NaN,NaN,NaN,1.04 г
1,12.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,Россия,200100.16-1ш/з*,Розовое золото,NaN,NaN,NaN,NaN,NaN,NaN,1.04 г
2,12.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,Россия,200100.16-1ш/з*,Розовое золото,NaN,NaN,NaN,NaN,NaN,NaN,1.04 г
3,12.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,Россия,200100.16-1ш/з*,Розовое золото,NaN,NaN,NaN,NaN,NaN,NaN,1.04 г
4,12.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,Россия,200100.16-1ш/з*,Розовое золото,NaN,NaN,NaN,NaN,NaN,NaN,1.04 г

In [50]:
df_sunlight['Материал изделия'].value_counts(dropna=False)

Материал изделия
Розовое золото                                 4055
Желтое золото                                   620
Белое золото, Розовое золото                    515
Белое золото                                    181
NaN                                              59
Текстиль                                         37
Белое золото, Желтое золото                      20
Белое золото, Желтое золото, Розовое золото      19
Желтое золото, Розовое золото                    11
Серебро                                           6
Name: count, dtype: int64

In [51]:
df_sunlight['Материал изделия'] = df_sunlight['Материал изделия'].fillna('золото')

In [52]:
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Серебро'))]
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Текстиль'))]

In [53]:
df_sunlight = df_sunlight.drop(columns=['params', 'price_x', 'url',
                                'Ширина кольца', 'Страна производства',
                                'Ширина цепи', 'Плетение', 'Ширина браслета',
                                'Модель', 'Диаметр серег', 'Вставка', 'Покрытие', 'Материал изделия'], axis=1)

In [54]:
df_sunlight.columns

Index(['date', 'competitor', 'name', 'group', 'article', 'price_old',
       'price_y', 'price_personal', 'discount', 'Вес изделия'],
      dtype='object')

In [55]:
# переименновываем столбцы, чтобы у всех таблиц была единая система
df_sunlight.columns = ['date', 'competitor', 'name', 'group', 'url', 'price_old',
                    'price', 'price_personal', 'discount', 'weight']

In [56]:
df_sunlight['price_personal'].isna().sum()

1702

In [57]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].fillna(df_sunlight['price'])

In [58]:
df_sunlight['weight'] = df_sunlight['weight'].str.replace(' г', '')
df_sunlight['name'] = df_sunlight['name'].str.replace('\n', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].astype('float')
df_sunlight['price_personal'] = df_sunlight['price_personal'].astype('float')
df_sunlight['discount_for_dash'] = df_sunlight['discount']

In [59]:
df_sunlight['discount_for_dash'].isna().sum()

0

In [60]:
df_sunlight['discount_for_dash'].value_counts()

discount_for_dash
['ХИТ-цена']                                                                            1580
['Белые ночи! Ещё -15%, код: НОЧЬ до 15.07']                                            1410
['Белые ночи! Ещё -10%, код: НОЧЬ до 15.07']                                            1044
['Белые ночи! Ещё -20%, код: НОЧЬ до 15.07']                                             583
['Белые ночи! Ещё -5%, код: НОЧЬ до 15.07']                                              321
['Обручальные кольца 2=1 по коду: ПАРА']                                                 212
['Белые ночи! Ещё -25%, код: НОЧЬ до 15.07']                                             146
['ХИТ-цена', 'Выгодно! Цепи 4990 р/г']                                                   120
['Цены снижены! Ещё -15%, код: СЕГОДНЯ']                                                  30
['Белые ночи! Ещё -35%, код: НОЧЬ до 15.07']                                              16
['Белые ночи! Ещё -10%, код: НОЧЬ до 15.07', 'Ещё -10% здесь! Код: ВЫГОДА до 15.07']       6
[nan]                                                                                      4
['Белые ночи! Ещё -20%, код: НОЧЬ до 15.07', 'Ещё -15% здесь! Код: ВЫГОДА до 15.07']       2
['Белые ночи! Ещё -15%, код: НОЧЬ до 15.07', 'Ещё -10% здесь! Код: ВЫГОДА до 15.07']       2
['Белые ночи! Ещё -35%, код: НОЧЬ до 15.07', 'Ещё -25% здесь! Код: ВЫГОДА до 15.07']       2
['Белые ночи! Ещё -45%, код: НОЧЬ до 15.07', 'Ещё -35% здесь! Код: ВЫГОДА до 15.07']       1
['Белые ночи! Ещё -25%, код: НОЧЬ до 15.07', 'Ещё -5% здесь! Код: ВЫГОДА до 15.07']        1
Name: count, dtype: int64

In [61]:
def discount_value_sl(discount):
    '''у Sunlight купоны имеют скидку до 55%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '55%' in discount:
        return 0.45
    elif '50%' in discount:
        return 0.50
    elif '45%' in discount:
        return 0.55
    elif '40%' in discount:
        return 0.6
    elif '35%' in discount:
        return 0.65
    elif '30%' in discount:
        return 0.7
    elif '25%' in discount:
        return 0.75
    elif '20%' in discount:
        return 0.8
    elif '15%' in discount:
        return 0.85
    elif '10%' in discount:
        return 0.9 
    elif '-5%' in discount:
        return 0.95
    elif '1=2' in discount or '2=1' in discount:
        return 0.5
    return 1

df_sunlight['discount'] = df_sunlight['discount'].apply(discount_value_sl)

In [62]:
df_sunlight['discount'].value_counts(dropna=False)

discount
1.00    1704
0.85    1442
0.90    1050
0.80     585
0.95     321
0.50     212
0.75     147
0.65      18
0.55       1
Name: count, dtype: int64

In [63]:
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace("'", '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('[', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace(']', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('nan', 'нет скидочного купона')

In [64]:
df_sunlight['discount'] = df_sunlight['discount'].astype('float')

In [65]:
# применяем для каждого товара скидочный купон
# кроме тех строк, в которых есть информация, что это ХИТ-товар
df_sunlight['price_personal'] = np.where(
    df_sunlight['discount_for_dash'].str.contains('ХИТ'), df_sunlight['price'], df_sunlight['price'] * df_sunlight['discount']
)

In [66]:
df_sunlight['discount_for_dash'].value_counts()

discount_for_dash
ХИТ-цена                                                                          1580
Белые ночи! Ещё -15%, код: НОЧЬ до 15.07                                          1410
Белые ночи! Ещё -10%, код: НОЧЬ до 15.07                                          1044
Белые ночи! Ещё -20%, код: НОЧЬ до 15.07                                           583
Белые ночи! Ещё -5%, код: НОЧЬ до 15.07                                            321
Обручальные кольца 2=1 по коду: ПАРА                                               212
Белые ночи! Ещё -25%, код: НОЧЬ до 15.07                                           146
ХИТ-цена, Выгодно! Цепи 4990 р/г                                                   120
Цены снижены! Ещё -15%, код: СЕГОДНЯ                                                30
Белые ночи! Ещё -35%, код: НОЧЬ до 15.07                                            16
Белые ночи! Ещё -10%, код: НОЧЬ до 15.07, Ещё -10% здесь! Код: ВЫГОДА до 15.07       6
нет скидочного купона                                                                4
Белые ночи! Ещё -20%, код: НОЧЬ до 15.07, Ещё -15% здесь! Код: ВЫГОДА до 15.07       2
Белые ночи! Ещё -15%, код: НОЧЬ до 15.07, Ещё -10% здесь! Код: ВЫГОДА до 15.07       2
Белые ночи! Ещё -35%, код: НОЧЬ до 15.07, Ещё -25% здесь! Код: ВЫГОДА до 15.07       2
Белые ночи! Ещё -45%, код: НОЧЬ до 15.07, Ещё -35% здесь! Код: ВЫГОДА до 15.07       1
Белые ночи! Ещё -25%, код: НОЧЬ до 15.07, Ещё -5% здесь! Код: ВЫГОДА до 15.07        1
Name: count, dtype: int64

In [67]:
# после применения купона, цена по программе лояльности Sunlight может снизиться ещё до 30% от полученной суммы при помощи бонусных баллов
# мы считаем, что пользователь пользуется максимальным количеством бонусных баллов, применимых к товару
# это не распростроняется на фикс цены, о наличии которых мы можем понять по устойчивому "ХИТ-цена", но так же могут быть добавлены новые акции
# всегда стоит перед запуском скрипта ниже проверять вывод блока кода выше

for i in df_sunlight.index:
    if df_sunlight['discount_for_dash'][i] == "ХИТ-цена":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    elif df_sunlight['discount_for_dash'][i] == "ХИТ-цена, Выгодно! Цепи 4990 р/г":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    else:    
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] * 0.6

In [68]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
1867,12.07.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,74528,NaN,3490.00,3490.00,1.00,0.45,ХИТ-цена
44,12.07.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,74528,NaN,3490.00,3490.00,1.00,0.45,ХИТ-цена
1103,12.07.2024,Sunlight,Золотая цепь,Цепи,152609,NaN,90469.00,90469.00,1.00,18.13,"ХИТ-цена, Выгодно! Цепи 4990 р/г"
1082,12.07.2024,Sunlight,Золотая подвеска,Подвески,986596,7 980 ₽,3990.00,2154.60,0.90,0.33,"Белые ночи! Ещё -10%, код: НОЧЬ до 15.07"
5191,12.07.2024,Sunlight,Золотые серьги,Серьги,984160,47 980 ₽,23990.00,12234.90,0.85,2.23,"Белые ночи! Ещё -15%, код: НОЧЬ до 15.07"

In [69]:
df_sunlight['price_personal'].isna().sum()

0

In [70]:
df_sunlight.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5480 entries, 0 to 5522
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               5480 non-null   object
 1   competitor         5480 non-null   object
 2   name               5480 non-null   object
 3   group              5480 non-null   object
 4   url                5480 non-null   int64
 5   price_old          3150 non-null   object
 6   price              5480 non-null   float64
 7   price_personal     5480 non-null   float64
 8   discount           5480 non-null   float64
 9   weight             5480 non-null   object
 10  discount_for_dash  5480 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 642.8+ KB

In [71]:
df_sunlight.sample()

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
1262,12.07.2024,Sunlight,Золотые серьги,Серьги,366965,27 980 ₽,13990.00,6715.20,0.80,0.92,"Белые ночи! Ещё -20%, код: НОЧЬ до 15.07"

In [72]:
df_sunlight['weight'] = df_sunlight['weight'].astype(float)
df_sunlight = df_sunlight[df_sunlight['weight'] > 0.1]

In [73]:
df_sunlight.drop_duplicates(inplace=True)

In [74]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
4221,12.07.2024,Sunlight,Золотая подвеска,Подвески,179829,37 980 ₽,18990.00,10254.60,0.90,1.77,"Белые ночи! Ещё -10%, код: НОЧЬ до 15.07"
5093,12.07.2024,Sunlight,Золотой браслет,Браслеты,91991,231 080 ₽,115540.00,58925.40,0.85,11.79,"Белые ночи! Ещё -15%, код: НОЧЬ до 15.07"
192,12.07.2024,Sunlight,Золотые серьги,Серьги,366968,51 980 ₽,25990.00,13254.90,0.85,1.91,"Белые ночи! Ещё -15%, код: НОЧЬ до 15.07"
3818,12.07.2024,Sunlight,Золотые серьги,Серьги,97875,NaN,12990.00,7014.60,0.90,1.27,"Белые ночи! Ещё -10%, код: НОЧЬ до 15.07"
3428,12.07.2024,Sunlight,Золотые серьги,Серьги,358440,183 980 ₽,91990.00,46914.90,0.85,6.67,"Белые ночи! Ещё -15%, код: НОЧЬ до 15.07"

In [75]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].round(0)

In [76]:
# проверяем корректность расчётов
df_sunlight[['price_personal','url']].sample(3)

      price_personal     url
3463         7390.00   92828
4127        55879.00  303053
648         17254.00  106337

In [77]:
df_sunlight = df_sunlight.drop(columns=['price_old', 'price'])

In [78]:
df_sunlight['price_per_gramm'] = (df_sunlight['price_personal'] / df_sunlight['weight']).round(0)

In [79]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sunlight['tg'] = np.where(
    df_sunlight['group'].str.contains('Серьги|Серьга|Пирсинг'), 'СЕРЬГИ',
    np.where(
        df_sunlight['group'].str.contains('Цепи'), 'ЦЕПИ',
        np.where(
            ((df_sunlight['group'].str.contains('Подвески')) & (df_sunlight['name'].str.lower().str.contains('свят|божия|блаженная|господь|чудотворец|ангел|сергий|божья|георгий'))), 'ПОДВЕС КУЛЬТ',
            np.where(
                df_sunlight['group'].str.contains('Крест|Икона'), 'ПОДВЕС КУЛЬТ',
                np.where(
                    df_sunlight['group'].str.lower().str.contains('браслет'), 'БРАСЛЕТЫ', 
                    np.where(
                        ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное') == False)), 'КОЛЬЦА',
                        np.where(
                            ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ',
                            np.where(
                                df_sunlight['group'].str.contains('Подвески'), 'ПОДВЕС ДЕКОР', df_sunlight['group']
                            )
                        )
                    )
                )
            )
        )
    )
)

In [80]:
df_sunlight = df_sunlight[df_sunlight['tg'].str.contains('СЕРЬГИ|КОЛЬЦА|ПОДВЕС|БРАСЛЕТЫ|ЦЕПИ')] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [81]:
df_sunlight['price_case'] = np.where(
    df_sunlight['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sunlight['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sunlight['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sunlight['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sunlight['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sunlight['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sunlight['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [82]:
df_sunlight['tn'] = np.where(
    df_sunlight['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ', 'БК'
)

In [83]:
df_sunlight['tg'] = df_sunlight['tn'] + ' ' + df_sunlight['tg']

In [84]:
df_sunlight['price_per_gramm'].describe([0.05, 0.99])

count    3237.00
mean     6267.26
std      1027.10
min      3264.00
5%       4990.00
50%      6135.00
99%      8981.20
max     16970.00
Name: price_per_gramm, dtype: float64

In [85]:
df_sunlight = df_sunlight.drop(columns=['tn'])

In [86]:
df_sunlight.head(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,12.07.2024,Sunlight,Золотые серьги,Серьги,271510,7990.00,1.00,1.04,ХИТ-цена,7683.00,БК СЕРЬГИ,7 000 руб. - 8 000 руб.
6,12.07.2024,Sunlight,Золотые серьги,Серьги,271409,8990.00,1.00,1.10,ХИТ-цена,8173.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
12,12.07.2024,Sunlight,Золотые серьги,Серьги,235978,20990.00,1.00,2.36,ХИТ-цена,8894.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
18,12.07.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,74404,7990.00,1.00,0.99,ХИТ-цена,8071.00,БК ПОДВЕС КУЛЬТ,8 000 руб. - 9 000 руб.
30,12.07.2024,Sunlight,Золотая цепь,Цепи,35525,18528.00,1.00,3.20,ХИТ-цена,5790.00,ЦБ ЦЕПИ,5 500 руб. - 6 000 руб.

In [87]:
df_sunlight = df_sunlight.drop_duplicates()

In [88]:
Sunlight = (df_sunlight['price_personal'].sum() / df_sunlight['weight'].sum()).round(0)
print(Sunlight)

5817.0

# 3. 585*Золотой онлайн остатки

In [89]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime) # мы ищем тут последний выгруженный файл (занимается выгрузкой Оризу Наталья email: Orizu.Natalya@zolotoy.ru)

df = pd.read_excel(latest_file)

In [90]:
latest_file # если последний файл - не за сегодняшнюю/вчерашнюю дату, стоит запросить актуальную выгрузку

'\\\\gold585.int\\uk\\Общее хранилище файлов\\Служба аналитики\\МЮР\\ecom_stock_raw\\Остатки 2024.07.12.xlsx'

In [92]:
df.fineness.unique()

array([925., 375., 585.,  nan, 750., 999., 944., 945., 946., 947., 937.,
       938., 939., 931., 932., 933., 926., 928., 929., 930., 948., 949.,
       950., 951., 927., 934., 935., 936., 960., 961., 962., 963., 964.,
       956., 957., 958., 959., 875.])

In [93]:
df['published'].value_counts(dropna=False)

published
True     161600
False     34443
Name: count, dtype: int64

In [94]:
df['product_line'].unique()

array(['СИ', 'ПДК', 'ДК', 'ФУТЛЯРЫ', 'ДФРС', 'ЦБ', 'ЧАСЫ', 'ИФ', 'БК',
       'ВЫРИЦА', 'БИЖУТЕРИЯ', nan, 'БУ'], dtype=object)

In [95]:
df = df[(df['fineness'] == 585) & (df['product_line'].str.contains('ФУТЛЯРЫ|ДФРС|ВЫРИЦА|ЧАСЫ|БИЖУТЕРИЯ|БУ') == False)]

In [96]:
df = df[(df['product_group'].str.contains('БК КОЛЬЦА')|
        df['product_group'].str.contains('БК КОЛЬЦА ОБРУЧ')|
        df['product_group'].str.contains('ЦБ БРАСЛЕТЫ')|
        df['product_group'].str.contains('БК СЕРЬГИ')|
        df['product_group'].str.contains('БК ПОДВЕС КУЛЬТ')|
        df['product_group'].str.contains('БК ПОДВЕС ДЕКОР')|
        df['product_group'].str.contains('ЦБ ЦЕПИ'))]

In [97]:
df = df.drop(columns=['Unnamed: 15', '*без франчайзинговых магазинов и Румянцево'])

In [98]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\discounts_zolotoy\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)

discount = pd.read_excel(latest_file)

In [99]:
discount.sample(3)

,Артикул сайта,Опубликован,discount_value_promotions_1,discount_value_promotions_2,discount_value_promotions_3,discount_value_promotions_4
20517,1312995,True,50,-,-,-
182303,7860289,False,-,-,-,-
87640,2220062,False,-,-,-,-

In [100]:
discount.columns = ['article', 'Опубликован', 'discount_value_promotions_1', 'discount_value_promotions_2',	'discount_value_promotions_3', 'discount_value_promotions_4']

In [101]:
df = df.merge(discount, how='left', on='article')

In [102]:
df = df[(df['published'] == 'ИСТИНА') | (df['published'] == True)]

In [103]:
df = df.drop(columns=['weaving', 'Unnamed: 14', 'name'])

In [104]:
df.columns

Index(['article', 'size', 'published', 'product_line', 'product_group',
       'material', 'type3', 'fineness', 'avg_weight', 'price',
       'discount_price', 'Остатки, шт*', 'Опубликован',
       'discount_value_promotions_1', 'discount_value_promotions_2',
       'discount_value_promotions_3', 'discount_value_promotions_4'],
      dtype='object')

In [105]:
df.columns = ['article', 'size', 'published', 'product_line', 'product_group',
            'material', 'type3', 'fineness', 'avg_weight', 'price',
            'discount_price', 'Остатки, шт*', 'type3', 
            'discount_value_promotions_1', 'discount_value_promotions_2',	'discount_value_promotions_3', 'discount_value_promotions_4']

In [106]:
def discount_index(discount):
    try:
        return 1 - discount / 100
    except:
        return 1

In [107]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.apply(discount_index)

In [108]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.fillna(1)

In [109]:
df = df.dropna(subset=['avg_weight', 'discount_value_promotions_1'])

In [110]:
df['price_personal'] = np.where(
    (df['price'] == df['discount_price']) & (df['discount_value_promotions_1'] == 1), df['discount_price'] * df['discount_value_promotions_1'], 
    np.where(
        df['discount_value_promotions_1'] == 0.5, df['discount_price'] * df['discount_value_promotions_1'], df['discount_price'] * df['discount_value_promotions_1'] * 0.8
    )
)

In [111]:
# df = df.drop_duplicates(subset=['article'])

In [112]:
bez_hit = df[df['discount_value_promotions_1'] != 1].groupby('product_group', as_index=False)[['price_personal', 'avg_weight']].agg({'price_personal':'sum', 'avg_weight':'sum'})
bez_hit['price_per_gram'] = bez_hit['price_personal'] / bez_hit['avg_weight']

In [113]:
bez_hit

     product_group  price_personal  avg_weight  price_per_gram
0        БК КОЛЬЦА     22016235.00     3603.24         6110.12
1  БК КОЛЬЦА ОБРУЧ     62918780.00    10507.67         5987.89
2  БК ПОДВЕС ДЕКОР      2663260.00      424.57         6272.84
3  БК ПОДВЕС КУЛЬТ      7497370.00     1179.99         6353.76
4        БК СЕРЬГИ     21164435.00     3318.38         6377.94
5      ЦБ БРАСЛЕТЫ     65840435.00     9784.71         6728.91
6          ЦБ ЦЕПИ    102833155.00    15399.84         6677.55

In [114]:
zolotoy = df.groupby('product_group', as_index=False)[['price_personal', 'avg_weight']].agg({'price_personal':'sum', 'avg_weight':'sum'})
zolotoy['price_per_gram'] = zolotoy['price_personal'] / zolotoy['avg_weight']

In [115]:
stock_ecom = zolotoy['price_personal'].sum() / zolotoy['avg_weight'].sum()
print(stock_ecom)

6435.809698582436

In [116]:
zolotoy['date'] = pd.to_datetime(date_now, dayfirst=True)

In [117]:
zolotoy = zolotoy.drop(columns=['price_personal', 'avg_weight', 'date'])

In [118]:
zolotoy.columns = ['tg', '585*Золотой онлайн остатки Максимальный промокод+20%']

In [119]:
# df = df.drop_duplicates(subset=['article'])

In [120]:
df['date'] = pd.to_datetime(date_now, dayfirst=True)
df['competitor'] = '585*Золотой'
df['price_per_gramm'] = df['price_personal'] / df['avg_weight']

In [121]:
df['price_case'] = np.where(
    df['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [122]:
df = df[['date', 'competitor', 'avg_weight', 'price_personal', 'product_group', 'price_per_gramm', 'discount_value_promotions_1', 'article', 'price_case']]
df.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [123]:
data_history = pd.DataFrame({'date': [pd.to_datetime(date_now, dayfirst=True)],
                            'competitor': ['585*Золотой'],
                            'avg_ppg': [int(df['price_personal'].sum() / df['weight'].sum())]})

# 4. 585*Золотой оффлайн остатки

In [124]:
# SQL-скрипт ниже выгружает данные по остаткам с БД Staging, доступ к ней выдаётся по учётной записи Windows по согласованию

conn = pymssql.connect(server='AX-SQL', database='Staging')
cursor = conn.cursor()

sql = f'''
SELECT [Код склада], [Название склада], [Цена Закупки за 1 шт. (упр сс с НДС за единицу)], [Группа цен],
[Товарное направление], [Товарная группа], [Проба], [Цена Розн., за шт],  [Запрет скидки],
[Код товара],  [Артикул поставщика], [Чистый вес], [ШК], [Общий вес], [Скидка на изделии], [Тип изделия 1], 
[ID Сайта]
from [Staging].[Reports].[Remainings_8h]
where [Товарное направление] in (N'БК', N'ЦБ')
'''

sql_query = pd.read_sql_query(sql, conn)
stock = pd.DataFrame(sql_query)

In [125]:
stock.sample(5)

,Код склада,Название склада,Цена Закупки за 1 шт. (упр сс с НДС за единицу),Группа цен,Товарное направление,Товарная группа,Проба,"Цена Розн., за шт",Запрет скидки,Код товара,Артикул поставщика,Чистый вес,ШК,Общий вес,Скидка на изделии,Тип изделия 1,ID Сайта
1160129,6158,"Сочи, Московская, 25 (ДУБЛЬ)",6102.45,ШОК_ЦЕНА,БК,БК КОЛЬЦА ОБРУЧ,585,22275.00,Нет,ТОВ0898061,А-001,4.95,2078193769415,4.95,0.00,КОЛЬЦО ОБРУЧАЛЬНОЕ,2021506
986823,3752,Регент Голд ОПТ,13178.31,ЦБ_ПУСТОТЕЛЫЕ >3 ГРАММ,ЦБ,ЦБ БРАСЛЕТЫ,585,NaN,Нет,ТОВ1333886,431-01-0080-30200#ТД,3.74,2078611721590,3.74,0.00,БРАСЛЕТ,8378871
1424703,3075,Центральный склад Регент Голд,6228.85,ИФ_375,БК,БК СЕРЬГИ,375,48807.00,Нет,ТОВ1257415,10-90-0000-27628#375,2.61,2078611593574,2.61,45.00,СЕРЬГИ,1486451
937932,3752,Регент Голд ОПТ,16243.38,ОПТ_БК,БК,БК СЕРЬГИ,585,NaN,Нет,ТОВ1090900,14-12-0000-26347#ТД,4.50,2078611386961,4.50,0.00,СЕРЬГИ,7080140
742788,5945,"Новосибирск, К. Маркса, 4",7682.24,ЦБ_ПУСТОТЕЛЫЕ <=3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,39128.00,Нет,ТОВ01260624,311-01-0040-30222,2.35,2078604204859,2.35,5.00,ЦЕПЬ,3579172

In [126]:
stock['Код склада'] = stock['Код склада'].astype('float64')

In [127]:
stock

,Код склада,Название склада,Цена Закупки за 1 шт. (упр сс с НДС за единицу),Группа цен,Товарное направление,Товарная группа,Проба,"Цена Розн., за шт",Запрет скидки,Код товара,Артикул поставщика,Чистый вес,ШК,Общий вес,Скидка на изделии,Тип изделия 1,ID Сайта
0,5900.00,"Махачкала, Коркмасова, 20",1470.94,ИФ.БК_ДЕШ,БК,БК ПОДВЕС ДЕКОР,585,13104.00,Нет,ТОВ0768548,33907,0.73,2078493883606,0.73,29.00,ПОДВЕС ДЕКОРАТИВНЫЙ,3815902
1,5900.00,"Махачкала, Коркмасова, 20",904.92,ИФ.БК_ДЕШ,БК,БК ПОДВЕС ДЕКОР,585,5924.00,Нет,ТОВ0782847,50-00-0000-20814,0.33,2078539196820,0.33,29.00,ПОДВЕС ДЕКОРАТИВНЫЙ,8180905
2,5900.00,"Махачкала, Коркмасова, 20",703.33,ИФ.БК_ДЕШ,БК,БК ПОДВЕС ДЕКОР,585,5924.00,Нет,ТОВ0782847,50-00-0000-20814,0.33,2078497289879,0.33,29.00,ПОДВЕС ДЕКОРАТИВНЫЙ,8180905
3,5900.00,"Махачкала, Коркмасова, 20",4761.36,ИФ.БК_СР,БК,БК ПОДВЕС КУЛЬТ,585,26532.00,Нет,ТОВ0785969,32177,1.34,2078610430387,1.34,0.00,ПОДВЕС КУЛЬТОВЫЙ,1792175
4,5900.00,"Махачкала, Коркмасова, 20",876.39,ИФ.БК_ДЕШ,БК,БК СЕРЬГИ,585,6038.00,Нет,ТОВ0786111,60126,0.23,2078608703561,0.23,40.00,ПИРСИНГ,1256185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1505846,3963.00,"Ярославль, пос.Нагорный, Дорожная, 6а, ТРК «Яр...",16791.00,ЦБ_АВТОМАТ >3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,64848.00,Нет,ТОВ1280020,ЦРС330А2-А51,3.86,2078607867638,3.86,11.00,ЦЕПЬ,1514979
1505847,3963.00,"Ярославль, пос.Нагорный, Дорожная, 6а, ТРК «Яр...",2296.49,ШОК_ЦЕНА,БК,БК КОЛЬЦА ОБРУЧ,375,4950.00,Нет,ТОВ1280339,КО 02-00#375,1.12,2078608888003,1.12,0.00,КОЛЬЦО ОБРУЧАЛЬНОЕ,8047696
1505848,3963.00,"Ярославль, пос.Нагорный, Дорожная, 6а, ТРК «Яр...",1749.46,ШОК_ЦЕНА,БК,БК КОЛЬЦА ОБРУЧ,375,4950.00,Да,ТОВ1280340,КО 02-00#375,1.17,2078605149395,1.17,0.00,КОЛЬЦО ОБРУЧАЛЬНОЕ,8047696
1505849,3963.00,"Ярославль, пос.Нагорный, Дорожная, 6а, ТРК «Яр...",1866.39,ИФ_375,БК,БК СЕРЬГИ,375,14028.00,Нет,ТОВ1309353,14.44_15#375,0.84,2078608200807,0.84,49.00,СЕРЬГИ-КОНГО,1322586
1505850,3963.00,"Ярославль, пос.Нагорный, Дорожная, 6а, ТРК «Яр...",2084.10,ИФ_375,БК,БК СЕРЬГИ,375,14529.00,Нет,ТОВ1309355,14.39_15#375,0.87,2078607969751,0.87,49.00,СЕРЬГИ-КОНГО,1788959

In [130]:
stock['date'] = pd.to_datetime(date_now, dayfirst=True)
stock['competitor'] = '585*Золотой оффлайн'
stock['discount_for_dash'] = 0.8 * 0.55 # скидка непостоянная, информация о скидке всегда приходит на почту в конце месяца

In [131]:
stock = stock[['date', 'competitor', 'ID Сайта', 'Цена Розн., за шт', 'Запрет скидки', 'Чистый вес', 'discount_for_dash', 'Товарная группа', 'Скидка на изделии']]

In [132]:
stock.columns = ['date', 'competitor', 'url', 'price', 'discount', 'weight', 'discount_for_dash', 'tg', 'skidka']

In [133]:
tgs = ['БК СЕРЬГИ', 'ЦБ БРАСЛЕТЫ', 'ЦБ ЦЕПИ', 'БК КОЛЬЦА ОБРУЧ', 'БК ПОДВЕС КУЛЬТ', 'БК ПОДВЕС ДЕКОР', 'БК КОЛЬЦА']
stock = stock.query('tg in @tgs')

In [134]:
stock['price_personal'] = np.where(
    stock['discount'] == 'Да', stock['price'], stock['price'] * stock['discount_for_dash'] * (1 - (stock['skidka'] / 100))
)

In [135]:
stock['price_per_gramm'] = stock['price_personal'] / stock['weight']

In [136]:
gold_stock = stock.groupby(by = 'tg', as_index = False)[['price_personal', 'weight']].agg('sum')
gold_stock['price_per_gramm'] = gold_stock['price_personal'] / gold_stock['weight']

In [137]:
stock['price_case'] = np.where(
    stock['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (stock['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (stock['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (stock['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (stock['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (stock['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (stock['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [138]:
stock = stock[['date', 'competitor', 'url', 'price_personal', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]
stock.columns = ['date_', 'competitor', 'url', 'price_personal', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']

In [139]:
stock_price_pl = ((gold_stock['price_personal']).sum() / gold_stock['weight'].sum()).round(0)
print('Средняя цена остатков офлайн ПЛ: ', stock_price_pl)

Средняя цена остатков офлайн ПЛ:  5740.0

In [140]:
gold_stock = gold_stock[['tg', 'price_per_gramm']]

In [141]:
gold_stock.columns = ['tg', '585*Золотой оффлайн остатки 40%+20%']

In [142]:
gold_stock

                tg  585*Золотой оффлайн остатки 40%+20%
0        БК КОЛЬЦА                              6034.34
1  БК КОЛЬЦА ОБРУЧ                              5618.73
2  БК ПОДВЕС ДЕКОР                              6133.06
3  БК ПОДВЕС КУЛЬТ                              6045.56
4        БК СЕРЬГИ                              6057.82
5      ЦБ БРАСЛЕТЫ                              5760.11
6          ЦБ ЦЕПИ                              5592.06

# 5. Соединение таблиц для дашборда

In [143]:
data_all = pd.concat([df_sokolov, df_sunlight], ignore_index=True)

In [144]:
data_all['date'].fillna(f'{day_now}-{month_now}-{year_now}', inplace=True)

In [145]:
data_all['date'].unique()

array(['12.07.2024'], dtype=object)

In [146]:
data_all['date'] = pd.to_datetime(date_now, dayfirst=True)

In [147]:
data_all.date.unique()

<DatetimeArray>
['2024-07-12 00:00:00']
Length: 1, dtype: datetime64[ns]

In [148]:
data_all

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,2024-07-12,Sokolov,кольцо обручальное из золота,rings,110260,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
1,2024-07-12,Sokolov,кольцо обручальное из белого золота,rings,110260-3,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
2,2024-07-12,Sokolov,кольцо обручальное из золота,rings,110261,12990.00,1.00,1.63,ШОК-ЦЕНА,7969.00,БК КОЛЬЦА ОБРУЧ,7 000 руб. - 8 000 руб.
3,2024-07-12,Sokolov,кольцо из белого золота,rings,110262-3,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА,8 000 руб. - 9 000 руб.
4,2024-07-12,Sokolov,кольцо из золота,rings,019424,7990.00,1.00,1.09,ШОК-ЦЕНА,7330.00,БК КОЛЬЦА,7 000 руб. - 8 000 руб.
...,...,...,...,...,...,...,...,...,...,...,...,...
4720,2024-07-12,Sunlight,Золотой браслет,Браслеты,345091,28550.00,0.90,5.34,"Белые ночи! Ещё -10%, код: НОЧЬ до 15.07",5346.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.
4721,2024-07-12,Sunlight,Золотой браслет,Браслеты,345089,48325.00,0.90,9.42,"Белые ночи! Ещё -10%, код: НОЧЬ до 15.07",5130.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.
4722,2024-07-12,Sunlight,Золотой браслет,Браслеты,345086,32054.00,0.90,6.12,"Белые ночи! Ещё -10%, код: НОЧЬ до 15.07",5238.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.
4723,2024-07-12,Sunlight,Золотой браслет,Браслеты,344752,188450.00,0.85,54.34,"Белые ночи! Ещё -15%, код: НОЧЬ до 15.07",3468.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.
4724,2024-07-12,Sunlight,Золотая цепь,Цепи,344747,514993.00,0.85,157.78,"Белые ночи! Ещё -15%, код: НОЧЬ до 15.07",3264.00,ЦБ ЦЕПИ,до 5 500 руб.

In [149]:
data_history_gold = data_history

In [150]:
# группируем общую таблицу для добавления данных о изменении стоимости за грамм по дате
data_history = data_all.groupby('competitor', as_index=False)[['weight', 'price_personal']].agg('sum')
data_history['price_per_gramm'] = (data_history['price_personal'] / data_history['weight']).round(0)
data_history.insert(0, 'date', f'{date_now}')
data_history = data_history.drop(columns=['weight', 'price_personal'], axis=1)
data_history['num_shop'] = '_' + data_history['competitor']

In [151]:
data_history = data_history.drop(columns=['num_shop'])
data_history.columns = ['date', 'competitor', 'avg_ppg']

In [152]:
data_history['date'] = pd.to_datetime(date_now, dayfirst=True)

In [153]:
data_history = pd.concat([data_history_gold, data_history], ignore_index=True)

In [154]:
data_history.to_sql('avg_ppg_for_monthly_monitoring', engine, schema = 'yura', if_exists='append', index = False)

3

In [155]:
data_all.to_excel(rf'{report_folder}\Данные парсинга\bk_sokolov_sunlight_{date_now}.xlsx', index=False)

In [156]:
data_all = data_all.drop(columns=['name', 'discount', 'group'])

In [157]:
data_all = data_all[['date', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']]

In [158]:
data_all.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [159]:
data_all['date_'] = pd.to_datetime(date_now, dayfirst=True)

In [160]:
# группировка полученных данных для отчёта

In [161]:
df_tn_sokolov = df_sokolov.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sokolov['price_per_gram'] = df_tn_sokolov['price_personal'] / df_tn_sokolov['weight']

In [162]:
df_tn_sunlight = df_sunlight.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sunlight['price_per_gram'] = df_tn_sunlight['price_personal'] / df_tn_sunlight['weight']

In [163]:
df_tn_sunlight = df_tn_sunlight.drop(columns=['price_personal', 'weight'])
df_tn_sunlight.columns = ['tg', 'Sunlight']

In [164]:
df_tn_sokolov = df_tn_sokolov.drop(columns=['price_personal', 'weight'])
df_tn_sokolov.columns = ['tg', 'Sokolov']

In [165]:
df_sunlight

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,12.07.2024,Sunlight,Золотые серьги,Серьги,271510,7990.00,1.00,1.04,ХИТ-цена,7683.00,БК СЕРЬГИ,7 000 руб. - 8 000 руб.
6,12.07.2024,Sunlight,Золотые серьги,Серьги,271409,8990.00,1.00,1.10,ХИТ-цена,8173.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
12,12.07.2024,Sunlight,Золотые серьги,Серьги,235978,20990.00,1.00,2.36,ХИТ-цена,8894.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
18,12.07.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,74404,7990.00,1.00,0.99,ХИТ-цена,8071.00,БК ПОДВЕС КУЛЬТ,8 000 руб. - 9 000 руб.
30,12.07.2024,Sunlight,Золотая цепь,Цепи,35525,18528.00,1.00,3.20,ХИТ-цена,5790.00,ЦБ ЦЕПИ,5 500 руб. - 6 000 руб.
...,...,...,...,...,...,...,...,...,...,...,...,...
5518,12.07.2024,Sunlight,Золотой браслет,Браслеты,345091,28550.00,0.90,5.34,"Белые ночи! Ещё -10%, код: НОЧЬ до 15.07",5346.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.
5519,12.07.2024,Sunlight,Золотой браслет,Браслеты,345089,48325.00,0.90,9.42,"Белые ночи! Ещё -10%, код: НОЧЬ до 15.07",5130.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.
5520,12.07.2024,Sunlight,Золотой браслет,Браслеты,345086,32054.00,0.90,6.12,"Белые ночи! Ещё -10%, код: НОЧЬ до 15.07",5238.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.
5521,12.07.2024,Sunlight,Золотой браслет,Браслеты,344752,188450.00,0.85,54.34,"Белые ночи! Ещё -15%, код: НОЧЬ до 15.07",3468.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.
5522,12.07.2024,Sunlight,Золотая цепь,Цепи,344747,514993.00,0.85,157.78,"Белые ночи! Ещё -15%, код: НОЧЬ до 15.07",3264.00,ЦБ ЦЕПИ,до 5 500 руб.

In [166]:
result = pd.merge(df_tn_sokolov, df_tn_sunlight, how='left', on='tg').merge(zolotoy, how='left', on='tg').merge(gold_stock, how='left', on='tg') # объединяем данные в одну табличку

In [167]:
result

,tg,Sokolov,Sunlight,585*Золотой онлайн остатки Максимальный промокод+20%,585*Золотой оффлайн остатки 40%+20%
0,БК КОЛЬЦА,6523.41,6092.82,6029.25,6034.34
1,БК КОЛЬЦА ОБРУЧ,6127.42,5369.20,5750.73,5618.73
2,БК ПОДВЕС ДЕКОР,6746.84,6335.48,5891.27,6133.06
3,БК ПОДВЕС КУЛЬТ,6793.72,6330.18,6231.85,6045.56
4,БК СЕРЬГИ,6510.83,6397.27,6320.11,6057.82
5,ЦБ БРАСЛЕТЫ,6771.42,5658.23,6714.66,5760.11
6,ЦБ ЦЕПИ,6649.80,5187.01,6737.55,5592.06

# 6. Расчёт наценки

In [168]:
cookies = {
    '__ddg1_': 'XgGmRRFfNl9J83C2HQq2',
    '__RequestVerificationToken': '5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
}

headers = {
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7',
    'accept-language': 'ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7',
    'cache-control': 'max-age=0',
    # 'cookie': '__ddg1_=XgGmRRFfNl9J83C2HQq2; __RequestVerificationToken=5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
    'priority': 'u=0, i',
    'sec-ch-ua': '"Google Chrome";v="125", "Chromium";v="125", "Not.A/Brand";v="24"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'document',
    'sec-fetch-mode': 'navigate',
    'sec-fetch-site': 'cross-site',
    'sec-fetch-user': '?1',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36',
}

response = requests.get('https://mfd.ru/centrobank/preciousmetals/', cookies=cookies, headers=headers).text

In [169]:
soup = bs(response, 'html.parser')

In [170]:
# данные ниже могут меняться
price_ = float(soup.find('table', class_='mfd-table').find('tbody').find('td', class_='mfd-item-date').findNext('td').text.strip()[:7]) * 0.585
ugar = 0.03 
workprice = 150 
nds = 0.2

In [171]:
costprice = (price_/(1-ugar)+workprice)*(1 + nds)

In [172]:
stock_for_dash = stock.drop_duplicates(subset=['url'])

In [173]:
data_all = pd.concat([data_all, df, stock_for_dash], ignore_index=True)

In [174]:
data_all['markup'] = (data_all['price_personal'] / (costprice * data_all['weight'])) - 1

In [175]:
data_all['markup'] = data_all['markup'].astype(str)
data_all = data_all[data_all['markup'] != 'inf']
data_all['markup'] = data_all['markup'].astype(float)

In [176]:
data_all['date_'] = pd.to_datetime(date_now, dayfirst=True)

In [177]:
data_all1 = data_all.drop(columns=['markup'])

In [178]:
data_all1.to_sql('price_per_gramm', engine, schema = 'yura', if_exists='append', index = False)

416

In [179]:
data_all = data_all.dropna(subset=['markup'])

In [180]:
costprice_offline = data_all[data_all['competitor'] == '585*Золотой оффлайн'].groupby(by = 'tg', as_index = False)['markup'].mean()
costprice_offline.columns = ['tg', 'markup_a']

In [181]:
costprice_ = data_all[data_all['competitor'] == 'Sunlight'].groupby(by = 'tg', as_index = False)['markup'].mean().\
    merge(data_all[data_all['competitor'] == 'Sokolov'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg').\
        merge(data_all[data_all['competitor'] == '585*Золотой'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg')

In [182]:
costprice_ = costprice_.merge(costprice_offline, how='left', on='tg')

In [183]:
costprice_

                tg  markup_x  markup_y  markup  markup_a
0        БК КОЛЬЦА      0.19      0.30    0.19     -0.04
1  БК КОЛЬЦА ОБРУЧ      0.07      0.22    0.14     -0.15
2  БК ПОДВЕС ДЕКОР      0.32      0.40    0.18     -0.02
3  БК ПОДВЕС КУЛЬТ      0.30      0.46    0.26      0.12
4        БК СЕРЬГИ      0.26      0.33    0.26      0.08
5      ЦБ БРАСЛЕТЫ      0.19      0.38    0.33      0.09
6          ЦБ ЦЕПИ      0.20      0.34    0.32      0.07

In [184]:
costprice_.columns = ['Товарная группа', 'Наценка Sunlight', 'Наценка Sokolov', 'Наценка 585*Золотой онлайн', 'Наценка 585*Золотой оффлайн']

In [185]:
costprice_['Дата'] = pd.to_datetime(date_now, dayfirst=True)

In [186]:
costprice_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Товарная группа              7 non-null      object
 1   Наценка Sunlight             7 non-null      float64
 2   Наценка Sokolov              7 non-null      float64
 3   Наценка 585*Золотой онлайн   7 non-null      float64
 4   Наценка 585*Золотой оффлайн  7 non-null      float64
 5   Дата                         7 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 468.0+ bytes

In [187]:
costprice_

,Товарная группа,Наценка Sunlight,Наценка Sokolov,Наценка 585*Золотой онлайн,Наценка 585*Золотой оффлайн,Дата
0,БК КОЛЬЦА,0.19,0.30,0.19,-0.04,2024-07-12
1,БК КОЛЬЦА ОБРУЧ,0.07,0.22,0.14,-0.15,2024-07-12
2,БК ПОДВЕС ДЕКОР,0.32,0.40,0.18,-0.02,2024-07-12
3,БК ПОДВЕС КУЛЬТ,0.30,0.46,0.26,0.12,2024-07-12
4,БК СЕРЬГИ,0.26,0.33,0.26,0.08,2024-07-12
5,ЦБ БРАСЛЕТЫ,0.19,0.38,0.33,0.09,2024-07-12
6,ЦБ ЦЕПИ,0.20,0.34,0.32,0.07,2024-07-12

In [188]:
costprice_.to_sql('costprice_sklv_sl', engine, schema = 'yura', if_exists='append', index = False)

7

# 7. Обработка данных по продажам оффлайн и онлайн

Продажи 585*Золотой онлайн

In [189]:
way = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Илларионов\Выгрузка Еком\\'

In [190]:
data_IM = pd.read_excel(rf'{way}\{month_now}.{year_now}_продажи еком.xlsx')

In [191]:
# смотрим продажи с последнего мониторинга
data = dt.datetime.isoweekday(dt.date.today())
if data == 1:
    last_monitoring = (dt.date.today() - dt.timedelta(days=3)).strftime('%Y-%m-%d')
else:
    last_monitoring = (dt.date.today() - dt.timedelta(days=2)).strftime('%Y-%m-%d')
    
data_IM = data_IM[data_IM['created'] >= f'{last_monitoring}']

In [192]:
data_IM = data_IM.drop_duplicates()
data_IM = data_IM.reset_index(drop=True)

data_IM = data_IM[(data_IM['state_order'] != 'returned') & (data_IM['state_order'] != 'canceled')]
data_IM = data_IM[~((data_IM['delivery_type'] == 'PICKUP_NOW') & (data_IM['payment_type'] == 'CASHIER') & (data_IM['type_ibox'] == 'CASHIER'))|
                ((data_IM['delivery_type'] == 'PICKUP') & (data_IM['payment_type'] == 'CASHIER') & (data_IM['type_ibox'] == 'CASHIER'))]

In [193]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'], format = '%Y-%m-%d')

In [194]:
def str_float(row):
    row = str(row)
    row = row.replace(',','.')
    return row

data_IM['price'] = data_IM['price'].apply(str_float)
data_IM['price'] = data_IM['price'].astype(float)

data_IM['avg_net_weight'] = data_IM['avg_net_weight'].apply(str_float)
data_IM['avg_net_weight'] = data_IM['avg_net_weight'].astype(float)

In [195]:
data_IM = data_IM[data_IM['price'] > 1].reset_index(drop=True)
data_IM = data_IM[data_IM['avg_net_weight'] > 0].reset_index(drop=True)

In [196]:
data_IM['Товарное направление'] = np.where(
    data_IM['tg'].isin(['БК ПОДВЕС КУЛЬТ', 'БК СЕРЬГИ', 'БК КОЛЬЦА','БК КОЛЬЦА ОБРУЧ','БК ПОДВЕС ДЕКОР',  'БК ПЕЧАТКИ','БК АКСЕССУАРЫ','ОПТ БК']), 'БК',
    np.where(
        data_IM['tg'].isin(['ПДК СЕРЬГИ', 'ПДК КОЛЬЦА','ПДК ПОДВЕСКИ']), 'ПДК',
        np.where(
            data_IM['tg'].isin(['ДК СЕРЬГИ',  'ДК КОЛЬЦА',    'ДК ПОДВЕСКИ',    'ДК КОЛЬЦА ОБРУЧ']), 'ДК',
            np.where(
                data_IM['tg'].isin(['ИФ СЕРЬГИ',  'ИФ КОЛЬЦА', 'ИФ ПОДВЕС ДЕКОР', 'ИФ ПЕЧАТКИ', 'ИФ ПОДВЕС КУЛЬТ','ИФ КОЛЬЦА ОБРУЧ','ИФ АКСЕССУАРЫ']), 'ИФ',
                np.where(
                    data_IM['tg'].isin(['ЦБ ЦЕПИ', 'ЦБ БРАСЛЕТЫ']), 'ЦБ',
                    np.where(
                        data_IM['tg'].isin(['СИ ПОДВЕС БК','СИ КОЛЬЦО ИФ','СИ БРАСЛЕТ БК','СИ КОЛЬЦО БК','СИ ЦЕПЬ','СИ СЕРЬГИ БК','СИ СЕРЬГИ ИФ','СИ ПОДВЕС ИФ',
                                            'СИ СЕРЬГИ РАЗН','СИ СЕРЬГИ ЦВ/К',\
                                            'СИ КОЛЬЦО ЦВ/К','','СИ ШАРМЫ','СИ ОБРУЧАЛЬНОЕ','СИ КОЛЬЦО ПЕЧАТ','СИ ПОДВЕСЦВ/К','СИ БРАСЛЕТ СК','СИ ЖЕМЧУГ',\
                                            'СИ АКСЕССУАР','СИ ДФРС ПРОЕКТ','СИ КЕРАМИКА','СИ ПОСУДА','СИ ЯНТАРЬ','СИ ЭМАЛЬ','СИ ВЫРИЦА']), 'СИ',
                        np.where(data_IM['tg'].isin(['ЧАСЫ']), 'ЧАСЫ', 'другое'
                        )
                    )
                )
            )
        )
    )
)

data_IM['Товарное направление'].value_counts()

Товарное направление
СИ        267
БК         92
ИФ         85
ЦБ         83
ДК         60
другое     54
ПДК        26
ЧАСЫ        1
Name: count, dtype: int64

In [197]:
proverka = data_IM[data_IM['Товарное направление']=='другое']
proverka['tg'].unique()

array(['СИ ПОДВЕС\xa0ЦВ/К', 'ОПТ ПДК', 'СИ БРАСЛЕТ БК Декор',
       'СИ КОЛЬЕ СК', 'СИ СЕРЬГИ\xa0 ЦВ/К', 'ОПТ ОБРУЧИ',
       'СИ БРАСЛЕТ ЦВ/К', 'ПДК ПЕЧАТКИ', 'СИ ПОДАРКИ КРОСС', nan,
       'ОПТ ИФ', 'СИ КОЛЬЕ ЦВ/К'], dtype=object)

In [198]:
data_IM = data_IM[~(data_IM['name'].str.contains('каучук')|
                    data_IM['name'].str.contains('шнурок')|
                    data_IM['name'].str.contains('текстиль')|
                    data_IM['name'].str.contains('хлопок')|
                    data_IM['name'].str.contains('шелк')|
                    data_IM['name'].str.contains('на нитке')|
                    data_IM['name'].str.contains('кожа')|
                    data_IM['name'].str.contains('жемчуг'))]

In [199]:
data_IM = data_IM[(data_IM['Товарное направление'].isin(['БК', 'ЦБ']))&((data_IM['proba'] == '585')|(data_IM['proba'] == 585.00))]

In [200]:
data_IM['Товарное направление'].value_counts()

Товарное направление
ЦБ    70
БК    69
Name: count, dtype: int64

In [201]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'], format='%Y-%m-%d')

In [202]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'].apply(lambda x: x.strftime("%Y-%m-%d")))

In [203]:
previous_date = data_IM['date_status_order_done'].min()
filtr_date = data_IM['date_status_order_done'].max()

In [204]:
data_today = data_IM.query("date_status_order_done >= @previous_date")
data_today.head()

,id,created,name,state_order,recipient_phone,recipient_email,state_item,delivery_type,payment_type,employee_id,type_ibox,type_name,tov,kbk_recieve_delivery,avg_weight,avg_net_weight,materials,proba,design,type1,type3,tg,brand,vendor_article,number,price,client_type,date_status_order_done,date_status_item_returned,product_id,cost_price,shk,kbk_collect_delivery,manzana,percent_by_sku,manzana_for_item,price_wo_manzana,Товарное направление
0,001d050c-a7f2-4df1-930e-de2294c2d129,2024-07-11 15:17:58.691,Золотая цепь с алмазной гранью,done,79024327507.00,dplenkova@mail.ru,done,PICKUP_NOW,YANDEX_KASSA,NaN,SBER,[YANDEX_KASSA] SBER - APP,ТОВ0702358,2-18-001,1.82,1.82,NaN,585,ЛАВ ПУСТ,ЦЕПЬ,КРАСНЫЙ,ЦБ ЦЕПИ,NaN,31-01-0040-30087,2407111517224,11665.00,MOBILE,2024-07-11,NaT,1593106,4713.72,2078560708863,2-18-001,0,0,2333,9332.00,ЦБ
9,05810ae1-ca81-4e0f-a352-17e3088a8812,2024-07-11 07:11:20.422,Золотой крест TALANT,done,79994525228.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,TINKOFF_SBP,Тинькофф СБП,ТОВ1191020,3-05-009,0.52,0.52,NaN,585,ИФ КРЕСТ,ПОДВЕС КУЛЬТОВЫЙ,КРАСНЫЙ,БК ПОДВЕС КУЛЬТ,NaN,51-02-0000-29227,2407110711847,3692.00,MOBILE,2024-07-11,NaT,1304906,1827.30,2078611191194,3-05-009,0,0,0,3692.00,БК
11,05eedda2-92f3-43ce-a722-a2205b143b61,2024-07-10 17:48:15.078,Золотая цепь с алмазной гранью,done,79963295771.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,SBER,[YANDEX_KASSA] SBER - URL,ТОВ01260876,4-05-069,6.33,6.33,NaN,585,БИСМАРК ПУСТ,ЦЕПЬ,КРАСНЫЙ,ЦБ ЦЕПИ,NaN,31-01-0060-37654,2407101748102,57980.00,MOBILE,2024-07-11,NaT,1548912,22765.69,2078610007184,4-05-069,0,0,11596,46384.00,ЦБ
18,07ff508a-a1da-4a3c-b61c-e44f086d28d2,2024-07-10 10:09:56.566,Золотая цепочка Тондо,done,79046138336.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,YANDEX_PAY,Яндекс пэй для сайта,ТОВ1261691,1-01-246,2.23,2.23,NaN,585,ТОНДО,ЦЕПЬ,КРАСНЫЙ,ЦБ ЦЕПИ,NaN,40-78025-11,2407101009822,13424.00,WEB,2024-07-10,NaT,1509829,7540.21,2078611331743,1-01-246,0,0,0,13424.00,ЦБ
21,08cf88be-704c-4a01-b4f2-fc4c3f11aec5,2024-07-10 08:54:51.135,Золотой крест,done,79518018992.00,vvdsmbvh@mail.ru,done,PICKUP_NOW,YANDEX_KASSA,NaN,TINKOFF_SBP,Тинькофф СБП,ТОВ1017717,4-01-163,0.71,0.71,NaN,585,ИФ КРЕСТ,ПОДВЕС КУЛЬТОВЫЙ,КРАСНЫЙ,БК ПОДВЕС КУЛЬТ,NaN,35-0495-10-00,2407100854142,4032.00,MOBILE,2024-07-11,NaT,3825183,2136.93,2078607330554,4-01-163,0,0,0,4032.00,БК

In [205]:
data_today['цена за гр'] = data_today['price_wo_manzana'] / data_today['avg_weight']
data_today['цена за гр'].describe()

count     139.00
mean     6301.35
std      1384.73
min      3533.04
25%      5308.04
50%      6098.20
75%      7264.34
max     13442.18
Name: цена за гр, dtype: float64

In [206]:
data_today['avg_weight'].describe()

count   139.00
mean      1.90
std       1.36
min       0.21
25%       0.89
50%       1.67
75%       2.44
max       8.36
Name: avg_weight, dtype: float64

In [207]:
data_today = data_today[~data_today['tg'].str.contains('ОПТ БК|БК ПЕЧАТКИ|ОПТ КОНГО')]

In [208]:
data_today = data_today[~data_today['client_type'].str.contains('OZON')]

In [209]:
Zolotoy_Online = (data_today['price_wo_manzana'].sum()/data_today['avg_weight'].sum()).round(0)
print('Средняя цена продажи еком: ', Zolotoy_Online)

Средняя цена продажи еком:  6297.0

In [210]:
data_today.to_excel(rf'{report_folder}\Данные по продажам\Продажи онлайн_{date_now}.xlsx', index=False)

In [211]:
tn = data_today.groupby('tg', as_index=False)[['price_wo_manzana', 'avg_weight', 'cost_price']].agg('sum')
tn['price_gramm'] = (tn['price_wo_manzana'] / tn['avg_weight']).round(0)

In [212]:
tn['price_gramm'] = tn['price_gramm'].astype('int')
tn['Наценка продажи онлайн'] =  tn['price_wo_manzana'] / tn['cost_price'] - 1

In [213]:
markup_sales = tn[['tg', 'Наценка продажи онлайн']]

In [214]:
tn = tn.drop(columns=['price_wo_manzana', 'avg_weight', 'cost_price', 'Наценка продажи онлайн'])
tn.columns = ['tg', '585*Золотой онлайн продажи']

In [215]:
result = result.merge(tn, how='left', on='tg')

Продажи 585*Золотой оффлайн

In [220]:
# иногда здесь скрипт может отвалиться, потому что с продажами оффлайн очень часто работает кто-то, поэтому можно прочитать его вручную указав актуальный путь

# path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Выгрузки из DWH\Продажи по КБК из DWH new\\'
# list_of_files = glob.glob(path + '\*.xlsx') 
# latest_file = max(list_of_files, key=os.path.getctime)

# df_dwh = pd.read_excel(latest_file)

df_dwh = pd.read_excel(r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Выгрузки из DWH\Продажи по КБК из DWH new\2024-07-10_2024-07-11.xlsx')

In [221]:
latest_file

'\\\\gold585.int\\uk\\Общее хранилище файлов\\Служба аналитики\\Выгрузки из DWH\\Продажи по КБК из DWH new\\2024-07-01_2024-07-09.xlsx'

In [222]:
# мы смотрим продажи со времени последнего мониторинга, для этого определяем день недели и в зависимости от этого получаем новые данные
data = dt.datetime.isoweekday(dt.date.today())
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')
if data == 1:
    last_monitoring = (dt.date.today() - dt.timedelta(days=3)).strftime('%Y-%m-%d')
else:
    last_monitoring = (dt.date.today() - dt.timedelta(days=2)).strftime('%Y-%m-%d')
    
df_dwh = df_dwh[df_dwh['Дата'] >= f'{last_monitoring}']

In [223]:
df_dwh['Товарная группа'].str.contains('ЦБ|БК').value_counts()

Товарная группа
False    35462
True     12745
Name: count, dtype: int64

In [224]:
df_dwh = df_dwh[(df_dwh['Товарное направление'].isin(['БК', 'ЦБ'])) & (df_dwh['Проба'] == 585.0)]

In [225]:
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('каучук')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('шнурок')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('текстиль')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('хлопок')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('шелк')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('на нитке')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('кожа')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('жемчуг')))]

In [226]:
df_dwh['Дата'] = pd.to_datetime(df_dwh['Дата'], format='%Y-%m-%d')
df_dwh['Дата'] = pd.to_datetime(df_dwh['Дата'].apply(lambda x: x.strftime("%Y-%m-%d")))

In [227]:
filtr_date = df_dwh['Дата'].max()

In [228]:
df_dwh = df_dwh.query("`Дата` <= @filtr_date")

In [229]:
tn = df_dwh.groupby(by = 'Товарная группа', as_index= False)[['Себестоимость', 'Вес', 'Общая сумма']].agg('sum')
tn['Наценка продажи оффлайн'] =  tn['Общая сумма'] / tn['Себестоимость'] - 1
tn = tn[~tn['Товарная группа'].str.contains('ОПТ БК|БК ПЕЧАТКИ|ОПТ КОНГО|ОПТ ОБРУЧИ')]
tn['price_per_gramm'] = ((tn['Общая сумма'] / tn['Вес']).round(0))

In [230]:
tn['price_per_gramm'] = tn['price_per_gramm'].replace(',', '')
tn['price_per_gramm'] = tn['price_per_gramm'].astype('int')

In [231]:
Zolotoy_Offline = (tn['Общая сумма'].sum() / tn['Вес'].sum()).round(0)
print('Средняя цена продажи оффлайн: ', Zolotoy_Offline)

Средняя цена продажи оффлайн:  6732.0

In [232]:
tn.columns = ['tg', 'cost', 'weight', 'price', 'Наценка продажи оффлайн', 'price_per_gramm']

In [233]:
offline_markup = tn[['tg', 'Наценка продажи оффлайн']]

In [234]:
markup_sales = markup_sales.merge(offline_markup, how='left', on='tg')

In [235]:
tn = tn.drop(columns=['cost', 'weight', 'price', 'Наценка продажи оффлайн'])
tn.columns = ['tg', '585*Золотой оффлайн продажи']

In [236]:
result = result.merge(tn, how='left', on='tg')

In [237]:
result

,tg,Sokolov,Sunlight,585*Золотой онлайн остатки Максимальный промокод+20%,585*Золотой оффлайн остатки 40%+20%,585*Золотой онлайн продажи,585*Золотой оффлайн продажи
0,БК КОЛЬЦА,6523.41,6092.82,6029.25,6034.34,6144,6488
1,БК КОЛЬЦА ОБРУЧ,6127.42,5369.20,5750.73,5618.73,5543,6195
2,БК ПОДВЕС ДЕКОР,6746.84,6335.48,5891.27,6133.06,5578,7241
3,БК ПОДВЕС КУЛЬТ,6793.72,6330.18,6231.85,6045.56,6399,7162
4,БК СЕРЬГИ,6510.83,6397.27,6320.11,6057.82,5480,7044
5,ЦБ БРАСЛЕТЫ,6771.42,5658.23,6714.66,5760.11,6169,6788
6,ЦБ ЦЕПИ,6649.80,5187.01,6737.55,5592.06,6772,6792

In [238]:
markup_sales

                tg  Наценка продажи онлайн  Наценка продажи оффлайн
0        БК КОЛЬЦА                    1.50                     1.28
1  БК КОЛЬЦА ОБРУЧ                    0.81                     1.04
2  БК ПОДВЕС ДЕКОР                    1.56                     1.22
3  БК ПОДВЕС КУЛЬТ                    1.00                     1.23
4        БК СЕРЬГИ                    0.74                     1.21
5      ЦБ БРАСЛЕТЫ                    0.95                     1.08
6          ЦБ ЦЕПИ                    1.15                     1.09

In [239]:
markup_sales = markup_sales.rename(columns={markup_sales.columns[0]: 'Товарная группа'})
result = result.rename(columns={result.columns[0]: 'Товарная группа'})

In [240]:
result.to_excel(rf'{report_folder}\Таблица ТГ для письма_{date_now}.xlsx', index= False)
markup_sales.to_excel(rf'{report_folder}\Наценка продажи\Наценка продажи оффлайн+онлайн_{date_now}.xlsx', index=False)

In [313]:
# !jupyter nbconvert --to script eda_every_days.ipynb

In [314]:
# sql = text(f'''INSERT INTO yura.history_price_every_day(date_, competitor, price_per_gramm, num_shop)
# VALUES 
# ('{date_now}', 'Sokolov', {int(Sokolov)}, '_Sokolov'),
# ('{date_now}', 'Sunlight', {int(Sunlight)}, '_Sunlight'),
# ('{date_now}', '585*Золотой онлайн продажи', {int(Zolotoy_Online)}, '_585*Золотой онлайн продажи'),
# ('{date_now}', '585*Золотой онлайн остатки', {int(stock_ecom)}, '_585*Золотой онлайн остатки'), 
# ('{date_now}', '585*Золотой офлайн продажи', {int(Zolotoy_Offline)}, '_585*Золотой офлайн продажи'),
# ('{date_now}', '585*Золотой офлайн остатки', {int(stock_price_pl)}, '_585*Золотой офлайн остатки');
# ''')