In [213]:
from sqlalchemy import create_engine
from bs4 import BeautifulSoup as bs
import datetime as dt
import pandas as pd
import numpy as np
import warnings
import requests
import pymssql
import locale
import glob
import os

warnings.filterwarnings('ignore')
pd.set_option('use_inf_as_na', True)
pd.options.display.max_columns = None
pd.set_option('float_format', '{:.2f}'.format)
locale.setlocale(locale.LC_ALL, 'ru_RU.UTF-8')

'ru_RU.UTF-8'

In [214]:
report_folder = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\Мониторинг Sokolov и Sunlight'

In [215]:
engine = create_engine('postgresql://sergei:S714801t@51.250.54.232:5432/dldb')

In [216]:
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')
month_now = dt.datetime.now().month
day_now = dt.datetime.now().day 
year_now = dt.datetime.now().year

In [217]:
way = os.getcwd()

# 1. Sokolov

In [218]:
df_sokolov = pd.read_csv(rf'{way}\sokolov\parsed_data\result\bk_sokolov_{date_now}.csv')

In [219]:
df_sokolov.sample(5)

,data,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,article
1273,10.06.2024,Sokolov,Кольцо из золота,rings,1.74 г,27000,59990,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,Без вставок,Красное золото 585 пробы,NaN,019507
649,10.06.2024,Sokolov,Обручальное кольцо из комбинированного золота,rings,2.99 г,39600,87990,NaN,Без вставок,Комбинированное золото 585 пробы,NaN,114120-11
509,10.06.2024,Sokolov,Серьги из золота,earrings,2.47 г,29700,65990,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,Без вставок,Красное золото 585 пробы,Английский,025797
1207,10.06.2024,Sokolov,Подвеска из золота,pendants,0.83 г,13500,29990,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,Без вставок,Красное золото 585 пробы,NaN,036656
781,10.06.2024,Sokolov,Подвеска из золота,pendants,1.06 г,14850,32990,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,Без вставок,Красное золото 585 пробы,NaN,036075

In [220]:
# df_sokolov['article'] = 'https://sokolov.ru/jewelry-catalog/product/' + df_sokolov['article']
# df_sokolov['article'] = df_sokolov['article'] + '/'

df_sokolov.columns = ['date', 'competitor', 'name', 'group', 'weight', 'price', 'price_old',
                    'discount', 'insert', 'metal', 'lock_type_or_weaving_type', 'url']

In [221]:
df_sokolov['discount'].value_counts(dropna=False)

discount
Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2                        1197
NaN                                                               262
Дополнительная скидка по акции «Калейдоскоп скидок!» ЕЩЁ -10%      33
Дополнительная скидка по акции «Калейдоскоп скидок!» ЕЩЁ -20%      20
Name: count, dtype: int64

In [222]:
df_sokolov['discount_for_dash'] = df_sokolov['discount']
df_sokolov['discount_for_dash'] = df_sokolov['discount_for_dash'].fillna('нет скидочного купона')

In [223]:
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] == 0:
        df_sokolov['discount_for_dash'][i] = 'ШОК-ЦЕНА'

In [224]:
def discount_value(discount):
    '''у Sokolov купоны имеют скидку до 30%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '10%' in discount:
        return 0.9
    elif '15%' in discount:
        return 0.85
    elif '20%' in discount:
        return 0.8
    elif '25%' in discount:
        return 0.75
    elif '30%' in discount:
        return 0.7
    elif 'Второе золотое' in discount:
        return 0.5
    return 1

df_sokolov['discount'] = df_sokolov['discount'].fillna('1')
df_sokolov['discount'] = df_sokolov['discount'].apply(discount_value)

In [225]:
df_sokolov['weight'] = df_sokolov['weight'].str.replace(' г', '')
df_sokolov['weight'] = df_sokolov['weight'].astype('float')

In [226]:
df_sokolov['metal'].value_counts()

metal
Красное золото 585 пробы            1188
Комбинированное золото 585 пробы     140
Жёлтое золото 585 пробы               93
Белое золото 585 пробы                83
Красное золото 375 пробы               7
Золото 585 пробы                       1
Name: count, dtype: int64

In [227]:
df_sokolov['price'].isna().sum()

0

In [228]:
df_sokolov = df_sokolov.dropna(subset=['price'])

In [229]:
# применяем скидку для первоначальной цены
df_sokolov['price'] = np.where(
    df_sokolov['discount'] == 0.5, df_sokolov['price'] * df_sokolov['discount'],
    np.where(
        df_sokolov['discount_for_dash'] == 'ШОК-ЦЕНА', df_sokolov['price'], df_sokolov['price'] * 0.7
    )
)

In [230]:
# для расчета персональной стоимости нужно выделить изделия для которых применины баллы. Для этого в парсинге цен используються cookies аккаунта с баллами (любым кол-вом).
# чтобы определить если ли персональная цена сравниваются 2 столба "price_old" и "price".
# если "price_old" равен нулю, значит этот товар является товаром из списка ШОК-цен, на них не распространяются бонусные баллы
# в противном случае мы можем списать до 30% от стоимости товара бонусными баллами
# мы считаем, что пользователь может использовать программу лояльности по-максимуму

In [231]:
df_sokolov.sample(10)

,date,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,url,discount_for_dash
793,10.06.2024,Sokolov,Брошь из золота,brooches,3.30,22050.00,97990,0.50,Без вставок,Красное золото 585 пробы,NaN,040316,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2
1005,10.06.2024,Sokolov,Серьги из золота,earrings,2.68,15750.00,69990,0.50,Без вставок,Красное золото 585 пробы,Английский,029324,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2
322,10.06.2024,Sokolov,Серьги из золота,earrings,4.15,28125.00,124990,0.50,Без вставок,Красное золото 585 пробы,Французский,026592,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2
1350,10.06.2024,Sokolov,Кольцо обручальное из золота,rings,1.73,16695.00,52990,1.00,Без вставок,Красное золото 585 пробы,NaN,110250,нет скидочного купона
1021,10.06.2024,Sokolov,Серьги из золота,earrings,1.46,7000.00,69990,0.50,Без вставок,Красное золото 585 пробы,Пусет,029728,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2
786,10.06.2024,Sokolov,Подвеска из золота,pendants,0.32,3035.00,13490,0.50,Без вставок,Красное золото 585 пробы,NaN,036195,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2
462,10.06.2024,Sokolov,"Цепь из золота, плетение Тройной ромб, 585 проба",chains,6.70,59850.00,189990,1.00,Без вставок,Красное золото 585 пробы,Ромб тройной,581100402,нет скидочного купона
414,10.06.2024,Sokolov,Крест из золота,pendants,0.48,4500.00,19990,0.50,Без вставок,Красное золото 585 пробы,NaN,121376,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2
1411,10.06.2024,Sokolov,Серьги из желтого золота,earrings,2.60,15300.00,67990,0.50,Без вставок,Жёлтое золото 585 пробы,Английский,027121-2,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2
1040,10.06.2024,Sokolov,Подвеска из золота с гравировкой,pendants,1.09,7425.00,32990,0.50,Без вставок,Красное золото 585 пробы,NaN,036113,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2

In [232]:
no_discount = 0
df_sokolov['discount_flag'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] != 0:
        df_sokolov['discount_flag'][i] = df_sokolov['price'][i] * 0.3
    else:
        df_sokolov['discount_flag'][i] = no_discount

In [233]:
df_sokolov['price_personal'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['discount_flag'][i] <= (df_sokolov['price'][i] * 0.3):
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - df_sokolov['discount_flag'][i]
    else:
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - (df_sokolov['price'][i] * 0.3)

In [234]:
df_sokolov = df_sokolov.drop(columns=['discount_flag'], axis=1)

In [235]:
df_sokolov['price'].isna().sum()

0

In [236]:
df_sokolov['price_personal'] = df_sokolov['price']

In [237]:
df_sokolov

,date,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,url,discount_for_dash,price_personal
0,10.06.2024,Sokolov,Кольцо обручальное из белого золота,rings,1.60,12990.00,0,1.00,Без вставок,Белое золото 585 пробы,1.6 г,110260-3,ШОК-ЦЕНА,12990.00
1,10.06.2024,Sokolov,Кольцо обручальное из золота,rings,1.61,12990.00,0,1.00,Без вставок,Красное золото 585 пробы,1.61 г,110260,ШОК-ЦЕНА,12990.00
2,10.06.2024,Sokolov,Кольцо обручальное из золота,rings,1.63,12990.00,0,1.00,Без вставок,Красное золото 585 пробы,1.63 г,110261,ШОК-ЦЕНА,12990.00
3,10.06.2024,Sokolov,Кольцо из белого золота,rings,1.61,12990.00,0,1.00,Без вставок,Белое золото 585 пробы,1.61 г,110262-3,ШОК-ЦЕНА,12990.00
4,10.06.2024,Sokolov,Подвеска из золота,pendants,0.13,990.00,0,1.00,Без вставок,Красное золото 585 пробы,NaN,036439,ШОК-ЦЕНА,990.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,10.06.2024,Sokolov,Серьги из желтого золота,earrings,2.36,17550.00,77990,0.50,Без вставок,Жёлтое золото 585 пробы,Замок-булавка,0200053-2,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,17550.00
1508,10.06.2024,Sokolov,Серьги из золота,earrings,3.02,18000.00,79990,0.50,Без вставок,Красное золото 585 пробы,Замок-булавка,0200096,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,18000.00
1509,10.06.2024,Sokolov,Серьги из желтого золота,earrings,0.71,5400.00,23990,0.50,Без вставок,Жёлтое золото 585 пробы,Пусет,0200125-2,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,5400.00
1510,10.06.2024,Sokolov,Серьги из желтого золота,earrings,2.55,18675.00,82990,0.50,Без вставок,Жёлтое золото 585 пробы,Английский,0200213-2,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,18675.00
1511,10.06.2024,Sokolov,Серьги из золота,earrings,1.05,7200.00,31990,0.50,Без вставок,Красное золото 585 пробы,Пусет,0200248,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,7200.00

In [238]:
df_sokolov['price_per_gramm'] = (df_sokolov['price_personal'] / df_sokolov['weight']).round(0)
df_sokolov['name'] = df_sokolov['name'].str.lower()

In [239]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sokolov['tg'] = np.where(
    ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка'))), 'ПОДВЕС КУЛЬТ',
    np.where(
        ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка') == False) | (df_sokolov['name'].str.contains('колье'))), 'ПОДВЕС ДЕКОР', 
        np.where(
            ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ', 
            np.where(
                ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное')==False)), 'КОЛЬЦА', 
                np.where(
                    (df_sokolov['group'] == 'bracelets'), 'БРАСЛЕТЫ',
                    np.where(
                        (df_sokolov['group'] == 'chains'), 'ЦЕПИ', 
                        np.where(
                            ((df_sokolov['group'] == 'earrings')| (df_sokolov['name'].str.contains('пирсинг'))), 'СЕРЬГИ', np.nan)
                    )
                )
            )
        )
    )
)

In [240]:
df_sokolov[df_sokolov['tg'] == 'nan']['name'].value_counts()

name
брошь из золота                    8
шнур декоративный                  2
кожаный шнурок с золотым замком    2
золотая звезда на погоны           1
шнур декоративный                  1
брошь-булавка  из золота           1
сувенир из золота                  1
крестильный набор из золота        1
Name: count, dtype: int64

In [241]:
df_sokolov = df_sokolov[df_sokolov['tg'] != 'nan'] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [242]:
df_sokolov['tn'] = np.where(
    ((df_sokolov['insert'].str.lower().str.contains('выраще|синте|искусств')) & (df_sokolov['insert'].str.lower().str.contains('бриллиант') == False)), 'ПДК',
    np.where(
        (df_sokolov['insert'].str.lower().str.contains('бриллиант|сапфир|рубин|изумруд') & (df_sokolov['insert'].str.lower().str.contains('выращ|искусств|синтети') == False)), 'ДК',
        np.where(
            df_sokolov['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ',
            np.where(
                df_sokolov['insert'] == 'Без вставок', 'БК', 
                np.where(
                    df_sokolov['insert'].str.lower().str.contains('фианит|бриллиант'), 'ИФ', 'ПДК'
                )
            )
        )
    )
)

In [243]:
df_sokolov['tg'] = df_sokolov['tn'] + ' ' + df_sokolov['tg']

In [244]:
df_sokolov['tg'].value_counts(dropna=False)

tg
БК СЕРЬГИ          450
БК КОЛЬЦА          277
БК ПОДВЕС ДЕКОР    237
ЦБ БРАСЛЕТЫ        172
ЦБ ЦЕПИ            137
БК КОЛЬЦА ОБРУЧ    116
БК ПОДВЕС КУЛЬТ    106
Name: count, dtype: int64

In [245]:
df_sokolov['price_case'] = np.where(
    df_sokolov['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sokolov['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sokolov['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sokolov['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sokolov['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sokolov['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sokolov['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [246]:
df_sokolov['price_per_gramm'].describe([0.05, 0.95])

count    1495.00
mean     7289.63
std      1448.46
min      4458.00
5%       5362.60
50%      7052.00
95%     10107.30
max     12544.00
Name: price_per_gramm, dtype: float64

In [247]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url', 'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]

In [248]:
df_sokolov['num_shop'] = '_' + df_sokolov['competitor']
df_sokolov['num_diap'] = df_sokolov['price_case']

In [249]:
df_sokolov.sample(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case,num_shop,num_diap
794,10.06.2024,Sokolov,жёсткий браслет из золота с алмазной гранью,bracelets,050292,37125.00,0.50,5.17,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,7181.00,ЦБ БРАСЛЕТЫ,7 000 руб. - 8 000 руб.,_Sokolov,7 000 руб. - 8 000 руб.
969,10.06.2024,Sokolov,кольцо из золота,rings,018777,17550.00,0.50,3.06,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,5735.00,БК КОЛЬЦА,5 500 руб. - 6 000 руб.,_Sokolov,5 500 руб. - 6 000 руб.
1256,10.06.2024,Sokolov,подвеска из золота,pendants,121496,4950.00,0.50,0.85,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,5824.00,БК ПОДВЕС ДЕКОР,5 500 руб. - 6 000 руб.,_Sokolov,5 500 руб. - 6 000 руб.
1435,10.06.2024,Sokolov,серьги из желтого золота,earrings,140017-2,33750.00,0.50,5.60,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,6027.00,БК СЕРЬГИ,6 000 руб. - 6 500 руб.,_Sokolov,6 000 руб. - 6 500 руб.
1336,10.06.2024,Sokolov,браслет из желтого золота,bracelets,051188-2,24750.00,0.50,3.81,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,6496.00,ЦБ БРАСЛЕТЫ,6 000 руб. - 6 500 руб.,_Sokolov,6 000 руб. - 6 500 руб.

In [250]:
df_sokolov['discount_for_dash'].value_counts()

discount_for_dash
Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2                        1180
нет скидочного купона                                             247
Дополнительная скидка по акции «Калейдоскоп скидок!» ЕЩЁ -10%      33
Дополнительная скидка по акции «Калейдоскоп скидок!» ЕЩЁ -20%      20
ШОК-ЦЕНА                                                           15
Name: count, dtype: int64

In [251]:
df_sokolov['price_per_gramm'].describe().round(0)

count    1495.00
mean     7290.00
std      1448.00
min      4458.00
25%      6262.00
50%      7052.00
75%      8011.00
max     12544.00
Name: price_per_gramm, dtype: float64

In [252]:
df_sokolov['price_personal'].sum() / df_sokolov['weight'].sum().round(0)

7336.718561230094

In [253]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url',
       'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm',
       'tg', 'price_case']]

In [254]:
df_sokolov.sample(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
665,10.06.2024,Sokolov,кольцо из золота,rings,018726,16425.00,0.50,2.84,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,5783.00,БК КОЛЬЦА,5 500 руб. - 6 000 руб.
190,10.06.2024,Sokolov,кольцо из золота с алмазной гранью,rings,017100,15750.00,0.50,2.21,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,7127.00,БК КОЛЬЦА,7 000 руб. - 8 000 руб.
780,10.06.2024,Sokolov,подвеска из золота,pendants,036014,9675.00,0.50,1.49,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,6493.00,БК ПОДВЕС ДЕКОР,6 000 руб. - 6 500 руб.
174,10.06.2024,Sokolov,серьги из золота,earrings,0200315,13050.00,0.50,2.13,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,6127.00,БК СЕРЬГИ,6 000 руб. - 6 500 руб.
949,10.06.2024,Sokolov,"цепь из желтого золота, плетение снейк, 585 проба",chains,2108020-2,25200.00,1.00,2.81,нет скидочного купона,8968.00,ЦБ ЦЕПИ,8 000 руб. - 9 000 руб.

# 2. Sunlight

In [310]:
df_sunlight = pd.read_csv(fr'{way}\sunlight\parsed_data\result\bk_sunlight_{date_now}.csv')

In [311]:
df_sunlight = df_sunlight.drop(columns=['index'])

In [312]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount
0,10.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
1,10.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
2,10.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
3,10.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
4,10.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']

In [313]:
def get_params_from_dic(df):
    '''функция для разделения столбца "params" на отдельные столбцы'''
    spisok = []                                                           
    for c in df['params']:
        for i in c.keys():                                
            spisok.append(i)              
    spisok = set(spisok)
    for s in spisok:
        z = []
        for j in df['params']:
            try:
                z.append(j[s])
            except:
                z.append(np.nan)
        df[s] = z
        
    return df

In [314]:
df_sunlight['group'].unique()

array(['Серьги', 'Крест-подвеска', 'Подвески', 'Кольца', 'Колье', 'Цепи',
       'Браслеты', 'Шейное украшение', 'Серьга', 'Ножной браслет',
       'Брошь', 'Пирсинг', 'Запонки', 'Булавка', 'Зажимы для галстука',
       'Брелоки'], dtype=object)

In [315]:
# чтобы функция написанная выше работала, необходимо, чтобы столбец params стал снова словарем, это происходит благодаря функции eval()
df_sunlight['params'] = df_sunlight['params'].apply(lambda x: eval(x))
get_params_from_dic(df_sunlight)

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount,Модель,Ширина кольца,Плетение,Вставка,Страна производства,Ширина цепи,Покрытие,Диаметр серег,Вес изделия,Материал изделия,Ширина браслета
0,10.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],10-00-0000-27628*,NaN,NaN,NaN,Россия,NaN,NaN,NaN,2.36 г,Розовое золото,NaN
1,10.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],10-00-0000-27628*,NaN,NaN,NaN,Россия,NaN,NaN,NaN,2.36 г,Розовое золото,NaN
2,10.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],10-00-0000-27628*,NaN,NaN,NaN,Россия,NaN,NaN,NaN,2.36 г,Розовое золото,NaN
3,10.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],10-00-0000-27628*,NaN,NaN,NaN,Россия,NaN,NaN,NaN,2.36 г,Розовое золото,NaN
4,10.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],10-00-0000-27628*,NaN,NaN,NaN,Россия,NaN,NaN,NaN,2.36 г,Розовое золото,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4956,10.06.2024,Sunlight,\n Золотой браслет\n,Браслеты,"{'Модель': 'МБ 15*', 'Материал изделия': 'Розо...",90100,991985,https://sunlight.net/catalog/bracelets_991985....,180 200 ₽,90 100 ₽,62 100 ₽,"['Цены 8 марта! Ещё -10%, код: МАРТ до 23:59']",МБ 15*,NaN,NaN,NaN,Россия,NaN,NaN,NaN,8.5 г,Розовое золото,NaN
4957,10.06.2024,Sunlight,\n Золотая цепь\n,Цепи,"{'Модель': 'Т4500806650*', 'Материал изделия':...",594457,991808,https://sunlight.net/catalog/chains_991808.html,NaN,594 457 ₽,NaN,['ХИТ-цена'],Т4500806650*,NaN,Гарибальди,NaN,Россия,"8,12 мм",NaN,NaN,108.28 г,Розовое золото,NaN
4958,10.06.2024,Sunlight,\n Золотой браслет\n,Браслеты,"{'Модель': '345002*', 'Материал изделия': 'Жел...",80190,349399,https://sunlight.net/catalog/bracelets_349399....,160 380 ₽,80 190 ₽,52 190 ₽,"['Цены 8 марта! Ещё -10%, код: МАРТ до 23:59']",345002*,NaN,NaN,NaN,Россия,NaN,NaN,NaN,8.91 г,Желтое золото,NaN
4959,10.06.2024,Sunlight,\n Золотой браслет\n,Браслеты,"{'Модель': '008-0091-0000-010*', 'Материал изд...",67480,991690,https://sunlight.net/catalog/bracelets_991690....,134 960 ₽,67 480 ₽,40 488 ₽,"['Цены 8 марта! Ещё -15%, код: МАРТ до 23:59']",008-0091-0000-010*,NaN,NaN,NaN,Россия,NaN,NaN,NaN,4.89 г,Розовое золото,NaN
4960,10.06.2024,Sunlight,\n Золотое шейное украшение\n,Шейное украшение,"{'Модель': '006-0065-0000-010*', 'Материал изд...",107300,991687,https://sunlight.net/catalog/neck_decoration_9...,214 600 ₽,107 300 ₽,79 300 ₽,"['Цены 8 марта! Ещё -10%, код: МАРТ до 23:59']",006-0065-0000-010*,NaN,NaN,NaN,Россия,NaN,NaN,NaN,10.52 г,Розовое золото,NaN

In [316]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount,Модель,Ширина кольца,Плетение,Вставка,Страна производства,Ширина цепи,Покрытие,Диаметр серег,Вес изделия,Материал изделия,Ширина браслета
0,10.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],10-00-0000-27628*,NaN,NaN,NaN,Россия,NaN,NaN,NaN,2.36 г,Розовое золото,NaN
1,10.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],10-00-0000-27628*,NaN,NaN,NaN,Россия,NaN,NaN,NaN,2.36 г,Розовое золото,NaN
2,10.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],10-00-0000-27628*,NaN,NaN,NaN,Россия,NaN,NaN,NaN,2.36 г,Розовое золото,NaN
3,10.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],10-00-0000-27628*,NaN,NaN,NaN,Россия,NaN,NaN,NaN,2.36 г,Розовое золото,NaN
4,10.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],10-00-0000-27628*,NaN,NaN,NaN,Россия,NaN,NaN,NaN,2.36 г,Розовое золото,NaN

In [317]:
df_sunlight['Материал изделия'].value_counts(dropna=False)

Материал изделия
Розовое золото                                 3544
Желтое золото                                   640
Белое золото, Розовое золото                    380
Белое золото                                    198
NaN                                             116
Текстиль                                         26
Белое золото, Желтое золото                      20
Белое золото, Желтое золото, Розовое золото      19
Желтое золото, Розовое золото                    11
Серебро                                           7
Name: count, dtype: int64

In [318]:
df_sunlight['Материал изделия'] = df_sunlight['Материал изделия'].fillna('золото')

In [319]:
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Серебро'))]
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Текстиль'))]

In [320]:
df_sunlight = df_sunlight.drop(columns=['params', 'price_x', 'article',
                                'Ширина кольца', 'Страна производства',
                                'Ширина цепи', 'Плетение', 'Ширина браслета',
                                'Модель', 'Диаметр серег', 'Вставка', 'Покрытие', 'Материал изделия'], axis=1)

In [321]:
df_sunlight.columns

Index(['date', 'competitor', 'name', 'group', 'url', 'price_old', 'price_y',
       'price_personal', 'discount', 'Вес изделия'],
      dtype='object')

In [322]:
# переименновываем столбцы, чтобы у всех таблиц была единая система
df_sunlight.columns = ['date', 'competitor', 'name', 'group', 'url', 'price_old',
                    'price', 'price_personal', 'discount', 'weight']

In [323]:
df_sunlight['price_personal'].isna().sum()

1441

In [324]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].fillna(df_sunlight['price'])

In [325]:
df_sunlight['weight'] = df_sunlight['weight'].str.replace(' г', '')
df_sunlight['name'] = df_sunlight['name'].str.replace('\n', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].astype('float')
df_sunlight['price_personal'] = df_sunlight['price_personal'].astype('float')
df_sunlight['discount_for_dash'] = df_sunlight['discount']

In [326]:
df_sunlight['discount_for_dash'].isna().sum()

0

In [327]:
df_sunlight['discount_for_dash'].unique()

array(["['ХИТ-цена']", "['Цены 8 марта! Ещё -15%, код: МАРТ до 23:59']",
       "['Цены 8 марта! Ещё -10%, код: МАРТ до 23:59']",
       "['ХИТ-цена', 'Выгодно! Золото 5 290 р/г']",
       "['Цены 8 марта! Ещё -30%, код: МАРТ до 23:59']",
       "['Цены 8 марта! Ещё -20%, код: МАРТ до 23:59']",
       "['Цены снижены! Ещё -15%, код: СЕГОДНЯ']",
       "['Цены 8 марта! Ещё -35%, код: МАРТ до 23:59']", '[nan]'],
      dtype=object)

In [328]:
def discount_value_sl(discount):
    '''у Sunlight купоны имеют скидку до 55%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '55%' in discount:
        return 0.45
    elif '50%' in discount:
        return 0.50
    elif '45%' in discount:
        return 0.55
    elif '40%' in discount:
        return 0.6
    elif '35%' in discount:
        return 0.65
    elif '30%' in discount:
        return 0.7
    elif '25%' in discount:
        return 0.75
    elif '20%' in discount:
        return 0.8
    elif '15%' in discount:
        return 0.85
    elif '10%' in discount:
        return 0.9 
    elif '1=2' in discount:
        return 0.5
    return 1

df_sunlight['discount'] = df_sunlight['discount'].apply(discount_value_sl)

In [329]:
df_sunlight['discount'].value_counts(dropna=False)

discount
0.90    2716
1.00    1442
0.85     419
0.80     266
0.70      75
0.65      10
Name: count, dtype: int64

In [330]:
df_sunlight['discount_for_dash'].value_counts(dropna=False)

discount_for_dash
['Цены 8 марта! Ещё -10%, код: МАРТ до 23:59']    2716
['ХИТ-цена']                                      1311
['Цены 8 марта! Ещё -15%, код: МАРТ до 23:59']     406
['Цены 8 марта! Ещё -20%, код: МАРТ до 23:59']     266
['ХИТ-цена', 'Выгодно! Золото 5 290 р/г']          126
['Цены 8 марта! Ещё -30%, код: МАРТ до 23:59']      75
['Цены снижены! Ещё -15%, код: СЕГОДНЯ']            13
['Цены 8 марта! Ещё -35%, код: МАРТ до 23:59']      10
[nan]                                                5
Name: count, dtype: int64

In [331]:
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace("'", '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('[', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace(']', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('nan', 'нет скидочного купона')

In [332]:
df_sunlight['discount'] = df_sunlight['discount'].astype('float')

In [333]:
# применяем для каждого товара скидочный купон
# кроме тех строк, в которых есть информация, что это ХИТ-товар
df_sunlight['price_personal'] = np.where(
    df_sunlight['discount_for_dash'].str.contains('ХИТ'), df_sunlight['price'], df_sunlight['price'] * df_sunlight['discount']
)

In [334]:
df_sunlight['discount_for_dash'].value_counts()

discount_for_dash
Цены 8 марта! Ещё -10%, код: МАРТ до 23:59    2716
ХИТ-цена                                      1311
Цены 8 марта! Ещё -15%, код: МАРТ до 23:59     406
Цены 8 марта! Ещё -20%, код: МАРТ до 23:59     266
ХИТ-цена, Выгодно! Золото 5 290 р/г            126
Цены 8 марта! Ещё -30%, код: МАРТ до 23:59      75
Цены снижены! Ещё -15%, код: СЕГОДНЯ            13
Цены 8 марта! Ещё -35%, код: МАРТ до 23:59      10
нет скидочного купона                            5
Name: count, dtype: int64

In [335]:
# после применения купона, цена по программе лояльности Sunlight может снизиться ещё до 30% от полученной суммы при помощи бонусных баллов
# мы считаем, что пользователь пользуется максимальным количеством бонусных баллов, применимых к товару
# это не распростроняется на фикс цены, о наличии которых мы можем понять по устойчивому "ХИТ-цена", но так же могут быть добавлены новые акции
# всегда стоит перед запуском скрипта ниже проверять вывод блока кода выше

for i in df_sunlight.index:
    if df_sunlight['discount_for_dash'][i] == "ХИТ-цена":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    elif df_sunlight['discount_for_dash'][i] == "ХИТ-цена, Выгодно! Золото 5 290 р/г":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    else:    
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] * 0.6

In [336]:
df_sunlight[df_sunlight['url'] == 'https://sunlight.net/catalog/earring_242309.html']

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
2346,10.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_242309.html,37 980 ₽,18990.00,7975.80,0.70,1.57,"Цены 8 марта! Ещё -30%, код: МАРТ до 23:59"

In [338]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
1273,10.06.2024,Sunlight,Золотая серьга,Серьга,https://sunlight.net/catalog/one_earring_80429...,8 380 ₽,4190.00,2136.90,0.85,0.27,"Цены 8 марта! Ещё -15%, код: МАРТ до 23:59"
1516,10.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_49047.html,NaN,8490.00,8490.00,1.00,1.02,ХИТ-цена
3166,10.06.2024,Sunlight,Золотое кольцо,Кольца,https://sunlight.net/catalog/ring_343225.html,68 520 ₽,34260.00,18500.40,0.90,3.85,"Цены 8 марта! Ещё -10%, код: МАРТ до 23:59"
4693,10.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_351202.html,59 980 ₽,29990.00,16194.60,0.90,3.07,"Цены 8 марта! Ещё -10%, код: МАРТ до 23:59"
2356,10.06.2024,Sunlight,Золотая булавка,Булавка,https://sunlight.net/catalog/pin_278128.html,13 980 ₽,6990.00,3774.60,0.90,0.64,"Цены 8 марта! Ещё -10%, код: МАРТ до 23:59"

In [339]:
df_sunlight['price_personal'].isna().sum()

0

In [340]:
df_sunlight.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4928 entries, 0 to 4960
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               4928 non-null   object
 1   competitor         4928 non-null   object
 2   name               4928 non-null   object
 3   group              4928 non-null   object
 4   url                4928 non-null   object
 5   price_old          3487 non-null   object
 6   price              4928 non-null   float64
 7   price_personal     4928 non-null   float64
 8   discount           4928 non-null   float64
 9   weight             4928 non-null   object
 10  discount_for_dash  4928 non-null   object
dtypes: float64(3), object(8)
memory usage: 591.0+ KB

In [341]:
df_sunlight.sample()

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
4775,10.06.2024,Sunlight,Золотое кольцо,Кольца,https://sunlight.net/catalog/ring_185137.html,88 080 ₽,44040.00,21139.20,0.80,4.04,"Цены 8 марта! Ещё -20%, код: МАРТ до 23:59"

In [342]:
df_sunlight['weight'] = df_sunlight['weight'].astype(float)
df_sunlight = df_sunlight[df_sunlight['weight'] > 0.1]

In [343]:
df_sunlight.drop_duplicates(inplace=True)

In [344]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
3337,10.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_278043.html,29 980 ₽,14990.00,8094.60,0.90,1.38,"Цены 8 марта! Ещё -10%, код: МАРТ до 23:59"
4667,10.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_182735.html,123 980 ₽,61990.00,33474.60,0.90,4.48,"Цены 8 марта! Ещё -10%, код: МАРТ до 23:59"
4399,10.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_309102.html,63 980 ₽,31990.00,17274.60,0.90,3.05,"Цены 8 марта! Ещё -10%, код: МАРТ до 23:59"
2615,10.06.2024,Sunlight,Золотая цепь,Цепи,https://sunlight.net/catalog/chains_311699.html,NaN,21433.00,21433.00,1.00,2.94,ХИТ-цена
3226,10.06.2024,Sunlight,Золотое кольцо,Кольца,https://sunlight.net/catalog/ring_331909.html,21 600 ₽,10800.00,5832.00,0.90,1.20,"Цены 8 марта! Ещё -10%, код: МАРТ до 23:59"

In [345]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].round(0)

In [346]:
# проверяем корректность расчётов
df_sunlight[['price_personal','url']].sample(3)

      price_personal                                                url
493         12097.00      https://sunlight.net/catalog/ring_260289.html
3893        47639.00  https://sunlight.net/catalog/bracelets_351766....
3718        56141.00  https://sunlight.net/catalog/bracelets_345092....

In [347]:
df_sunlight = df_sunlight.drop(columns=['price_old', 'price'])

In [348]:
df_sunlight['price_per_gramm'] = (df_sunlight['price_personal'] / df_sunlight['weight']).round(0)

In [349]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sunlight['tg'] = np.where(
    df_sunlight['group'].str.contains('Серьги|Серьга|Пирсинг'), 'СЕРЬГИ',
    np.where(
        df_sunlight['group'].str.contains('Цепи'), 'ЦЕПИ',
        np.where(
            ((df_sunlight['group'].str.contains('Подвески')) & (df_sunlight['name'].str.lower().str.contains('свят|божия|блаженная|господь|чудотворец|ангел|сергий|божья|георгий'))), 'ПОДВЕС КУЛЬТ',
            np.where(
                df_sunlight['group'].str.contains('Крест|Икона'), 'ПОДВЕС КУЛЬТ',
                np.where(
                    df_sunlight['group'].str.lower().str.contains('браслет'), 'БРАСЛЕТЫ', 
                    np.where(
                        ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное') == False)), 'КОЛЬЦА',
                        np.where(
                            ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ',
                            np.where(
                                df_sunlight['group'].str.contains('Подвески'), 'ПОДВЕС ДЕКОР', df_sunlight['group']
                            )
                        )
                    )
                )
            )
        )
    )
)

In [350]:
df_sunlight = df_sunlight[df_sunlight['tg'].str.contains('СЕРЬГИ|КОЛЬЦА|ПОДВЕС|БРАСЛЕТЫ|ЦЕПИ')] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [351]:
df_sunlight['price_case'] = np.where(
    df_sunlight['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sunlight['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sunlight['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sunlight['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sunlight['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sunlight['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sunlight['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [352]:
df_sunlight['tn'] = np.where(
    df_sunlight['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ', 'БК'
)

In [353]:
df_sunlight['tg'] = df_sunlight['tn'] + ' ' + df_sunlight['tg']

In [354]:
df_sunlight['price_per_gramm'].describe([0.05, 0.99])

count    3330.00
mean     6170.47
std      1191.13
min      3474.00
5%       4887.35
50%      6068.00
99%      8795.33
max     44979.00
Name: price_per_gramm, dtype: float64

In [355]:
df_sunlight = df_sunlight.drop(columns=['tn'])

In [356]:
df_sunlight.head(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,10.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_235978.html,20990.00,1.00,2.36,ХИТ-цена,8894.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
5,10.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_51498.html,6490.00,1.00,0.77,ХИТ-цена,8429.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
10,10.06.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,https://sunlight.net/catalog/pendants_75809.html,2490.00,1.00,0.26,ХИТ-цена,9577.00,БК ПОДВЕС КУЛЬТ,9 000 руб. - 10 000 руб.
15,10.06.2024,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_993847.html,1990.00,1.00,0.21,ХИТ-цена,9476.00,БК ПОДВЕС ДЕКОР,9 000 руб. - 10 000 руб.
20,10.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_271510.html,10490.00,1.00,1.04,ХИТ-цена,10087.00,БК СЕРЬГИ,свыше 10 000 руб.

In [357]:
df_sunlight = df_sunlight.drop_duplicates()

In [358]:
print((df_sunlight['price_personal'].sum() / df_sunlight['weight'].sum()).round(0))

5974.0

# 3. 585*Золотой онлайн остатки

In [ ]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime) # мы ищем тут последний выгруженный файл (занимается выгрузкой Оризу Наталья email: Orizu.Natalya@zolotoy.ru)

df = pd.read_excel(latest_file)

In [ ]:
latest_file # если последний файл - не за сегодняшнюю/вчерашнюю дату, стоит запросить актуальную выгрузку

'\\\\gold585.int\\uk\\Общее хранилище файлов\\Служба аналитики\\МЮР\\ecom_stock_raw\\Остатки 2024.06.10.xlsx'

In [ ]:
df.fineness.unique()

array([925., 375., 585.,  nan, 750., 999., 944., 945., 946., 947., 937.,
       938., 939., 931., 932., 933., 926., 928., 929., 930., 948., 949.,
       950., 951., 927., 934., 935., 936., 960., 961., 962., 963., 964.,
       956., 957., 958., 959., 875.])

In [ ]:
df['published'].value_counts(dropna=False)

published
True     167923
False     37576
Name: count, dtype: int64

In [ ]:
df['product_line'].unique()

array(['СИ', 'ПДК', 'ДК', 'ФУТЛЯРЫ', 'ДФРС', 'ЧАСЫ', 'ЦБ', 'ИФ', 'БК',
       'ВЫРИЦА', 'БИЖУТЕРИЯ', nan, 'БУ'], dtype=object)

In [ ]:
df = df[(df['fineness'] == 585) & (df['product_line'].str.contains('ФУТЛЯРЫ|ДФРС|ВЫРИЦА|ЧАСЫ|БИЖУТЕРИЯ|БУ') == False)]

In [ ]:
df = df[(df['product_group'].str.contains('БК КОЛЬЦА')|
        df['product_group'].str.contains('БК КОЛЬЦА ОБРУЧ')|
        df['product_group'].str.contains('ЦБ БРАСЛЕТЫ')|
        df['product_group'].str.contains('БК СЕРЬГИ')|
        df['product_group'].str.contains('БК ПОДВЕС КУЛЬТ')|
        df['product_group'].str.contains('БК ПОДВЕС ДЕКОР')|
        df['product_group'].str.contains('ЦБ ЦЕПИ'))]

In [ ]:
df = df.drop(columns=['Unnamed: 15', '*без франчайзинговых магазинов и Румянцево'])

In [ ]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\discounts_zolotoy\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)

discount = pd.read_excel(latest_file)

In [ ]:
discount.sample(3)

,Артикул сайта,Опубликован,discount_value_promotions_1,discount_value_promotions_2,discount_value_promotions_3,discount_value_promotions_4
39290,1615318,True,40,-,-,-
894,1014119,True,40,-,-,-
120561,2908724,True,-,-,-,-

In [ ]:
discount.columns = ['article', 'Опубликован', 'discount_value_promotions_1',
                    'discount_value_promotions_2', 'discount_value_promotions_3',
                    'discount_value_promotions_4']

In [ ]:
df = df.merge(discount, how='left', on='article')

In [ ]:
df = df[(df['published'] == 'ИСТИНА') | (df['published'] == True)]

In [ ]:
df = df.drop(columns=['weaving', 'Unnamed: 14', 'name'])

In [ ]:
df.columns = ['article', 'size', 'published', 'product_line', 'product_group',
            'material', 'type3', 'fineness', 'avg_weight', 'price',
            'discount_price', 'Остатки, шт*', 'type3',
            'discount_value_promotions_1', 'discount_value_promotions_2', 'discount_value_promotions_3', 'discount_value_promotions_4']

In [ ]:
df = df.drop(columns=['discount_value_promotions_4', 'published'])

In [ ]:
def discount_index(discount):
    try:
        return 1 - discount / 100
    except:
        return 1

In [ ]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.apply(discount_index)
df.discount_value_promotions_2 = df.discount_value_promotions_2.apply(discount_index)
df.discount_value_promotions_3 = df.discount_value_promotions_3.apply(discount_index)

In [ ]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.fillna(1)
df.discount_value_promotions_2 = df.discount_value_promotions_2.fillna(1)
df.discount_value_promotions_3 = df.discount_value_promotions_3.fillna(1)

In [ ]:
df = df.dropna(subset=['avg_weight', 'discount_value_promotions_1'])

In [ ]:
df['price_personal'] = np.where(
    (df['price'] == df['discount_price']) & (df['discount_value_promotions_1'] == 1), df['discount_price'] * df['discount_value_promotions_1'], df['discount_price'] * df['discount_value_promotions_1'] * 0.8
)

In [ ]:
df = df.drop_duplicates(subset=['article'])

In [ ]:
zolotoy = df.groupby('product_group', as_index=False)[['price_personal', 'avg_weight']].agg({'price_personal':'sum', 'avg_weight':'sum'})
zolotoy['price_per_gram'] = zolotoy['price_personal'] / zolotoy['avg_weight']

In [ ]:
zolotoy['price_personal'].sum() / zolotoy['avg_weight'].sum()

6260.5765327108

In [ ]:
zolotoy

     product_group  price_personal  avg_weight  price_per_gram
0        БК КОЛЬЦА      4535443.60      828.14         5476.66
1  БК КОЛЬЦА ОБРУЧ      5890694.80     1072.37         5493.16
2  БК ПОДВЕС ДЕКОР      3453043.20      622.38         5548.13
3  БК ПОДВЕС КУЛЬТ      8945428.00     1516.60         5898.34
4        БК СЕРЬГИ     13414578.80     2239.15         5990.92
5      ЦБ БРАСЛЕТЫ     30762908.00     4732.25         6500.69
6          ЦБ ЦЕПИ     45631936.00     6980.11         6537.42

In [ ]:
zolotoy['date'] = pd.to_datetime(date_now, dayfirst=True)

In [ ]:
zolotoy = zolotoy.drop(columns=['price_personal', 'avg_weight', 'date'])

In [ ]:
zolotoy.columns = ['tg', '585*Золотой онлайн остатки 40%+20%']

In [ ]:
df = df.drop_duplicates(subset=['article'])

In [ ]:
df['date'] = pd.to_datetime(date_now, dayfirst=True)
df['competitor'] = '585*Золотой'
df['price_per_gramm'] = df['price_personal'] / df['avg_weight']

In [ ]:
df['price_case'] = np.where(
    df['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [ ]:
df = df[['date', 'competitor', 'avg_weight', 'price_personal', 'product_group', 'price_per_gramm', 'discount_value_promotions_1', 'article', 'price_case']]
df.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [ ]:
data_history = pd.DataFrame({'date': [pd.to_datetime(date_now, dayfirst=True)],
                            'competitor': ['585*Золотой'],
                            'avg_ppg': [int(df['price_personal'].sum() / df['weight'].sum())]})

# 4. 585*Золотой оффлайн остатки

In [ ]:
# SQL-скрипт ниже выгружает данные по остаткам с БД Staging, доступ к ней выдаётся по учётной записи Windows по согласованию

conn = pymssql.connect(server='AX-SQL', database='Staging')
cursor = conn.cursor()

sql = f'''
SELECT [Код склада], [Название склада], [Цена Закупки за 1 шт. (упр сс с НДС за единицу)], [Группа цен],
[Товарное направление], [Товарная группа], [Проба], [Цена Розн., за шт],  [Запрет скидки],
[Код товара],  [Артикул поставщика], [Чистый вес], [ШК], [Общий вес], [Скидка на изделии], [Тип изделия 1], 
[ID Сайта]
from [Staging].[Reports].[Remainings_8h]
where [Товарное направление] in (N'БК', N'ЦБ')
'''

sql_query = pd.read_sql_query(sql, conn)
stock = pd.DataFrame(sql_query)

In [ ]:
stock.sample(5)

,Код склада,Название склада,Цена Закупки за 1 шт. (упр сс с НДС за единицу),Группа цен,Товарное направление,Товарная группа,Проба,"Цена Розн., за шт",Запрет скидки,Код товара,Артикул поставщика,Чистый вес,ШК,Общий вес,Скидка на изделии,Тип изделия 1,ID Сайта
1389217,3075,Центральный склад Регент Голд,2831.40,ИФ.БК_ДЕШ,БК,БК ПОДВЕС КУЛЬТ,585,18403.00,Нет,ТОВ1062476,51-02-0000-20876,0.77,2078611192157,0.77,35.00,ПОДВЕС КУЛЬТОВЫЙ,4409499
1250809,5971,"Томск, Нахимова, д. 8 стр. 13",1885.18,ИФ.БК_ДЕШ,БК,БК СЕРЬГИ,585,13048.00,Нет,ТОВ0692266,12.00_10,0.56,2078608181430,0.56,34.00,СЕРЬГИ-КОНГО,3947366
967881,4490,Пятигорск ул.Крайнего 47 (ТЦ «Нижний Рынок) (ДУБЛ,6040.61,ИФ_375,БК,БК ПОДВЕС КУЛЬТ,375,45360.00,Нет,ТОВ1226222,35-0281-30-00#375,3.36,2078600616513,3.36,44.00,ПОДВЕС КУЛЬТОВЫЙ,1780467
1431586,779,"Челябинск, Кирова, 9а",4732.62,ИФ.БК_ДЕШ,БК,БК КОЛЬЦА ОБРУЧ,585,26402.00,Нет,ТОВ0887549,КО 13-00,1.72,2078600808044,1.72,14.00,КОЛЬЦО ОБРУЧАЛЬНОЕ,6870648
1375627,3075,Центральный склад Регент Голд,7018.03,ЦБ_ПУСТОТЕЛЫЕ <=3 ГРАММ,ЦБ,ЦБ БРАСЛЕТЫ,585,NaN,Нет,ТОВ01262282,431-01-0050-30204,2.02,2078611178446,2.02,0.00,БРАСЛЕТ,5201191

In [ ]:
stock['Код склада'] = stock['Код склада'].astype('float64')

In [ ]:
stock['date'] = pd.to_datetime(date_now, dayfirst=True)
stock['competitor'] = '585*Золотой оффлайн'
stock['discount_for_dash'] = 0.6 * 0.8 # скидка непостоянная, информация о скидке всегда приходит на почту в конце месяца

In [ ]:
stock = stock[['date', 'competitor', 'ID Сайта', 'Цена Розн., за шт', 'Запрет скидки', 'Чистый вес', 'discount_for_dash', 'Товарная группа', 'Скидка на изделии']]

In [ ]:
stock.columns = ['date', 'competitor', 'url', 'price', 'discount', 'weight', 'discount_for_dash', 'tg', 'skidka']

In [ ]:
tgs = ['БК СЕРЬГИ', 'ЦБ БРАСЛЕТЫ', 'ЦБ ЦЕПИ', 'БК КОЛЬЦА ОБРУЧ', 'БК ПОДВЕС КУЛЬТ', 'БК ПОДВЕС ДЕКОР', 'БК КОЛЬЦА']
stock = stock.query('tg in @tgs')

In [ ]:
stock['price_personal'] = np.where(
    stock['discount'] == 'Да', stock['price'], stock['price'] * stock['discount_for_dash'] * (1 - (stock['skidka'] / 100))
)

In [ ]:
stock['price_per_gramm'] = stock['price_personal'] / stock['weight']

In [ ]:
stock['price_case'] = np.where(
    stock['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (stock['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (stock['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (stock['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (stock['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (stock['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (stock['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [ ]:
stock = stock[['date', 'competitor', 'url', 'price_personal', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]
stock.columns = ['date_', 'competitor', 'url', 'price_personal', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']

In [ ]:
gold_stock = stock.groupby(by = 'tg', as_index = False)[['price_personal', 'weight']].agg('sum')
gold_stock['price_per_gramm'] = gold_stock['price_personal'] / gold_stock['weight']

In [ ]:
stock_price_pl = ((gold_stock['price_personal']).sum() / gold_stock['weight'].sum()).round(0)
print('Средняя цена остатков офлайн ПЛ: ', stock_price_pl)

Средняя цена остатков офлайн ПЛ:  6025.0

In [ ]:
gold_stock = gold_stock[['tg', 'price_per_gramm']]

In [ ]:
gold_stock.columns = ['tg', '585*Золотой оффлайн остатки 40%+20%']

# 5. Соединение таблиц для дашборда

In [ ]:
data_all = pd.concat([df_sokolov, df_sunlight], ignore_index=True)

In [ ]:
data_all['date'].fillna(f'{day_now}-{month_now}-{year_now}', inplace=True)

In [ ]:
data_all['date'].unique()

array(['10.06.2024'], dtype=object)

In [ ]:
data_all['date'] = pd.to_datetime(date_now, dayfirst=True)

In [ ]:
data_all.date.unique()

<DatetimeArray>
['2024-06-10 00:00:00']
Length: 1, dtype: datetime64[ns]

In [ ]:
data_all

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,2024-06-10,Sokolov,кольцо обручальное из белого золота,rings,110260-3,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
1,2024-06-10,Sokolov,кольцо обручальное из золота,rings,110260,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
2,2024-06-10,Sokolov,кольцо обручальное из золота,rings,110261,12990.00,1.00,1.63,ШОК-ЦЕНА,7969.00,БК КОЛЬЦА ОБРУЧ,7 000 руб. - 8 000 руб.
3,2024-06-10,Sokolov,кольцо из белого золота,rings,110262-3,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА,8 000 руб. - 9 000 руб.
4,2024-06-10,Sokolov,подвеска из золота,pendants,036439,990.00,1.00,0.13,ШОК-ЦЕНА,7615.00,БК ПОДВЕС ДЕКОР,7 000 руб. - 8 000 руб.
...,...,...,...,...,...,...,...,...,...,...,...,...
4754,2024-06-10,Sunlight,Золотой браслет,Браслеты,https://sunlight.net/catalog/bracelets_991987....,61847.00,0.90,9.09,"Цены 8 марта! Ещё -10%, код: МАРТ до 23:59",6804.00,ЦБ БРАСЛЕТЫ,6 500 руб. - 7 000 руб.
4755,2024-06-10,Sunlight,Золотой браслет,Браслеты,https://sunlight.net/catalog/bracelets_991985....,56763.00,0.90,8.50,"Цены 8 марта! Ещё -10%, код: МАРТ до 23:59",6678.00,ЦБ БРАСЛЕТЫ,6 500 руб. - 7 000 руб.
4756,2024-06-10,Sunlight,Золотая цепь,Цепи,https://sunlight.net/catalog/chains_991808.html,594457.00,1.00,108.28,ХИТ-цена,5490.00,ЦБ ЦЕПИ,до 5 500 руб.
4757,2024-06-10,Sunlight,Золотой браслет,Браслеты,https://sunlight.net/catalog/bracelets_349399....,50520.00,0.90,8.91,"Цены 8 марта! Ещё -10%, код: МАРТ до 23:59",5670.00,ЦБ БРАСЛЕТЫ,5 500 руб. - 6 000 руб.
4758,2024-06-10,Sunlight,Золотой браслет,Браслеты,https://sunlight.net/catalog/bracelets_991690....,40151.00,0.85,4.89,"Цены 8 марта! Ещё -15%, код: МАРТ до 23:59",8211.00,ЦБ БРАСЛЕТЫ,8 000 руб. - 9 000 руб.

In [ ]:
data_history_gold = data_history

In [ ]:
# группируем общую таблицу для добавления данных о изменении стоимости за грамм по дате
data_history = data_all.groupby('competitor', as_index=False)[['weight', 'price_personal']].agg('sum')
data_history['price_per_gramm'] = (data_history['price_personal'] / data_history['weight']).round(0)
data_history.insert(0, 'date', f'{date_now}')
data_history = data_history.drop(columns=['weight', 'price_personal'], axis=1)
data_history['num_shop'] = '_' + data_history['competitor']

In [ ]:
data_history = data_history.drop(columns=['num_shop'])
data_history.columns = ['date', 'competitor', 'avg_ppg']

In [ ]:
data_history['date'] = pd.to_datetime(date_now, dayfirst=True)

In [ ]:
data_history = pd.concat([data_history_gold, data_history], ignore_index=True)

In [ ]:
data_history.to_sql('avg_ppg_for_monthly_monitoring', engine, schema = 'yura', if_exists='append', index = False)

3

In [ ]:
data_all.to_excel(rf'{report_folder}\Данные парсинга\bk_sokolov_sunlight_{date_now}.xlsx', index=False)

In [ ]:
data_all = data_all.drop(columns=['name', 'discount', 'group'])

In [ ]:
data_all = data_all[['date', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']]

In [ ]:
data_all.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [ ]:
data_all['date_'] = pd.to_datetime(date_now, dayfirst=True)

In [ ]:
# группировка полученных данных для отчёта

In [ ]:
df_tn_sokolov = df_sokolov.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sokolov['price_per_gram'] = df_tn_sokolov['price_personal'] / df_tn_sokolov['weight']

In [304]:
df_tn_sunlight = df_sunlight.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sunlight['price_per_gram'] = df_tn_sunlight['price_personal'] / df_tn_sunlight['weight']

In [305]:
df_tn_sunlight = df_tn_sunlight.drop(columns=['price_personal', 'weight'])
df_tn_sunlight.columns = ['tg', 'Sunlight']

In [ ]:
df_tn_sokolov = df_tn_sokolov.drop(columns=['price_personal', 'weight'])
df_tn_sokolov.columns = ['tg', 'Sokolov']

In [ ]:
result = pd.merge(df_tn_sokolov, df_tn_sunlight, how='left', on='tg').merge(zolotoy, how='left', on='tg').merge(gold_stock, how='left', on='tg') # объединяем данные в одну табличку

In [ ]:
result

# 6. Расчёт наценки

In [ ]:
cookies = {
    '__ddg1_': 'XgGmRRFfNl9J83C2HQq2',
    '__RequestVerificationToken': '5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
}

headers = {
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7',
    'accept-language': 'ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7',
    'cache-control': 'max-age=0',
    # 'cookie': '__ddg1_=XgGmRRFfNl9J83C2HQq2; __RequestVerificationToken=5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
    'priority': 'u=0, i',
    'sec-ch-ua': '"Google Chrome";v="125", "Chromium";v="125", "Not.A/Brand";v="24"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'document',
    'sec-fetch-mode': 'navigate',
    'sec-fetch-site': 'cross-site',
    'sec-fetch-user': '?1',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36',
}

response = requests.get('https://mfd.ru/centrobank/preciousmetals/', cookies=cookies, headers=headers).text

In [ ]:
soup = bs(response, 'html.parser')

In [ ]:
# данные ниже могут меняться
price_ = float(soup.find('table', class_='mfd-table').find('tbody').find('td', class_='mfd-item-date').findNext('td').text.strip()[:7]) * 0.585
ugar = 0.03 
workprice = 150 
nds = 0.2

In [ ]:
costprice = (price_/(1-ugar)+workprice)*(1 + nds)

In [ ]:
stock_for_dash = stock.drop_duplicates(subset=['url'])

In [ ]:
data_all = pd.concat([data_all, df, stock_for_dash], ignore_index=True)

In [ ]:
data_all['markup'] = (data_all['price_personal'] / (costprice * data_all['weight'])) - 1

In [ ]:
data_all['markup'] = data_all['markup'].astype(str)
data_all = data_all[data_all['markup'] != 'inf']
data_all['markup'] = data_all['markup'].astype(float)

In [ ]:
data_all['date_'] = pd.to_datetime(date_now, dayfirst=True)

In [ ]:
data_all1 = data_all.drop(columns=['markup'])

In [ ]:
data_all1.to_sql('price_per_gramm', engine, schema = 'yura', if_exists='append', index = False)

904

In [ ]:
data_all = data_all.dropna(subset=['markup'])

In [ ]:
costprice_offline = data_all[data_all['competitor'] == '585*Золотой оффлайн'].groupby(by = 'tg', as_index = False)['markup'].mean()
costprice_offline.columns = ['tg', 'markup_a']

In [ ]:
costprice_ = data_all[data_all['competitor'] == 'Sunlight'].groupby(by = 'tg', as_index = False)['markup'].mean().\
    merge(data_all[data_all['competitor'] == 'Sokolov'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg').\
        merge(data_all[data_all['competitor'] == '585*Золотой'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg')

In [ ]:
costprice_ = costprice_.merge(costprice_offline, how='left', on='tg')

In [ ]:
costprice_

                tg  markup_x  markup_y  markup  markup_a
0        БК КОЛЬЦА      0.33      0.30    0.07      0.11
1  БК КОЛЬЦА ОБРУЧ      0.26      0.69    0.09      0.06
2  БК ПОДВЕС ДЕКОР      0.50      0.41    0.11      0.16
3  БК ПОДВЕС КУЛЬТ      0.39      0.43    0.19      0.17
4        БК СЕРЬГИ      0.43      0.30    0.20      0.17
5      ЦБ БРАСЛЕТЫ      0.33      0.57    0.26      0.18
6          ЦБ ЦЕПИ      0.31      0.88    0.26      0.17

In [ ]:
costprice_.columns = ['Товарная группа', 'Наценка Sunlight', 'Наценка Sokolov', 'Наценка 585*Золотой онлайн', 'Наценка 585*Золотой оффлайн']

In [ ]:
costprice_['Дата'] = pd.to_datetime(date_now, dayfirst=True)

In [ ]:
costprice_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Товарная группа              7 non-null      object
 1   Наценка Sunlight             7 non-null      float64
 2   Наценка Sokolov              7 non-null      float64
 3   Наценка 585*Золотой онлайн   7 non-null      float64
 4   Наценка 585*Золотой оффлайн  7 non-null      float64
 5   Дата                         7 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 468.0+ bytes

In [ ]:
costprice_

,Товарная группа,Наценка Sunlight,Наценка Sokolov,Наценка 585*Золотой онлайн,Наценка 585*Золотой оффлайн,Дата
0,БК КОЛЬЦА,0.33,0.30,0.07,0.11,2024-06-10
1,БК КОЛЬЦА ОБРУЧ,0.26,0.69,0.09,0.06,2024-06-10
2,БК ПОДВЕС ДЕКОР,0.50,0.41,0.11,0.16,2024-06-10
3,БК ПОДВЕС КУЛЬТ,0.39,0.43,0.19,0.17,2024-06-10
4,БК СЕРЬГИ,0.43,0.30,0.20,0.17,2024-06-10
5,ЦБ БРАСЛЕТЫ,0.33,0.57,0.26,0.18,2024-06-10
6,ЦБ ЦЕПИ,0.31,0.88,0.26,0.17,2024-06-10

In [ ]:
costprice_.to_sql('costprice_sklv_sl', engine, schema = 'yura', if_exists='append', index = False)

7

# 7. Обработка данных по продажам оффлайн и онлайн

Продажи 585*Золотой онлайн

In [ ]:
way = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Илларионов\Выгрузка Еком\\'

In [ ]:
data_IM = pd.read_excel(rf'{way}\{month_now}.{year_now}_продажи еком.xlsx')

In [ ]:
# смотрим продажи с последнего мониторинга
data = dt.datetime.isoweekday(dt.date.today())
if data == 1:
    last_monitoring = (dt.date.today() - dt.timedelta(days=3)).strftime('%Y-%m-%d')
else:
    last_monitoring = (dt.date.today() - dt.timedelta(days=2)).strftime('%Y-%m-%d')
    
data_IM = data_IM[data_IM['created'] >= f'{last_monitoring}']

In [ ]:
data_IM = data_IM.drop_duplicates()
data_IM = data_IM.reset_index(drop=True)

data_IM = data_IM[(data_IM['state_order'] != 'returned') & (data_IM['state_order'] != 'canceled')]
data_IM = data_IM[~((data_IM['delivery_type'] == 'PICKUP_NOW') & (data_IM['payment_type'] == 'CASHIER') & (data_IM['type_ibox'] == 'CASHIER'))|
                ((data_IM['delivery_type'] == 'PICKUP') & (data_IM['payment_type'] == 'CASHIER') & (data_IM['type_ibox'] == 'CASHIER'))]

In [ ]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'], format = '%Y-%m-%d')

In [ ]:
def str_float(row):
    row = str(row)
    row = row.replace(',','.')
    return row

data_IM['price'] = data_IM['price'].apply(str_float)
data_IM['price'] = data_IM['price'].astype(float)

data_IM['avg_net_weight'] = data_IM['avg_net_weight'].apply(str_float)
data_IM['avg_net_weight'] = data_IM['avg_net_weight'].astype(float)

In [ ]:
data_IM = data_IM[data_IM['price'] > 1].reset_index(drop=True)
data_IM = data_IM[data_IM['avg_net_weight'] > 0].reset_index(drop=True)

In [ ]:
data_IM['Товарное направление'] = np.where(
    data_IM['tg'].isin(['БК ПОДВЕС КУЛЬТ', 'БК СЕРЬГИ', 'БК КОЛЬЦА','БК КОЛЬЦА ОБРУЧ','БК ПОДВЕС ДЕКОР',  'БК ПЕЧАТКИ','БК АКСЕССУАРЫ','ОПТ БК']), 'БК',
    np.where(
        data_IM['tg'].isin(['ПДК СЕРЬГИ', 'ПДК КОЛЬЦА','ПДК ПОДВЕСКИ']), 'ПДК',
        np.where(
            data_IM['tg'].isin(['ДК СЕРЬГИ',  'ДК КОЛЬЦА',    'ДК ПОДВЕСКИ',    'ДК КОЛЬЦА ОБРУЧ']), 'ДК',
            np.where(
                data_IM['tg'].isin(['ИФ СЕРЬГИ',  'ИФ КОЛЬЦА', 'ИФ ПОДВЕС ДЕКОР', 'ИФ ПЕЧАТКИ', 'ИФ ПОДВЕС КУЛЬТ','ИФ КОЛЬЦА ОБРУЧ','ИФ АКСЕССУАРЫ']), 'ИФ',
                np.where(
                    data_IM['tg'].isin(['ЦБ ЦЕПИ', 'ЦБ БРАСЛЕТЫ']), 'ЦБ',
                    np.where(
                        data_IM['tg'].isin(['СИ ПОДВЕС БК','СИ КОЛЬЦО ИФ','СИ БРАСЛЕТ БК','СИ КОЛЬЦО БК','СИ ЦЕПЬ','СИ СЕРЬГИ БК','СИ СЕРЬГИ ИФ','СИ ПОДВЕС ИФ',
                                            'СИ СЕРЬГИ РАЗН','СИ СЕРЬГИ ЦВ/К',\
                                            'СИ КОЛЬЦО ЦВ/К','','СИ ШАРМЫ','СИ ОБРУЧАЛЬНОЕ','СИ КОЛЬЦО ПЕЧАТ','СИ ПОДВЕСЦВ/К','СИ БРАСЛЕТ СК','СИ ЖЕМЧУГ',\
                                            'СИ АКСЕССУАР','СИ ДФРС ПРОЕКТ','СИ КЕРАМИКА','СИ ПОСУДА','СИ ЯНТАРЬ','СИ ЭМАЛЬ','СИ ВЫРИЦА']), 'СИ',
                        np.where(data_IM['tg'].isin(['ЧАСЫ']), 'ЧАСЫ', 'другое'
                        )
                    )
                )
            )
        )
    )
)

data_IM['Товарное направление'].value_counts()

Товарное направление
СИ        326
БК        163
ИФ        150
ЦБ        116
ДК         72
ПДК        71
другое     66
Name: count, dtype: int64

In [ ]:
proverka = data_IM[data_IM['Товарное направление']=='другое']
proverka['tg'].unique()

array(['ОПТ ОБРУЧИ', 'ДК ПЕЧАТКИ', nan, 'ОПТ ПДК', 'СИ ПОДАРКИ КРОСС',
       'СИ ПОДВЕС\xa0ЦВ/К', 'СИ КОЛЬЕ БК', 'ВЫРИЦА СЕРЕБРО', 'ОПТ ИФ',
       'СИ КОЛЬЕ СК', 'СИ БРАСЛЕТ БК Декор', 'СИ СЕРЬГИ\xa0 ЦВ/К',
       'СИ БРАСЛЕТ ЦВ/К'], dtype=object)

In [ ]:
data_IM = data_IM[~(data_IM['name'].str.contains('каучук')|
                    data_IM['name'].str.contains('шнурок')|
                    data_IM['name'].str.contains('текстиль')|
                    data_IM['name'].str.contains('хлопок')|
                    data_IM['name'].str.contains('шелк')|
                    data_IM['name'].str.contains('на нитке')|
                    data_IM['name'].str.contains('кожа')|
                    data_IM['name'].str.contains('жемчуг'))]

In [ ]:
data_IM = data_IM[(data_IM['Товарное направление'].isin(['БК', 'ЦБ']))&((data_IM['proba'] == '585')|(data_IM['proba'] == 585.00))]

In [ ]:
data_IM['Товарное направление'].value_counts()

Товарное направление
БК    129
ЦБ     98
Name: count, dtype: int64

In [ ]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'], format='%Y-%m-%d')

In [ ]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'].apply(lambda x: x.strftime("%Y-%m-%d")))

In [ ]:
previous_date = data_IM['date_status_order_done'].min()
filtr_date = data_IM['date_status_order_done'].max()

In [ ]:
data_today = data_IM.query("date_status_order_done >= @previous_date")
data_today.head()

,id,created,name,state_order,recipient_phone,recipient_email,state_item,delivery_type,payment_type,employee_id,type_ibox,type_name,tov,kbk_recieve_delivery,avg_weight,avg_net_weight,materials,proba,design,type1,type3,tg,brand,vendor_article,number,price,client_type,date_status_order_done,date_status_item_returned,product_id,cost_price,shk,kbk_collect_delivery,manzana,percent_by_sku,manzana_for_item,price_wo_manzana,Товарное направление
0,002ae39f-2c5f-4751-a2ff-7b9020d5350e,2024-06-09 15:42:40.160,Золотое обручальное кольцо синтеринг 5 мм,done,79529860843.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,YANDEX_PAY,Яндекс пэй для мп,ТОВ0988070,6-04-106,2.23,2.23,NaN,585.00,ИФ ОБРУЧ СИНТЕРИНГ,КОЛЬЦО ОБРУЧАЛЬНОЕ,КБК,БК КОЛЬЦА ОБРУЧ,NaN,Т140619029,2406091542144,10040.00,MOBILE,2024-06-09,NaN,2948795,3486.71,2078317893170,6-04-106,0,0.00,0.00,10040.00,БК
3,00f0e285-f421-4f68-8fc3-4a0475fe535b,2024-06-08 11:16:10.028,Золотая подвеска Икона Казанской Божией Матери,done,79528200088.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,780d123b-1757-46ac-b738-477090d15ce6,TINKOFF_SBP,Тинькофф СБП,ТОВ1116583,6-04-076,0.70,0.70,NaN,585.00,ИФ ИКОНА,ПОДВЕС КУЛЬТОВЫЙ,КРАСНЫЙ,БК ПОДВЕС КУЛЬТ,NaN,35-0578Л-11-61,2406081116338,6024.00,MOBILE,2024-06-08,NaN,7956015,1982.84,2078600622179,6-04-076,1204,1.00,1204.00,4820.00,БК
5,020156db-d793-4912-82d5-fa6db9516b1c,2024-06-07 06:07:06.738,Золотая пустотелая цепочка Якорь,done,79502029625.00,irinabezrukova208@gmail.com,done,PICKUP_NOW,YANDEX_KASSA,NaN,TINKOFF_SBP,Тинькофф СБП,ТОВ01260430,4-01-061,1.05,1.05,NaN,585.00,ЯКОРЬ ПУСТ,ЦЕПЬ,КРАСНЫЙ,ЦБ ЦЕПИ,NaN,31-00-0035-30555,2406070607927,9384.00,MOBILE,2024-06-07,NaN,8378875,3797.95,2078606888550,4-01-061,1876,0.78,1470.22,7913.78,ЦБ
6,020e7916-1654-4e38-ad81-01159e39b7a9,2024-06-08 06:54:24.844,Золотая серьга,done,79245305130.00,margoritik55@mail.ru,done,DELIVERY,YANDEX_KASSA,NaN,SBER,[YANDEX_KASSA] SBER - URL,ТОВ1279149,marketplace_feab1ac617bb4d5b94f8dd87095bd0d5,0.42,0.42,NaN,585.00,ИФ ПУССЕТЫ,СЕРЬГИ,ЖЕЛТЫЙ,ОПТ БК,NaN,17-20-0000-80126#ТД,2406080654834,2976.00,MOBILE,2024-06-09,NaN,1725441,973.66,2078604320068,2-09-149,595,1.00,595.00,2381.00,БК
7,0221c7c6-3051-41be-9659-0bc7a9f4f52e,2024-06-08 10:06:04.106,Золотой полновесный браслет Двойной панцирь с ...,done,79041019526.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,TINKOFF_SBP,Тинькофф СБП,ТОВ1049269,1-02-004,1.52,1.52,NaN,585.00,ПАНЦИРЬ ДВОЙНОЙ,БРАСЛЕТ,КРАСНЫЙ,ЦБ БРАСЛЕТЫ,NaN,40-01-0035-30222,2406081006275,10656.00,MOBILE,2024-06-08,NaN,4041097,2377.29,2078360956594,1-02-004,2131,1.00,2131.00,8525.00,ЦБ

In [ ]:
data_today['цена за гр'] = data_today['price_wo_manzana'] / data_today['avg_weight']
data_today['цена за гр'].describe()

count    227.00
mean    6497.68
std      950.74
min     4429.55
25%     5869.92
50%     6327.78
75%     7123.43
max     9314.29
Name: цена за гр, dtype: float64

In [ ]:
data_today['avg_weight'].describe()

count   227.00
mean      2.62
std       2.08
min       0.21
25%       1.21
50%       2.23
75%       3.33
max      14.82
Name: avg_weight, dtype: float64

In [ ]:
data_today = data_today[~data_today['tg'].str.contains('ОПТ БК|БК ПЕЧАТКИ|ОПТ КОНГО')]

In [ ]:
data_today = data_today[~data_today['client_type'].str.contains('OZON')]

In [ ]:
print('Средняя цена продажи еком: ', (data_today['price_wo_manzana'].sum()/data_today['avg_weight'].sum()).round(0))

Средняя цена продажи еком:  6332.0

In [ ]:
data_today.to_excel(rf'{report_folder}\Данные по продажам\Продажи онлайн_{date_now}.xlsx', index=False)

In [ ]:
tn = data_today.groupby('tg', as_index=False)[['price_wo_manzana', 'avg_weight', 'cost_price']].agg('sum')
tn['price_gramm'] = (tn['price_wo_manzana'] / tn['avg_weight']).round(0)

In [ ]:
tn['price_gramm'] = tn['price_gramm'].astype('int')
tn['Наценка продажи онлайн'] =  tn['price_wo_manzana'] / tn['cost_price'] - 1

In [ ]:
markup_sales = tn[['tg', 'Наценка продажи онлайн']]

In [ ]:
tn = tn.drop(columns=['price_wo_manzana', 'avg_weight', 'cost_price', 'Наценка продажи онлайн'])
tn.columns = ['tg', '585*Золотой онлайн продажи']

In [ ]:
result = result.merge(tn, how='left', on='tg')

Продажи 585*Золотой оффлайн

In [ ]:
# иногда здесь скрипт может отвалиться, потому что с продажами оффлайн очень часто работает кто-то, поэтому можно прочитать его вручную указав актуальный путь

# path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Выгрузки из DWH\Продажи по КБК из DWH new\\'
# list_of_files = glob.glob(path + '\*.xlsx') 
# latest_file = max(list_of_files, key=os.path.getctime)

# df_dwh = pd.read_excel(latest_file)

df_dwh = pd.read_excel(r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Выгрузки из DWH\Продажи по КБК из DWH new\2024-06-01_2024-06-09.xlsx')

In [ ]:
latest_file

'\\\\gold585.int\\uk\\Общее хранилище файлов\\Служба аналитики\\Выгрузки из DWH\\Продажи по КБК из DWH new\\2024-05-20_2024-05-31.xlsx'

In [ ]:
# мы смотрим продажи со времени последнего мониторинга, для этого определяем день недели и в зависимости от этого получаем новые данные
data = dt.datetime.isoweekday(dt.date.today())
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')
if data == 1:
    last_monitoring = (dt.date.today() - dt.timedelta(days=3)).strftime('%Y-%m-%d')
else:
    last_monitoring = (dt.date.today() - dt.timedelta(days=2)).strftime('%Y-%m-%d')
    
df_dwh = df_dwh[df_dwh['Дата'] >= f'{last_monitoring}']

In [ ]:
df_dwh['Товарная группа'].str.contains('ЦБ|БК').value_counts()

Товарная группа
False    37193
True     14360
Name: count, dtype: int64

In [ ]:
df_dwh = df_dwh[(df_dwh['Товарное направление'].isin(['БК', 'ЦБ'])) & (df_dwh['Проба'] == 585.0)]

In [ ]:
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('каучук')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('шнурок')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('текстиль')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('хлопок')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('шелк')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('на нитке')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('кожа')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('жемчуг')))]

In [ ]:
df_dwh['Дата'] = pd.to_datetime(df_dwh['Дата'], format='%Y-%m-%d')
df_dwh['Дата'] = pd.to_datetime(df_dwh['Дата'].apply(lambda x: x.strftime("%Y-%m-%d")))

In [ ]:
filtr_date = df_dwh['Дата'].max()

In [ ]:
df_dwh = df_dwh.query("`Дата` <= @filtr_date")

In [ ]:
tn = df_dwh.groupby(by = 'Товарная группа', as_index= False)[['Себестоимость', 'Вес', 'Общая сумма']].agg('sum')
tn['Наценка продажи оффлайн'] =  tn['Общая сумма'] / tn['Себестоимость'] - 1
tn = tn[~tn['Товарная группа'].str.contains('ОПТ БК|БК ПЕЧАТКИ|ОПТ КОНГО|ОПТ ОБРУЧИ')]
tn['price_per_gramm'] = ((tn['Общая сумма'] / tn['Вес']).round(0))

In [ ]:
tn['price_per_gramm'] = tn['price_per_gramm'].replace(',', '')
tn['price_per_gramm'] = tn['price_per_gramm'].astype('int')

In [ ]:
print('Средняя цена продажи оффлайн: ', (tn['Общая сумма'].sum() / tn['Вес'].sum()).round(0))

Средняя цена продажи оффлайн:  6527.0

In [ ]:
tn.columns = ['tg', 'cost', 'weight', 'price', 'Наценка продажи оффлайн', 'price_per_gramm']

In [ ]:
offline_markup = tn[['tg', 'Наценка продажи оффлайн']]

In [ ]:
markup_sales = markup_sales.merge(offline_markup, how='left', on='tg')

In [ ]:
tn = tn.drop(columns=['cost', 'weight', 'price', 'Наценка продажи оффлайн'])
tn.columns = ['tg', '585*Золотой оффлайн продажи']

In [ ]:
result = result.merge(tn, how='left', on='tg')

In [ ]:
result

,tg,Sokolov,Sunlight,585*Золотой онлайн остатки 40%+20%,585*Золотой оффлайн остатки 40%+20%,585*Золотой онлайн продажи,585*Золотой оффлайн продажи
0,БК КОЛЬЦА,6483.32,6771.41,5476.66,6065.91,5765,6473
1,БК КОЛЬЦА ОБРУЧ,8507.11,6323.87,5493.16,5905.31,5986,6057
2,БК ПОДВЕС ДЕКОР,6726.01,7288.31,5548.13,6249.62,6651,6995
3,БК ПОДВЕС КУЛЬТ,6764.13,7072.87,5898.34,6115.20,7194,6912
4,БК СЕРЬГИ,6382.26,7155.61,5990.92,6013.64,6515,6970
5,ЦБ БРАСЛЕТЫ,7586.54,6400.00,6500.69,5992.16,6445,6540
6,ЦБ ЦЕПИ,8859.18,5988.43,6537.42,6068.55,6491,6633

In [ ]:
markup_sales

                tg  Наценка продажи онлайн  Наценка продажи оффлайн
0        БК КОЛЬЦА                    0.98                     1.36
1  БК КОЛЬЦА ОБРУЧ                    1.23                     1.08
2  БК ПОДВЕС ДЕКОР                    1.09                     1.24
3  БК ПОДВЕС КУЛЬТ                    1.38                     1.24
4        БК СЕРЬГИ                    0.93                     1.24
5      ЦБ БРАСЛЕТЫ                    1.14                     0.98
6          ЦБ ЦЕПИ                    1.07                     1.06

In [ ]:
markup_sales = markup_sales.rename(columns={markup_sales.columns[0]: 'Товарная группа'})
result = result.rename(columns={result.columns[0]: 'Товарная группа'})

In [ ]:
result.to_excel(rf'{report_folder}\Таблица ТГ для письма_{date_now}.xlsx', index= False)
markup_sales.to_excel(rf'{report_folder}\Наценка продажи\Наценка продажи оффлайн+онлайн_{date_now}.xlsx', index=False)

In [ ]:
# !jupyter nbconvert --to script eda_every_days.ipynb