In [1]:
from sqlalchemy import create_engine, text
from bs4 import BeautifulSoup as bs
import datetime as dt
import pandas as pd
import numpy as np
import warnings
import requests
import pymssql
import locale
import glob
import os

warnings.filterwarnings('ignore')
pd.set_option('use_inf_as_na', True)
pd.options.display.max_columns = None
pd.set_option('float_format', '{:.2f}'.format)
locale.setlocale(locale.LC_ALL, 'ru_RU.UTF-8')

'ru_RU.UTF-8'

In [2]:
report_folder = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\Мониторинг Sokolov и Sunlight'

In [3]:
engine = create_engine('postgresql://sergei:S714801t@51.250.54.232:5432/dldb')

In [4]:
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')
month_now = dt.datetime.now().month
day_now = dt.datetime.now().day 
year_now = dt.datetime.now().year

In [5]:
way = os.getcwd()

# 1. Sokolov

In [6]:
df_sokolov = pd.read_csv(rf'{way}\sokolov\parsed_data\result\bk_sokolov_{date_now}.csv')

In [7]:
df_sokolov.sample(5)

,data,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,article
350,19.06.2024,Sokolov,Серьги из комбинированного золота,earrings,1.9 г,21600,47990,Второе золотое украшение БЕСПЛАТНО! 1 = 2,Без вставок,Комбинированное золото 585 пробы,NaN,029496
1411,19.06.2024,Sokolov,Серьги из желтого золота,earrings,2.48 г,30600,67990,Второе золотое украшение БЕСПЛАТНО! 1 = 2,Без вставок,Жёлтое золото 585 пробы,Английский,027196-2
540,19.06.2024,Sokolov,Серьги из золота,earrings,1.77 г,23400,51990,Второе золотое украшение БЕСПЛАТНО! 1 = 2,Без вставок,Красное золото 585 пробы,Английский,029986
920,19.06.2024,Sokolov,"Браслет из золота, плетение ромб тройной, 585 ...",bracelets,5.47 г,81000,179990,NaN,Без вставок,Красное золото 585 пробы,Ромб тройной,551100602
907,19.06.2024,Sokolov,"Обручальное кольцо из золота, 6 мм, с алмазной...",rings,2.86 г,36000,79990,NaN,Без вставок,Красное золото 585 пробы,NaN,111215

In [8]:
# df_sokolov['article'] = 'https://sokolov.ru/jewelry-catalog/product/' + df_sokolov['article']
# df_sokolov['article'] = df_sokolov['article'] + '/'

df_sokolov.columns = ['date', 'competitor', 'name', 'group', 'weight', 'price', 'price_old',
                    'discount', 'insert', 'metal', 'lock_type_or_weaving_type', 'url']

In [9]:
df_sokolov['discount'].value_counts(dropna=False)

discount
Второе золотое украшение БЕСПЛАТНО! 1 = 2                     1202
NaN                                                            257
Дополнительная скидка по акции «FLASH-РАСПРОДАЖА» ЕЩЁ -10%      37
Дополнительная скидка по акции «FLASH-РАСПРОДАЖА» ЕЩЁ -20%      16
Name: count, dtype: int64

In [10]:
df_sokolov['discount_for_dash'] = df_sokolov['discount']
df_sokolov['discount_for_dash'] = df_sokolov['discount_for_dash'].fillna('нет скидочного купона')

In [11]:
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] == 0:
        df_sokolov['discount_for_dash'][i] = 'ШОК-ЦЕНА'

In [12]:
def discount_value(discount):
    '''у Sokolov купоны имеют скидку до 30%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '10%' in discount:
        return 0.9
    elif '15%' in discount:
        return 0.85
    elif '20%' in discount:
        return 0.8
    elif '25%' in discount:
        return 0.75
    elif '30%' in discount:
        return 0.7
    elif 'Второе золотое' in discount:
        return 0.5
    return 1

df_sokolov['discount'] = df_sokolov['discount'].fillna('1')
df_sokolov['discount'] = df_sokolov['discount'].apply(discount_value)

In [13]:
df_sokolov['weight'] = df_sokolov['weight'].str.replace(' г', '')
df_sokolov['weight'] = df_sokolov['weight'].astype('float')

In [14]:
df_sokolov['metal'].value_counts()

metal
Красное золото 585 пробы            1199
Жёлтое золото 585 пробы              118
Комбинированное золото 585 пробы     110
Белое золото 585 пробы                77
Красное золото 375 пробы               7
Золото 585 пробы                       1
Name: count, dtype: int64

In [15]:
df_sokolov['price'].isna().sum()

0

In [16]:
df_sokolov = df_sokolov.dropna(subset=['price'])

In [17]:
# применяем скидку для первоначальной цены
df_sokolov['price'] = np.where(
    df_sokolov['discount'] == 0.5, df_sokolov['price'] * df_sokolov['discount'],
    np.where(
        df_sokolov['discount_for_dash'] == 'ШОК-ЦЕНА', df_sokolov['price'], df_sokolov['price'] * 0.7
    )
)

In [18]:
# для расчета персональной стоимости нужно выделить изделия для которых применины баллы. Для этого в парсинге цен используються cookies аккаунта с баллами (любым кол-вом).
# чтобы определить если ли персональная цена сравниваются 2 столба "price_old" и "price".
# если "price_old" равен нулю, значит этот товар является товаром из списка ШОК-цен, на них не распространяются бонусные баллы
# в противном случае мы можем списать до 30% от стоимости товара бонусными баллами
# мы считаем, что пользователь может использовать программу лояльности по-максимуму

In [19]:
df_sokolov.sample(10)

,date,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,url,discount_for_dash
1107,19.06.2024,Sokolov,"Цепь из золота, плетение Сингапур, 585 проба",chains,4.08,34020.00,107990,1.00,Без вставок,Красное золото 585 пробы,Сингапур,581060352,нет скидочного купона
444,19.06.2024,Sokolov,Серьги конго из золота с алмазной гранью,earrings,0.62,5175.00,22990,0.50,Без вставок,Красное золото 585 пробы,0.62 г,140011,Второе золотое украшение БЕСПЛАТНО! 1 = 2
431,19.06.2024,Sokolov,Крест из комбинированного золота с алмазной гр...,pendants,2.00,15750.00,69990,0.50,Без вставок,Комбинированное золото 585 пробы,NaN,121395,Второе золотое украшение БЕСПЛАТНО! 1 = 2
850,19.06.2024,Sokolov,Серьги конго из золота с алмазной гранью,earrings,1.81,10575.00,46990,0.50,Без вставок,Красное золото 585 пробы,1.81 г,140155,Второе золотое украшение БЕСПЛАТНО! 1 = 2
1466,19.06.2024,Sokolov,Кольцо из желтого золота,rings,2.55,18675.00,82990,0.50,Без вставок,Жёлтое золото 585 пробы,NaN,019417-2,Второе золотое украшение БЕСПЛАТНО! 1 = 2
1333,19.06.2024,Sokolov,Крест из золота,pendants,0.89,6075.00,26990,0.50,Без вставок,Красное золото 585 пробы,NaN,121410,Второе золотое украшение БЕСПЛАТНО! 1 = 2
1314,19.06.2024,Sokolov,Колье из золота,necklaces,1.26,9675.00,42990,0.50,Без вставок,Красное золото 585 пробы,NaN,070594,Второе золотое украшение БЕСПЛАТНО! 1 = 2
1205,19.06.2024,Sokolov,Серьги из золота,earrings,2.38,15300.00,67990,0.50,Без вставок,Красное золото 585 пробы,NaN,0200238,Второе золотое украшение БЕСПЛАТНО! 1 = 2
277,19.06.2024,Sokolov,Кольцо из золота с алмазной гранью,rings,1.43,10800.00,47990,0.50,Без вставок,Красное золото 585 пробы,NaN,017243,Второе золотое украшение БЕСПЛАТНО! 1 = 2
121,19.06.2024,Sokolov,"Цепь из золота, плетение Якорное, 585 проба",chains,5.15,45675.00,144990,1.00,Без вставок,Красное золото 585 пробы,Якорное,582030808,нет скидочного купона

In [20]:
no_discount = 0
df_sokolov['discount_flag'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] != 0:
        df_sokolov['discount_flag'][i] = df_sokolov['price'][i] * 0.3
    else:
        df_sokolov['discount_flag'][i] = no_discount

In [21]:
df_sokolov['price_personal'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['discount_flag'][i] <= (df_sokolov['price'][i] * 0.3):
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - df_sokolov['discount_flag'][i]
    else:
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - (df_sokolov['price'][i] * 0.3)

In [22]:
df_sokolov = df_sokolov.drop(columns=['discount_flag'], axis=1)

In [23]:
df_sokolov['price'].isna().sum()

0

In [24]:
df_sokolov['price_personal'] = df_sokolov['price']

In [25]:
df_sokolov

,date,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,url,discount_for_dash,price_personal
0,19.06.2024,Sokolov,Кольцо обручальное из белого золота,rings,1.60,12990.00,0,1.00,Без вставок,Белое золото 585 пробы,1.6 г,110260-3,ШОК-ЦЕНА,12990.00
1,19.06.2024,Sokolov,Кольцо обручальное из золота,rings,1.61,12990.00,0,1.00,Без вставок,Красное золото 585 пробы,1.61 г,110260,ШОК-ЦЕНА,12990.00
2,19.06.2024,Sokolov,Кольцо обручальное из золота,rings,1.63,12990.00,0,1.00,Без вставок,Красное золото 585 пробы,1.63 г,110261,ШОК-ЦЕНА,12990.00
3,19.06.2024,Sokolov,Кольцо из белого золота,rings,1.61,12990.00,0,1.00,Без вставок,Белое золото 585 пробы,1.61 г,110262-3,ШОК-ЦЕНА,12990.00
4,19.06.2024,Sokolov,Подвеска из золота,pendants,0.13,990.00,0,1.00,Без вставок,Красное золото 585 пробы,NaN,036439,ШОК-ЦЕНА,990.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,19.06.2024,Sokolov,Серьги из золота,earrings,1.05,6075.00,26990,0.50,Без вставок,Красное золото 585 пробы,Французский,028539,Второе золотое украшение БЕСПЛАТНО! 1 = 2,6075.00
1508,19.06.2024,Sokolov,Серьги из желтого золота,earrings,2.85,14175.00,62990,0.50,Без вставок,Жёлтое золото 585 пробы,Английский,028569-2,Второе золотое украшение БЕСПЛАТНО! 1 = 2,14175.00
1509,19.06.2024,Sokolov,Серьги из золота,earrings,0.95,6300.00,27990,0.50,Без вставок,Красное золото 585 пробы,Французский,028588,Второе золотое украшение БЕСПЛАТНО! 1 = 2,6300.00
1510,19.06.2024,Sokolov,Серьги из желтого золота,earrings,0.85,4725.00,20990,0.50,Без вставок,Жёлтое золото 585 пробы,Французский,028622-2,Второе золотое украшение БЕСПЛАТНО! 1 = 2,4725.00
1511,19.06.2024,Sokolov,Серьги из желтого золота,earrings,4.80,27000.00,119990,0.50,Без вставок,Жёлтое золото 585 пробы,Английский,028664-2,Второе золотое украшение БЕСПЛАТНО! 1 = 2,27000.00

In [26]:
df_sokolov['price_per_gramm'] = (df_sokolov['price_personal'] / df_sokolov['weight']).round(0)
df_sokolov['name'] = df_sokolov['name'].str.lower()

In [27]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sokolov['tg'] = np.where(
    ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка'))), 'ПОДВЕС КУЛЬТ',
    np.where(
        ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка') == False) | (df_sokolov['name'].str.contains('колье'))), 'ПОДВЕС ДЕКОР', 
        np.where(
            ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ', 
            np.where(
                ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное')==False)), 'КОЛЬЦА', 
                np.where(
                    (df_sokolov['group'] == 'bracelets'), 'БРАСЛЕТЫ',
                    np.where(
                        (df_sokolov['group'] == 'chains'), 'ЦЕПИ', 
                        np.where(
                            ((df_sokolov['group'] == 'earrings')| (df_sokolov['name'].str.contains('пирсинг'))), 'СЕРЬГИ', np.nan)
                    )
                )
            )
        )
    )
)

In [28]:
df_sokolov[df_sokolov['tg'] == 'nan']['name'].value_counts()

name
брошь из золота                          8
золотая звезда на погоны                 2
шнур декоративный                        2
кожаный шнурок с золотым замком          2
шнур декоративный                        1
брошь-булавка  из золота                 1
сувенир из золота                        1
текстильный шнурок с замком из золота    1
крестильный набор из золота              1
Name: count, dtype: int64

In [29]:
df_sokolov = df_sokolov[df_sokolov['tg'] != 'nan'] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [30]:
df_sokolov['tn'] = np.where(
    ((df_sokolov['insert'].str.lower().str.contains('выраще|синте|искусств')) & (df_sokolov['insert'].str.lower().str.contains('бриллиант') == False)), 'ПДК',
    np.where(
        (df_sokolov['insert'].str.lower().str.contains('бриллиант|сапфир|рубин|изумруд') & (df_sokolov['insert'].str.lower().str.contains('выращ|искусств|синтети') == False)), 'ДК',
        np.where(
            df_sokolov['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ',
            np.where(
                df_sokolov['insert'] == 'Без вставок', 'БК', 
                np.where(
                    df_sokolov['insert'].str.lower().str.contains('фианит|бриллиант'), 'ИФ', 'ПДК'
                )
            )
        )
    )
)

In [31]:
df_sokolov['tg'] = df_sokolov['tn'] + ' ' + df_sokolov['tg']

In [32]:
df_sokolov['tg'].value_counts(dropna=False)

tg
БК СЕРЬГИ          490
БК КОЛЬЦА          278
БК ПОДВЕС ДЕКОР    217
ЦБ БРАСЛЕТЫ        167
ЦБ ЦЕПИ            135
БК КОЛЬЦА ОБРУЧ    116
БК ПОДВЕС КУЛЬТ     90
Name: count, dtype: int64

In [33]:
df_sokolov['price_case'] = np.where(
    df_sokolov['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sokolov['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sokolov['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sokolov['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sokolov['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sokolov['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sokolov['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [34]:
df_sokolov['price_per_gramm'].describe([0.05, 0.95])

count    1493.00
mean     7260.29
std      1397.19
min      3984.00
5%       5353.80
50%      7062.00
95%     10050.80
max     12013.00
Name: price_per_gramm, dtype: float64

In [35]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url', 'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]

In [36]:
df_sokolov['num_shop'] = '_' + df_sokolov['competitor']
df_sokolov['num_diap'] = df_sokolov['price_case']

In [37]:
df_sokolov.sample(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case,num_shop,num_diap
1311,19.06.2024,Sokolov,браслет из золота,bracelets,051512,7985.00,0.50,1.05,Второе золотое украшение БЕСПЛАТНО! 1 = 2,7605.00,ЦБ БРАСЛЕТЫ,7 000 руб. - 8 000 руб.,_Sokolov,7 000 руб. - 8 000 руб.
1186,19.06.2024,Sokolov,браслет из золота,bracelets,051434,34875.00,0.50,4.90,Второе золотое украшение БЕСПЛАТНО! 1 = 2,7117.00,ЦБ БРАСЛЕТЫ,7 000 руб. - 8 000 руб.,_Sokolov,7 000 руб. - 8 000 руб.
1152,19.06.2024,Sokolov,кольцо из золота,rings,019437,19125.00,0.50,2.88,Второе золотое украшение БЕСПЛАТНО! 1 = 2,6641.00,БК КОЛЬЦА,6 500 руб. - 7 000 руб.,_Sokolov,6 500 руб. - 7 000 руб.
298,19.06.2024,Sokolov,кольцо из золота,rings,019000,24750.00,0.50,4.10,Второе золотое украшение БЕСПЛАТНО! 1 = 2,6037.00,БК КОЛЬЦА,6 000 руб. - 6 500 руб.,_Sokolov,6 000 руб. - 6 500 руб.
844,19.06.2024,Sokolov,крест из комбинированного золота,pendants,121486,7425.00,0.50,1.28,Второе золотое украшение БЕСПЛАТНО! 1 = 2,5801.00,БК ПОДВЕС КУЛЬТ,5 500 руб. - 6 000 руб.,_Sokolov,5 500 руб. - 6 000 руб.

In [38]:
df_sokolov['discount_for_dash'].value_counts()

discount_for_dash
Второе золотое украшение БЕСПЛАТНО! 1 = 2                     1183
нет скидочного купона                                          242
Дополнительная скидка по акции «FLASH-РАСПРОДАЖА» ЕЩЁ -10%      37
Дополнительная скидка по акции «FLASH-РАСПРОДАЖА» ЕЩЁ -20%      16
ШОК-ЦЕНА                                                        15
Name: count, dtype: int64

In [39]:
df_sokolov['price_per_gramm'].describe().round(0)

count    1493.00
mean     7260.00
std      1397.00
min      3984.00
25%      6250.00
50%      7062.00
75%      8008.00
max     12013.00
Name: price_per_gramm, dtype: float64

In [40]:
Sokolov = df_sokolov['price_personal'].sum() / df_sokolov['weight'].sum().round(0)
print(Sokolov)

7304.082922824302

In [41]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url',
       'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm',
       'tg', 'price_case']]

In [42]:
df_sokolov.sample(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
272,19.06.2024,Sokolov,кольцо из золота,rings,019255,10800.00,0.50,1.75,Второе золотое украшение БЕСПЛАТНО! 1 = 2,6171.00,БК КОЛЬЦА,6 000 руб. - 6 500 руб.
283,19.06.2024,Sokolov,кольцо из золота с алмазной гранью,rings,017488,8550.00,0.50,1.43,Второе золотое украшение БЕСПЛАТНО! 1 = 2,5979.00,БК КОЛЬЦА,5 500 руб. - 6 000 руб.
1114,19.06.2024,Sokolov,кольцо на фалангу из золота,rings,019282,5175.00,0.50,0.63,Второе золотое украшение БЕСПЛАТНО! 1 = 2,8214.00,БК КОЛЬЦА,8 000 руб. - 9 000 руб.
875,19.06.2024,Sokolov,серьги из золота,earrings,027717,13950.00,0.50,2.16,Второе золотое украшение БЕСПЛАТНО! 1 = 2,6458.00,БК СЕРЬГИ,6 000 руб. - 6 500 руб.
600,19.06.2024,Sokolov,кольцо из белого золота,rings,018853-3,13050.00,0.50,2.14,Второе золотое украшение БЕСПЛАТНО! 1 = 2,6098.00,БК КОЛЬЦА,6 000 руб. - 6 500 руб.

# 2. Sunlight

In [43]:
df_sunlight = pd.read_csv(fr'{way}\sunlight\parsed_data\result\bk_sunlight_{date_now}.csv')

In [44]:
df_sunlight = df_sunlight.drop(columns=['index'])

In [45]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount
0,19.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
1,19.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
2,19.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
3,19.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
4,19.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']

In [46]:
def get_params_from_dic(df):
    '''функция для разделения столбца "params" на отдельные столбцы'''
    spisok = []                                                           
    for c in df['params']:
        for i in c.keys():                                
            spisok.append(i)              
    spisok = set(spisok)
    for s in spisok:
        z = []
        for j in df['params']:
            try:
                z.append(j[s])
            except:
                z.append(np.nan)
        df[s] = z
        
    return df

In [47]:
df_sunlight['group'].unique()

array(['Серьги', 'Крест-подвеска', 'Подвески', 'Кольца', 'Колье', 'Цепи',
       'Браслеты', 'Шейное украшение', 'Серьга', 'Ножной браслет',
       'Брошь', 'Пирсинг', 'Запонки', 'Булавка', 'Зажимы для галстука',
       'Брелоки'], dtype=object)

In [48]:
# чтобы функция написанная выше работала, необходимо, чтобы столбец params стал снова словарем, это происходит благодаря функции eval()
df_sunlight['params'] = df_sunlight['params'].apply(lambda x: eval(x))
get_params_from_dic(df_sunlight)

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount,Диаметр серег,Вес изделия,Плетение,Покрытие,Ширина кольца,Вставка,Модель,Ширина браслета,Ширина цепи,Страна производства,Материал изделия
0,19.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,2.36 г,NaN,NaN,NaN,NaN,10-00-0000-27628*,NaN,NaN,Россия,Розовое золото
1,19.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,2.36 г,NaN,NaN,NaN,NaN,10-00-0000-27628*,NaN,NaN,Россия,Розовое золото
2,19.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,2.36 г,NaN,NaN,NaN,NaN,10-00-0000-27628*,NaN,NaN,Россия,Розовое золото
3,19.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,2.36 г,NaN,NaN,NaN,NaN,10-00-0000-27628*,NaN,NaN,Россия,Розовое золото
4,19.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,2.36 г,NaN,NaN,NaN,NaN,10-00-0000-27628*,NaN,NaN,Россия,Розовое золото
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4918,19.06.2024,Sunlight,\n Золотое шейное украшение\n,Шейное украшение,"{'Модель': '006-0029-0000-010*', 'Материал изд...",25250,993614,https://sunlight.net/catalog/neck_decoration_9...,50 500 ₽,25 250 ₽,15 150 ₽,"['Цены 8 марта! Ещё -10%, код: МАРТ до 20.06']",NaN,2.63 г,NaN,NaN,NaN,NaN,006-0029-0000-010*,NaN,NaN,Россия,Розовое золото
4919,19.06.2024,Sunlight,\n Золотое шейное украшение\n,Шейное украшение,"{'Модель': '006-0026-0000-010*', 'Материал изд...",22880,993611,https://sunlight.net/catalog/neck_decoration_9...,45 760 ₽,22 880 ₽,13 728 ₽,"['Цены 8 марта! Ещё -10%, код: МАРТ до 20.06']",NaN,2.46 г,NaN,NaN,NaN,NaN,006-0026-0000-010*,NaN,NaN,Россия,Розовое золото
4920,19.06.2024,Sunlight,\n Золотое шейное украшение\n,Шейное украшение,"{'Модель': '006-0066-0000-010*', 'Материал изд...",167610,992452,https://sunlight.net/catalog/neck_decoration_9...,335 220 ₽,167 610 ₽,139 610 ₽,"['Цены 8 марта! Ещё -10%, код: МАРТ до 20.06']",NaN,22.65 г,NaN,NaN,NaN,NaN,006-0066-0000-010*,NaN,NaN,Россия,Розовое золото
4921,19.06.2024,Sunlight,\n Золотое шейное украшение\n,Шейное украшение,"{'Модель': '00354-50-030001-00*', 'Материал из...",48150,992229,https://sunlight.net/catalog/neck_decoration_9...,96 300 ₽,48 150 ₽,28 890 ₽,"['Цены 8 марта! Ещё -5%, код: МАРТ до 20.06']",NaN,3.62 г,NaN,NaN,NaN,NaN,00354-50-030001-00*,NaN,NaN,Россия,Желтое золото
4922,19.06.2024,Sunlight,\n Золотое шейное украшение\n,Шейное украшение,"{'Модель': '00353-50-030001-00*', 'Материал из...",39930,992227,https://sunlight.net/catalog/neck_decoration_9...,79 860 ₽,39 930 ₽,23 958 ₽,"['Цены 8 марта! Ещё -10%, код: МАРТ до 20.06']",NaN,3.3 г,NaN,NaN,NaN,NaN,00353-50-030001-00*,NaN,NaN,Россия,Желтое золото

In [49]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount,Диаметр серег,Вес изделия,Плетение,Покрытие,Ширина кольца,Вставка,Модель,Ширина браслета,Ширина цепи,Страна производства,Материал изделия
0,19.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,2.36 г,NaN,NaN,NaN,NaN,10-00-0000-27628*,NaN,NaN,Россия,Розовое золото
1,19.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,2.36 г,NaN,NaN,NaN,NaN,10-00-0000-27628*,NaN,NaN,Россия,Розовое золото
2,19.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,2.36 г,NaN,NaN,NaN,NaN,10-00-0000-27628*,NaN,NaN,Россия,Розовое золото
3,19.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,2.36 г,NaN,NaN,NaN,NaN,10-00-0000-27628*,NaN,NaN,Россия,Розовое золото
4,19.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,2.36 г,NaN,NaN,NaN,NaN,10-00-0000-27628*,NaN,NaN,Россия,Розовое золото

In [50]:
df_sunlight['Материал изделия'].value_counts(dropna=False)

Материал изделия
Розовое золото                                 3523
Желтое золото                                   638
Белое золото, Розовое золото                    375
Белое золото                                    196
NaN                                             112
Текстиль                                         26
Белое золото, Желтое золото                      20
Белое золото, Желтое золото, Розовое золото      17
Желтое золото, Розовое золото                    11
Серебро                                           5
Name: count, dtype: int64

In [51]:
df_sunlight['Материал изделия'] = df_sunlight['Материал изделия'].fillna('золото')

In [52]:
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Серебро'))]
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Текстиль'))]

In [53]:
df_sunlight = df_sunlight.drop(columns=['params', 'price_x', 'url',
                                'Ширина кольца', 'Страна производства',
                                'Ширина цепи', 'Плетение', 'Ширина браслета',
                                'Модель', 'Диаметр серег', 'Вставка', 'Покрытие', 'Материал изделия'], axis=1)

In [54]:
df_sunlight.columns

Index(['date', 'competitor', 'name', 'group', 'article', 'price_old',
       'price_y', 'price_personal', 'discount', 'Вес изделия'],
      dtype='object')

In [55]:
# переименновываем столбцы, чтобы у всех таблиц была единая система
df_sunlight.columns = ['date', 'competitor', 'name', 'group', 'url', 'price_old',
                    'price', 'price_personal', 'discount', 'weight']

In [56]:
df_sunlight['price_personal'].isna().sum()

1443

In [57]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].fillna(df_sunlight['price'])

In [58]:
df_sunlight['weight'] = df_sunlight['weight'].str.replace(' г', '')
df_sunlight['name'] = df_sunlight['name'].str.replace('\n', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].astype('float')
df_sunlight['price_personal'] = df_sunlight['price_personal'].astype('float')
df_sunlight['discount_for_dash'] = df_sunlight['discount']

In [59]:
df_sunlight['discount_for_dash'].isna().sum()

0

In [60]:
df_sunlight['discount_for_dash'].value_counts()

discount_for_dash
['Цены 8 марта! Ещё -10%, код: МАРТ до 20.06']                                                                            2821
['ХИТ-цена']                                                                                                              1199
['Цены 8 марта! Ещё -5%, код: МАРТ до 20.06']                                                                              262
['ХИТ-цена', 'Выгодно! Золото 5 290 р/г']                                                                                  233
['Цены 8 марта! Ещё -15%, код: МАРТ до 20.06']                                                                             196
['Ещё -10% при покупке двух, код: ДВА', 'Ещё -15% при покупке трех, код: ТРИ']                                             121
['Цены снижены! Ещё -15%, код: СЕГОДНЯ']                                                                                    36
[nan]                                                                                                                       14
['Ещё -10% при покупке двух, код: ДВА', 'Ещё -15% при покупке трех, код: ТРИ', 'Цены снижены! Ещё -15%, код: СЕГОДНЯ']       9
['Цены 8 марта! Ещё -20%, код: МАРТ до 20.06']                                                                               1
Name: count, dtype: int64

In [61]:
def discount_value_sl(discount):
    '''у Sunlight купоны имеют скидку до 55%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '55%' in discount:
        return 0.45
    elif '50%' in discount:
        return 0.50
    elif '45%' in discount:
        return 0.55
    elif '40%' in discount:
        return 0.6
    elif '35%' in discount:
        return 0.65
    elif '30%' in discount:
        return 0.7
    elif '25%' in discount:
        return 0.75
    elif '20%' in discount:
        return 0.8
    elif '15%' in discount:
        return 0.85
    elif '10%' in discount:
        return 0.9 
    elif '-5%' in discount:
        return 0.95
    elif '1=2' in discount:
        return 0.5
    return 1

df_sunlight['discount'] = df_sunlight['discount'].apply(discount_value_sl)

In [62]:
df_sunlight['discount'].value_counts(dropna=False)

discount
0.90    2821
1.00    1446
0.85     362
0.95     262
0.80       1
Name: count, dtype: int64

In [63]:
df_sunlight['discount_for_dash'].value_counts(dropna=False)

discount_for_dash
['Цены 8 марта! Ещё -10%, код: МАРТ до 20.06']                                                                            2821
['ХИТ-цена']                                                                                                              1199
['Цены 8 марта! Ещё -5%, код: МАРТ до 20.06']                                                                              262
['ХИТ-цена', 'Выгодно! Золото 5 290 р/г']                                                                                  233
['Цены 8 марта! Ещё -15%, код: МАРТ до 20.06']                                                                             196
['Ещё -10% при покупке двух, код: ДВА', 'Ещё -15% при покупке трех, код: ТРИ']                                             121
['Цены снижены! Ещё -15%, код: СЕГОДНЯ']                                                                                    36
[nan]                                                                                                                       14
['Ещё -10% при покупке двух, код: ДВА', 'Ещё -15% при покупке трех, код: ТРИ', 'Цены снижены! Ещё -15%, код: СЕГОДНЯ']       9
['Цены 8 марта! Ещё -20%, код: МАРТ до 20.06']                                                                               1
Name: count, dtype: int64

In [64]:
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace("'", '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('[', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace(']', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('nan', 'нет скидочного купона')

In [65]:
df_sunlight['discount'] = df_sunlight['discount'].astype('float')

In [66]:
# применяем для каждого товара скидочный купон
# кроме тех строк, в которых есть информация, что это ХИТ-товар
df_sunlight['price_personal'] = np.where(
    df_sunlight['discount_for_dash'].str.contains('ХИТ'), df_sunlight['price'], df_sunlight['price'] * df_sunlight['discount']
)

In [67]:
df_sunlight['discount_for_dash'].value_counts()

discount_for_dash
Цены 8 марта! Ещё -10%, код: МАРТ до 20.06                                                                        2821
ХИТ-цена                                                                                                          1199
Цены 8 марта! Ещё -5%, код: МАРТ до 20.06                                                                          262
ХИТ-цена, Выгодно! Золото 5 290 р/г                                                                                233
Цены 8 марта! Ещё -15%, код: МАРТ до 20.06                                                                         196
Ещё -10% при покупке двух, код: ДВА, Ещё -15% при покупке трех, код: ТРИ                                           121
Цены снижены! Ещё -15%, код: СЕГОДНЯ                                                                                36
нет скидочного купона                                                                                               14
Ещё -10% при покупке двух, код: ДВА, Ещё -15% при покупке трех, код: ТРИ, Цены снижены! Ещё -15%, код: СЕГОДНЯ       9
Цены 8 марта! Ещё -20%, код: МАРТ до 20.06                                                                           1
Name: count, dtype: int64

In [68]:
# после применения купона, цена по программе лояльности Sunlight может снизиться ещё до 30% от полученной суммы при помощи бонусных баллов
# мы считаем, что пользователь пользуется максимальным количеством бонусных баллов, применимых к товару
# это не распростроняется на фикс цены, о наличии которых мы можем понять по устойчивому "ХИТ-цена", но так же могут быть добавлены новые акции
# всегда стоит перед запуском скрипта ниже проверять вывод блока кода выше

for i in df_sunlight.index:
    if df_sunlight['discount_for_dash'][i] == "ХИТ-цена":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    elif df_sunlight['discount_for_dash'][i] == "ХИТ-цена, Выгодно! Золото 5 290 р/г":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    else:    
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] * 0.6

In [69]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
3816,19.06.2024,Sunlight,Золотая цепь,Цепи,52139,NaN,98106.00,98106.00,1.00,17.87,ХИТ-цена
4304,19.06.2024,Sunlight,Золотое кольцо,Кольца,183641,43 900 ₽,21950.00,11853.00,0.90,1.96,"Цены 8 марта! Ещё -10%, код: МАРТ до 20.06"
3925,19.06.2024,Sunlight,Золотое кольцо,Кольца,995638,93 000 ₽,46500.00,25110.00,0.90,3.55,"Цены 8 марта! Ещё -10%, код: МАРТ до 20.06"
1229,19.06.2024,Sunlight,Золотое обручальное кольцо,Кольца,330252,NaN,14213.00,14213.00,1.00,2.33,ХИТ-цена
4174,19.06.2024,Sunlight,Золотая подвеска,Подвески,179816,101 980 ₽,50990.00,27534.60,0.90,3.65,"Цены 8 марта! Ещё -10%, код: МАРТ до 20.06"

In [70]:
df_sunlight['price_personal'].isna().sum()

0

In [71]:
df_sunlight.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4892 entries, 0 to 4922
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               4892 non-null   object
 1   competitor         4892 non-null   object
 2   name               4892 non-null   object
 3   group              4892 non-null   object
 4   url                4892 non-null   int64
 5   price_old          3449 non-null   object
 6   price              4892 non-null   float64
 7   price_personal     4892 non-null   float64
 8   discount           4892 non-null   float64
 9   weight             4892 non-null   object
 10  discount_for_dash  4892 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 587.7+ KB

In [72]:
df_sunlight.sample()

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
3718,19.06.2024,Sunlight,Золотые серьги,Серьги,50860,33 980 ₽,16990.00,9174.60,0.90,1.77,"Цены 8 марта! Ещё -10%, код: МАРТ до 20.06"

In [73]:
df_sunlight['weight'] = df_sunlight['weight'].astype(float)
df_sunlight = df_sunlight[df_sunlight['weight'] > 0.1]

In [74]:
df_sunlight.drop_duplicates(inplace=True)

In [75]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
4281,19.06.2024,Sunlight,Золотые серьги,Серьги,167772,43 980 ₽,21990.00,11874.60,0.90,1.85,"Цены 8 марта! Ещё -10%, код: МАРТ до 20.06"
551,19.06.2024,Sunlight,Золотая цепь,Цепи,93064,NaN,14190.00,14190.00,1.00,2.03,ХИТ-цена
599,19.06.2024,Sunlight,Золотое обручальное кольцо,Кольца,984581,57 680 ₽,28840.00,15573.60,0.90,2.53,"Цены 8 марта! Ещё -10%, код: МАРТ до 20.06"
3091,19.06.2024,Sunlight,Золотые серьги,Серьги,251112,53 980 ₽,26990.00,14574.60,0.90,2.69,"Цены 8 марта! Ещё -10%, код: МАРТ до 20.06"
3881,19.06.2024,Sunlight,Золотое кольцо,Кольца,353399,58 780 ₽,29390.00,15870.60,0.90,3.23,"Цены 8 марта! Ещё -10%, код: МАРТ до 20.06"

In [76]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].round(0)

In [77]:
# проверяем корректность расчётов
df_sunlight[['price_personal','url']].sample(3)

      price_personal     url
4716        16735.00  170925
4610        34675.00  182366
4760        16195.00  329535

In [78]:
df_sunlight = df_sunlight.drop(columns=['price_old', 'price'])

In [79]:
df_sunlight['price_per_gramm'] = (df_sunlight['price_personal'] / df_sunlight['weight']).round(0)

In [80]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sunlight['tg'] = np.where(
    df_sunlight['group'].str.contains('Серьги|Серьга|Пирсинг'), 'СЕРЬГИ',
    np.where(
        df_sunlight['group'].str.contains('Цепи'), 'ЦЕПИ',
        np.where(
            ((df_sunlight['group'].str.contains('Подвески')) & (df_sunlight['name'].str.lower().str.contains('свят|божия|блаженная|господь|чудотворец|ангел|сергий|божья|георгий'))), 'ПОДВЕС КУЛЬТ',
            np.where(
                df_sunlight['group'].str.contains('Крест|Икона'), 'ПОДВЕС КУЛЬТ',
                np.where(
                    df_sunlight['group'].str.lower().str.contains('браслет'), 'БРАСЛЕТЫ', 
                    np.where(
                        ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное') == False)), 'КОЛЬЦА',
                        np.where(
                            ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ',
                            np.where(
                                df_sunlight['group'].str.contains('Подвески'), 'ПОДВЕС ДЕКОР', df_sunlight['group']
                            )
                        )
                    )
                )
            )
        )
    )
)

In [81]:
df_sunlight = df_sunlight[df_sunlight['tg'].str.contains('СЕРЬГИ|КОЛЬЦА|ПОДВЕС|БРАСЛЕТЫ|ЦЕПИ')] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [82]:
df_sunlight['price_case'] = np.where(
    df_sunlight['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sunlight['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sunlight['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sunlight['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sunlight['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sunlight['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sunlight['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [83]:
df_sunlight['tn'] = np.where(
    df_sunlight['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ', 'БК'
)

In [84]:
df_sunlight['tg'] = df_sunlight['tn'] + ' ' + df_sunlight['tg']

In [85]:
df_sunlight['price_per_gramm'].describe([0.05, 0.99])

count    3293.00
mean     6282.88
std      1224.76
min      3174.00
5%       4883.60
50%      6265.00
99%      8913.40
max     44979.00
Name: price_per_gramm, dtype: float64

In [86]:
df_sunlight = df_sunlight.drop(columns=['tn'])

In [87]:
df_sunlight.head(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,19.06.2024,Sunlight,Золотые серьги,Серьги,235978,20990.00,1.00,2.36,ХИТ-цена,8894.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
5,19.06.2024,Sunlight,Золотые серьги,Серьги,51498,6490.00,1.00,0.77,ХИТ-цена,8429.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
10,19.06.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,75809,2490.00,1.00,0.27,ХИТ-цена,9222.00,БК ПОДВЕС КУЛЬТ,9 000 руб. - 10 000 руб.
15,19.06.2024,Sunlight,Золотая подвеска,Подвески,993847,1990.00,1.00,0.21,ХИТ-цена,9476.00,БК ПОДВЕС ДЕКОР,9 000 руб. - 10 000 руб.
20,19.06.2024,Sunlight,Золотые серьги,Серьги,271510,10490.00,1.00,1.04,ХИТ-цена,10087.00,БК СЕРЬГИ,свыше 10 000 руб.

In [88]:
df_sunlight = df_sunlight.drop_duplicates()

In [89]:
Sunlight = (df_sunlight['price_personal'].sum() / df_sunlight['weight'].sum()).round(0)
print(Sunlight)

6056.0

# 3. 585*Золотой онлайн остатки

In [159]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime) # мы ищем тут последний выгруженный файл (занимается выгрузкой Оризу Наталья email: Orizu.Natalya@zolotoy.ru)

df = pd.read_excel(latest_file)

In [160]:
latest_file # если последний файл - не за сегодняшнюю/вчерашнюю дату, стоит запросить актуальную выгрузку

'\\\\gold585.int\\uk\\Общее хранилище файлов\\Служба аналитики\\МЮР\\ecom_stock_raw\\Остатки 2024.06.19.xlsx'

In [161]:
df.fineness.unique()

array([925., 375., 585.,  nan, 750., 999., 944., 945., 946., 947., 937.,
       938., 939., 931., 932., 933., 926., 928., 929., 930., 948., 949.,
       950., 951., 927., 934., 935., 936., 960., 961., 962., 963., 964.,
       956., 957., 958., 959., 875.])

In [162]:
df['published'].value_counts(dropna=False)

published
True     171214
False     40650
Name: count, dtype: int64

In [163]:
df['product_line'].unique()

array(['СИ', 'ПДК', 'ДК', 'ФУТЛЯРЫ', 'ДФРС', 'ЧАСЫ', 'ЦБ', 'ИФ', 'БК',
       'ВЫРИЦА', 'БИЖУТЕРИЯ', nan, 'БУ'], dtype=object)

In [164]:
df = df[(df['fineness'] == 585) & (df['product_line'].str.contains('ФУТЛЯРЫ|ДФРС|ВЫРИЦА|ЧАСЫ|БИЖУТЕРИЯ|БУ') == False)]

In [165]:
df = df[(df['product_group'].str.contains('БК КОЛЬЦА')|
        df['product_group'].str.contains('БК КОЛЬЦА ОБРУЧ')|
        df['product_group'].str.contains('ЦБ БРАСЛЕТЫ')|
        df['product_group'].str.contains('БК СЕРЬГИ')|
        df['product_group'].str.contains('БК ПОДВЕС КУЛЬТ')|
        df['product_group'].str.contains('БК ПОДВЕС ДЕКОР')|
        df['product_group'].str.contains('ЦБ ЦЕПИ'))]

In [166]:
df = df.drop(columns=['Unnamed: 15', '*без франчайзинговых магазинов и Румянцево'])

In [167]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\discounts_zolotoy\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)

discount = pd.read_excel(latest_file)

In [168]:
discount.sample(3)

,Артикул сайта,Опубликован,discount_value_promotions_1,discount_value_promotions_2,discount_value_promotions_3,discount_value_promotions_4
142003,4275831,False,-,-,-,-
5741,1087721,True,40,-,-,-
166615,5232726,False,-,-,-,-

In [169]:
discount.columns = ['article', 'Опубликован', 'discount_value_promotions_1', 'discount_value_promotions_2',	'discount_value_promotions_3', 'discount_value_promotions_4']

In [170]:
df = df.merge(discount, how='left', on='article')

In [171]:
df = df[(df['published'] == 'ИСТИНА') | (df['published'] == True)]

In [172]:
df = df.drop(columns=['weaving', 'Unnamed: 14', 'name'])

In [173]:
df.columns = ['article', 'size', 'published', 'product_line', 'product_group',
            'material', 'type3', 'fineness', 'avg_weight', 'price',
            'discount_price', 'Остатки, шт*', 'type3',
            'discount_value_promotions_1', 'discount_value_promotions_2',	'discount_value_promotions_3', 'discount_value_promotions_4']

In [174]:
def discount_index(discount):
    try:
        return 1 - discount / 100
    except:
        return 1

In [175]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.apply(discount_index)

In [176]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.fillna(1)

In [177]:
df = df.dropna(subset=['avg_weight', 'discount_value_promotions_1'])

In [178]:
df['price_personal'] = np.where(
    (df['price'] == df['discount_price']) & (df['discount_value_promotions_1'] == 1), df['discount_price'] * df['discount_value_promotions_1'], 
    np.where(
        df['discount_value_promotions_1'] == 0.5, df['discount_price'] * df['discount_value_promotions_1'], df['discount_price'] * df['discount_value_promotions_1'] * 0.8
    )
)

In [155]:
df = df.drop_duplicates(subset=['article'])

In [192]:
bez_hit = df[df['discount_value_promotions_1'] != 1].groupby('product_group', as_index=False)[['price_personal', 'avg_weight']].agg({'price_personal':'sum', 'avg_weight':'sum'})
bez_hit['price_per_gram'] = bez_hit['price_personal'] / bez_hit['avg_weight']

In [193]:
bez_hit

     product_group  price_personal  avg_weight  price_per_gram
0        БК КОЛЬЦА     19857524.00     3393.89         5850.96
1  БК КОЛЬЦА ОБРУЧ     60040198.00    10489.42         5723.88
2  БК ПОДВЕС ДЕКОР      2596332.00      433.05         5995.46
3  БК ПОДВЕС КУЛЬТ      8408281.60     1387.88         6058.36
4        БК СЕРЬГИ     19743648.40     3249.55         6075.81
5      ЦБ БРАСЛЕТЫ     64597597.60    10014.02         6450.72
6          ЦБ ЦЕПИ     98707178.40    15424.51         6399.37

In [194]:
zolotoy = df.groupby('product_group', as_index=False)[['price_personal', 'avg_weight']].agg({'price_personal':'sum', 'avg_weight':'sum'})
zolotoy['price_per_gram'] = zolotoy['price_personal'] / zolotoy['avg_weight']

In [195]:
stock_ecom = zolotoy['price_personal'].sum() / zolotoy['avg_weight'].sum()
print(stock_ecom)

6292.055047778191

In [196]:
zolotoy['date'] = pd.to_datetime(date_now, dayfirst=True)

In [197]:
zolotoy = zolotoy.drop(columns=['price_personal', 'avg_weight', 'date'])

In [198]:
zolotoy.columns = ['tg', '585*Золотой онлайн остатки Максимальный промокод+20%']

In [219]:
df = df.drop_duplicates(subset=['article'])

In [199]:
df['date'] = pd.to_datetime(date_now, dayfirst=True)
df['competitor'] = '585*Золотой'
df['price_per_gramm'] = df['price_personal'] / df['avg_weight']

In [200]:
df['price_case'] = np.where(
    df['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [201]:
df = df[['date', 'competitor', 'avg_weight', 'price_personal', 'product_group', 'price_per_gramm', 'discount_value_promotions_1', 'article', 'price_case']]
df.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [202]:
data_history = pd.DataFrame({'date': [pd.to_datetime(date_now, dayfirst=True)],
                            'competitor': ['585*Золотой'],
                            'avg_ppg': [int(df['price_personal'].sum() / df['weight'].sum())]})

# 4. 585*Золотой оффлайн остатки

In [203]:
# SQL-скрипт ниже выгружает данные по остаткам с БД Staging, доступ к ней выдаётся по учётной записи Windows по согласованию

conn = pymssql.connect(server='AX-SQL', database='Staging')
cursor = conn.cursor()

sql = f'''
SELECT [Код склада], [Название склада], [Цена Закупки за 1 шт. (упр сс с НДС за единицу)], [Группа цен],
[Товарное направление], [Товарная группа], [Проба], [Цена Розн., за шт],  [Запрет скидки],
[Код товара],  [Артикул поставщика], [Чистый вес], [ШК], [Общий вес], [Скидка на изделии], [Тип изделия 1], 
[ID Сайта]
from [Staging].[Reports].[Remainings_8h]
where [Товарное направление] in (N'БК', N'ЦБ')
'''

sql_query = pd.read_sql_query(sql, conn)
stock = pd.DataFrame(sql_query)

In [204]:
stock.sample(5)

,Код склада,Название склада,Цена Закупки за 1 шт. (упр сс с НДС за единицу),Группа цен,Товарное направление,Товарная группа,Проба,"Цена Розн., за шт",Запрет скидки,Код товара,Артикул поставщика,Чистый вес,ШК,Общий вес,Скидка на изделии,Тип изделия 1,ID Сайта
1178620,5639,"СПб, Невский, 73-75/Марата, 2",8649.58,ИФ.БК_СР,БК,БК СЕРЬГИ,585,48708.00,Нет,ТОВ1241865,18-01-0000-10362,2.46,2078610350679,2.46,22.00,СЕРЬГИ,1760666
339968,5963,"Искитим, Пушкина, 57б",3547.64,"ЦБ_ПУСТОТЕЛЫЕ <=1,5 ГРАММ",ЦБ,ЦБ ЦЕПИ,585,22135.00,Нет,ТОВ01260428,311-00-0035-30555,0.95,2078608358331,0.95,26.00,ЦЕПЬ,8378875
197249,4688,"Астрахань, Вокзальная площадь, д.13, ТРЦ «Ярма...",5744.16,ИФ.БК_ДОР,БК,БК КОЛЬЦА ОБРУЧ,585,49782.00,Нет,ТОВ0994609,КО 15-00 БЗ,3.78,2078363627910,3.78,20.00,КОЛЬЦО ОБРУЧАЛЬНОЕ,2985033
278200,5958,"Бийск, Митрофанова, 37",26275.42,ЦБ_ПУСТОТЕЛЫЕ >3 ГРАММ,ЦБ,ЦБ БРАСЛЕТЫ,585,131544.00,Нет,ТОВ01811565,434-01-0060-31050,7.83,2078607887575,7.83,11.00,БРАСЛЕТ,1521166
1186171,5796,"Реутов, Носовихинское шоссе, 45 ТРЦ «Реутов П...",72662.86,ЦБ_АВТОМАТ >3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,245677.00,Нет,ТОВ1261677,"НЦ12-203 D0,6",16.31,2078606668494,16.27,6.00,ЦЕПЬ,7977779

In [205]:
stock['Код склада'] = stock['Код склада'].astype('float64')

In [206]:
stock['date'] = pd.to_datetime(date_now, dayfirst=True)
stock['competitor'] = '585*Золотой оффлайн'
stock['discount_for_dash'] = 0.6 * 0.8 # скидка непостоянная, информация о скидке всегда приходит на почту в конце месяца

In [207]:
stock = stock[['date', 'competitor', 'ID Сайта', 'Цена Розн., за шт', 'Запрет скидки', 'Чистый вес', 'discount_for_dash', 'Товарная группа', 'Скидка на изделии']]

In [208]:
stock.columns = ['date', 'competitor', 'url', 'price', 'discount', 'weight', 'discount_for_dash', 'tg', 'skidka']

In [209]:
tgs = ['БК СЕРЬГИ', 'ЦБ БРАСЛЕТЫ', 'ЦБ ЦЕПИ', 'БК КОЛЬЦА ОБРУЧ', 'БК ПОДВЕС КУЛЬТ', 'БК ПОДВЕС ДЕКОР', 'БК КОЛЬЦА']
stock = stock.query('tg in @tgs')

In [210]:
stock['price_personal'] = np.where(
    stock['discount'] == 'Да', stock['price'], stock['price'] * stock['discount_for_dash'] * (1 - (stock['skidka'] / 100))
)

In [211]:
stock['price_per_gramm'] = stock['price_personal'] / stock['weight']

In [212]:
stock['price_case'] = np.where(
    stock['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (stock['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (stock['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (stock['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (stock['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (stock['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (stock['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [213]:
stock = stock[['date', 'competitor', 'url', 'price_personal', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]
stock.columns = ['date_', 'competitor', 'url', 'price_personal', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']

In [214]:
gold_stock = stock.groupby(by = 'tg', as_index = False)[['price_personal', 'weight']].agg('sum')
gold_stock['price_per_gramm'] = gold_stock['price_personal'] / gold_stock['weight']

In [215]:
stock_price_pl = ((gold_stock['price_personal']).sum() / gold_stock['weight'].sum()).round(0)
print('Средняя цена остатков офлайн ПЛ: ', stock_price_pl)

Средняя цена остатков офлайн ПЛ:  6030.0

In [216]:
gold_stock = gold_stock[['tg', 'price_per_gramm']]

In [217]:
gold_stock.columns = ['tg', '585*Золотой оффлайн остатки 40%+20%']

# 5. Соединение таблиц для дашборда

In [218]:
data_all = pd.concat([df_sokolov, df_sunlight], ignore_index=True)

In [219]:
data_all['date'].fillna(f'{day_now}-{month_now}-{year_now}', inplace=True)

In [220]:
data_all['date'].unique()

array(['19.06.2024'], dtype=object)

In [221]:
data_all['date'] = pd.to_datetime(date_now, dayfirst=True)

In [222]:
data_all.date.unique()

<DatetimeArray>
['2024-06-19 00:00:00']
Length: 1, dtype: datetime64[ns]

In [223]:
data_all

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,2024-06-19,Sokolov,кольцо обручальное из белого золота,rings,110260-3,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
1,2024-06-19,Sokolov,кольцо обручальное из золота,rings,110260,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
2,2024-06-19,Sokolov,кольцо обручальное из золота,rings,110261,12990.00,1.00,1.63,ШОК-ЦЕНА,7969.00,БК КОЛЬЦА ОБРУЧ,7 000 руб. - 8 000 руб.
3,2024-06-19,Sokolov,кольцо из белого золота,rings,110262-3,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА,8 000 руб. - 9 000 руб.
4,2024-06-19,Sokolov,подвеска из золота,pendants,036439,990.00,1.00,0.13,ШОК-ЦЕНА,7615.00,БК ПОДВЕС ДЕКОР,7 000 руб. - 8 000 руб.
...,...,...,...,...,...,...,...,...,...,...,...,...
4781,2024-06-19,Sunlight,Золотой браслет,Браслеты,351819,44609.00,0.90,8.02,"Цены 8 марта! Ещё -10%, код: МАРТ до 20.06",5562.00,ЦБ БРАСЛЕТЫ,5 500 руб. - 6 000 руб.
4782,2024-06-19,Sunlight,Золотой браслет,Браслеты,351767,57078.00,0.90,7.83,"Цены 8 марта! Ещё -10%, код: МАРТ до 20.06",7290.00,ЦБ БРАСЛЕТЫ,7 000 руб. - 8 000 руб.
4783,2024-06-19,Sunlight,Золотой браслет,Браслеты,351760,32724.00,0.90,5.27,"Цены 8 марта! Ещё -10%, код: МАРТ до 20.06",6209.00,ЦБ БРАСЛЕТЫ,6 000 руб. - 6 500 руб.
4784,2024-06-19,Sunlight,Золотой браслет,Браслеты,351759,142927.00,0.90,28.46,"Цены 8 марта! Ещё -10%, код: МАРТ до 20.06",5022.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.
4785,2024-06-19,Sunlight,Золотой браслет,Браслеты,993620,12555.00,0.90,2.50,"Цены 8 марта! Ещё -10%, код: МАРТ до 20.06",5022.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.

In [224]:
data_history_gold = data_history

In [225]:
# группируем общую таблицу для добавления данных о изменении стоимости за грамм по дате
data_history = data_all.groupby('competitor', as_index=False)[['weight', 'price_personal']].agg('sum')
data_history['price_per_gramm'] = (data_history['price_personal'] / data_history['weight']).round(0)
data_history.insert(0, 'date', f'{date_now}')
data_history = data_history.drop(columns=['weight', 'price_personal'], axis=1)
data_history['num_shop'] = '_' + data_history['competitor']

In [226]:
data_history = data_history.drop(columns=['num_shop'])
data_history.columns = ['date', 'competitor', 'avg_ppg']

In [227]:
data_history['date'] = pd.to_datetime(date_now, dayfirst=True)

In [228]:
data_history = pd.concat([data_history_gold, data_history], ignore_index=True)

In [229]:
data_history.to_sql('avg_ppg_for_monthly_monitoring', engine, schema = 'yura', if_exists='append', index = False)

3

In [230]:
data_all.to_excel(rf'{report_folder}\Данные парсинга\bk_sokolov_sunlight_{date_now}.xlsx', index=False)

In [231]:
data_all = data_all.drop(columns=['name', 'discount', 'group'])

In [232]:
data_all = data_all[['date', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']]

In [233]:
data_all.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [234]:
data_all['date_'] = pd.to_datetime(date_now, dayfirst=True)

In [235]:
# группировка полученных данных для отчёта

In [236]:
df_tn_sokolov = df_sokolov.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sokolov['price_per_gram'] = df_tn_sokolov['price_personal'] / df_tn_sokolov['weight']

In [237]:
df_tn_sunlight = df_sunlight.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sunlight['price_per_gram'] = df_tn_sunlight['price_personal'] / df_tn_sunlight['weight']

In [238]:
df_tn_sunlight = df_tn_sunlight.drop(columns=['price_personal', 'weight'])
df_tn_sunlight.columns = ['tg', 'Sunlight']

In [239]:
df_tn_sokolov = df_tn_sokolov.drop(columns=['price_personal', 'weight'])
df_tn_sokolov.columns = ['tg', 'Sokolov']

In [240]:
df_sunlight

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,19.06.2024,Sunlight,Золотые серьги,Серьги,235978,20990.00,1.00,2.36,ХИТ-цена,8894.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
5,19.06.2024,Sunlight,Золотые серьги,Серьги,51498,6490.00,1.00,0.77,ХИТ-цена,8429.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
10,19.06.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,75809,2490.00,1.00,0.27,ХИТ-цена,9222.00,БК ПОДВЕС КУЛЬТ,9 000 руб. - 10 000 руб.
15,19.06.2024,Sunlight,Золотая подвеска,Подвески,993847,1990.00,1.00,0.21,ХИТ-цена,9476.00,БК ПОДВЕС ДЕКОР,9 000 руб. - 10 000 руб.
20,19.06.2024,Sunlight,Золотые серьги,Серьги,271510,10490.00,1.00,1.04,ХИТ-цена,10087.00,БК СЕРЬГИ,свыше 10 000 руб.
...,...,...,...,...,...,...,...,...,...,...,...,...
4910,19.06.2024,Sunlight,Золотой браслет,Браслеты,351819,44609.00,0.90,8.02,"Цены 8 марта! Ещё -10%, код: МАРТ до 20.06",5562.00,ЦБ БРАСЛЕТЫ,5 500 руб. - 6 000 руб.
4911,19.06.2024,Sunlight,Золотой браслет,Браслеты,351767,57078.00,0.90,7.83,"Цены 8 марта! Ещё -10%, код: МАРТ до 20.06",7290.00,ЦБ БРАСЛЕТЫ,7 000 руб. - 8 000 руб.
4912,19.06.2024,Sunlight,Золотой браслет,Браслеты,351760,32724.00,0.90,5.27,"Цены 8 марта! Ещё -10%, код: МАРТ до 20.06",6209.00,ЦБ БРАСЛЕТЫ,6 000 руб. - 6 500 руб.
4913,19.06.2024,Sunlight,Золотой браслет,Браслеты,351759,142927.00,0.90,28.46,"Цены 8 марта! Ещё -10%, код: МАРТ до 20.06",5022.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.
4914,19.06.2024,Sunlight,Золотой браслет,Браслеты,993620,12555.00,0.90,2.50,"Цены 8 марта! Ещё -10%, код: МАРТ до 20.06",5022.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.

In [241]:
result = pd.merge(df_tn_sokolov, df_tn_sunlight, how='left', on='tg').merge(zolotoy, how='left', on='tg').merge(gold_stock, how='left', on='tg') # объединяем данные в одну табличку

In [242]:
result

,tg,Sokolov,Sunlight,585*Золотой онлайн остатки Максимальный промокод+20%,585*Золотой оффлайн остатки 40%+20%
0,БК КОЛЬЦА,6512.68,5907.58,5729.25,6057.29
1,БК КОЛЬЦА ОБРУЧ,8506.01,5850.54,5704.86,5846.06
2,БК ПОДВЕС ДЕКОР,6895.71,6381.54,5531.21,6236.65
3,БК ПОДВЕС КУЛЬТ,7113.40,6396.41,5966.92,6109.00
4,БК СЕРЬГИ,6338.65,6216.48,6254.78,6001.69
5,ЦБ БРАСЛЕТЫ,7572.21,5978.15,6562.93,6088.12
6,ЦБ ЦЕПИ,8773.54,5942.39,6614.30,6064.98

# 6. Расчёт наценки

In [243]:
cookies = {
    '__ddg1_': 'XgGmRRFfNl9J83C2HQq2',
    '__RequestVerificationToken': '5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
}

headers = {
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7',
    'accept-language': 'ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7',
    'cache-control': 'max-age=0',
    # 'cookie': '__ddg1_=XgGmRRFfNl9J83C2HQq2; __RequestVerificationToken=5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
    'priority': 'u=0, i',
    'sec-ch-ua': '"Google Chrome";v="125", "Chromium";v="125", "Not.A/Brand";v="24"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'document',
    'sec-fetch-mode': 'navigate',
    'sec-fetch-site': 'cross-site',
    'sec-fetch-user': '?1',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36',
}

response = requests.get('https://mfd.ru/centrobank/preciousmetals/', cookies=cookies, headers=headers).text

In [244]:
soup = bs(response, 'html.parser')

In [245]:
# данные ниже могут меняться
price_ = float(soup.find('table', class_='mfd-table').find('tbody').find('td', class_='mfd-item-date').findNext('td').text.strip()[:7]) * 0.585
ugar = 0.03 
workprice = 150 
nds = 0.2

In [246]:
costprice = (price_/(1-ugar)+workprice)*(1 + nds)

In [247]:
stock_for_dash = stock.drop_duplicates(subset=['url'])

In [248]:
data_all = pd.concat([data_all, df, stock_for_dash], ignore_index=True)

In [249]:
data_all['markup'] = (data_all['price_personal'] / (costprice * data_all['weight'])) - 1

In [250]:
data_all['markup'] = data_all['markup'].astype(str)
data_all = data_all[data_all['markup'] != 'inf']
data_all['markup'] = data_all['markup'].astype(float)

In [251]:
data_all['date_'] = pd.to_datetime(date_now, dayfirst=True)

In [252]:
data_all1 = data_all.drop(columns=['markup'])

In [253]:
data_all1.to_sql('price_per_gramm', engine, schema = 'yura', if_exists='append', index = False)

398

In [254]:
data_all = data_all.dropna(subset=['markup'])

In [255]:
costprice_offline = data_all[data_all['competitor'] == '585*Золотой оффлайн'].groupby(by = 'tg', as_index = False)['markup'].mean()
costprice_offline.columns = ['tg', 'markup_a']

In [256]:
costprice_ = data_all[data_all['competitor'] == 'Sunlight'].groupby(by = 'tg', as_index = False)['markup'].mean().\
    merge(data_all[data_all['competitor'] == 'Sokolov'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg').\
        merge(data_all[data_all['competitor'] == '585*Золотой'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg')

In [257]:
costprice_ = costprice_.merge(costprice_offline, how='left', on='tg')

In [258]:
costprice_

                tg  markup_x  markup_y  markup  markup_a
0        БК КОЛЬЦА      0.20      0.35    0.17      0.16
1  БК КОЛЬЦА ОБРУЧ      0.22      0.75    0.17      0.11
2  БК ПОДВЕС ДЕКОР      0.36      0.48    0.15      0.21
3  БК ПОДВЕС КУЛЬТ      0.33      0.53    0.25      0.24
4        БК СЕРЬГИ      0.29      0.34    0.29      0.22
5      ЦБ БРАСЛЕТЫ      0.28      0.62    0.33      0.24
6          ЦБ ЦЕПИ      0.34      0.91    0.33      0.22

In [259]:
costprice_.columns = ['Товарная группа', 'Наценка Sunlight', 'Наценка Sokolov', 'Наценка 585*Золотой онлайн', 'Наценка 585*Золотой оффлайн']

In [260]:
costprice_['Дата'] = pd.to_datetime(date_now, dayfirst=True)

In [261]:
costprice_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Товарная группа              7 non-null      object
 1   Наценка Sunlight             7 non-null      float64
 2   Наценка Sokolov              7 non-null      float64
 3   Наценка 585*Золотой онлайн   7 non-null      float64
 4   Наценка 585*Золотой оффлайн  7 non-null      float64
 5   Дата                         7 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 468.0+ bytes

In [262]:
costprice_

,Товарная группа,Наценка Sunlight,Наценка Sokolov,Наценка 585*Золотой онлайн,Наценка 585*Золотой оффлайн,Дата
0,БК КОЛЬЦА,0.20,0.35,0.17,0.16,2024-06-19
1,БК КОЛЬЦА ОБРУЧ,0.22,0.75,0.17,0.11,2024-06-19
2,БК ПОДВЕС ДЕКОР,0.36,0.48,0.15,0.21,2024-06-19
3,БК ПОДВЕС КУЛЬТ,0.33,0.53,0.25,0.24,2024-06-19
4,БК СЕРЬГИ,0.29,0.34,0.29,0.22,2024-06-19
5,ЦБ БРАСЛЕТЫ,0.28,0.62,0.33,0.24,2024-06-19
6,ЦБ ЦЕПИ,0.34,0.91,0.33,0.22,2024-06-19

In [263]:
costprice_.to_sql('costprice_sklv_sl', engine, schema = 'yura', if_exists='append', index = False)

7

# 7. Обработка данных по продажам оффлайн и онлайн

Продажи 585*Золотой онлайн

In [264]:
way = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Илларионов\Выгрузка Еком\\'

In [267]:
data_IM = pd.read_excel(rf'{way}\{month_now}.{year_now}_продажи еком.xlsx')

In [268]:
# смотрим продажи с последнего мониторинга
data = dt.datetime.isoweekday(dt.date.today())
if data == 1:
    last_monitoring = (dt.date.today() - dt.timedelta(days=3)).strftime('%Y-%m-%d')
else:
    last_monitoring = (dt.date.today() - dt.timedelta(days=2)).strftime('%Y-%m-%d')
    
data_IM = data_IM[data_IM['created'] >= f'{last_monitoring}']

In [269]:
data_IM = data_IM.drop_duplicates()
data_IM = data_IM.reset_index(drop=True)

data_IM = data_IM[(data_IM['state_order'] != 'returned') & (data_IM['state_order'] != 'canceled')]
data_IM = data_IM[~((data_IM['delivery_type'] == 'PICKUP_NOW') & (data_IM['payment_type'] == 'CASHIER') & (data_IM['type_ibox'] == 'CASHIER'))|
                ((data_IM['delivery_type'] == 'PICKUP') & (data_IM['payment_type'] == 'CASHIER') & (data_IM['type_ibox'] == 'CASHIER'))]

In [270]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'], format = '%Y-%m-%d')

In [271]:
def str_float(row):
    row = str(row)
    row = row.replace(',','.')
    return row

data_IM['price'] = data_IM['price'].apply(str_float)
data_IM['price'] = data_IM['price'].astype(float)

data_IM['avg_net_weight'] = data_IM['avg_net_weight'].apply(str_float)
data_IM['avg_net_weight'] = data_IM['avg_net_weight'].astype(float)

In [272]:
data_IM = data_IM[data_IM['price'] > 1].reset_index(drop=True)
data_IM = data_IM[data_IM['avg_net_weight'] > 0].reset_index(drop=True)

In [273]:
data_IM['Товарное направление'] = np.where(
    data_IM['tg'].isin(['БК ПОДВЕС КУЛЬТ', 'БК СЕРЬГИ', 'БК КОЛЬЦА','БК КОЛЬЦА ОБРУЧ','БК ПОДВЕС ДЕКОР',  'БК ПЕЧАТКИ','БК АКСЕССУАРЫ','ОПТ БК']), 'БК',
    np.where(
        data_IM['tg'].isin(['ПДК СЕРЬГИ', 'ПДК КОЛЬЦА','ПДК ПОДВЕСКИ']), 'ПДК',
        np.where(
            data_IM['tg'].isin(['ДК СЕРЬГИ',  'ДК КОЛЬЦА',    'ДК ПОДВЕСКИ',    'ДК КОЛЬЦА ОБРУЧ']), 'ДК',
            np.where(
                data_IM['tg'].isin(['ИФ СЕРЬГИ',  'ИФ КОЛЬЦА', 'ИФ ПОДВЕС ДЕКОР', 'ИФ ПЕЧАТКИ', 'ИФ ПОДВЕС КУЛЬТ','ИФ КОЛЬЦА ОБРУЧ','ИФ АКСЕССУАРЫ']), 'ИФ',
                np.where(
                    data_IM['tg'].isin(['ЦБ ЦЕПИ', 'ЦБ БРАСЛЕТЫ']), 'ЦБ',
                    np.where(
                        data_IM['tg'].isin(['СИ ПОДВЕС БК','СИ КОЛЬЦО ИФ','СИ БРАСЛЕТ БК','СИ КОЛЬЦО БК','СИ ЦЕПЬ','СИ СЕРЬГИ БК','СИ СЕРЬГИ ИФ','СИ ПОДВЕС ИФ',
                                            'СИ СЕРЬГИ РАЗН','СИ СЕРЬГИ ЦВ/К',\
                                            'СИ КОЛЬЦО ЦВ/К','','СИ ШАРМЫ','СИ ОБРУЧАЛЬНОЕ','СИ КОЛЬЦО ПЕЧАТ','СИ ПОДВЕСЦВ/К','СИ БРАСЛЕТ СК','СИ ЖЕМЧУГ',\
                                            'СИ АКСЕССУАР','СИ ДФРС ПРОЕКТ','СИ КЕРАМИКА','СИ ПОСУДА','СИ ЯНТАРЬ','СИ ЭМАЛЬ','СИ ВЫРИЦА']), 'СИ',
                        np.where(data_IM['tg'].isin(['ЧАСЫ']), 'ЧАСЫ', 'другое'
                        )
                    )
                )
            )
        )
    )
)

data_IM['Товарное направление'].value_counts()

Товарное направление
СИ        208
БК         78
ИФ         76
ЦБ         60
ДК         43
ПДК        35
другое     33
Name: count, dtype: int64

In [274]:
proverka = data_IM[data_IM['Товарное направление']=='другое']
proverka['tg'].unique()

array(['СИ ПОДВЕС\xa0ЦВ/К', 'СИ СЕРЬГИ\xa0 ЦВ/К', 'СИ КОЛЬЕ СК',
       'ОПТ ОБРУЧИ', 'ОПТ ИФ', 'ОПТ ПДК', 'СИ БРАСЛЕТ ЦВ/К',
       'СИ КОЛЬЕ ЦВ/К', 'ОПТ КОНГО', 'СИ БРАСЛЕТ БК Декор',
       'ВЫРИЦА СЕРЕБРО'], dtype=object)

In [275]:
data_IM = data_IM[~(data_IM['name'].str.contains('каучук')|
                    data_IM['name'].str.contains('шнурок')|
                    data_IM['name'].str.contains('текстиль')|
                    data_IM['name'].str.contains('хлопок')|
                    data_IM['name'].str.contains('шелк')|
                    data_IM['name'].str.contains('на нитке')|
                    data_IM['name'].str.contains('кожа')|
                    data_IM['name'].str.contains('жемчуг'))]

In [276]:
data_IM = data_IM[(data_IM['Товарное направление'].isin(['БК', 'ЦБ']))&((data_IM['proba'] == '585')|(data_IM['proba'] == 585.00))]

In [277]:
data_IM['Товарное направление'].value_counts()

Товарное направление
БК    63
ЦБ    46
Name: count, dtype: int64

In [278]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'], format='%Y-%m-%d')

In [279]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'].apply(lambda x: x.strftime("%Y-%m-%d")))

In [280]:
previous_date = data_IM['date_status_order_done'].min()
filtr_date = data_IM['date_status_order_done'].max()

In [281]:
data_today = data_IM.query("date_status_order_done >= @previous_date")
data_today.head()

,id,created,name,state_order,recipient_phone,recipient_email,state_item,delivery_type,payment_type,employee_id,type_ibox,type_name,tov,kbk_recieve_delivery,avg_weight,avg_net_weight,materials,proba,design,type1,type3,tg,brand,vendor_article,number,price,client_type,date_status_order_done,date_status_item_returned,product_id,cost_price,shk,kbk_collect_delivery,manzana,percent_by_sku,manzana_for_item,price_wo_manzana,Товарное направление
1,00752de1-a3ed-4b57-957b-03ef825d8397,2024-06-17 05:55:10.937,Золотая пустотелая цепочка Якорь,done,79087839149.00,Pupy-ira@yandex.ru,done,PICKUP_NOW,YANDEX_KASSA,NaN,SBER,[YANDEX_KASSA] SBER - URL,ТОВ01260432,2-01-002,1.12,1.12,NaN,585,ЯКОРЬ ПУСТ,ЦЕПЬ,КРАСНЫЙ,ЦБ ЦЕПИ,NaN,31-00-0035-30555,2406170555182,10572.00,MOBILE,2024-06-17,NaN,8378875,3997.48,2078609912991,2-01-002,4610,0.46,2114.22,8457.78,ЦБ
9,04b41fec-0f2d-4bc8-9f33-0c9ce3dfb0c4,2024-06-17 09:30:02.062,Золотой пустотелый браслет Тройной ромб с алма...,done,79512251748.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,SBER,[YANDEX_KASSA] SBER - URL,ТОВ01262286,3-04-020,2.16,2.16,NaN,585,РОМБ ТРОЙНОЙ ПУСТ,БРАСЛЕТ,КРАСНЫЙ,ЦБ БРАСЛЕТЫ,ADRIATICA,431-01-0050-30204,2406170930979,16248.00,MOBILE,2024-06-17,NaN,5201191,5935.99,2078602384932,3-04-020,3249,1.00,3249.00,12999.00,ЦБ
23,0997f042-5bc6-448a-be94-25f45e2fc185,2024-06-18 10:07:18.173,Золотая полновесная цепочка Сингапур с алмазно...,done,79034240638.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,TINKOFF_SBP,Тинькофф СБП,ТОВ01259488,5-02-089,1.29,1.29,NaN,585,СИНГАПУР,ЦЕПЬ,КРАСНЫЙ,ЦБ ЦЕПИ,ADRIATICA,310-01-0020-30028,2406181007120,9168.00,WEB,2024-06-18,NaN,2246795,4684.38,2078606027303,5-02-089,0,0.00,0.00,9168.00,ЦБ
32,0deef525-a0dc-42c7-87e0-516d25db5a47,2024-06-17 13:07:45.607,Золотое кольцо с родированием,done,79534398928.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,b8632ec8-36cf-452b-962d-72d2e402777b,SBER,[YANDEX_KASSA] SBER - URL,ТОВ1081925,2-14-007,2.45,2.45,NaN,585,ИФ ПРОЧЕЕ,КОЛЬЦО,КРАСНЫЙ,БК КОЛЬЦА,NaN,20-02-0000-26632#ТД,2406171307521,17052.00,MOBILE,2024-06-17,NaN,1973335,4570.93,2078464134867,2-14-007,3410,1.00,3410.00,13642.00,БК
33,0ebf1a7a-dd77-4ba6-be67-dd4b3a075362,2024-06-17 05:04:21.542,Золотые серьги TALANT,done,79372230821.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,SBER,[YANDEX_KASSA] SBER - URL,ТОВ0691260,5-02-085,2.16,2.16,NaN,585,ИФ КОНГО,СЕРЬГИ-КОНГО,КРАСНЫЙ,БК СЕРЬГИ,NaN,12.00_25,2406170504923,18024.00,MOBILE,2024-06-17,NaN,3947366,7505.91,2078608193669,5-02-085,3604,1.00,3604.00,14420.00,БК

In [282]:
data_today['цена за гр'] = data_today['price_wo_manzana'] / data_today['avg_weight']
data_today['цена за гр'].describe()

count     109.00
mean     6737.92
std      1186.70
min      4071.43
25%      5852.01
50%      6694.71
75%      7285.00
max     12085.50
Name: цена за гр, dtype: float64

In [283]:
data_today['avg_weight'].describe()

count   109.00
mean      2.24
std       1.88
min       0.20
25%       1.10
50%       1.81
75%       3.07
max      16.13
Name: avg_weight, dtype: float64

In [284]:
data_today = data_today[~data_today['tg'].str.contains('ОПТ БК|БК ПЕЧАТКИ|ОПТ КОНГО')]

In [285]:
data_today = data_today[~data_today['client_type'].str.contains('OZON')]

In [286]:
Zolotoy_Online = (data_today['price_wo_manzana'].sum()/data_today['avg_weight'].sum()).round(0)
print('Средняя цена продажи еком: ', Zolotoy_Online)

Средняя цена продажи еком:  6760.0

In [287]:
data_today.to_excel(rf'{report_folder}\Данные по продажам\Продажи онлайн_{date_now}.xlsx', index=False)

In [288]:
tn = data_today.groupby('tg', as_index=False)[['price_wo_manzana', 'avg_weight', 'cost_price']].agg('sum')
tn['price_gramm'] = (tn['price_wo_manzana'] / tn['avg_weight']).round(0)

In [289]:
tn['price_gramm'] = tn['price_gramm'].astype('int')
tn['Наценка продажи онлайн'] =  tn['price_wo_manzana'] / tn['cost_price'] - 1

In [290]:
markup_sales = tn[['tg', 'Наценка продажи онлайн']]

In [291]:
tn = tn.drop(columns=['price_wo_manzana', 'avg_weight', 'cost_price', 'Наценка продажи онлайн'])
tn.columns = ['tg', '585*Золотой онлайн продажи']

In [292]:
result = result.merge(tn, how='left', on='tg')

Продажи 585*Золотой оффлайн

In [293]:
# иногда здесь скрипт может отвалиться, потому что с продажами оффлайн очень часто работает кто-то, поэтому можно прочитать его вручную указав актуальный путь

# path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Выгрузки из DWH\Продажи по КБК из DWH new\\'
# list_of_files = glob.glob(path + '\*.xlsx') 
# latest_file = max(list_of_files, key=os.path.getctime)

# df_dwh = pd.read_excel(latest_file)

df_dwh = pd.read_excel(r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Выгрузки из DWH\Продажи по КБК из DWH new\2024-06-10_2024-06-18.xlsx')

In [294]:
# мы смотрим продажи со времени последнего мониторинга, для этого определяем день недели и в зависимости от этого получаем новые данные
data = dt.datetime.isoweekday(dt.date.today())
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')
if data == 1:
    last_monitoring = (dt.date.today() - dt.timedelta(days=3)).strftime('%Y-%m-%d')
else:
    last_monitoring = (dt.date.today() - dt.timedelta(days=2)).strftime('%Y-%m-%d')
    
df_dwh = df_dwh[df_dwh['Дата'] >= f'{last_monitoring}']

In [295]:
df_dwh['Товарная группа'].str.contains('ЦБ|БК').value_counts()

Товарная группа
False    23762
True      9225
Name: count, dtype: int64

In [296]:
df_dwh = df_dwh[(df_dwh['Товарное направление'].isin(['БК', 'ЦБ'])) & (df_dwh['Проба'] == 585.0)]

In [297]:
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('каучук')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('шнурок')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('текстиль')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('хлопок')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('шелк')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('на нитке')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('кожа')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('жемчуг')))]

In [298]:
df_dwh['Дата'] = pd.to_datetime(df_dwh['Дата'], format='%Y-%m-%d')
df_dwh['Дата'] = pd.to_datetime(df_dwh['Дата'].apply(lambda x: x.strftime("%Y-%m-%d")))

In [299]:
filtr_date = df_dwh['Дата'].max()

In [300]:
df_dwh = df_dwh.query("`Дата` <= @filtr_date")

In [301]:
tn = df_dwh.groupby(by = 'Товарная группа', as_index= False)[['Себестоимость', 'Вес', 'Общая сумма']].agg('sum')
tn['Наценка продажи оффлайн'] =  tn['Общая сумма'] / tn['Себестоимость'] - 1
tn = tn[~tn['Товарная группа'].str.contains('ОПТ БК|БК ПЕЧАТКИ|ОПТ КОНГО|ОПТ ОБРУЧИ')]
tn['price_per_gramm'] = ((tn['Общая сумма'] / tn['Вес']).round(0))

In [302]:
tn['price_per_gramm'] = tn['price_per_gramm'].replace(',', '')
tn['price_per_gramm'] = tn['price_per_gramm'].astype('int')

In [303]:
Zolotoy_Offline = (tn['Общая сумма'].sum() / tn['Вес'].sum()).round(0)
print('Средняя цена продажи оффлайн: ', Zolotoy_Offline)

Средняя цена продажи оффлайн:  6682.0

In [304]:
tn.columns = ['tg', 'cost', 'weight', 'price', 'Наценка продажи оффлайн', 'price_per_gramm']

In [305]:
offline_markup = tn[['tg', 'Наценка продажи оффлайн']]

In [306]:
markup_sales = markup_sales.merge(offline_markup, how='left', on='tg')

In [307]:
tn = tn.drop(columns=['cost', 'weight', 'price', 'Наценка продажи оффлайн'])
tn.columns = ['tg', '585*Золотой оффлайн продажи']

In [308]:
result = result.merge(tn, how='left', on='tg')

In [309]:
result

,tg,Sokolov,Sunlight,585*Золотой онлайн остатки Максимальный промокод+20%,585*Золотой оффлайн остатки 40%+20%,585*Золотой онлайн продажи,585*Золотой оффлайн продажи
0,БК КОЛЬЦА,6512.68,5907.58,5729.25,6057.29,8645,6547
1,БК КОЛЬЦА ОБРУЧ,8506.01,5850.54,5704.86,5846.06,6359,6215
2,БК ПОДВЕС ДЕКОР,6895.71,6381.54,5531.21,6236.65,6166,6958
3,БК ПОДВЕС КУЛЬТ,7113.40,6396.41,5966.92,6109.00,6909,6903
4,БК СЕРЬГИ,6338.65,6216.48,6254.78,6001.69,6190,7000
5,ЦБ БРАСЛЕТЫ,7572.21,5978.15,6562.93,6088.12,7222,6747
6,ЦБ ЦЕПИ,8773.54,5942.39,6614.30,6064.98,6627,6771

In [310]:
markup_sales

                tg  Наценка продажи онлайн  Наценка продажи оффлайн
0        БК КОЛЬЦА                    2.38                     1.30
1  БК КОЛЬЦА ОБРУЧ                    1.39                     1.10
2  БК ПОДВЕС ДЕКОР                    1.26                     1.18
3  БК ПОДВЕС КУЛЬТ                    1.06                     1.18
4        БК СЕРЬГИ                    1.01                     1.22
5      ЦБ БРАСЛЕТЫ                    1.15                     1.05
6          ЦБ ЦЕПИ                    1.11                     1.08

In [311]:
markup_sales = markup_sales.rename(columns={markup_sales.columns[0]: 'Товарная группа'})
result = result.rename(columns={result.columns[0]: 'Товарная группа'})

In [312]:
result.to_excel(rf'{report_folder}\Таблица ТГ для письма_{date_now}.xlsx', index= False)
markup_sales.to_excel(rf'{report_folder}\Наценка продажи\Наценка продажи оффлайн+онлайн_{date_now}.xlsx', index=False)

In [313]:
# !jupyter nbconvert --to script eda_every_days.ipynb

In [314]:
# sql = text(f'''INSERT INTO yura.history_price_every_day(date_, competitor, price_per_gramm, num_shop)
# VALUES 
# ('{date_now}', 'Sokolov', {int(Sokolov)}, '_Sokolov'),
# ('{date_now}', 'Sunlight', {int(Sunlight)}, '_Sunlight'),
# ('{date_now}', '585*Золотой онлайн продажи', {int(Zolotoy_Online)}, '_585*Золотой онлайн продажи'),
# ('{date_now}', '585*Золотой онлайн остатки', {int(stock_ecom)}, '_585*Золотой онлайн остатки'), 
# ('{date_now}', '585*Золотой офлайн продажи', {int(Zolotoy_Offline)}, '_585*Золотой офлайн продажи'),
# ('{date_now}', '585*Золотой офлайн остатки', {int(stock_price_pl)}, '_585*Золотой офлайн остатки');
# ''')