In [1]:
from sqlalchemy import create_engine
from bs4 import BeautifulSoup as bs
import datetime as dt
import pandas as pd
import numpy as np
import warnings
import requests
import pymssql
import calendar
import locale
import json
import glob
import os

warnings.filterwarnings('ignore')
pd.set_option('use_inf_as_na', True)
pd.options.display.max_columns = None
pd.set_option('float_format', '{:.2f}'.format)
locale.setlocale(locale.LC_ALL, 'ru_RU.UTF-8')

'ru_RU.UTF-8'

In [2]:
report_folder = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\Мониторинг Sokolov и Sunlight'

In [3]:
engine = create_engine('postgresql://sergei:S714801t@51.250.54.232:5432/dldb')

In [4]:
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')
month_now = dt.datetime.now().month
day_now = dt.datetime.now().day 
year_now = dt.datetime.now().year

In [5]:
way = os.getcwd()

# 1. Sokolov

In [131]:
df_sokolov = pd.read_csv(rf'{way}\sokolov\parsed_data\result\bk_sokolov_{date_now}.csv')

In [132]:
df_sokolov.sample(5)

,data,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,article
823,07.06.2024,Sokolov,Подвеска из золота,pendants,1.06 г,14850,32990,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,Без вставок,Красное золото 585 пробы,NaN,036075
491,07.06.2024,Sokolov,Кольцо из золота,rings,3.94 г,49500,109990,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,Без вставок,Красное золото 585 пробы,NaN,018721
801,07.06.2024,Sokolov,Подвеска из комбинированного золота с алмазной...,pendants,0.77 г,10800,23990,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,Без вставок,Комбинированное золото 585 пробы,NaN,032225
766,07.06.2024,Sokolov,Серьги из комбинированного золота,earrings,2.53 г,28800,63990,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,Без вставок,Комбинированное золото 585 пробы,NaN,029465
612,07.06.2024,Sokolov,Серьги-цепочки из золота с алмазной гранью,earrings,0.88 г,11250,24990,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,Без вставок,Красное золото 585 пробы,Продёвка,022410

In [133]:
# df_sokolov['article'] = 'https://sokolov.ru/jewelry-catalog/product/' + df_sokolov['article']
# df_sokolov['article'] = df_sokolov['article'] + '/'

df_sokolov.columns = ['date', 'competitor', 'name', 'group', 'weight', 'price', 'price_old',
                    'discount', 'insert', 'metal', 'lock_type_or_weaving_type', 'url']

In [134]:
df_sokolov['discount'].value_counts(dropna=False)

discount
Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2                        1204
NaN                                                               255
Дополнительная скидка по акции «Калейдоскоп скидок!» ЕЩЁ -10%      33
Дополнительная скидка по акции «Калейдоскоп скидок!» ЕЩЁ -20%      20
Name: count, dtype: int64

In [135]:
df_sokolov['discount_for_dash'] = df_sokolov['discount']
df_sokolov['discount_for_dash'] = df_sokolov['discount_for_dash'].fillna('нет скидочного купона')

In [136]:
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] == 0:
        df_sokolov['discount_for_dash'][i] = 'ШОК-ЦЕНА'

In [137]:
def discount_value(discount):
    '''у Sokolov купоны имеют скидку до 30%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '10%' in discount:
        return 0.9
    elif '15%' in discount:
        return 0.85
    elif '20%' in discount:
        return 0.8
    elif '25%' in discount:
        return 0.75
    elif '30%' in discount:
        return 0.7
    elif 'Второе золотое' in discount:
        return 0.5
    return 1

df_sokolov['discount'] = df_sokolov['discount'].fillna('1')
df_sokolov['discount'] = df_sokolov['discount'].apply(discount_value)

In [138]:
df_sokolov['weight'] = df_sokolov['weight'].str.replace(' г', '')
df_sokolov['weight'] = df_sokolov['weight'].astype('float')

In [139]:
df_sokolov['metal'].value_counts()

metal
Красное золото 585 пробы            1209
Комбинированное золото 585 пробы     153
Белое золото 585 пробы                77
Жёлтое золото 585 пробы               65
Красное золото 375 пробы               7
Золото 585 пробы                       1
Name: count, dtype: int64

In [140]:
df_sokolov['price'].isna().sum()

0

In [141]:
df_sokolov = df_sokolov.dropna(subset=['price'])

In [142]:
# применяем скидку для первоначальной цены
df_sokolov['price'] = np.where(
    df_sokolov['discount'] == 0.5, df_sokolov['price'] * df_sokolov['discount'],
    np.where(
        df_sokolov['discount_for_dash'] == 'ШОК-ЦЕНА', df_sokolov['price'], df_sokolov['price'] * 0.7
    )
)

In [18]:
# для расчета персональной стоимости нужно выделить изделия для которых применины баллы. Для этого в парсинге цен используються cookies аккаунта с баллами (любым кол-вом).
# чтобы определить если ли персональная цена сравниваются 2 столба "price_old" и "price".
# если "price_old" равен нулю, значит этот товар является товаром из списка ШОК-цен, на них не распространяются бонусные баллы
# в противном случае мы можем списать до 30% от стоимости товара бонусными баллами
# мы считаем, что пользователь может использовать программу лояльности по-максимуму

In [19]:
no_discount = 0
df_sokolov['discount_flag'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] != 0:
        df_sokolov['discount_flag'][i] = df_sokolov['price'][i] * 0.3
    else:
        df_sokolov['discount_flag'][i] = no_discount

In [20]:
df_sokolov['price_personal'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['discount_flag'][i] <= (df_sokolov['price'][i] * 0.3):
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - df_sokolov['discount_flag'][i]
    else:
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - (df_sokolov['price'][i] * 0.3)

In [21]:
df_sokolov = df_sokolov.drop(columns=['discount_flag'], axis=1)

In [143]:
df_sokolov['price'].isna().sum()

0

In [144]:
df_sokolov['price_personal'] = df_sokolov['price']

In [145]:
df_sokolov

,date,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,url,discount_for_dash,price_personal
0,07.06.2024,Sokolov,Кольцо обручальное из белого золота,rings,1.60,12990.00,0,1.00,Без вставок,Белое золото 585 пробы,1.6 г,110260-3,ШОК-ЦЕНА,12990.00
1,07.06.2024,Sokolov,Кольцо обручальное из золота,rings,1.61,12990.00,0,1.00,Без вставок,Красное золото 585 пробы,1.61 г,110260,ШОК-ЦЕНА,12990.00
2,07.06.2024,Sokolov,Кольцо обручальное из золота,rings,1.63,12990.00,0,1.00,Без вставок,Красное золото 585 пробы,1.63 г,110261,ШОК-ЦЕНА,12990.00
3,07.06.2024,Sokolov,Кольцо из белого золота,rings,1.61,12990.00,0,1.00,Без вставок,Белое золото 585 пробы,1.61 г,110262-3,ШОК-ЦЕНА,12990.00
4,07.06.2024,Sokolov,Подвеска из золота,pendants,0.13,990.00,0,1.00,Без вставок,Красное золото 585 пробы,NaN,036439,ШОК-ЦЕНА,990.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,07.06.2024,Sokolov,"Цепь из желтого золота, плетение Бисмарк, 585 ...",chains,9.20,77175.00,244990,1.00,Без вставок,Жёлтое золото 585 пробы,Бисмарк,581070502-2,нет скидочного купона,77175.00
1508,07.06.2024,Sokolov,Печатка из золота с алмазной гранью,rings,3.38,20925.00,92990,0.50,Без вставок,Красное золото 585 пробы,NaN,014024,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,20925.00
1509,07.06.2024,Sokolov,Кольцо из желтого золота,rings,0.79,5400.00,23990,0.50,Без вставок,Жёлтое золото 585 пробы,NaN,017172-2,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,5400.00
1510,07.06.2024,Sokolov,Кольцо из золота,rings,0.72,5400.00,23990,0.50,Без вставок,Красное золото 585 пробы,NaN,019433,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,5400.00
1511,07.06.2024,Sokolov,Кольцо из золота,rings,1.05,7425.00,32990,0.50,Без вставок,Красное золото 585 пробы,NaN,019448,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,7425.00

In [146]:
df_sokolov['price_per_gramm'] = (df_sokolov['price_personal'] / df_sokolov['weight']).round(0)
df_sokolov['name'] = df_sokolov['name'].str.lower()

In [147]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sokolov['tg'] = np.where(
    ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка'))), 'ПОДВЕС КУЛЬТ',
    np.where(
        ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка') == False)), 'ПОДВЕС ДЕКОР', 
        np.where(
            ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ', 
            np.where(
                ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное')==False)), 'КОЛЬЦА', 
                np.where(
                    (df_sokolov['group'] == 'bracelets'), 'БРАСЛЕТЫ',
                    np.where(
                        (df_sokolov['group'] == 'chains'), 'ЦЕПИ', 
                        np.where(
                            (df_sokolov['group'] == 'earrings'), 'СЕРЬГИ', np.nan)
                    )
                )
            )
        )
    )
)

In [148]:
df_sokolov = df_sokolov[df_sokolov['tg'] != 'nan'] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [149]:
df_sokolov['tn'] = np.where(
    ((df_sokolov['insert'].str.lower().str.contains('выраще|синте|искусств')) & (df_sokolov['insert'].str.lower().str.contains('бриллиант') == False)), 'ПДК',
    np.where(
        (df_sokolov['insert'].str.lower().str.contains('бриллиант|сапфир|рубин|изумруд') & (df_sokolov['insert'].str.lower().str.contains('выращ|искусств|синтети') == False)), 'ДК',
        np.where(
            df_sokolov['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ',
            np.where(
                df_sokolov['insert'] == 'Без вставок', 'БК', 
                np.where(
                    df_sokolov['insert'].str.lower().str.contains('фианит|бриллиант'), 'ИФ', 'ПДК'
                )
            )
        )
    )
)

In [150]:
df_sokolov['tg'] = df_sokolov['tn'] + ' ' + df_sokolov['tg']

In [151]:
df_sokolov['tg'].value_counts(dropna=False)

tg
БК СЕРЬГИ          466
БК КОЛЬЦА          245
БК ПОДВЕС ДЕКОР    193
ЦБ БРАСЛЕТЫ        167
ЦБ ЦЕПИ            132
БК КОЛЬЦА ОБРУЧ    113
БК ПОДВЕС КУЛЬТ    111
Name: count, dtype: int64

In [152]:
df_sokolov['price_case'] = np.where(
    df_sokolov['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sokolov['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sokolov['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sokolov['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sokolov['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sokolov['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sokolov['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [153]:
df_sokolov['price_per_gramm'].describe([0.05, 0.95])

count    1427.00
mean     7276.48
std      1478.61
min      4442.00
5%       5323.90
50%      7031.00
95%     10132.70
max     12544.00
Name: price_per_gramm, dtype: float64

In [154]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url', 'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]

In [155]:
df_sokolov['num_shop'] = '_' + df_sokolov['competitor']
df_sokolov['num_diap'] = df_sokolov['price_case']

In [156]:
df_sokolov.sample(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case,num_shop,num_diap
1118,07.06.2024,Sokolov,браслет из золота,bracelets,051079,15750.00,0.50,2.56,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,6152.00,ЦБ БРАСЛЕТЫ,6 000 руб. - 6 500 руб.,_Sokolov,6 000 руб. - 6 500 руб.
930,07.06.2024,Sokolov,серьги из комбинированного золота,earrings,029686,13050.00,0.50,2.21,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,5905.00,БК СЕРЬГИ,5 500 руб. - 6 000 руб.,_Sokolov,5 500 руб. - 6 000 руб.
1429,07.06.2024,Sokolov,кольцо обручальное из золота,rings,111230,18270.00,1.00,2.57,нет скидочного купона,7109.00,БК КОЛЬЦА ОБРУЧ,7 000 руб. - 8 000 руб.,_Sokolov,7 000 руб. - 8 000 руб.
334,07.06.2024,Sokolov,серьги из золота,earrings,027431,11925.00,0.50,1.48,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,8057.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.,_Sokolov,8 000 руб. - 9 000 руб.
842,07.06.2024,Sokolov,браслет из золота,bracelets,051395,25875.00,0.50,3.14,Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2,8240.00,ЦБ БРАСЛЕТЫ,8 000 руб. - 9 000 руб.,_Sokolov,8 000 руб. - 9 000 руб.

In [157]:
df_sokolov['discount_for_dash'].value_counts()

discount_for_dash
Второе золотое украшение БЕСПЛАТНО! 1 ＝ 2                        1122
нет скидочного купона                                             237
Дополнительная скидка по акции «Калейдоскоп скидок!» ЕЩЁ -10%      33
Дополнительная скидка по акции «Калейдоскоп скидок!» ЕЩЁ -20%      20
ШОК-ЦЕНА                                                           15
Name: count, dtype: int64

In [158]:
df_sokolov['price_per_gramm'].describe().round(0)

count    1427.00
mean     7276.00
std      1479.00
min      4442.00
25%      6202.00
50%      7031.00
75%      8011.00
max     12544.00
Name: price_per_gramm, dtype: float64

In [159]:
df_sokolov['price_personal'].sum() / df_sokolov['weight'].sum().round(0)

7331.6249638832705

In [160]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url',
       'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm',
       'tg', 'price_case']]

In [161]:
df_sokolov.head()

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,07.06.2024,Sokolov,кольцо обручальное из белого золота,rings,110260-3,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
1,07.06.2024,Sokolov,кольцо обручальное из золота,rings,110260,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
2,07.06.2024,Sokolov,кольцо обручальное из золота,rings,110261,12990.00,1.00,1.63,ШОК-ЦЕНА,7969.00,БК КОЛЬЦА ОБРУЧ,7 000 руб. - 8 000 руб.
3,07.06.2024,Sokolov,кольцо из белого золота,rings,110262-3,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА,8 000 руб. - 9 000 руб.
4,07.06.2024,Sokolov,подвеска из золота,pendants,036439,990.00,1.00,0.13,ШОК-ЦЕНА,7615.00,БК ПОДВЕС ДЕКОР,7 000 руб. - 8 000 руб.

# 2. Sunlight

In [162]:
df_sunlight = pd.read_csv(fr'{way}\sunlight\parsed_data\result\bk_sunlight_{date_now}.csv')

In [163]:
df_sunlight = df_sunlight.drop(columns=['index'])

In [164]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount
0,07.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
1,07.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
2,07.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
3,07.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена']
4,07.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена']

In [165]:
def get_params_from_dic(df):
    '''функция для разделения столбца "params" на отдельные столбцы'''
    spisok = []                                                           
    for c in df['params']:
        for i in c.keys():                                
            spisok.append(i)              
    spisok = set(spisok)
    for s in spisok:
        z = []
        for j in df['params']:
            try:
                z.append(j[s])
            except:
                z.append(np.nan)
        df[s] = z
        
    return df

In [166]:
df_sunlight['group'].unique()

array(['Серьги', 'Крест-подвеска', 'Подвески', 'Кольца', 'Колье', 'Цепи',
       'Браслеты', 'Шейное украшение', 'Серьга', 'Ножной браслет',
       'Брошь', 'Пирсинг', 'Запонки', 'Булавка', 'Зажимы для галстука',
       'Икона', 'Брелоки'], dtype=object)

In [167]:
# чтобы функция написанная выше работала, необходимо, чтобы столбец params стал снова словарем, это происходит благодаря функции eval()
df_sunlight['params'] = df_sunlight['params'].apply(lambda x: eval(x))
get_params_from_dic(df_sunlight)

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount,Ширина цепи,Вставка,Модель,Ширина кольца,Покрытие,Материал изделия,Диаметр серег,Ширина браслета,Страна производства,Вес изделия,Плетение
0,07.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,10-00-0000-27628*,NaN,NaN,Розовое золото,NaN,NaN,Россия,2.36 г,NaN
1,07.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,10-00-0000-27628*,NaN,NaN,Розовое золото,NaN,NaN,Россия,2.36 г,NaN
2,07.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,10-00-0000-27628*,NaN,NaN,Розовое золото,NaN,NaN,Россия,2.36 г,NaN
3,07.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена'],NaN,NaN,11-01-0015-40100*,NaN,NaN,Розовое золото,15 мм,NaN,Россия,0.77 г,NaN
4,07.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена'],NaN,NaN,11-01-0015-40100*,NaN,NaN,Розовое золото,15 мм,NaN,Россия,0.77 г,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4083,07.06.2024,Sunlight,\n Золотая подвеска\n,Подвески,"{'Модель': '12394-P5R-01', 'Материал изделия':...",10990,272930,https://sunlight.net/catalog/pendants_272930.html,36 633 ₽,10 990 ₽,6 594 ₽,"['Цены ниже! Ещё -20%, код: БЛЕСК до 23:59']",NaN,NaN,12394-P5R-01,NaN,NaN,Розовое золото,NaN,NaN,Италия,0.85 г,NaN
4084,07.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '14010495*', 'Материал изделия': 'Р...",25990,271436,https://sunlight.net/catalog/earring_271436.html,86 633 ₽,25 990 ₽,15 594 ₽,"['Цены ниже! Ещё -10%, код: БЛЕСК до 23:59']",NaN,NaN,14010495*,NaN,NaN,Розовое золото,NaN,NaN,Россия,2.83 г,NaN
4085,07.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '23-40-23*', 'Диаметр серег': '40 м...",35990,244034,https://sunlight.net/catalog/earring_244034.html,119 967 ₽,35 990 ₽,22 991 ₽,"['Цены ниже! Ещё -10%, код: БЛЕСК до 23:59']",NaN,NaN,23-40-23*,NaN,NaN,NaN,40 мм,NaN,Россия,3.92 г,NaN
4086,07.06.2024,Sunlight,\n Золотая подвеска\n,Подвески,"{'Модель': '313910 1 1 1овен*', 'Материал изде...",8490,242712,https://sunlight.net/catalog/pendants_242712.html,28 300 ₽,8 490 ₽,5 094 ₽,"['Цены ниже! Ещё -10%, код: БЛЕСК до 23:59']",NaN,NaN,313910 1 1 1овен*,NaN,NaN,Розовое золото,NaN,NaN,Россия,0.94 г,NaN
4087,07.06.2024,Sunlight,\n Золотая подвеска\n,Подвески,"{'Модель': '08-63-0012-00*', 'Материал изделия...",16990,167673,https://sunlight.net/catalog/pendants_167673.html,33 980 ₽,16 990 ₽,10 194 ₽,"['Цены ниже! Ещё -10%, код: БЛЕСК до 23:59']",NaN,NaN,08-63-0012-00*,NaN,NaN,Розовое золото,NaN,NaN,Россия,1.77 г,NaN

In [168]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount,Ширина цепи,Вставка,Модель,Ширина кольца,Покрытие,Материал изделия,Диаметр серег,Ширина браслета,Страна производства,Вес изделия,Плетение
0,07.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,10-00-0000-27628*,NaN,NaN,Розовое золото,NaN,NaN,Россия,2.36 г,NaN
1,07.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,10-00-0000-27628*,NaN,NaN,Розовое золото,NaN,NaN,Россия,2.36 г,NaN
2,07.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,10-00-0000-27628*,NaN,NaN,Розовое золото,NaN,NaN,Россия,2.36 г,NaN
3,07.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена'],NaN,NaN,11-01-0015-40100*,NaN,NaN,Розовое золото,15 мм,NaN,Россия,0.77 г,NaN
4,07.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена'],NaN,NaN,11-01-0015-40100*,NaN,NaN,Розовое золото,15 мм,NaN,Россия,0.77 г,NaN

In [169]:
df_sunlight['Материал изделия'].value_counts(dropna=False)

Материал изделия
Розовое золото                                 2863
Желтое золото                                   630
Белое золото, Розовое золото                    271
Белое золото                                    166
NaN                                              91
Белое золото, Желтое золото                      20
Белое золото, Желтое золото, Розовое золото      19
Желтое золото, Розовое золото                    11
Текстиль                                         10
Серебро                                           7
Name: count, dtype: int64

In [170]:
df_sunlight['Материал изделия'] = df_sunlight['Материал изделия'].fillna('золото')

In [171]:
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Серебро'))]
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Текстиль'))]

In [172]:
df_sunlight = df_sunlight.drop(columns=['params', 'price_x', 'article',
                                'Ширина кольца', 'Страна производства',
                                'Ширина цепи', 'Плетение', 'Ширина браслета',
                                'Модель', 'Диаметр серег', 'Вставка', 'Покрытие', 'Материал изделия'], axis=1)

In [173]:
df_sunlight.columns

Index(['date', 'competitor', 'name', 'group', 'url', 'price_old', 'price_y',
       'price_personal', 'discount', 'Вес изделия'],
      dtype='object')

In [174]:
# переименновываем столбцы, чтобы у всех таблиц была единая система
df_sunlight.columns = ['date', 'competitor', 'name', 'group', 'url', 'price_old',
                    'price', 'price_personal', 'discount', 'weight']

In [175]:
df_sunlight['price_personal'].isna().sum()

806

In [176]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].fillna(df_sunlight['price'])

In [177]:
df_sunlight['weight'] = df_sunlight['weight'].str.replace(' г', '')
df_sunlight['name'] = df_sunlight['name'].str.replace('\n', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].astype('float')
df_sunlight['price_personal'] = df_sunlight['price_personal'].astype('float')
df_sunlight['discount_for_dash'] = df_sunlight['discount']

In [178]:
df_sunlight['discount_for_dash'].isna().sum()

0

In [179]:
df_sunlight['discount_for_dash'].unique()

array(["['ХИТ-цена']", "['Цены ниже! Ещё -15%, код: БЛЕСК до 23:59']",
       "['Цены ниже! Ещё -20%, код: БЛЕСК до 23:59']",
       "['ХИТ-цена', 'Выгодно! Золото 5 290 р/г']",
       "['Цены ниже! Ещё -10%, код: БЛЕСК до 23:59']",
       "['Цены снижены! Ещё -15%, код: СЕГОДНЯ']", '[nan]',
       "['Второе в подарок, код: 1=2']"], dtype=object)

In [180]:
def discount_value_sl(discount):
    '''у Sunlight купоны имеют скидку до 55%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '55%' in discount:
        return 0.45
    elif '50%' in discount:
        return 0.50
    elif '45%' in discount:
        return 0.55
    elif '40%' in discount:
        return 0.6
    elif '35%' in discount:
        return 0.65
    elif '30%' in discount:
        return 0.7
    elif '25%' in discount:
        return 0.75
    elif '20%' in discount:
        return 0.8
    elif '15%' in discount:
        return 0.85
    elif '10%' in discount:
        return 0.9 
    elif '1=2' in discount:
        return 0.5
    return 1

df_sunlight['discount'] = df_sunlight['discount'].apply(discount_value_sl)

In [181]:
df_sunlight['discount'].value_counts(dropna=False)

discount
0.85    1604
0.90     848
1.00     808
0.80     807
0.50       4
Name: count, dtype: int64

In [182]:
df_sunlight['discount_for_dash'].value_counts(dropna=False)

discount_for_dash
['Цены ниже! Ещё -15%, код: БЛЕСК до 23:59']    1592
['Цены ниже! Ещё -10%, код: БЛЕСК до 23:59']     848
['Цены ниже! Ещё -20%, код: БЛЕСК до 23:59']     807
['ХИТ-цена']                                     756
['ХИТ-цена', 'Выгодно! Золото 5 290 р/г']         46
['Цены снижены! Ещё -15%, код: СЕГОДНЯ']          12
[nan]                                              6
['Второе в подарок, код: 1=2']                     4
Name: count, dtype: int64

In [183]:
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace("'", '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('[', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace(']', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('nan', 'нет скидочного купона')

In [184]:
df_sunlight['discount'] = df_sunlight['discount'].astype('float')

In [185]:
# применяем для каждого товара скидочный купон
# кроме тех строк, в которых есть информация, что это ХИТ-товар
df_sunlight['price_personal'] = np.where(
    df_sunlight['discount_for_dash'].str.contains('ХИТ'), df_sunlight['price'], df_sunlight['price'] * df_sunlight['discount']
)

In [186]:
df_sunlight['discount_for_dash'].value_counts()

discount_for_dash
Цены ниже! Ещё -15%, код: БЛЕСК до 23:59    1592
Цены ниже! Ещё -10%, код: БЛЕСК до 23:59     848
Цены ниже! Ещё -20%, код: БЛЕСК до 23:59     807
ХИТ-цена                                     756
ХИТ-цена, Выгодно! Золото 5 290 р/г           46
Цены снижены! Ещё -15%, код: СЕГОДНЯ          12
нет скидочного купона                          6
Второе в подарок, код: 1=2                     4
Name: count, dtype: int64

In [187]:
# после применения купона, цена по программе лояльности Sunlight может снизиться ещё до 30% от полученной суммы при помощи бонусных баллов
# мы считаем, что пользователь пользуется максимальным количеством бонусных баллов, применимых к товару
# это не распростроняется на фикс цены, о наличии которых мы можем понять по устойчивому "ХИТ-цена", но так же могут быть добавлены новые акции
# всегда стоит перед запуском скрипта ниже проверять вывод блока кода выше

for i in df_sunlight.index:
    if df_sunlight['discount_for_dash'][i] == "ХИТ-цена":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    elif df_sunlight['discount_for_dash'][i] == "ХИТ-цена, Выгодно! Золото 5 290 р/г":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    else:    
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] * 0.7

In [188]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
3037,07.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_351377.html,45 980 ₽,22990.00,14483.70,0.90,2.35,"Цены ниже! Ещё -10%, код: БЛЕСК до 23:59"
1873,07.06.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,https://sunlight.net/catalog/pendants_349872.html,31 980 ₽,15990.00,8954.40,0.80,1.23,"Цены ниже! Ещё -20%, код: БЛЕСК до 23:59"
2829,07.06.2024,Sunlight,Золотой браслет,Браслеты,https://sunlight.net/catalog/bracelets_151964....,NaN,42964.00,42964.00,1.00,6.62,ХИТ-цена
3795,07.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_354017.html,67 980 ₽,33990.00,21413.70,0.90,3.75,"Цены ниже! Ещё -10%, код: БЛЕСК до 23:59"
4001,07.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_168308.html,41 980 ₽,20990.00,12489.05,0.85,2.23,"Цены ниже! Ещё -15%, код: БЛЕСК до 23:59"

In [189]:
df_sunlight['price_personal'].isna().sum()

1

In [190]:
df_sunlight.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4071 entries, 0 to 4087
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               4071 non-null   object
 1   competitor         4071 non-null   object
 2   name               4071 non-null   object
 3   group              4071 non-null   object
 4   url                4071 non-null   object
 5   price_old          3265 non-null   object
 6   price              4070 non-null   float64
 7   price_personal     4070 non-null   float64
 8   discount           4071 non-null   float64
 9   weight             4071 non-null   object
 10  discount_for_dash  4071 non-null   object
dtypes: float64(3), object(8)
memory usage: 510.7+ KB

In [191]:
df_sunlight.sample()

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
3898,07.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_182678.html,63 980 ₽,31990.00,20153.70,0.90,3.0,"Цены ниже! Ещё -10%, код: БЛЕСК до 23:59"

In [192]:
df_sunlight['weight'] = df_sunlight['weight'].astype(float)
df_sunlight = df_sunlight[df_sunlight['weight'] > 0.1]

In [193]:
df_sunlight.drop_duplicates(inplace=True)

In [194]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
1889,07.06.2024,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_986599.html,22 980 ₽,11490.00,6836.55,0.85,0.96,"Цены ниже! Ещё -15%, код: БЛЕСК до 23:59"
3108,07.06.2024,Sunlight,"Золотая подвеска-зодиак ""Рак""",Подвески,https://sunlight.net/catalog/pendants_271471.html,16 980 ₽,8490.00,4754.40,0.80,0.65,"Цены ниже! Ещё -20%, код: БЛЕСК до 23:59"
1505,07.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_271425.html,16 980 ₽,8490.00,5051.55,0.85,0.78,"Цены ниже! Ещё -15%, код: БЛЕСК до 23:59"
567,07.06.2024,Sunlight,Золотой браслет,Браслеты,https://sunlight.net/catalog/bracelets_995322....,184 740 ₽,92370.00,51727.20,0.80,10.04,"Цены ниже! Ещё -20%, код: БЛЕСК до 23:59"
4037,07.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_993806.html,55 980 ₽,27990.00,17633.70,0.90,3.04,"Цены ниже! Ещё -10%, код: БЛЕСК до 23:59"

In [195]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].round(0)

In [220]:
# проверяем корректность расчётов
df_sunlight[['price_personal','url']].sample(3)

      price_personal                                                url
4059        17659.00      https://sunlight.net/catalog/ring_984460.html
2872         9651.00  https://sunlight.net/catalog/bracelets_333872....
3672        30934.00   https://sunlight.net/catalog/earring_183236.html

In [197]:
df_sunlight = df_sunlight.drop(columns=['price_old', 'price'])

In [198]:
df_sunlight['price_per_gramm'] = (df_sunlight['price_personal'] / df_sunlight['weight']).round(0)

In [199]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sunlight['tg'] = np.where(
    df_sunlight['group'].str.contains('Серьги|Серьга|Пирсинг'), 'СЕРЬГИ',
    np.where(
        df_sunlight['group'].str.contains('Цепи'), 'ЦЕПИ',
        np.where(
            ((df_sunlight['group'].str.contains('Подвески')) & (df_sunlight['name'].str.lower().str.contains('свят|божия|блаженная|господь|чудотворец|ангел|сергий|божья|георгий'))), 'ПОДВЕС КУЛЬТ',
            np.where(
                df_sunlight['group'].str.contains('Крест|Икона'), 'ПОДВЕС КУЛЬТ',
                np.where(
                    df_sunlight['group'].str.lower().str.contains('браслет'), 'БРАСЛЕТЫ', 
                    np.where(
                        ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное') == False)), 'КОЛЬЦА',
                        np.where(
                            ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ',
                            np.where(
                                df_sunlight['group'].str.contains('Подвески'), 'ПОДВЕС ДЕКОР', df_sunlight['group']
                            )
                        )
                    )
                )
            )
        )
    )
)

In [200]:
df_sunlight = df_sunlight[df_sunlight['tg'].str.contains('СЕРЬГИ|КОЛЬЦА|ПОДВЕС|БРАСЛЕТЫ|ЦЕПИ')] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [201]:
df_sunlight['price_case'] = np.where(
    df_sunlight['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sunlight['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sunlight['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sunlight['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sunlight['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sunlight['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sunlight['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [202]:
df_sunlight['tn'] = np.where(
    df_sunlight['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ', 'БК'
)

In [203]:
df_sunlight['tg'] = df_sunlight['tn'] + ' ' + df_sunlight['tg']

In [204]:
df_sunlight['price_per_gramm'].describe([0.05, 0.99])

count    3408.00
mean     6769.48
std      1242.92
min      4333.00
5%       5590.70
50%      6663.50
99%      9260.86
max     52475.00
Name: price_per_gramm, dtype: float64

In [205]:
df_sunlight = df_sunlight.drop(columns=['tn'])

In [206]:
df_sunlight.head(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,07.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_235978.html,20990.00,1.00,2.36,ХИТ-цена,8894.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
3,07.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_51498.html,6490.00,1.00,0.77,ХИТ-цена,8429.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
6,07.06.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,https://sunlight.net/catalog/pendants_75809.html,2490.00,1.00,0.26,ХИТ-цена,9577.00,БК ПОДВЕС КУЛЬТ,9 000 руб. - 10 000 руб.
9,07.06.2024,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_993847.html,1990.00,1.00,0.21,ХИТ-цена,9476.00,БК ПОДВЕС ДЕКОР,9 000 руб. - 10 000 руб.
12,07.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_271510.html,10490.00,1.00,1.04,ХИТ-цена,10087.00,БК СЕРЬГИ,свыше 10 000 руб.

In [207]:
print((df_sunlight['price_personal'].sum() / df_sunlight['weight'].sum()).round(0))

6394.0

# 3. 585*Золотой онлайн остатки

In [329]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime) # мы ищем тут последний выгруженный файл (занимается выгрузкой Оризу Наталья email: Orizu.Natalya@zolotoy.ru)

df = pd.read_excel(latest_file)

In [330]:
latest_file # если последний файл - не за сегодняшнюю/вчерашнюю дату, стоит запросить актуальную выгрузку

'\\\\gold585.int\\uk\\Общее хранилище файлов\\Служба аналитики\\МЮР\\ecom_stock_raw\\Остатки 2024.06.07.xlsx'

In [331]:
df.fineness.unique()

array([925., 375., 585.,  nan, 750., 999., 944., 945., 946., 947., 937.,
       938., 939., 931., 932., 933., 926., 928., 929., 930., 948., 949.,
       950., 951., 927., 934., 935., 936., 960., 961., 962., 963., 964.,
       956., 957., 958., 959., 875.])

In [332]:
df['published'].value_counts(dropna=False)

published
True     167771
False     36998
Name: count, dtype: int64

In [333]:
df['product_line'].unique()

array(['СИ', 'ПДК', 'ДК', 'ФУТЛЯРЫ', 'ДФРС', 'ЧАСЫ', 'ЦБ', 'ИФ', 'БК',
       'ВЫРИЦА', 'БИЖУТЕРИЯ', nan, 'БУ'], dtype=object)

In [334]:
df = df[(df['fineness'] == 585) & (df['product_line'].str.contains('ФУТЛЯРЫ|ДФРС|ВЫРИЦА|ЧАСЫ|БИЖУТЕРИЯ|БУ') == False)]

In [335]:
df = df[(df['product_group'].str.contains('БК КОЛЬЦА')|
        df['product_group'].str.contains('БК КОЛЬЦА ОБРУЧ')|
        df['product_group'].str.contains('ЦБ БРАСЛЕТЫ')|
        df['product_group'].str.contains('БК СЕРЬГИ')|
        df['product_group'].str.contains('БК ПОДВЕС КУЛЬТ')|
        df['product_group'].str.contains('БК ПОДВЕС ДЕКОР')|
        df['product_group'].str.contains('ЦБ ЦЕПИ'))]

In [336]:
df = df.drop(columns=['Unnamed: 15', '*без франчайзинговых магазинов и Румянцево'])

In [337]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\discounts_zolotoy\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)

discount = pd.read_excel(latest_file)

In [338]:
discount.sample(3)

,Артикул сайта,Опубликован,discount_value_promotions_1,discount_value_promotions_2,discount_value_promotions_3,discount_value_promotions_4
106749,2240593,False,-,-,-,-
171093,5814160,True,-,-,-,-
117445,2638784,True,40,-,-,-

In [339]:
discount.columns = ['article', 'Опубликован', 'discount_value_promotions_1',
                    'discount_value_promotions_2', 'discount_value_promotions_3',
                    'discount_value_promotions_4']

In [340]:
df = df.merge(discount, how='left', on='article')

In [341]:
df = df[(df['published'] == 'ИСТИНА') | (df['published'] == True)]

In [342]:
df = df.drop(columns=['weaving', 'Unnamed: 14', 'name'])

In [343]:
df.columns = ['article', 'size', 'published', 'product_line', 'product_group',
            'material', 'type3', 'fineness', 'avg_weight', 'price',
            'discount_price', 'Остатки, шт*', 'type3',
            'discount_value_promotions_1', 'discount_value_promotions_2', 'discount_value_promotions_3', 'discount_value_promotions_4']

In [344]:
df = df.drop(columns=['discount_value_promotions_4', 'published'])

In [345]:
def discount_index(discount):
    try:
        return 1 - discount / 100
    except:
        return 1

In [346]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.apply(discount_index)
df.discount_value_promotions_2 = df.discount_value_promotions_2.apply(discount_index)
df.discount_value_promotions_3 = df.discount_value_promotions_3.apply(discount_index)

In [347]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.fillna(1)
df.discount_value_promotions_2 = df.discount_value_promotions_2.fillna(1)
df.discount_value_promotions_3 = df.discount_value_promotions_3.fillna(1)

In [348]:
df = df.dropna(subset=['avg_weight', 'discount_value_promotions_1'])

In [349]:
df['price_personal'] = np.where(
    (df['price'] == df['discount_price']) & (df['discount_value_promotions_1'] == 1), df['discount_price'] * df['discount_value_promotions_1'], df['discount_price'] * df['discount_value_promotions_1'] * 0.8
)

In [350]:
df = df.drop_duplicates(subset=['article'])

In [351]:
zolotoy = df.groupby('product_group', as_index=False)[['price_personal', 'avg_weight']].agg({'price_personal':'sum', 'avg_weight':'sum'})
zolotoy['price_per_gram'] = zolotoy['price_personal'] / zolotoy['avg_weight']

In [352]:
zolotoy['price_personal'].sum() / zolotoy['avg_weight'].sum()

6257.262085622339

In [353]:
zolotoy

     product_group  price_personal  avg_weight  price_per_gram
0        БК КОЛЬЦА      4544776.40      830.93         5469.51
1  БК КОЛЬЦА ОБРУЧ      5886074.00     1072.26         5489.41
2  БК ПОДВЕС ДЕКОР      3452546.00      622.36         5547.51
3  БК ПОДВЕС КУЛЬТ      8936864.80     1516.51         5893.05
4        БК СЕРЬГИ     13386288.40     2236.99         5984.06
5      ЦБ БРАСЛЕТЫ     30783249.60     4734.85         6501.42
6          ЦБ ЦЕПИ     45862926.00     7021.58         6531.71

In [354]:
zolotoy['date'] = pd.to_datetime('06.05.2024', format='mixed')

In [355]:
zolotoy = zolotoy.drop(columns=['price_personal', 'avg_weight', 'date'])

In [356]:
zolotoy.columns = ['tg', '585*Золотой остатки 40%+20%']

In [357]:
df = df.drop_duplicates(subset=['article'])

In [358]:
df['date'] = pd.to_datetime(date_now, dayfirst=True)
df['competitor'] = '585*Золотой'
df['price_per_gramm'] = df['price_personal'] / df['avg_weight']

In [359]:
df['price_case'] = np.where(
    df['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [360]:
df = df[['date', 'competitor', 'avg_weight', 'price_personal', 'product_group', 'price_per_gramm', 'discount_value_promotions_1', 'article', 'price_case']]
df.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [361]:
data_history = pd.DataFrame({'date': [pd.to_datetime(date_now, dayfirst=True)],
                            'competitor': ['585*Золотой'],
                            'avg_ppg': [int(df['price_personal'].sum() / df['weight'].sum())]})

# 4. 585*Золотой оффлайн остатки

In [475]:
# SQL-скрипт ниже выгружает данные по остаткам с БД Staging, доступ к ней выдаётся по учётной записи Windows по согласованию

conn = pymssql.connect(server='AX-SQL', database='Staging')
cursor = conn.cursor()

sql = f'''
SELECT [Код склада], [Название склада], [Цена Закупки за 1 шт. (упр сс с НДС за единицу)], [Группа цен],
[Товарное направление], [Товарная группа], [Проба], [Цена Розн., за шт],  [Запрет скидки],
[Код товара],  [Артикул поставщика], [Чистый вес], [ШК], [Общий вес], [Скидка на изделии], [Тип изделия 1], 
[ID Сайта]
from [Staging].[Reports].[Remainings_8h]
where [Товарное направление] in (N'БК', N'ЦБ')
'''

sql_query = pd.read_sql_query(sql, conn)
stock = pd.DataFrame(sql_query)

In [476]:
stock.sample(5)

,Код склада,Название склада,Цена Закупки за 1 шт. (упр сс с НДС за единицу),Группа цен,Товарное направление,Товарная группа,Проба,"Цена Розн., за шт",Запрет скидки,Код товара,Артикул поставщика,Чистый вес,ШК,Общий вес,Скидка на изделии,Тип изделия 1,ID Сайта
225316,5698,"Гатчина, Соборная, 4/9",5732.58,ЦБ_ПУСТОТЕЛЫЕ <=3 ГРАММ,ЦБ,ЦБ БРАСЛЕТЫ,585,37101.00,Нет,ТОВ01262432,431-01-0070-30176,2.49,2078604779972,2.49,24.00,БРАСЛЕТ,1908206
759932,3786,"Новосибирск, К.Маркса, 3, ТРЦ «Версаль»",20151.46,ЦБ_АВТОМАТ >3 ГРАММ,ЦБ,ЦБ БРАСЛЕТЫ,585,130729.00,Нет,ТОВ1131927,БР 52-01,8.76,2078604295431,8.76,11.00,БРАСЛЕТ,8183878
1471427,4443,Ярославль Ленинградский пр 123 ТРК «Альтаир» (...,16431.19,ЦБ_ПУСТОТЕЛЫЕ >3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,82824.00,Нет,ТОВ01260814,331-01-0060-30200,4.93,2078609848518,4.93,20.00,ЦЕПЬ,3912327
1349148,3075,Центральный склад Регент Голд,8603.86,KVI,БК,БК КОЛЬЦА ОБРУЧ,585,12990.00,Нет,ТОВ0832972,КО 04-00,2.75,2078609008911,2.75,70.00,КОЛЬЦО ОБРУЧАЛЬНОЕ,2002944
709417,3371,"Нижний Новгород, пр. Ленина 33",12536.16,ЦБ_ПУСТОТЕЛЫЕ <=3 ГРАММ,ЦБ,ЦБ БРАСЛЕТЫ,585,51992.00,Нет,ТОВ1291723,"НБ12-200ПГ D0,70",2.68,2078608740717,2.68,30.00,БРАСЛЕТ,1182395

In [477]:
stock['Код склада'] = stock['Код склада'].astype('float64')

In [479]:
stock['date'] = pd.to_datetime(date_now, dayfirst=True)
stock['competitor'] = '585*Золотой оффлайн'
stock['discount_for_dash'] = 0.6 * 0.8 # скидка непостоянная, информация о скидке всегда приходит на почту в конце месяца

In [480]:
stock = stock[['date', 'competitor', 'ID Сайта', 'Цена Розн., за шт', 'Запрет скидки', 'Чистый вес', 'discount_for_dash', 'Товарная группа', 'Скидка на изделии']]

In [481]:
stock.columns = ['date', 'competitor', 'url', 'price', 'discount', 'weight', 'discount_for_dash', 'tg', 'skidka']

In [482]:
tgs = ['БК СЕРЬГИ', 'ЦБ БРАСЛЕТЫ', 'ЦБ ЦЕПИ', 'БК КОЛЬЦА ОБРУЧ', 'БК ПОДВЕС КУЛЬТ', 'БК ПОДВЕС ДЕКОР', 'БК КОЛЬЦА']
stock = stock.query('tg in @tgs')

In [483]:
stock['price_personal'] = np.where(
    stock['discount'] == 'Да', stock['price'], stock['price'] * stock['discount_for_dash'] * (1 - (stock['skidka'] / 100))
)

In [484]:
stock['price_per_gramm'] = stock['price_personal'] / stock['weight']

In [485]:
stock['price_case'] = np.where(
    stock['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (stock['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (stock['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (stock['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (stock['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (stock['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (stock['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [486]:
stock

,date,competitor,url,price,discount,weight,discount_for_dash,tg,skidka,price_personal,price_per_gramm,price_case
0,2024-06-07,585*Золотой оффлайн,2576560,52037.00,Нет,3.39,0.48,БК КОЛЬЦА ОБРУЧ,14.00,21480.87,6336.54,6 000 руб. - 6 500 руб.
1,2024-06-07,585*Золотой оффлайн,2576560,53111.00,Нет,3.46,0.48,БК КОЛЬЦА ОБРУЧ,14.00,21924.22,6336.48,6 000 руб. - 6 500 руб.
2,2024-06-07,585*Золотой оффлайн,2576560,65698.00,Нет,4.28,0.48,БК КОЛЬЦА ОБРУЧ,14.00,27120.13,6336.48,6 000 руб. - 6 500 руб.
3,2024-06-07,585*Золотой оффлайн,3929471,51456.00,Нет,3.41,0.48,ЦБ БРАСЛЕТЫ,6.00,23216.95,6812.48,6 500 руб. - 7 000 руб.
4,2024-06-07,585*Золотой оффлайн,3928876,35183.00,Нет,1.50,0.48,ЦБ БРАСЛЕТЫ,35.00,10977.10,7298.60,7 000 руб. - 8 000 руб.
...,...,...,...,...,...,...,...,...,...,...,...,...
1476290,2024-06-07,585*Золотой оффлайн,1271102,90048.00,Нет,5.36,0.48,ЦБ БРАСЛЕТЫ,11.00,38468.51,7178.30,7 000 руб. - 8 000 руб.
1476291,2024-06-07,585*Золотой оффлайн,1182395,50828.00,Нет,2.63,0.48,ЦБ БРАСЛЕТЫ,22.00,19030.00,7230.24,7 000 руб. - 8 000 руб.
1476292,2024-06-07,585*Золотой оффлайн,1310802,55290.00,Нет,2.85,0.48,ЦБ ЦЕПИ,22.00,20700.58,7263.36,7 000 руб. - 8 000 руб.
1476293,2024-06-07,585*Золотой оффлайн,3457008,126672.00,Нет,7.54,0.48,ЦБ БРАСЛЕТЫ,11.00,54114.28,7176.96,7 000 руб. - 8 000 руб.
1476294,2024-06-07,585*Золотой оффлайн,1511357,53424.00,Нет,3.18,0.48,БК ПОДВЕС КУЛЬТ,20.00,20514.82,6451.20,6 000 руб. - 6 500 руб.

In [487]:
stock = stock[['date', 'competitor', 'url', 'price_personal', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]
stock.columns = ['date_', 'competitor', 'url', 'price_personal', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']

In [488]:
gold_stock = stock.groupby(by = 'tg', as_index = False)[['price_personal', 'weight']].agg('sum')
gold_stock['price_per_gramm'] = gold_stock['price_personal'] / gold_stock['weight']

In [489]:
stock_price_pl = ((gold_stock['price_personal']).sum() / gold_stock['weight'].sum()).round(0)
print('Средняя цена остатков офлайн ПЛ: ', stock_price_pl)

Средняя цена остатков офлайн ПЛ:  5927.0

In [377]:
gold_stock = gold_stock[['tg', 'price_per_gramm']]

In [378]:
gold_stock.columns = ['tg', '585*Золотой оффлайн остатки 40%+20%']

# 5. Соединение таблиц для дашборда

In [379]:
data_all = pd.concat([df_sokolov, df_sunlight], ignore_index=True)

In [380]:
data_all['date'].fillna(f'{day_now}-{month_now}-{year_now}', inplace=True)

In [381]:
data_all['date'].unique()

array(['07.06.2024'], dtype=object)

In [382]:
data_all['date'] = pd.to_datetime(date_now, dayfirst=True)

In [383]:
data_all.date.unique()

<DatetimeArray>
['2024-06-07 00:00:00']
Length: 1, dtype: datetime64[ns]

In [384]:
data_all

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,2024-06-07,Sokolov,кольцо обручальное из белого золота,rings,110260-3,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
1,2024-06-07,Sokolov,кольцо обручальное из золота,rings,110260,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
2,2024-06-07,Sokolov,кольцо обручальное из золота,rings,110261,12990.00,1.00,1.63,ШОК-ЦЕНА,7969.00,БК КОЛЬЦА ОБРУЧ,7 000 руб. - 8 000 руб.
3,2024-06-07,Sokolov,кольцо из белого золота,rings,110262-3,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА,8 000 руб. - 9 000 руб.
4,2024-06-07,Sokolov,подвеска из золота,pendants,036439,990.00,1.00,0.13,ШОК-ЦЕНА,7615.00,БК ПОДВЕС ДЕКОР,7 000 руб. - 8 000 руб.
...,...,...,...,...,...,...,...,...,...,...,...,...
4831,2024-06-07,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_272930.html,6154.00,0.80,0.85,"Цены ниже! Ещё -20%, код: БЛЕСК до 23:59",7240.00,БК ПОДВЕС ДЕКОР,7 000 руб. - 8 000 руб.
4832,2024-06-07,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_271436.html,16374.00,0.90,2.83,"Цены ниже! Ещё -10%, код: БЛЕСК до 23:59",5786.00,БК СЕРЬГИ,5 500 руб. - 6 000 руб.
4833,2024-06-07,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_244034.html,22674.00,0.90,3.92,"Цены ниже! Ещё -10%, код: БЛЕСК до 23:59",5784.00,БК СЕРЬГИ,5 500 руб. - 6 000 руб.
4834,2024-06-07,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_242712.html,5349.00,0.90,0.94,"Цены ниже! Ещё -10%, код: БЛЕСК до 23:59",5690.00,БК ПОДВЕС ДЕКОР,5 500 руб. - 6 000 руб.
4835,2024-06-07,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_167673.html,10704.00,0.90,1.77,"Цены ниже! Ещё -10%, код: БЛЕСК до 23:59",6047.00,БК ПОДВЕС ДЕКОР,6 000 руб. - 6 500 руб.

In [385]:
data_history_gold = data_history

In [386]:
# группируем общую таблицу для добавления данных о изменении стоимости за грамм по дате
data_history = data_all.groupby('competitor', as_index=False)[['weight', 'price_personal']].agg('sum')
data_history['price_per_gramm'] = (data_history['price_personal'] / data_history['weight']).round(0)
data_history.insert(0, 'date', f'{date_now}')
data_history = data_history.drop(columns=['weight', 'price_personal'], axis=1)
data_history['num_shop'] = '_' + data_history['competitor']

In [387]:
data_history = data_history.drop(columns=['num_shop'])
data_history.columns = ['date', 'competitor', 'avg_ppg']

In [388]:
data_history['date'] = pd.to_datetime(date_now, dayfirst=True)

In [389]:
data_history = pd.concat([data_history_gold, data_history], ignore_index=True)

In [390]:
data_history.to_sql('avg_ppg_for_monthly_monitoring', engine, schema = 'yura', if_exists='append', index = False)

3

In [391]:
data_all.to_excel(rf'{report_folder}\Данные парсинга\bk_sokolov_sunlight_{date_now}.xlsx', index=False)

In [392]:
data_all = data_all.drop(columns=['name', 'discount', 'group'])

In [393]:
data_all = data_all[['date', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']]

In [394]:
data_all.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [395]:
data_all['date_'] = pd.to_datetime(date_now, dayfirst=True)

In [396]:
# группировка полученных данных для отчёта

In [397]:
df_tn_sokolov = df_sokolov.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sokolov['price_per_gram'] = df_tn_sokolov['price_personal'] / df_tn_sokolov['weight']

In [398]:
df_tn_sunlight = df_sunlight.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sunlight['price_per_gram'] = df_tn_sunlight['price_personal'] / df_tn_sunlight['weight']

In [399]:
df_tn_sunlight = df_tn_sunlight.drop(columns=['price_personal', 'weight'])
df_tn_sunlight.columns = ['tg', 'Sunlight']

In [400]:
df_tn_sokolov = df_tn_sokolov.drop(columns=['price_personal', 'weight'])
df_tn_sokolov.columns = ['tg', 'Sokolov']

In [401]:
result = pd.merge(df_tn_sokolov, df_tn_sunlight, how='left', on='tg').merge(zolotoy, how='left', on='tg').merge(gold_stock, how='left', on='tg') # объединяем данные в одну табличку

In [402]:
result

,tg,Sokolov,Sunlight,585*Золотой остатки 40%+20%,585*Золотой оффлайн остатки 40%+20%
0,БК КОЛЬЦА,6490.57,6546.46,5469.51,6078.01
1,БК КОЛЬЦА ОБРУЧ,8544.32,6217.39,5489.41,5608.72
2,БК ПОДВЕС ДЕКОР,6737.88,6892.14,5547.51,6084.92
3,БК ПОДВЕС КУЛЬТ,6846.22,6667.25,5893.05,6113.96
4,БК СЕРЬГИ,6318.40,6836.88,5984.06,5859.26
5,ЦБ БРАСЛЕТЫ,7615.79,6177.86,6501.42,5840.88
6,ЦБ ЦЕПИ,8868.81,5970.83,6531.71,6076.87

# 6. Расчёт наценки

In [403]:
cookies = {
    '__ddg1_': 'XgGmRRFfNl9J83C2HQq2',
    '__RequestVerificationToken': '5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
}

headers = {
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7',
    'accept-language': 'ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7',
    'cache-control': 'max-age=0',
    # 'cookie': '__ddg1_=XgGmRRFfNl9J83C2HQq2; __RequestVerificationToken=5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
    'priority': 'u=0, i',
    'sec-ch-ua': '"Google Chrome";v="125", "Chromium";v="125", "Not.A/Brand";v="24"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'document',
    'sec-fetch-mode': 'navigate',
    'sec-fetch-site': 'cross-site',
    'sec-fetch-user': '?1',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36',
}

response = requests.get('https://mfd.ru/centrobank/preciousmetals/', cookies=cookies, headers=headers).text

In [404]:
soup = bs(response, 'html.parser')

In [405]:
# данные ниже могут меняться
price_ = float(soup.find('table', class_='mfd-table').find('tbody').find('td', class_='mfd-item-date').findNext('td').text.strip()[:7]) * 0.585
ugar = 0.03 
workprice = 150 
nds = 0.2

In [406]:
costprice = (price_/(1-ugar)+workprice)*(1 + nds)

In [407]:
stock_for_dash = stock.drop_duplicates(subset=['url'])

In [408]:
data_all = pd.concat([data_all, df, stock_for_dash], ignore_index=True)

In [409]:
data_all['markup'] = (data_all['price_personal'] / (costprice * data_all['weight'])) - 1

In [410]:
data_all['markup'] = data_all['markup'].astype(str)
data_all = data_all[data_all['markup'] != 'inf']
data_all['markup'] = data_all['markup'].astype(float)

In [411]:
data_all['date_'] = pd.to_datetime(date_now, dayfirst=True)

In [415]:
data_all1 = data_all.drop(columns=['markup'])

In [416]:
data_all1.to_sql('price_per_gramm', engine, schema = 'yura', if_exists='append', index = False)

989

In [417]:
data_all = data_all.dropna(subset=['markup'])

In [418]:
costprice_offline = data_all[data_all['competitor'] == '585*Золотой оффлайн'].groupby(by = 'tg', as_index = False)['markup'].mean()
costprice_offline.columns = ['tg', 'markup_a']

In [419]:
costprice_ = data_all[data_all['competitor'] == 'Sunlight'].groupby(by = 'tg', as_index = False)['markup'].mean().\
    merge(data_all[data_all['competitor'] == 'Sokolov'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg').\
        merge(data_all[data_all['competitor'] == '585*Золотой'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg')

In [420]:
costprice_ = costprice_.merge(costprice_offline, how='left', on='tg')

In [421]:
costprice_

                tg  markup_x  markup_y  markup  markup_a
0        БК КОЛЬЦА      0.29      0.31    0.08      0.13
1  БК КОЛЬЦА ОБРУЧ      0.26      0.71    0.10      0.07
2  БК ПОДВЕС ДЕКОР      0.43      0.42    0.12      0.17
3  БК ПОДВЕС КУЛЬТ      0.38      0.45    0.20      0.19
4        БК СЕРЬГИ      0.38      0.30    0.21      0.19
5      ЦБ БРАСЛЕТЫ      0.29      0.58    0.27      0.19
6          ЦБ ЦЕПИ      0.31      0.90    0.27      0.18

In [422]:
costprice_.columns = ['Товарная группа', 'Наценка Sunlight', 'Наценка Sokolov', 'Наценка 585*Золотой онлайн', 'Наценка 585*Золотой оффлайн']

In [423]:
costprice_['Дата'] = pd.to_datetime(date_now, dayfirst=True)

In [424]:
costprice_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Товарная группа              7 non-null      object
 1   Наценка Sunlight             7 non-null      float64
 2   Наценка Sokolov              7 non-null      float64
 3   Наценка 585*Золотой онлайн   7 non-null      float64
 4   Наценка 585*Золотой оффлайн  7 non-null      float64
 5   Дата                         7 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 468.0+ bytes

In [425]:
costprice_

,Товарная группа,Наценка Sunlight,Наценка Sokolov,Наценка 585*Золотой онлайн,Наценка 585*Золотой оффлайн,Дата
0,БК КОЛЬЦА,0.29,0.31,0.08,0.13,2024-06-07
1,БК КОЛЬЦА ОБРУЧ,0.26,0.71,0.10,0.07,2024-06-07
2,БК ПОДВЕС ДЕКОР,0.43,0.42,0.12,0.17,2024-06-07
3,БК ПОДВЕС КУЛЬТ,0.38,0.45,0.20,0.19,2024-06-07
4,БК СЕРЬГИ,0.38,0.30,0.21,0.19,2024-06-07
5,ЦБ БРАСЛЕТЫ,0.29,0.58,0.27,0.19,2024-06-07
6,ЦБ ЦЕПИ,0.31,0.90,0.27,0.18,2024-06-07

In [426]:
costprice_.to_sql('costprice_sklv_sl', engine, schema = 'yura', if_exists='append', index = False)

7

# 7. Обработка данных по продажам оффлайн и онлайн

Продажи 585*Золотой онлайн

In [427]:
way = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Илларионов\Выгрузка Еком\\'

In [428]:
data_IM = pd.read_excel(rf'{way}\{month_now}.{year_now}_продажи еком.xlsx')

In [429]:
# смотрим продажи с последнего мониторинга
data = dt.datetime.isoweekday(dt.date.today())
if data == 1:
    last_monitoring = (dt.date.today() - dt.timedelta(days=3)).strftime('%Y-%m-%d')
else:
    last_monitoring = (dt.date.today() - dt.timedelta(days=2)).strftime('%Y-%m-%d')
    
data_IM = data_IM[data_IM['created'] >= f'{last_monitoring}']

In [430]:
data_IM = data_IM.drop_duplicates()
data_IM = data_IM.reset_index(drop=True)

data_IM = data_IM[(data_IM['state_order'] != 'returned') & (data_IM['state_order'] != 'canceled')]
data_IM = data_IM[~((data_IM['delivery_type'] == 'PICKUP_NOW') & (data_IM['payment_type'] == 'CASHIER') & (data_IM['type_ibox'] == 'CASHIER'))|
                ((data_IM['delivery_type'] == 'PICKUP') & (data_IM['payment_type'] == 'CASHIER') & (data_IM['type_ibox'] == 'CASHIER'))]

In [431]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'], format = '%Y-%m-%d')

In [432]:
def str_float(row):
    row = str(row)
    row = row.replace(',','.')
    return row

data_IM['price'] = data_IM['price'].apply(str_float)
data_IM['price'] = data_IM['price'].astype(float)

data_IM['avg_net_weight'] = data_IM['avg_net_weight'].apply(str_float)
data_IM['avg_net_weight'] = data_IM['avg_net_weight'].astype(float)

In [433]:
data_IM = data_IM[data_IM['price'] > 1].reset_index(drop=True)
data_IM = data_IM[data_IM['avg_net_weight'] > 0].reset_index(drop=True)

In [434]:
data_IM['Товарное направление'] = np.where(
    data_IM['tg'].isin(['БК ПОДВЕС КУЛЬТ', 'БК СЕРЬГИ', 'БК КОЛЬЦА','БК КОЛЬЦА ОБРУЧ','БК ПОДВЕС ДЕКОР',  'БК ПЕЧАТКИ','БК АКСЕССУАРЫ','ОПТ БК']), 'БК',
    np.where(
        data_IM['tg'].isin(['ПДК СЕРЬГИ', 'ПДК КОЛЬЦА','ПДК ПОДВЕСКИ']), 'ПДК',
        np.where(
            data_IM['tg'].isin(['ДК СЕРЬГИ',  'ДК КОЛЬЦА',    'ДК ПОДВЕСКИ',    'ДК КОЛЬЦА ОБРУЧ']), 'ДК',
            np.where(
                data_IM['tg'].isin(['ИФ СЕРЬГИ',  'ИФ КОЛЬЦА', 'ИФ ПОДВЕС ДЕКОР', 'ИФ ПЕЧАТКИ', 'ИФ ПОДВЕС КУЛЬТ','ИФ КОЛЬЦА ОБРУЧ','ИФ АКСЕССУАРЫ']), 'ИФ',
                np.where(
                    data_IM['tg'].isin(['ЦБ ЦЕПИ', 'ЦБ БРАСЛЕТЫ']), 'ЦБ',
                    np.where(
                        data_IM['tg'].isin(['СИ ПОДВЕС БК','СИ КОЛЬЦО ИФ','СИ БРАСЛЕТ БК','СИ КОЛЬЦО БК','СИ ЦЕПЬ','СИ СЕРЬГИ БК','СИ СЕРЬГИ ИФ','СИ ПОДВЕС ИФ',
                                            'СИ СЕРЬГИ РАЗН','СИ СЕРЬГИ ЦВ/К',\
                                            'СИ КОЛЬЦО ЦВ/К','','СИ ШАРМЫ','СИ ОБРУЧАЛЬНОЕ','СИ КОЛЬЦО ПЕЧАТ','СИ ПОДВЕСЦВ/К','СИ БРАСЛЕТ СК','СИ ЖЕМЧУГ',\
                                            'СИ АКСЕССУАР','СИ ДФРС ПРОЕКТ','СИ КЕРАМИКА','СИ ПОСУДА','СИ ЯНТАРЬ','СИ ЭМАЛЬ','СИ ВЫРИЦА']), 'СИ',
                        np.where(data_IM['tg'].isin(['ЧАСЫ']), 'ЧАСЫ', 'другое'
                        )
                    )
                )
            )
        )
    )
)

data_IM['Товарное направление'].value_counts()

Товарное направление
СИ        155
БК         87
ИФ         70
ЦБ         56
ДК         43
другое     39
ПДК        32
Name: count, dtype: int64

In [435]:
proverka = data_IM[data_IM['Товарное направление']=='другое']
proverka['tg'].unique()

array(['СИ БРАСЛЕТ ЦВ/К', 'СИ БРАСЛЕТ БК Декор', 'СИ СЕРЬГИ\xa0 ЦВ/К',
       'СИ ПОДВЕС\xa0ЦВ/К', 'СИ КОЛЬЕ СК', 'ВЫРИЦА СЕРЕБРО', 'ОПТ ИФ',
       'ВЫРИЦА ЗОЛОТО', 'СИ ПОДАРКИ КРОСС', 'ДК ПЕЧАТКИ'], dtype=object)

In [436]:
data_IM = data_IM[~(data_IM['name'].str.contains('каучук')|
                    data_IM['name'].str.contains('шнурок')|
                    data_IM['name'].str.contains('текстиль')|
                    data_IM['name'].str.contains('хлопок')|
                    data_IM['name'].str.contains('шелк')|
                    data_IM['name'].str.contains('на нитке')|
                    data_IM['name'].str.contains('кожа')|
                    data_IM['name'].str.contains('жемчуг'))]

In [437]:
data_IM = data_IM[(data_IM['Товарное направление'].isin(['БК', 'ЦБ']))&((data_IM['proba'] == '585')|(data_IM['proba'] == 585.00))]

In [438]:
data_IM['Товарное направление'].value_counts()

Товарное направление
БК    70
ЦБ    45
Name: count, dtype: int64

In [439]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'], format='%Y-%m-%d')

In [440]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'].apply(lambda x: x.strftime("%Y-%m-%d")))

In [441]:
previous_date = data_IM['date_status_order_done'].min()
filtr_date = data_IM['date_status_order_done'].max()

In [442]:
data_today = data_IM.query("date_status_order_done >= @previous_date")
data_today.head()

,id,created,name,state_order,recipient_phone,recipient_email,state_item,delivery_type,payment_type,employee_id,type_ibox,type_name,tov,kbk_recieve_delivery,avg_weight,avg_net_weight,materials,proba,design,type1,type3,tg,brand,vendor_article,number,price,client_type,date_status_order_done,date_status_item_returned,product_id,cost_price,shk,kbk_collect_delivery,manzana,percent_by_sku,manzana_for_item,price_wo_manzana,Товарное направление
8,01224330-f3ff-4866-acae-bd3f6fa525f0,2024-06-05 05:45:11.351,Золотая цепочка Двойной ромб с родированием,done,79026993034.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,TINKOFF_SBP,Тинькофф СБП,ТОВ0859098,2-09-044,1.54,1.54,NaN,585.00,РОМБ ДВОЙНОЙ,ЦЕПЬ,БЕЛЫЙ,ЦБ ЦЕПИ,NaN,311102021R,2406050545101,15302.00,MOBILE,2024-06-05,NaN,3906520,4275.34,2078532123045,2-09-044,3060,1.00,3060.00,12242.00,ЦБ
12,01c0b927-23da-499a-8b0e-335766b918af,2024-06-05 12:57:11.488,Золотой браслет Нонна,done,79920212146.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,c0d8e158-bd0f-4de1-93f4-172577c3033e,TINKOFF_SBP,Тинькофф СБП,ТОВ1005115,4-01-063,1.57,1.56,NaN,585.00,НОННА,БРАСЛЕТ,КРАСНЫЙ,ЦБ БРАСЛЕТЫ,NaN,41-52040-11,2406051257532,16030.00,MOBILE,2024-06-05,NaN,2980689,6742.50,2078607136240,4-01-063,5891,0.54,3205.89,12824.11,ЦБ
15,01ff1467-01d3-4451-ba28-4da23e3af1e3,2024-06-05 04:45:08.120,Золотой пустотелый браслет Двойной ромб,done,79538939481.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,SBER,[YANDEX_KASSA] SBER - APP,ТОВ0988008,3-05-002,0.69,0.69,NaN,585.00,РОМБ ДВОЙНОЙ ПУСТ,БРАСЛЕТ,КРАСНЫЙ,ЦБ БРАСЛЕТЫ,NaN,"НБ12-076ПГ D0,35",2406050445793,7098.00,MOBILE,2024-06-05,NaN,3608871,3299.10,2078608727331,3-05-002,1419,1.00,1419.00,5679.00,ЦБ
19,0382466d-dc01-47d2-981b-d13b82e075b1,2024-06-06 08:30:06.388,Золотая полновесная цепочка Двойной панцирь с ...,done,79638630340.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,SBER,[YANDEX_KASSA] SBER - URL,ТОВ01259540,4-02-042,1.84,1.84,NaN,585.00,ПАНЦИРЬ ДВОЙНОЙ,ЦЕПЬ,КРАСНЫЙ,ЦБ ЦЕПИ,NaN,30-01-0025-30222,2406060830161,14112.00,MOBILE,2024-06-06,NaN,1794910,6452.78,2078610619176,4-02-042,4312,0.65,2821.88,11290.12,ЦБ
20,0382466d-dc01-47d2-981b-d13b82e075b1,2024-06-06 08:30:06.388,Золотой крест,done,79638630340.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,SBER,[YANDEX_KASSA] SBER - URL,ТОВ1194924,4-02-042,0.82,0.82,NaN,585.00,ИФ КРЕСТ ПУСТОТЕЛЫЕ,ПОДВЕС КУЛЬТОВЫЙ,КРАСНЫЙ,БК ПОДВЕС КУЛЬТ,NaN,35-0724-10-00,2406060830161,7452.00,MOBILE,2024-06-06,NaN,1480098,2449.53,2078608943403,4-02-042,4312,0.35,1490.12,5961.88,БК

In [443]:
data_today['цена за гр'] = data_today['price_wo_manzana'] / data_today['avg_weight']
data_today['цена за гр'].describe()

count     115.00
mean     6771.76
std      1662.85
min      4171.52
25%      5438.82
50%      6776.19
75%      7713.72
max     13808.51
Name: цена за гр, dtype: float64

In [444]:
data_today['avg_weight'].describe()

count   115.00
mean      2.30
std       1.70
min       0.29
25%       1.16
50%       2.20
75%       2.77
max      10.54
Name: avg_weight, dtype: float64

In [445]:
data_today = data_today[~data_today['tg'].str.contains('ОПТ БК|БК ПЕЧАТКИ|ОПТ КОНГО')]

In [446]:
data_today = data_today[~data_today['client_type'].str.contains('OZON')]

In [447]:
print('Средняя цена продажи еком: ', (data_today['price_wo_manzana'].sum()/data_today['avg_weight'].sum()).round(0))

Средняя цена продажи еком:  6756.0

In [449]:
data_today.to_excel(rf'{report_folder}\Данные по продажам\Продажи онлайн_{date_now}.xlsx', index=False)

In [450]:
tn = data_today.groupby('tg', as_index=False)[['price_wo_manzana', 'avg_weight', 'cost_price']].agg('sum')
tn['price_gramm'] = (tn['price_wo_manzana'] / tn['avg_weight']).round(0)

In [451]:
tn['price_gramm'] = tn['price_gramm'].astype('int')
tn['Наценка продажи онлайн'] =  tn['price_wo_manzana'] / tn['cost_price'] - 1

In [452]:
markup_sales = tn[['tg', 'Наценка продажи онлайн']]

In [453]:
tn = tn.drop(columns=['price_wo_manzana', 'avg_weight', 'cost_price', 'Наценка продажи онлайн'])
tn.columns = ['tg', '585*Золотой онлайн продажи']

In [454]:
result = result.merge(tn, how='left', on='tg')

Продажи 585*Золотой оффлайн

In [455]:
# иногда здесь скрипт может отвалиться, потому что с продажами оффлайн очень часто работает кто-то, поэтому можно прочитать его вручную указав актуальный путь

path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Выгрузки из DWH\Продажи по КБК из DWH new\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)

df_dwh = pd.read_excel(latest_file)

# df_dwh = pd.read_excel(r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Выгрузки из DWH\Продажи по КБК из DWH new\2024-06-01_2024-06-04.xlsx')

In [456]:
latest_file

'\\\\gold585.int\\uk\\Общее хранилище файлов\\Служба аналитики\\Выгрузки из DWH\\Продажи по КБК из DWH new\\2024-06-01_2024-06-06.xlsx'

In [457]:
# мы смотрим продажи со времени последнего мониторинга, для этого определяем день недели и в зависимости от этого получаем новые данные
data = dt.datetime.isoweekday(dt.date.today())
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')
if data == 1:
    last_monitoring = (dt.date.today() - dt.timedelta(days=3)).strftime('%Y-%m-%d')
else:
    last_monitoring = (dt.date.today() - dt.timedelta(days=2)).strftime('%Y-%m-%d')
    
df_dwh = df_dwh[df_dwh['Дата'] >= f'{last_monitoring}']

In [458]:
df_dwh['Товарная группа'].str.contains('ЦБ|БК').value_counts()

Товарная группа
False    21634
True      7658
Name: count, dtype: int64

In [459]:
df_dwh = df_dwh[(df_dwh['Товарное направление'].isin(['БК', 'ЦБ'])) & (df_dwh['Проба'] == 585.0)]

In [460]:
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('каучук')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('шнурок')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('текстиль')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('хлопок')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('шелк')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('на нитке')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('кожа')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('жемчуг')))]

In [461]:
df_dwh['Дата'] = pd.to_datetime(df_dwh['Дата'], format='%Y-%m-%d')
df_dwh['Дата'] = pd.to_datetime(df_dwh['Дата'].apply(lambda x: x.strftime("%Y-%m-%d")))

In [462]:
filtr_date = df_dwh['Дата'].max()

In [463]:
df_dwh = df_dwh.query("`Дата` <= @filtr_date")

In [464]:
tn = df_dwh.groupby(by = 'Товарная группа', as_index= False)[['Себестоимость', 'Вес', 'Общая сумма']].agg('sum')
tn['Наценка продажи оффлайн'] =  tn['Общая сумма'] / tn['Себестоимость'] - 1
tn = tn[~tn['Товарная группа'].str.contains('ОПТ БК|БК ПЕЧАТКИ|ОПТ КОНГО|ОПТ ОБРУЧИ')]
tn['price_per_gramm'] = ((tn['Общая сумма'] / tn['Вес']).round(0))

In [465]:
tn['price_per_gramm'] = tn['price_per_gramm'].replace(',', '')
tn['price_per_gramm'] = tn['price_per_gramm'].astype('int')

In [466]:
print('Средняя цена продажи оффлайн: ', (tn['Общая сумма'].sum() / tn['Вес'].sum()).round(0))

Средняя цена продажи оффлайн:  6930.0

In [467]:
tn.columns = ['tg', 'cost', 'weight', 'price', 'Наценка продажи оффлайн', 'price_per_gramm']

In [468]:
offline_markup = tn[['tg', 'Наценка продажи оффлайн']]

In [469]:
markup_sales = markup_sales.merge(offline_markup, how='left', on='tg')

In [470]:
tn = tn.drop(columns=['cost', 'weight', 'price', 'Наценка продажи оффлайн'])
tn.columns = ['tg', '585*Золотой оффлайн продажи']

In [471]:
result = result.merge(tn, how='left', on='tg')

In [472]:
result

,tg,Sokolov,Sunlight,585*Золотой остатки 40%+20%,585*Золотой оффлайн остатки 40%+20%,585*Золотой онлайн продажи,585*Золотой оффлайн продажи
0,БК КОЛЬЦА,6490.57,6546.46,5469.51,6078.01,4502,6851
1,БК КОЛЬЦА ОБРУЧ,8544.32,6217.39,5489.41,5608.72,5181,6175
2,БК ПОДВЕС ДЕКОР,6737.88,6892.14,5547.51,6084.92,6289,7369
3,БК ПОДВЕС КУЛЬТ,6846.22,6667.25,5893.05,6113.96,6826,7258
4,БК СЕРЬГИ,6318.40,6836.88,5984.06,5859.26,6936,7353
5,ЦБ БРАСЛЕТЫ,7615.79,6177.86,6501.42,5840.88,7046,6935
6,ЦБ ЦЕПИ,8868.81,5970.83,6531.71,6076.87,8182,7173

In [473]:
markup_sales

                tg  Наценка продажи онлайн  Наценка продажи оффлайн
0        БК КОЛЬЦА                    2.94                     1.45
1  БК КОЛЬЦА ОБРУЧ                    0.86                     1.08
2  БК ПОДВЕС ДЕКОР                    1.48                     1.41
3  БК ПОДВЕС КУЛЬТ                    1.39                     1.33
4        БК СЕРЬГИ                    1.14                     1.34
5      ЦБ БРАСЛЕТЫ                    1.12                     1.07
6          ЦБ ЦЕПИ                    1.46                     1.21

In [474]:
result.to_excel(rf'{report_folder}\Таблица ТГ для письма_{date_now}.xlsx', index= False)
markup_sales.to_excel(rf'{report_folder}\Наценка продажи\Наценка продажи оффлайн+онлайн_{date_now}.xlsx', index=False)

In [4]:
# !jupyter nbconvert --to script eda_every_days.ipynb