In [3]:
from sqlalchemy import create_engine
from bs4 import BeautifulSoup as bs
import datetime as dt
import pandas as pd
import numpy as np
import warnings
import requests
import pymssql
import calendar
import locale
import json
import glob
import os

warnings.filterwarnings('ignore')
pd.set_option('use_inf_as_na', True)
pd.options.display.max_columns = None
pd.set_option('float_format', '{:.2f}'.format)
locale.setlocale(locale.LC_ALL, 'ru_RU.UTF-8')

'ru_RU.UTF-8'

In [798]:
engine = create_engine('postgresql://sergei:S714801t@51.250.54.232:5432/dldb')

In [799]:
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')
current_datetime = dt.datetime.now().strftime("%d-%m-%Y")
month_now = dt.datetime.now().month
day_now = dt.datetime.now().day 
year_now = dt.datetime.now().year

In [800]:
way = os.getcwd()

# 1. Sokolov

In [802]:
df_sokolov = pd.read_csv(rf'{way}\sokolov\parsed_data\result\bk_sokolov_{date_now}.csv')

In [805]:
df_sokolov.sample(5)

,date_,competitor,weight,price_personal,tg,price_per_gramm,discount_for_dash,url,price_case
2213,2024-06-05,Sunlight,1.81,11964.0,БК СЕРЬГИ,6610.0,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00",https://sunlight.net/catalog/earring_258241.html,6 500 руб. - 7 000 руб.
4471,2024-06-05,Sunlight,2.25,13324.0,ЦБ БРАСЛЕТЫ,5922.0,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00",https://sunlight.net/catalog/bracelets_993621....,5 500 руб. - 6 000 руб.
4272,2024-06-05,Sunlight,2.19,14213.0,ЦБ БРАСЛЕТЫ,6490.0,ХИТ-цена,https://sunlight.net/catalog/bracelets_326063....,6 000 руб. - 6 500 руб.
1253,2024-06-05,Sokolov,3.05,24570.0,БК СЕРЬГИ,8056.0,нет скидочного купона,https://sokolov.ru/jewelry-catalog/product/027...,8 000 руб. - 9 000 руб.
333,2024-06-05,Sokolov,2.37,21262.5,БК КОЛЬЦА,8972.0,Дополнительная скидка по акции «Готовимся к ле...,https://sokolov.ru/jewelry-catalog/product/018...,8 000 руб. - 9 000 руб.

In [ ]:
df_sokolov['article'] = 'https://sokolov.ru/jewelry-catalog/product/' + df_sokolov['article']
df_sokolov['article'] = df_sokolov['article'] + '/'

df_sokolov.columns = ['date', 'competitor', 'name', 'group', 'weight', 'price', 'price_old',
                    'discount', 'insert', 'metal', 'lock_type_or_weaving_type', 'url']

In [238]:
df_sokolov['discount'].value_counts(dropna=False)

discount
Дополнительная скидка по акции «Готовимся к лету!» ЕЩЁ -10%    552
Дополнительная скидка по акции «Готовимся к лету!» ЕЩЁ -20%    175
Name: count, dtype: int64

In [242]:
df_sokolov['discount_for_dash'] = df_sokolov['discount']
df_sokolov['discount_for_dash'] = df_sokolov['discount_for_dash'].fillna('нет скидочного купона')

In [244]:
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] == 0:
        df_sokolov['discount_for_dash'][i] = 'ШОК-ЦЕНА'

In [247]:
def discount_value(discount):
    '''у Sokolov купоны имеют скидку до 30%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '10%' in discount:
        return 0.9
    elif '15%' in discount:
        return 0.85
    elif '20%' in discount:
        return 0.8
    elif '25%' in discount:
        return 0.75
    elif '30%' in discount:
        return 0.7
    return 1

df_sokolov['discount'] = df_sokolov['discount'].apply(discount_value)

In [250]:
df_sokolov = df_sokolov.query("weight != 'Без вставок'") 
df_sokolov['weight'] = df_sokolov['weight'].str.replace(' г', '')
df_sokolov['weight'] = df_sokolov['weight'].astype('float')

In [252]:
df_sokolov['metal'].value_counts()

metal
Красное золото 585 пробы            1570
Комбинированное золото 585 пробы     193
Жёлтое золото 585 пробы              132
Белое золото 585 пробы               122
Красное золото 375 пробы               9
Золото 585 пробы                       2
Name: count, dtype: int64

In [256]:
df_sokolov['price'].isna().sum()

0

In [257]:
df_sokolov = df_sokolov.dropna(subset=['price'])

In [259]:
# применяем скидку для первоначальной цены
df_sokolov['price'] = df_sokolov['price'] * df_sokolov['discount']

In [260]:
# для расчета персональной стоимости нужно выделить изделия для которых применины баллы. Для этого в парсинге цен используються cookies аккаунта с баллами (любым кол-вом).
# чтобы определить если ли персональная цена сравниваются 2 столба "price_old" и "price".
# если "price_old" равен нулю, значит этот товар является товаром из списка ШОК-цен, на них не распространяются бонусные баллы
# в противном случае мы можем списать до 30% от стоимости товара бонусными баллами
# мы считаем, что пользователь может использовать программу лояльности по-максимуму

In [261]:
no_discount = 0
df_sokolov['discount_flag'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] != 0:
        df_sokolov['discount_flag'][i] = df_sokolov['price'][i] * 0.3
    else:
        df_sokolov['discount_flag'][i] = no_discount

In [263]:
df_sokolov['price_personal'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['discount_flag'][i] <= (df_sokolov['price'][i] * 0.3):
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - df_sokolov['discount_flag'][i]
    else:
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - (df_sokolov['price'][i] * 0.3)

In [264]:
df_sokolov = df_sokolov.drop(columns=['discount_flag'], axis=1)

In [265]:
df_sokolov['price'].isna().sum()

0

In [266]:
df_sokolov['price_personal'].isna().sum()

0

In [267]:
df_sokolov['price_per_gramm'] = (df_sokolov['price_personal'] / df_sokolov['weight']).round(0)
df_sokolov['name'] = df_sokolov['name'].str.lower()

In [269]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sokolov['tg'] = np.where(
    ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка'))), 'ПОДВЕС КУЛЬТ',
    np.where(
        ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка') == False)), 'ПОДВЕС ДЕКОР', 
        np.where(
            ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ', 
            np.where(
                ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное')==False)), 'КОЛЬЦА', 
                np.where(
                    (df_sokolov['group'] == 'bracelets'), 'БРАСЛЕТЫ',
                    np.where(
                        (df_sokolov['group'] == 'chains'), 'ЦЕПИ', 
                        np.where(
                            (df_sokolov['group'] == 'earrings'), 'СЕРЬГИ', np.nan)
                    )
                )
            )
        )
    )
)

In [270]:
df_sokolov = df_sokolov[df_sokolov['tg'] != 'nan'] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [271]:
df_sokolov['tn'] = np.where(
    ((df_sokolov['insert'].str.lower().str.contains('выраще|синте|искусств')) & (df_sokolov['insert'].str.lower().str.contains('бриллиант') == False)), 'ПДК',
    np.where(
        (df_sokolov['insert'].str.lower().str.contains('бриллиант|сапфир|рубин|изумруд') & (df_sokolov['insert'].str.lower().str.contains('выращ|искусств|синтети') == False)), 'ДК',
        np.where(
            df_sokolov['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ',
            np.where(
                df_sokolov['insert'] == 'Без вставок', 'БК', 
                np.where(
                    df_sokolov['insert'].str.lower().str.contains('фианит|бриллиант'), 'ИФ', 'ПДК'
                )
            )
        )
    )
)

In [272]:
df_sokolov['tg'] = df_sokolov['tn'] + ' ' + df_sokolov['tg']

In [273]:
df_sokolov['tg'].value_counts(dropna=False)

tg
БК СЕРЬГИ          585
БК КОЛЬЦА          339
БК ПОДВЕС ДЕКОР    238
ЦБ БРАСЛЕТЫ        237
ЦБ ЦЕПИ            199
БК КОЛЬЦА ОБРУЧ    162
БК ПОДВЕС КУЛЬТ    158
Name: count, dtype: int64

In [274]:
df_sokolov['price_case'] = np.where(
    df_sokolov['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sokolov['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sokolov['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sokolov['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sokolov['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sokolov['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sokolov['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [275]:
df_sokolov['price_per_gramm'].describe([0.05, 0.95])

count     1918.000000
mean      8994.637122
std       1230.147528
min       4478.000000
5%        7176.850000
50%       8885.000000
95%      11147.250000
max      14047.000000
Name: price_per_gramm, dtype: float64

In [277]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url', 'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]

In [278]:
df_sokolov['num_shop'] = '_' + df_sokolov['competitor']
df_sokolov['num_diap'] = df_sokolov['price_case']

In [280]:
df_sokolov.head(5)

In [282]:
df_sokolov['discount_for_dash'].value_counts()

discount_for_dash
нет скидочного купона                                          1221
Дополнительная скидка по акции «Готовимся к лету!» ЕЩЁ -10%     515
Дополнительная скидка по акции «Готовимся к лету!» ЕЩЁ -20%     153
ШОК-ЦЕНА                                                         29
Name: count, dtype: int64

In [283]:
df_sokolov['price_per_gramm'].describe().round(0)

count     1918.0
mean      8995.0
std       1230.0
min       4478.0
25%       8122.0
50%       8885.0
75%       9795.0
max      14047.0
Name: price_per_gramm, dtype: float64

In [284]:
df_sokolov['price_personal'].sum() / df_sokolov['weight'].sum().round(0)

8724.851526070368

In [285]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url',
       'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm',
       'tg', 'price_case']]

In [286]:
df_sokolov.head()

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,05.06.2024,Sokolov,кольцо обручальное из белого золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.0,1.0,1.60,ШОК-ЦЕНА,8119.0,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
1,05.06.2024,Sokolov,кольцо обручальное из белого золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.0,1.0,1.60,ШОК-ЦЕНА,8119.0,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
2,05.06.2024,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.0,1.0,1.61,ШОК-ЦЕНА,8068.0,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
3,05.06.2024,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.0,1.0,1.61,ШОК-ЦЕНА,8068.0,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
4,05.06.2024,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.0,1.0,1.63,ШОК-ЦЕНА,7969.0,БК КОЛЬЦА ОБРУЧ,7 000 руб. - 8 000 руб.

# 2. Sunlight

In [343]:
df_sunlight = pd.read_csv(fr'{way}\sunlight\parsed_data\result\bk_sunlight_{date_now}.csv')

In [344]:
df_sunlight = df_sunlight.drop(columns=['index'])

In [345]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount
0,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
1,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
2,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
3,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена']
4,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена']

In [806]:
def get_params_from_dic(df):
    '''функция для разделения столбца "params" на отдельные столбцы'''
    spisok = []                                                           
    for c in df['params']:
        for i in c.keys():                                
            spisok.append(i)              
    spisok = set(spisok)
    for s in spisok:
        z = []
        for j in df['params']:
            try:
                z.append(j[s])
            except:
                z.append(np.nan)
        df[s] = z
        
    return df

In [348]:
df_sunlight['group'].unique()

array(['Серьги', 'Крест-подвеска', 'Подвески', 'Кольца', 'Колье', 'Цепи',
       'Браслеты', 'Шейное украшение', 'Серьга', 'Ножной браслет',
       'Брошь', 'Пирсинг', 'Запонки', 'Булавка', 'Зажимы для галстука',
       'Икона', 'Брелоки'], dtype=object)

In [350]:
# чтобы функция написанная выше работала, необходимо, чтобы столбец params стал снова словарем, это происходит благодаря функции eval()
df_sunlight['params'] = df_sunlight['params'].apply(lambda x: eval(x))
get_params_from_dic(df_sunlight)

готово

In [351]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount,Ширина кольца,Страна производства,Модель,Материал изделия,Ширина браслета,Диаметр серег,Вес изделия,Покрытие,Плетение,Вставка,Ширина цепи
0,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,Россия,10-00-0000-27628*,Розовое золото,NaN,NaN,2.36 г,NaN,NaN,NaN,NaN
1,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,Россия,10-00-0000-27628*,Розовое золото,NaN,NaN,2.36 г,NaN,NaN,NaN,NaN
2,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,Россия,10-00-0000-27628*,Розовое золото,NaN,NaN,2.36 г,NaN,NaN,NaN,NaN
3,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена'],NaN,Россия,11-01-0015-40100*,Розовое золото,NaN,15 мм,0.77 г,NaN,NaN,NaN,NaN
4,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена'],NaN,Россия,11-01-0015-40100*,Розовое золото,NaN,15 мм,0.77 г,NaN,NaN,NaN,NaN

In [352]:
df_sunlight['Материал изделия'].value_counts(dropna=False)

Материал изделия
Розовое золото                                 2879
Желтое золото                                   636
Белое золото, Розовое золото                    276
Белое золото                                    167
NaN                                              95
Белое золото, Желтое золото                      20
Белое золото, Желтое золото, Розовое золото      19
Желтое золото, Розовое золото                    11
Текстиль                                         10
Серебро                                           7
Name: count, dtype: int64

In [353]:
df_sunlight['Материал изделия'] = df_sunlight['Материал изделия'].fillna('золото')

In [354]:
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Серебро'))]
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Текстиль'))]

In [356]:
df_sunlight = df_sunlight.drop(columns=['params', 'price_x', 'article',
                                'Ширина кольца', 'Страна производства',
                                'Ширина цепи', 'Плетение', 'Ширина браслета',
                                'Модель', 'Диаметр серег', 'Вставка', 'Покрытие', 'Материал изделия'], axis=1)

In [358]:
df_sunlight.columns

Index(['date', 'competitor', 'name', 'group', 'url', 'price_old', 'price_y',
       'price_personal', 'discount', 'Вес изделия'],
      dtype='object')

In [360]:
# переименновываем столбцы, чтобы у всех таблиц была единая система
df_sunlight.columns = ['date', 'competitor', 'name', 'group', 'url', 'price_old',
                     'price', 'price_personal', 'discount', 'weight']

In [361]:
df_sunlight['price_personal'].isna().sum()

805

In [362]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].fillna(df_sunlight['price'])

In [364]:
df_sunlight['weight'] = df_sunlight['weight'].str.replace(' г', '')
df_sunlight['name'] = df_sunlight['name'].str.replace('\n', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].astype('float')
df_sunlight['price_personal'] = df_sunlight['price_personal'].astype('float')
df_sunlight['discount_for_dash'] = df_sunlight['discount']

In [367]:
df_sunlight['discount_for_dash'].isna().sum()

0

In [368]:
df_sunlight['discount_for_dash'].unique()

array(["['ХИТ-цена']", "['Цены ниже! Ещё -20%, код: НОЧЬ до 11:00']",
       "['ХИТ-цена', 'Выгодно! Золото 5 290 р/г']",
       "['Цены ниже! Ещё -10%, код: НОЧЬ до 11:00']",
       "['Цены ниже! Ещё -15%, код: НОЧЬ до 11:00']",
       "['Цены ниже! Ещё -5%, код: НОЧЬ до 11:00']",
       "['Цены снижены! Ещё -15%, код: СЕГОДНЯ']", '[nan]',
       "['Второе в подарок, код 1=2', 'Цены ниже! Ещё -20%, код: НОЧЬ до 11:00']"],
      dtype=object)

In [369]:
def discount_value_sl(discount):
    '''у Sunlight купоны имеют скидку до 55%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '55%' in discount:
        return 0.45
    elif '50%' in discount:
        return 0.50
    elif '45%' in discount:
        return 0.55
    elif '40%' in discount:
        return 0.6
    elif '35%' in discount:
        return 0.65
    elif '30%' in discount:
        return 0.7
    elif '25%' in discount:
        return 0.75
    elif '20%' in discount:
        return 0.8
    elif '15%' in discount:
        return 0.85
    elif '10%' in discount:
        return 0.9 
    elif '1=2' in discount:
        return 0.5
    return 1

df_sunlight['discount'] = df_sunlight['discount'].apply(discount_value_sl)

In [374]:
df_sunlight['discount'].value_counts(dropna=False)

discount
0.85    1251
0.90    1248
1.00     902
0.80     702
Name: count, dtype: int64

In [377]:
df_sunlight['discount_for_dash'].value_counts(dropna=False)

discount_for_dash
['Цены ниже! Ещё -10%, код: НОЧЬ до 11:00']                                 1248
['Цены ниже! Ещё -15%, код: НОЧЬ до 11:00']                                 1239
['ХИТ-цена']                                                                 756
['Цены ниже! Ещё -20%, код: НОЧЬ до 11:00']                                  696
['Цены ниже! Ещё -5%, код: НОЧЬ до 11:00']                                    55
['ХИТ-цена', 'Выгодно! Золото 5 290 р/г']                                     46
[nan]                                                                         45
['Цены снижены! Ещё -15%, код: СЕГОДНЯ']                                      12
['Второе в подарок, код 1=2', 'Цены ниже! Ещё -20%, код: НОЧЬ до 11:00']       6
Name: count, dtype: int64

In [378]:
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace("'", '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('[', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace(']', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('nan', 'нет скидочного купона')

In [383]:
df_sunlight['discount'] = df_sunlight['discount'].astype('float')

In [384]:
# применяем для каждого товара скидочный купон
# кроме тех строк, в которых есть информация, что это ХИТ-товар
df_sunlight['price_personal'] = np.where(
    df_sunlight['discount_for_dash'].str.contains('ХИТ'), df_sunlight['price'], df_sunlight['price'] * df_sunlight['discount']
)

In [385]:
df_sunlight['discount_for_dash'].value_counts()

discount_for_dash
Цены ниже! Ещё -10%, код: НОЧЬ до 11:00                               1248
Цены ниже! Ещё -15%, код: НОЧЬ до 11:00                               1239
ХИТ-цена                                                               756
Цены ниже! Ещё -20%, код: НОЧЬ до 11:00                                696
Цены ниже! Ещё -5%, код: НОЧЬ до 11:00                                  55
ХИТ-цена, Выгодно! Золото 5 290 р/г                                     46
нет скидочного купона                                                   45
Цены снижены! Ещё -15%, код: СЕГОДНЯ                                    12
Второе в подарок, код 1=2, Цены ниже! Ещё -20%, код: НОЧЬ до 11:00       6
Name: count, dtype: int64

In [386]:
# после применения купона, цена по программе лояльности Sunlight может снизиться ещё до 30% от полученной суммы при помощи бонусных баллов
# мы считаем, что пользователь пользуется максимальным количеством бонусных баллов, применимых к товару
# это не распростроняется на фикс цены, о наличии которых мы можем понять по устойчивому "ХИТ-цена", но так же могут быть добавлены новые акции
# всегда стоит перед запуском скрипта ниже проверять вывод блока кода выше

for i in df_sunlight.index:
    if df_sunlight['discount_for_dash'][i] == "ХИТ-цена":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    elif df_sunlight['discount_for_dash'][i] == "ХИТ-цена, Выгодно! Золото 5 290 р/г":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    else:    
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] * 0.7

In [388]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
2108,05.06.2024,Sunlight,Золотая цепь,Цепи,https://sunlight.net/catalog/chains_82836.html,NaN,28356.0,28356.00,1.00,3.64,ХИТ-цена
1129,05.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_244012.html,53 980 ₽,26990.0,17003.70,0.90,2.78,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00"
2547,05.06.2024,Sunlight,Золотая цепь,Цепи,https://sunlight.net/catalog/chains_80663.html,NaN,24605.0,24605.00,1.00,3.52,ХИТ-цена
3458,05.06.2024,Sunlight,Золотое кольцо,Кольца,https://sunlight.net/catalog/ring_185488.html,201 240 ₽,100620.0,56347.20,0.80,8.6,"Цены ниже! Ещё -20%, код: НОЧЬ до 11:00"
4019,05.06.2024,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_359032.html,8 380 ₽,4190.0,2493.05,0.85,0.32,"Цены ниже! Ещё -15%, код: НОЧЬ до 11:00"

In [389]:
df_sunlight['price_personal'].isna().sum()

0

In [390]:
df_sunlight.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4103 entries, 0 to 4119
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               4103 non-null   object
 1   competitor         4103 non-null   object
 2   name               4103 non-null   object
 3   group              4103 non-null   object
 4   url                4103 non-null   object
 5   price_old          3298 non-null   object
 6   price              4103 non-null   float64
 7   price_personal     4103 non-null   float64
 8   discount           4103 non-null   float64
 9   weight             4103 non-null   object
 10  discount_for_dash  4103 non-null   object
dtypes: float64(3), object(8)
memory usage: 513.7+ KB

In [396]:
df_sunlight.sample()

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
1747,05.06.2024,Sunlight,"Золотая подвеска-зодиак ""Козерог""",Подвески,https://sunlight.net/catalog/pendants_271285.html,27 980 ₽,13990.0,8324.05,0.85,1.14,"Цены ниже! Ещё -15%, код: НОЧЬ до 11:00"

In [393]:
df_sunlight['weight'] = df_sunlight['weight'].astype(float)
df_sunlight = df_sunlight[df_sunlight['weight'] > 0.1]

In [394]:
df_sunlight.drop_duplicates(inplace=True)

In [398]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
2884,05.06.2024,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_353479.html,22 980 ₽,11490.0,6836.55,0.85,1.10,"Цены ниже! Ещё -15%, код: НОЧЬ до 11:00"
3356,05.06.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,https://sunlight.net/catalog/pendants_205764.html,19 980 ₽,9990.0,6293.70,0.90,0.93,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00"
3002,05.06.2024,Sunlight,Золотой браслет,Браслеты,https://sunlight.net/catalog/bracelets_328125....,240 900 ₽,72270.0,40471.20,0.80,6.13,"Цены ниже! Ещё -20%, код: НОЧЬ до 11:00"
2413,05.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_345695.html,57 980 ₽,28990.0,18263.70,0.90,3.13,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00"
3682,05.06.2024,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_181134.html,15 980 ₽,7990.0,5033.70,0.90,0.81,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00"

In [399]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].round(0)

In [401]:
# проверяем корректность расчётов
df_sunlight[['price_personal','url']].sample(3)

      price_personal                                                url
3940         46404.0  https://sunlight.net/catalog/pendants_179576.html

In [403]:
df_sunlight = df_sunlight.drop(columns=['price_old', 'price'])

In [405]:
df_sunlight['price_per_gramm'] = (df_sunlight['price_personal'] / df_sunlight['weight']).round(0)

In [406]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sunlight['tg'] = np.where(
    df_sunlight['group'].str.contains('Серьги|Серьга|Пирсинг'), 'СЕРЬГИ',
    np.where(
        df_sunlight['group'].str.contains('Цепи'), 'ЦЕПИ',
        np.where(
            ((df_sunlight['group'].str.contains('Подвески')) & (df_sunlight['name'].str.lower().str.contains('свят|божия|блаженная|господь|чудотворец|ангел|сергий|божья|георгий'))), 'ПОДВЕС КУЛЬТ',
            np.where(
                df_sunlight['group'].str.contains('Крест|Икона'), 'ПОДВЕС КУЛЬТ',
                np.where(
                    df_sunlight['group'].str.lower().str.contains('браслет'), 'БРАСЛЕТЫ', 
                    np.where(
                        ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное') == False)), 'КОЛЬЦА',
                        np.where(
                            ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ',
                            np.where(
                                df_sunlight['group'].str.contains('Подвески'), 'ПОДВЕС ДЕКОР', df_sunlight['group']
                            )
                        )
                    )
                )
            )
        )
    )
)

In [407]:
df_sunlight = df_sunlight[df_sunlight['tg'].str.contains('СЕРЬГИ|КОЛЬЦА|ПОДВЕС|БРАСЛЕТЫ|ЦЕПИ')] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [408]:
df_sunlight['price_case'] = np.where(
    df_sunlight['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sunlight['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sunlight['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sunlight['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sunlight['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sunlight['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sunlight['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [409]:
df_sunlight['tn'] = np.where(
    df_sunlight['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ', 'БК'
)

In [410]:
df_sunlight['tg'] = df_sunlight['tn'] + ' ' + df_sunlight['tg']

In [411]:
df_sunlight['price_per_gramm'].describe([0.05, 0.99])

count     3396.000000
mean      6862.804476
std       1283.625812
min       4333.000000
5%        5599.250000
50%       6774.500000
99%      10280.600000
max      52475.000000
Name: price_per_gramm, dtype: float64

In [412]:
df_sunlight = df_sunlight.drop(columns=['tn'])

In [414]:
df_sunlight.head(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,05.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_235978.html,20990.0,1.0,2.36,ХИТ-цена,8894.0,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
3,05.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_51498.html,6490.0,1.0,0.77,ХИТ-цена,8429.0,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
6,05.06.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,https://sunlight.net/catalog/pendants_75809.html,2490.0,1.0,0.26,ХИТ-цена,9577.0,БК ПОДВЕС КУЛЬТ,9 000 руб. - 10 000 руб.
9,05.06.2024,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_993847.html,1990.0,1.0,0.21,ХИТ-цена,9476.0,БК ПОДВЕС ДЕКОР,9 000 руб. - 10 000 руб.
12,05.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_271510.html,10490.0,1.0,1.04,ХИТ-цена,10087.0,БК СЕРЬГИ,свыше 10 000 руб.

In [417]:
print((df_sunlight['price_personal'].sum() / df_sunlight['weight'].sum()).round(0))

6468.0

# 3. 585*Золотой онлайн остатки

In [707]:
current_date = dt.date.today()
day = current_date.day - 1 
month = current_date.month
year = current_date.year
current_date = current_date.strftime('%Y.%m.%d')

In [708]:
try: df = pd.read_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\Остатки {current_date}.xlsx')
except: df = pd.read_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\Остатки {current_date[:-2]}0{day}.xlsx')

In [709]:
df.fineness.unique()

array([925., 375., 585.,  nan, 750., 999., 944., 945., 946., 947., 937.,
       938., 939., 931., 932., 933., 926., 928., 929., 930., 948., 949.,
       950., 951., 927., 934., 935., 936., 960., 961., 962., 963., 964.,
       956., 957., 958., 959., 875.])

In [710]:
df['published'].value_counts(dropna=False)

published
True     166919
False     37849
Name: count, dtype: int64

In [711]:
df['product_line'].unique()

array(['СИ', 'ПДК', 'ДК', 'ФУТЛЯРЫ', 'ДФРС', 'ЧАСЫ', 'ЦБ', 'ИФ', 'БК',
       'ВЫРИЦА', 'БИЖУТЕРИЯ', nan, 'БУ'], dtype=object)

In [712]:
df = df[(df['fineness'] == 585) & (df['product_line'].str.contains('ФУТЛЯРЫ|ДФРС|ВЫРИЦА|ЧАСЫ|БИЖУТЕРИЯ|БУ') == False)]

In [713]:
df = df[(df['product_group'].str.contains('БК КОЛЬЦА')|
        df['product_group'].str.contains('БК КОЛЬЦА ОБРУЧ')|
        df['product_group'].str.contains('ЦБ БРАСЛЕТЫ')|
        df['product_group'].str.contains('БК СЕРЬГИ')|
        df['product_group'].str.contains('БК ПОДВЕС КУЛЬТ')|
        df['product_group'].str.contains('БК ПОДВЕС ДЕКОР')|
        df['product_group'].str.contains('ЦБ ЦЕПИ'))]

In [714]:
df = df.drop(columns=['Unnamed: 15', '*без франчайзинговых магазинов и Румянцево'])

In [717]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\discounts_zolotoy\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)

discount = pd.read_excel(latest_file)

In [718]:
discount.columns = ['article', 'Опубликован', 'discount_value_promotions_1',
                    'discount_value_promotions_2', 'discount_value_promotions_3',
                    'discount_value_promotions_4']

In [719]:
df = df.merge(discount, how='left', on='article')

In [721]:
df = df[(df['published'] == 'ИСТИНА') | (df['published'] == True)]

In [722]:
df = df.drop(columns=['weaving', 'Unnamed: 14', 'name'])

In [723]:
df.columns = ['article', 'size', 'published', 'product_line', 'product_group',
            'material', 'type3', 'fineness', 'avg_weight', 'price',
            'discount_price', 'Остатки, шт*', 'type3',
            'discount_value_promotions_1', 'discount_value_promotions_2', 'discount_value_promotions_3', 'discount_value_promotions_4']

In [724]:
df = df.drop(columns=['discount_value_promotions_4', 'published'])

In [725]:
def discount_index(discount):
    try:
        return 1 - discount / 100
    except:
        return 1

In [726]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.apply(discount_index)
df.discount_value_promotions_2 = df.discount_value_promotions_2.apply(discount_index)
df.discount_value_promotions_3 = df.discount_value_promotions_3.apply(discount_index)

In [727]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.fillna(1)
df.discount_value_promotions_2 = df.discount_value_promotions_2.fillna(1)
df.discount_value_promotions_3 = df.discount_value_promotions_3.fillna(1)

In [728]:
df = df.dropna(subset=['avg_weight', 'discount_value_promotions_1'])

In [729]:
df['price_personal'] = np.where(
    (df['price'] == df['discount_price']) & (df['discount_value_promotions_1'] == 1), df['discount_price'] * df['discount_value_promotions_1'], df['discount_price'] * df['discount_value_promotions_1'] * 0.8
)

In [730]:
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')

In [731]:
zolotoy = df.groupby('product_group', as_index=False)[['price_personal', 'avg_weight']].agg({'price_personal':'sum', 'avg_weight':'sum'})
zolotoy['price_per_gram'] = zolotoy['price_personal'] / zolotoy['avg_weight']

In [732]:
zolotoy['price_personal'].sum() / zolotoy['avg_weight'].sum()

6926.798827380813

In [734]:
zolotoy['date'] = pd.to_datetime('06.05.2024', format='mixed')

In [735]:
zolotoy.to_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\ecom_stock_history\\ppg_ecom_{date_now}.xlsx', index=False)

     product_group  price_personal  avg_weight  price_per_gram       date
0        БК КОЛЬЦА      27668819.6     4281.10     6463.016421 2024-06-05
1  БК КОЛЬЦА ОБРУЧ      93515086.0    14837.48     6302.625918 2024-06-05
2  БК ПОДВЕС ДЕКОР       3960669.2      635.92     6228.250723 2024-06-05
3  БК ПОДВЕС КУЛЬТ      10346752.8     1520.16     6806.357752 2024-06-05
4        БК СЕРЬГИ      26539229.2     3751.11     7075.033577 2024-06-05
5      ЦБ БРАСЛЕТЫ     107330277.6    14885.33     7210.473506 2024-06-05
6          ЦБ ЦЕПИ     176035793.6    24389.40     7217.717271 2024-06-05

In [736]:
zolotoy = zolotoy.drop(columns=['price_personal', 'avg_weight', 'date'])

In [737]:
zolotoy.columns = ['tg', '585*Золотой остатки 30%+20%']

In [740]:
df = df.drop_duplicates(subset=['article'])

In [741]:
df['date'] = pd.to_datetime('2024-06-05', format='mixed')
df['competitor'] = '585*Золотой'
df['price_per_gramm'] = df['price_personal'] / df['avg_weight']

In [742]:
df['price_case'] = np.where(
    df['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [743]:
df = df[['date', 'competitor', 'avg_weight', 'price_personal', 'product_group', 'price_per_gramm', 'discount_value_promotions_1', 'article', 'price_case']]
df.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [747]:
data_history = pd.DataFrame({'date': [pd.to_datetime('2024-06-05', format='mixed')],
                            'competitor': ['585*Золотой'],
                            'avg_ppg': [int(df['price_personal'].sum() / df['weight'].sum())]})

# 4. 585*Золотой оффлайн остатки

In [27]:
# SQL-скрипт ниже выгружает данные по остаткам с БД Staging, доступ к ней выдаётся по учётной записи Windows по согласованию

conn = pymssql.connect(server='AX-SQL', database='Staging')
cursor = conn.cursor()

sql = f'''
SELECT [Код склада], [Название склада], [Цена Закупки за 1 шт. (упр сс с НДС за единицу)], [Группа цен],
[Товарное направление], [Товарная группа], [Проба], [Цена Розн., за шт],  [Запрет скидки],
[Код товара],  [Артикул поставщика], [Чистый вес], [ШК], [Общий вес], [Скидка на изделии], [Тип изделия 1], 
[ID Сайта]
from [Staging].[Reports].[Remainings_8h]
where [Товарное направление] in (N'БК', N'ЦБ')
'''

sql_query = pd.read_sql_query(sql, conn)
stock = pd.DataFrame(sql_query)

In [28]:
stock.sample(5)

,Код склада,Название склада,Цена Закупки за 1 шт. (упр сс с НДС за единицу),Группа цен,Товарное направление,Товарная группа,Проба,"Цена Розн., за шт",Запрет скидки,Код товара,Артикул поставщика,Чистый вес,ШК,Общий вес,Скидка на изделии,Тип изделия 1,ID Сайта
290024,4688,"Астрахань, Вокзальная площадь, д.13, ТРЦ «Ярма...",6448.81,ИФ.БК_СР,БК,БК СЕРЬГИ,585,37248.00,Нет,ТОВ1181163,18-02-0000-28903,1.92,2078607484362,1.92,24.00,СЕРЬГИ,1037416
68930,4777,"Ленинградская, Базарный, 19",7206.07,ИФ.БК_СР,БК,БК СЕРЬГИ,585,39402.00,Нет,ТОВ1241878,18-01-0000-10375,1.99,2078609991772,1.99,22.00,СЕРЬГИ,1208242
678246,4895,"Новороссийск, Советов, 40 (дубль)",15206.76,ЦБ_АВТОМАТ >3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,90216.00,Нет,ТОВ0951319,"НЦ12-002 D0,50",5.37,2078600909320,5.37,6.00,ЦЕПЬ,7860471
633445,5736,"Мичуринск, Советская, 294",4068.78,ЦБ_АВТОМАТ <=3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,36234.00,Нет,ТОВ1269154,ЦР225А2-А51,1.83,2078604070638,1.83,22.00,ЦЕПЬ,1572570
1039132,4418,Смоленск ул.Кашена (около здания №1) (ДУБЛЬ),9367.82,ИФ.БК_ДОР,БК,БК ПОДВЕС КУЛЬТ,585,44144.00,Нет,ТОВ1004959,35-0281-10-00,3.56,2078581922576,3.56,5.00,ПОДВЕС КУЛЬТОВЫЙ,2902964

In [29]:
stock['Код склада'] = stock['Код склада'].astype('float64')

In [30]:
stock['date'] = pd.to_datetime(date_now, format='mixed')
stock['competitor'] = '585*Золотой оффлайн'
stock['discount_for_dash'] = 0.7 * 0.8 # скидка непостоянная, информация о скидке всегда приходит на почту в конце месяца

In [31]:
stock = stock[['date', 'competitor', 'ID Сайта', 'Цена Розн., за шт', 'Запрет скидки', 'Чистый вес', 'discount_for_dash', 'Товарная группа', 'Скидка на изделии']]

In [32]:
stock.columns = ['date', 'competitor', 'url', 'price', 'discount', 'weight', 'discount_for_dash', 'tg', 'skidka']

In [33]:
tgs = ['БК СЕРЬГИ', 'ЦБ БРАСЛЕТЫ', 'ЦБ ЦЕПИ', 'БК КОЛЬЦА ОБРУЧ', 'БК ПОДВЕС КУЛЬТ', 'БК ПОДВЕС ДЕКОР', 'БК КОЛЬЦА']
stock = stock.query('tg in @tgs')

In [36]:
stock['price_personal'] = np.where(
    stock['discount'] == 'Да', stock['price'], stock['price'] * stock['discount_for_dash'] * (1 - (stock['skidka'] / 100))
)

In [38]:
stock['price_per_gramm'] = stock['price_personal'] / stock['weight']

In [39]:
stock['price_case'] = np.where(
    stock['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (stock['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (stock['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (stock['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (stock['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (stock['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (stock['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [41]:
stock = stock[['date', 'competitor', 'url', 'price_personal', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]

In [42]:
gold_stock = stock.groupby(by = 'tg', as_index = False)[['price_personal', 'weight']].agg('sum')
gold_stock['price_per_gramm'] = gold_stock['price_personal'] / gold_stock['weight']

In [45]:
stock_price_pl = ((gold_stock['price_personal']).sum() / gold_stock['weight'].sum()).round(0)
print('Средняя цена остатков офлайн ПЛ: ', stock_price_pl)

Средняя цена остатков офлайн ПЛ:  6991.0

In [47]:
gold_stock = gold_stock[['tg', 'price_per_gramm']]

In [50]:
gold_stock.columns = ['tg', '585*Золотой оффлайн остатки 30%+20%']

In [52]:
stock

,date,competitor,url,price_personal,weight,discount_for_dash,price_per_gramm,tg,price_case
0,2024-06-06 10:39:17.153692,585*Золотой оффлайн,1572969,12659.17,1.47,0.56,8605.83,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
1,2024-06-06 10:39:17.153692,585*Золотой оффлайн,1314166,11236.69,1.52,0.56,7387.70,БК ПОДВЕС КУЛЬТ,7 000 руб. - 8 000 руб.
2,2024-06-06 10:39:17.153692,585*Золотой оффлайн,1139291,5703.13,0.90,0.56,6336.81,БК ПОДВЕС КУЛЬТ,6 000 руб. - 6 500 руб.
3,2024-06-06 10:39:17.153692,585*Золотой оффлайн,1496808,6772.72,1.42,0.56,4766.16,БК СЕРЬГИ,до 5 500 руб.
4,2024-06-06 10:39:17.153692,585*Золотой оффлайн,1749024,7631.23,1.60,0.56,4763.57,БК СЕРЬГИ,до 5 500 руб.
...,...,...,...,...,...,...,...,...,...
1462752,2024-06-06 10:39:17.153692,585*Золотой оффлайн,1139291,7633.08,0.90,0.56,8481.20,БК ПОДВЕС КУЛЬТ,8 000 руб. - 9 000 руб.
1462753,2024-06-06 10:39:17.153692,585*Золотой оффлайн,1833251,14333.23,1.69,0.56,8476.18,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
1462754,2024-06-06 10:39:17.153692,585*Золотой оффлайн,1182395,22201.67,2.63,0.56,8435.29,ЦБ БРАСЛЕТЫ,8 000 руб. - 9 000 руб.
1462755,2024-06-06 10:39:17.153692,585*Золотой оффлайн,3457008,63133.32,7.54,0.56,8373.12,ЦБ БРАСЛЕТЫ,8 000 руб. - 9 000 руб.
1462756,2024-06-06 10:39:17.153692,585*Золотой оффлайн,1511357,23933.95,3.18,0.56,7526.40,БК ПОДВЕС КУЛЬТ,7 000 руб. - 8 000 руб.

In [51]:
gold_stock

                tg  585*Золотой оффлайн остатки 30%+20%
0        БК КОЛЬЦА                              7063.65
1  БК КОЛЬЦА ОБРУЧ                              6636.51
2  БК ПОДВЕС ДЕКОР                              7009.50
3  БК ПОДВЕС КУЛЬТ                              7150.65
4        БК СЕРЬГИ                              6946.50
5      ЦБ БРАСЛЕТЫ                              6991.66
6          ЦБ ЦЕПИ                              7127.07

# 5. Соединение таблиц для дашборда

In [418]:
data_all = pd.concat([df_sokolov ,df_sunlight], ignore_index=True)

In [419]:
data_all['date'].fillna(f'{day_now}-{month_now}-{year_now}', inplace=True)

In [420]:
data_all['date'].unique()

array(['05.06.2024'], dtype=object)

In [421]:
data_all['date'] = pd.to_datetime(data_all['date'], format='mixed')

In [422]:
data_all.date.unique()

<DatetimeArray>
['2024-05-06 00:00:00']
Length: 1, dtype: datetime64[ns]

In [423]:
data_all

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,2024-05-06,Sokolov,кольцо обручальное из белого золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.0,1.00,1.60,ШОК-ЦЕНА,8119.0,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
1,2024-05-06,Sokolov,кольцо обручальное из белого золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.0,1.00,1.60,ШОК-ЦЕНА,8119.0,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
2,2024-05-06,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.0,1.00,1.61,ШОК-ЦЕНА,8068.0,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
3,2024-05-06,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.0,1.00,1.61,ШОК-ЦЕНА,8068.0,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
4,2024-05-06,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.0,1.00,1.63,ШОК-ЦЕНА,7969.0,БК КОЛЬЦА ОБРУЧ,7 000 руб. - 8 000 руб.
...,...,...,...,...,...,...,...,...,...,...,...,...
5309,2024-05-06,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_271436.html,16374.0,0.90,2.83,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00",5786.0,БК СЕРЬГИ,5 500 руб. - 6 000 руб.
5310,2024-05-06,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_267531.html,5647.0,0.85,0.96,"Цены ниже! Ещё -15%, код: НОЧЬ до 11:00",5882.0,БК СЕРЬГИ,5 500 руб. - 6 000 руб.
5311,2024-05-06,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_244034.html,22674.0,0.90,3.92,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00",5784.0,БК СЕРЬГИ,5 500 руб. - 6 000 руб.
5312,2024-05-06,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_242712.html,5349.0,0.90,0.94,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00",5690.0,БК ПОДВЕС ДЕКОР,5 500 руб. - 6 000 руб.
5313,2024-05-06,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_167673.html,10704.0,0.90,1.77,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00",6047.0,БК ПОДВЕС ДЕКОР,6 000 руб. - 6 500 руб.

In [426]:
# группируем общую таблицу для добавления данных о изменении стоимости за грамм по дате
data_history = data_all.groupby('competitor', as_index=False)[['weight', 'price_personal']].agg('sum')
data_history['price_per_gramm'] = (data_history['price_personal'] / data_history['weight']).round(0)
data_history.insert(0, 'date', f'{date_now}')
data_history = data_history.drop(columns=['weight', 'price_personal'], axis=1)
data_history['num_shop'] = '_' + data_history['competitor']

In [427]:
data_history = data_history.drop(columns=['num_shop'])
data_history.columns = ['date', 'competitor', 'avg_ppg']

In [430]:
data_history['date'] = pd.to_datetime('2024-06-05', format='mixed')

In [222]:
data_history.to_csv(f'{date_now} sklv_sl.csv', index=False)

In [432]:
data_history

        date competitor  avg_ppg
0 2024-06-05    Sokolov   8725.0
1 2024-06-05   Sunlight   6468.0

In [433]:
data_history.to_sql('avg_ppg_for_monthly_monitoring', engine, schema = 'yura', if_exists='append', index = False)

2

In [434]:
data_all.to_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\sklv_sl_data\\bk_sokolov_sunlight_{date_now}.xlsx', index=False)

In [435]:
data_all = data_all.drop(columns=['name', 'discount', 'group'])

In [437]:
data_all = data_all[['date', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']]

In [438]:
data_all.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [441]:
data_all['date_'] = pd.to_datetime('2024-06-05', format='mixed')

In [ ]:
# группировка полученных данных для отчёта

In [444]:
df_tn_sokolov = df_sokolov.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sokolov['price_per_gram'] = df_tn_sokolov['price_personal'] / df_tn_sokolov['weight']

In [445]:
df_tn_sunlight = df_sunlight.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sunlight['price_per_gram'] = df_tn_sunlight['price_personal'] / df_tn_sunlight['weight']

In [446]:
df_tn_sunlight = df_tn_sunlight.drop(columns=['price_personal', 'weight'])
df_tn_sunlight.columns = ['tg', 'Sunlight']

In [447]:
df_tn_sokolov = df_tn_sokolov.drop(columns=['price_personal', 'weight'])
df_tn_sokolov.columns = ['tg', 'Sokolov']

In [754]:
result = pd.merge(df_tn_sokolov, df_tn_sunlight, how='left', on='tg').merge(zolotoy, how='left', on='tg').merge(gold_stock, how='left', on='tg') # объединяем данные в одну табличку

In [755]:
result

                tg      Sokolov     Sunlight  585*Золотой остатки 30%+20%
0        БК КОЛЬЦА  8508.813077  6674.050534                  6463.016421
1  БК КОЛЬЦА ОБРУЧ  8545.734084  6492.598137                  6302.625918
2  БК ПОДВЕС ДЕКОР  9177.979147  6996.362638                  6228.250723
3  БК ПОДВЕС КУЛЬТ  8826.076716  6824.612298                  6806.357752
4        БК СЕРЬГИ  8511.172897  6924.680465                  7075.033577
5      ЦБ БРАСЛЕТЫ  9123.300850  6254.619868                  7210.473506
6          ЦБ ЦЕПИ  8740.798039  5990.148187                  7217.717271

In [ ]:
result.to_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\sklv_sl_data\grouped_data\\result_{date_now}.xlsx', index= False)

# 5. Расчёт наценки

In [597]:
cookies = {
    '__ddg1_': 'XgGmRRFfNl9J83C2HQq2',
    '__RequestVerificationToken': '5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
}

headers = {
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7',
    'accept-language': 'ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7',
    'cache-control': 'max-age=0',
    # 'cookie': '__ddg1_=XgGmRRFfNl9J83C2HQq2; __RequestVerificationToken=5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
    'priority': 'u=0, i',
    'sec-ch-ua': '"Google Chrome";v="125", "Chromium";v="125", "Not.A/Brand";v="24"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'document',
    'sec-fetch-mode': 'navigate',
    'sec-fetch-site': 'cross-site',
    'sec-fetch-user': '?1',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36',
}

response = requests.get('https://mfd.ru/centrobank/preciousmetals/', cookies=cookies, headers=headers).text

In [598]:
soup = bs(response, 'html.parser')

In [688]:
# данные ниже могут меняться
price_ = float(soup.find('table', class_='mfd-table').find('tbody').find('td', class_='mfd-item-date').findNext('td').text.strip()[:7]) * 0.585
ugar = 0.03 
workprice = 150 
nds = 0.2

In [690]:
costprice = (price_/(1-ugar)+workprice)*(1 + nds)

In [757]:
data_all = pd.concat([data_all, df, stock], ignore_index=True)

In [759]:
data_all['markup'] = (data_all['price_personal'] / (costprice * data_all['weight'])) - 1

In [777]:
data_all['markup'] = data_all['markup'].astype(str)
data_all = data_all[data_all['markup'] != 'inf']
data_all['markup'] = data_all['markup'].astype(float)

In [ ]:
data_all

In [ ]:
data_all.to_sql('price_per_gramm', engine, schema = 'yura', if_exists='append', index = False)

In [ ]:
costprice_ = data_all[data_all['competitor'] == 'Sunlight'].groupby(by = 'tg', as_index = False)['markup'].mean().\
    merge(data_all[data_all['competitor'] == 'Sokolov'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg').\
        merge(data_all[data_all['competitor'] == '585*Золотой'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg').\
            merge(data_all[data_all['competitor'] == '585*Золотой оффлайн'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg')

In [783]:
costprice_

                tg  markup_x  markup_y    markup
0        БК КОЛЬЦА  0.316582  0.711436  0.198463
1  БК КОЛЬЦА ОБРУЧ  0.312363  0.707904  0.192006
2  БК ПОДВЕС ДЕКОР  0.449045  0.921680  0.258286
3  БК ПОДВЕС КУЛЬТ  0.418270  0.899863  0.397028
4        БК СЕРЬГИ  0.393844  0.745022  0.379113
5      ЦБ БРАСЛЕТЫ  0.309879  0.865950  0.439906
6          ЦБ ЦЕПИ  0.323996  0.846753  0.435164

In [784]:
costprice_.columns = ['Товарная группа', 'Наценка Sunlight', 'Наценка Sokolov', 'Наценка 585*Золотой онлайн', 'Наценка 585*Золотой оффлайн']

In [785]:
costprice_['Дата'] = pd.to_datetime(date_now, format='mixed')
costprice_['Дата'] = pd.to_datetime('2024-06-05', format='%Y-%m-%d')

In [789]:
costprice_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Товарная группа             7 non-null      object
 1   Наценка Sunlight            7 non-null      float64
 2   Наценка Sokolov             7 non-null      float64
 3   Наценка 585*Золотой онлайн  7 non-null      float64
 4   Дата                        7 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 412.0+ bytes

In [790]:
costprice_

,Товарная группа,Наценка Sunlight,Наценка Sokolov,Наценка 585*Золотой онлайн,Дата
0,БК КОЛЬЦА,0.316582,0.711436,0.198463,2024-06-05
1,БК КОЛЬЦА ОБРУЧ,0.312363,0.707904,0.192006,2024-06-05
2,БК ПОДВЕС ДЕКОР,0.449045,0.921680,0.258286,2024-06-05
3,БК ПОДВЕС КУЛЬТ,0.418270,0.899863,0.397028,2024-06-05
4,БК СЕРЬГИ,0.393844,0.745022,0.379113,2024-06-05
5,ЦБ БРАСЛЕТЫ,0.309879,0.865950,0.439906,2024-06-05
6,ЦБ ЦЕПИ,0.323996,0.846753,0.435164,2024-06-05

In [793]:
costprice_.to_sql('costprice_sklv_sl', engine, schema = 'yura', if_exists='replace', index = False)

7