In [1]:
from sqlalchemy import create_engine, text
from bs4 import BeautifulSoup as bs
import datetime as dt
import pandas as pd
import numpy as np
import warnings
import requests
import pymssql
import locale
import glob
import os

warnings.filterwarnings('ignore')
pd.set_option('use_inf_as_na', True)
pd.options.display.max_columns = None
pd.set_option('float_format', '{:.2f}'.format)
locale.setlocale(locale.LC_ALL, 'ru_RU.UTF-8')

'ru_RU.UTF-8'

In [2]:
report_folder = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\Мониторинг Sokolov и Sunlight'

In [3]:
engine = create_engine('postgresql://sergei:S714801t@51.250.54.232:5432/dldb')

In [4]:
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')
month_now = dt.datetime.now().month
day_now = dt.datetime.now().day 
year_now = dt.datetime.now().year

In [5]:
way = os.getcwd()

# 1. Sokolov

In [6]:
df_sokolov = pd.read_csv(rf'{way}\sokolov\parsed_data\result\bk_sokolov_{date_now}.csv')

In [7]:
df_sokolov.sample(5)

,data,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,article
748,17.06.2024,Sokolov,Серьги из золота,earrings,0.89 г,10800,23990,Второе золотое украшение БЕСПЛАТНО! 1 = 2,Без вставок,Красное золото 585 пробы,Пусет,029410
330,17.06.2024,Sokolov,Серьги из золота с алмазной гранью,earrings,0.97 г,13050,28990,Второе золотое украшение БЕСПЛАТНО! 1 = 2,Без вставок,Красное золото 585 пробы,Зажим,026580
1327,17.06.2024,Sokolov,Обручальное кольцо из комбинированного золота,rings,1.5 г,19350,42990,NaN,Без вставок,Комбинированное золото 585 пробы,NaN,111228
1336,17.06.2024,Sokolov,Крест из комбинированного золота,pendants,1.63 г,18000,39990,Второе золотое украшение БЕСПЛАТНО! 1 = 2,Без вставок,Комбинированное золото 585 пробы,NaN,121452
487,17.06.2024,Sokolov,Кольцо из золота,rings,2.18 г,27000,59990,Второе золотое украшение БЕСПЛАТНО! 1 = 2,Без вставок,Красное золото 585 пробы,NaN,019168

In [8]:
# df_sokolov['article'] = 'https://sokolov.ru/jewelry-catalog/product/' + df_sokolov['article']
# df_sokolov['article'] = df_sokolov['article'] + '/'

df_sokolov.columns = ['date', 'competitor', 'name', 'group', 'weight', 'price', 'price_old',
                    'discount', 'insert', 'metal', 'lock_type_or_weaving_type', 'url']

In [9]:
df_sokolov['discount'].value_counts(dropna=False)

discount
Второе золотое украшение БЕСПЛАТНО! 1 = 2                        1201
NaN                                                               258
Дополнительная скидка по акции «Калейдоскоп скидок!» ЕЩЁ -10%      37
Дополнительная скидка по акции «Калейдоскоп скидок!» ЕЩЁ -20%      16
Name: count, dtype: int64

In [10]:
df_sokolov['discount_for_dash'] = df_sokolov['discount']
df_sokolov['discount_for_dash'] = df_sokolov['discount_for_dash'].fillna('нет скидочного купона')

In [11]:
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] == 0:
        df_sokolov['discount_for_dash'][i] = 'ШОК-ЦЕНА'

In [12]:
def discount_value(discount):
    '''у Sokolov купоны имеют скидку до 30%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '10%' in discount:
        return 0.9
    elif '15%' in discount:
        return 0.85
    elif '20%' in discount:
        return 0.8
    elif '25%' in discount:
        return 0.75
    elif '30%' in discount:
        return 0.7
    elif 'Второе золотое' in discount:
        return 0.5
    return 1

df_sokolov['discount'] = df_sokolov['discount'].fillna('1')
df_sokolov['discount'] = df_sokolov['discount'].apply(discount_value)

In [13]:
df_sokolov['weight'] = df_sokolov['weight'].str.replace(' г', '')
df_sokolov['weight'] = df_sokolov['weight'].astype('float')

In [14]:
df_sokolov['metal'].value_counts()

metal
Красное золото 585 пробы            1194
Жёлтое золото 585 пробы              116
Комбинированное золото 585 пробы     115
Белое золото 585 пробы                79
Красное золото 375 пробы               7
Золото 585 пробы                       1
Name: count, dtype: int64

In [15]:
df_sokolov['price'].isna().sum()

0

In [16]:
df_sokolov = df_sokolov.dropna(subset=['price'])

In [17]:
# применяем скидку для первоначальной цены
df_sokolov['price'] = np.where(
    df_sokolov['discount'] == 0.5, df_sokolov['price'] * df_sokolov['discount'],
    np.where(
        df_sokolov['discount_for_dash'] == 'ШОК-ЦЕНА', df_sokolov['price'], df_sokolov['price'] * 0.7
    )
)

In [18]:
# для расчета персональной стоимости нужно выделить изделия для которых применины баллы. Для этого в парсинге цен используються cookies аккаунта с баллами (любым кол-вом).
# чтобы определить если ли персональная цена сравниваются 2 столба "price_old" и "price".
# если "price_old" равен нулю, значит этот товар является товаром из списка ШОК-цен, на них не распространяются бонусные баллы
# в противном случае мы можем списать до 30% от стоимости товара бонусными баллами
# мы считаем, что пользователь может использовать программу лояльности по-максимуму

In [19]:
df_sokolov.sample(10)

,date,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,url,discount_for_dash
469,17.06.2024,Sokolov,"Браслет из золота, плетение нонна, 585 проба",bracelets,2.93,28980.00,91990,1.00,Без вставок,Красное золото 585 пробы,Нонна,552020702,нет скидочного купона
1337,17.06.2024,Sokolov,Крест из комбинированного золота,pendants,0.55,3150.00,13990,0.50,Без вставок,Комбинированное золото 585 пробы,NaN,121484,Второе золотое украшение БЕСПЛАТНО! 1 = 2
685,17.06.2024,Sokolov,Серьги из золота,earrings,3.71,24750.00,109990,0.50,Без вставок,Красное золото 585 пробы,Замок-булавка,0200058,Второе золотое украшение БЕСПЛАТНО! 1 = 2
1311,17.06.2024,Sokolov,Браслет из золота,bracelets,1.24,7875.00,34990,0.50,Без вставок,Красное золото 585 пробы,NaN,051501,Второе золотое украшение БЕСПЛАТНО! 1 = 2
840,17.06.2024,Sokolov,Крест из комбинированного золота,pendants,1.10,7875.00,34990,0.50,Без вставок,Комбинированное золото 585 пробы,NaN,121325,Второе золотое украшение БЕСПЛАТНО! 1 = 2
120,17.06.2024,Sokolov,"Цепь мужская из золота, плетение Бисмарк, 585 ...",chains,19.82,163800.00,519990,1.00,Без вставок,Красное золото 585 пробы,Бисмарк,581070702,нет скидочного купона
196,17.06.2024,Sokolov,"Обручальное кольцо из золота, comfort fit, 6 мм",rings,4.24,39375.00,124990,1.00,Без вставок,Красное золото 585 пробы,NaN,111034-01,нет скидочного купона
863,17.06.2024,Sokolov,"Цепь из золота, плетение Нонна, 585 проба",chains,7.48,67725.00,214990,1.00,Без вставок,Красное золото 585 пробы,Нонна,581020502,нет скидочного купона
1382,17.06.2024,Sokolov,Серьги из желтого золота,earrings,1.30,8550.00,37990,0.50,Без вставок,Жёлтое золото 585 пробы,Зажим,028561-2,Второе золотое украшение БЕСПЛАТНО! 1 = 2
159,17.06.2024,Sokolov,"Цепь мужская из золота, плетение двойной ромб,...",chains,28.68,206325.00,654990,1.00,Без вставок,Красное золото 585 пробы,Ромб двойной,581011006,нет скидочного купона

In [20]:
no_discount = 0
df_sokolov['discount_flag'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] != 0:
        df_sokolov['discount_flag'][i] = df_sokolov['price'][i] * 0.3
    else:
        df_sokolov['discount_flag'][i] = no_discount

In [21]:
df_sokolov['price_personal'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['discount_flag'][i] <= (df_sokolov['price'][i] * 0.3):
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - df_sokolov['discount_flag'][i]
    else:
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - (df_sokolov['price'][i] * 0.3)

In [22]:
df_sokolov = df_sokolov.drop(columns=['discount_flag'], axis=1)

In [23]:
df_sokolov['price'].isna().sum()

0

In [24]:
df_sokolov['price_personal'] = df_sokolov['price']

In [25]:
df_sokolov

,date,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,url,discount_for_dash,price_personal
0,17.06.2024,Sokolov,Кольцо обручальное из белого золота,rings,1.60,12990.00,0,1.00,Без вставок,Белое золото 585 пробы,1.6 г,110260-3,ШОК-ЦЕНА,12990.00
1,17.06.2024,Sokolov,Кольцо обручальное из золота,rings,1.61,12990.00,0,1.00,Без вставок,Красное золото 585 пробы,1.61 г,110260,ШОК-ЦЕНА,12990.00
2,17.06.2024,Sokolov,Кольцо обручальное из золота,rings,1.63,12990.00,0,1.00,Без вставок,Красное золото 585 пробы,1.63 г,110261,ШОК-ЦЕНА,12990.00
3,17.06.2024,Sokolov,Кольцо из белого золота,rings,1.61,12990.00,0,1.00,Без вставок,Белое золото 585 пробы,1.61 г,110262-3,ШОК-ЦЕНА,12990.00
4,17.06.2024,Sokolov,Подвеска из золота,pendants,0.13,990.00,0,1.00,Без вставок,Красное золото 585 пробы,NaN,036439,ШОК-ЦЕНА,990.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,17.06.2024,Sokolov,Серьги из желтого золота,earrings,1.08,6525.00,28990,0.50,Без вставок,Жёлтое золото 585 пробы,Английский,027664-2,Второе золотое украшение БЕСПЛАТНО! 1 = 2,6525.00
1508,17.06.2024,Sokolov,Серьги из желтого золота с алмазной гранью,earrings,1.93,12150.00,53990,0.50,Без вставок,Жёлтое золото 585 пробы,Английский,027674-2,Второе золотое украшение БЕСПЛАТНО! 1 = 2,12150.00
1509,17.06.2024,Sokolov,Серьги из желтого золота с алмазной гранью,earrings,1.36,6300.00,27990,0.50,Без вставок,Жёлтое золото 585 пробы,Пусет,027759-2,Второе золотое украшение БЕСПЛАТНО! 1 = 2,6300.00
1510,17.06.2024,Sokolov,Серьги из желтого золота,earrings,0.83,4725.00,20990,0.50,Без вставок,Жёлтое золото 585 пробы,Французский,027797-2,Второе золотое украшение БЕСПЛАТНО! 1 = 2,4725.00
1511,17.06.2024,Sokolov,Серьги из желтого золота,earrings,2.64,13050.00,57990,0.50,Без вставок,Жёлтое золото 585 пробы,2.64 г,028391-2,Второе золотое украшение БЕСПЛАТНО! 1 = 2,13050.00

In [26]:
df_sokolov['price_per_gramm'] = (df_sokolov['price_personal'] / df_sokolov['weight']).round(0)
df_sokolov['name'] = df_sokolov['name'].str.lower()

In [27]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sokolov['tg'] = np.where(
    ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка'))), 'ПОДВЕС КУЛЬТ',
    np.where(
        ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка') == False) | (df_sokolov['name'].str.contains('колье'))), 'ПОДВЕС ДЕКОР', 
        np.where(
            ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ', 
            np.where(
                ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное')==False)), 'КОЛЬЦА', 
                np.where(
                    (df_sokolov['group'] == 'bracelets'), 'БРАСЛЕТЫ',
                    np.where(
                        (df_sokolov['group'] == 'chains'), 'ЦЕПИ', 
                        np.where(
                            ((df_sokolov['group'] == 'earrings')| (df_sokolov['name'].str.contains('пирсинг'))), 'СЕРЬГИ', np.nan)
                    )
                )
            )
        )
    )
)

In [28]:
df_sokolov[df_sokolov['tg'] == 'nan']['name'].value_counts()

name
брошь из золота                    7
золотая звезда на погоны           2
шнур декоративный                  2
кожаный шнурок с золотым замком    2
шнур декоративный                  1
брошь-булавка  из золота           1
сувенир из золота                  1
крестильный набор из золота        1
Name: count, dtype: int64

In [29]:
df_sokolov = df_sokolov[df_sokolov['tg'] != 'nan'] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [30]:
df_sokolov['tn'] = np.where(
    ((df_sokolov['insert'].str.lower().str.contains('выраще|синте|искусств')) & (df_sokolov['insert'].str.lower().str.contains('бриллиант') == False)), 'ПДК',
    np.where(
        (df_sokolov['insert'].str.lower().str.contains('бриллиант|сапфир|рубин|изумруд') & (df_sokolov['insert'].str.lower().str.contains('выращ|искусств|синтети') == False)), 'ДК',
        np.where(
            df_sokolov['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ',
            np.where(
                df_sokolov['insert'] == 'Без вставок', 'БК', 
                np.where(
                    df_sokolov['insert'].str.lower().str.contains('фианит|бриллиант'), 'ИФ', 'ПДК'
                )
            )
        )
    )
)

In [31]:
df_sokolov['tg'] = df_sokolov['tn'] + ' ' + df_sokolov['tg']

In [32]:
df_sokolov['tg'].value_counts(dropna=False)

tg
БК СЕРЬГИ          480
БК КОЛЬЦА          281
БК ПОДВЕС ДЕКОР    224
ЦБ БРАСЛЕТЫ        170
ЦБ ЦЕПИ            135
БК КОЛЬЦА ОБРУЧ    116
БК ПОДВЕС КУЛЬТ     89
Name: count, dtype: int64

In [33]:
df_sokolov['price_case'] = np.where(
    df_sokolov['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sokolov['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sokolov['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sokolov['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sokolov['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sokolov['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sokolov['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [34]:
df_sokolov['price_per_gramm'].describe([0.05, 0.95])

count    1495.00
mean     7268.45
std      1438.78
min      4458.00
5%       5354.60
50%      7054.00
95%     10065.80
max     12544.00
Name: price_per_gramm, dtype: float64

In [35]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url', 'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]

In [36]:
df_sokolov['num_shop'] = '_' + df_sokolov['competitor']
df_sokolov['num_diap'] = df_sokolov['price_case']

In [37]:
df_sokolov.sample(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case,num_shop,num_diap
987,17.06.2024,Sokolov,серьги из желтого золота,earrings,029074-2,13500.00,0.50,2.53,Второе золотое украшение БЕСПЛАТНО! 1 = 2,5336.00,БК СЕРЬГИ,до 5 500 руб.,_Sokolov,до 5 500 руб.
749,17.06.2024,Sokolov,серьги из желтого золота,earrings,029432-2,4275.00,0.50,0.65,Второе золотое украшение БЕСПЛАТНО! 1 = 2,6577.00,БК СЕРЬГИ,6 500 руб. - 7 000 руб.,_Sokolov,6 500 руб. - 7 000 руб.
1501,17.06.2024,Sokolov,серьги из золота,earrings,026788,33750.00,0.50,5.87,Второе золотое украшение БЕСПЛАТНО! 1 = 2,5750.00,БК СЕРЬГИ,5 500 руб. - 6 000 руб.,_Sokolov,5 500 руб. - 6 000 руб.
947,17.06.2024,Sokolov,серьги конго из белого золота,earrings,140167,15300.00,0.50,2.28,Второе золотое украшение БЕСПЛАТНО! 1 = 2,6711.00,БК СЕРЬГИ,6 500 руб. - 7 000 руб.,_Sokolov,6 500 руб. - 7 000 руб.
244,17.06.2024,Sokolov,кольцо из золота с алмазной гранью,rings,017257,10800.00,0.50,1.60,Второе золотое украшение БЕСПЛАТНО! 1 = 2,6750.00,БК КОЛЬЦА,6 500 руб. - 7 000 руб.,_Sokolov,6 500 руб. - 7 000 руб.

In [38]:
df_sokolov['discount_for_dash'].value_counts()

discount_for_dash
Второе золотое украшение БЕСПЛАТНО! 1 = 2                        1184
нет скидочного купона                                             243
Дополнительная скидка по акции «Калейдоскоп скидок!» ЕЩЁ -10%      37
Дополнительная скидка по акции «Калейдоскоп скидок!» ЕЩЁ -20%      16
ШОК-ЦЕНА                                                           15
Name: count, dtype: int64

In [39]:
df_sokolov['price_per_gramm'].describe().round(0)

count    1495.00
mean     7268.00
std      1439.00
min      4458.00
25%      6248.00
50%      7054.00
75%      8004.00
max     12544.00
Name: price_per_gramm, dtype: float64

In [40]:
Sokolov = df_sokolov['price_personal'].sum() / df_sokolov['weight'].sum().round(0)
print(Sokolov)

7313.79236016371

In [41]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url',
       'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm',
       'tg', 'price_case']]

In [42]:
df_sokolov.sample(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
64,17.06.2024,Sokolov,"цепь из золота, плетение бисмарк, 585 проба",chains,582070402,34650.00,0.90,3.36,Дополнительная скидка по акции «Калейдоскоп ск...,10312.00,ЦБ ЦЕПИ,свыше 10 000 руб.
1047,17.06.2024,Sokolov,браслет из золота,bracelets,051079,15750.00,0.50,2.56,Второе золотое украшение БЕСПЛАТНО! 1 = 2,6152.00,ЦБ БРАСЛЕТЫ,6 000 руб. - 6 500 руб.
667,17.06.2024,Sokolov,кольцо из золота,rings,018641,16875.00,0.50,2.41,Второе золотое украшение БЕСПЛАТНО! 1 = 2,7002.00,БК КОЛЬЦА,7 000 руб. - 8 000 руб.
470,17.06.2024,Sokolov,"браслет из золота, плетение бисмарк, 585 проба",bracelets,552070602,34650.00,0.90,2.99,Дополнительная скидка по акции «Калейдоскоп ск...,11589.00,ЦБ БРАСЛЕТЫ,свыше 10 000 руб.
1340,17.06.2024,Sokolov,подвеска из золота,pendants,121493,3485.00,0.50,0.41,Второе золотое украшение БЕСПЛАТНО! 1 = 2,8500.00,БК ПОДВЕС ДЕКОР,8 000 руб. - 9 000 руб.

# 2. Sunlight

In [66]:
df_sunlight = pd.read_csv(fr'{way}\sunlight\parsed_data\result\bk_sunlight_{date_now}.csv')

In [67]:
df_sunlight = df_sunlight.drop(columns=['index'])

In [68]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount
0,17.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
1,17.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
2,17.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
3,17.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
4,17.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']

In [69]:
def get_params_from_dic(df):
    '''функция для разделения столбца "params" на отдельные столбцы'''
    spisok = []                                                           
    for c in df['params']:
        for i in c.keys():                                
            spisok.append(i)              
    spisok = set(spisok)
    for s in spisok:
        z = []
        for j in df['params']:
            try:
                z.append(j[s])
            except:
                z.append(np.nan)
        df[s] = z
        
    return df

In [70]:
df_sunlight['group'].unique()

array(['Серьги', 'Крест-подвеска', 'Подвески', 'Кольца', 'Колье', 'Цепи',
       'Браслеты', 'Шейное украшение', 'Серьга', 'Ножной браслет',
       'Брошь', 'Пирсинг', 'Запонки', 'Булавка', 'Зажимы для галстука',
       'Брелоки'], dtype=object)

In [71]:
# чтобы функция написанная выше работала, необходимо, чтобы столбец params стал снова словарем, это происходит благодаря функции eval()
df_sunlight['params'] = df_sunlight['params'].apply(lambda x: eval(x))
get_params_from_dic(df_sunlight)

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount,Материал изделия,Диаметр серег,Страна производства,Плетение,Покрытие,Вес изделия,Вставка,Ширина кольца,Модель,Ширина браслета,Ширина цепи
0,17.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],Розовое золото,NaN,Россия,NaN,NaN,2.36 г,NaN,NaN,10-00-0000-27628*,NaN,NaN
1,17.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],Розовое золото,NaN,Россия,NaN,NaN,2.36 г,NaN,NaN,10-00-0000-27628*,NaN,NaN
2,17.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],Розовое золото,NaN,Россия,NaN,NaN,2.36 г,NaN,NaN,10-00-0000-27628*,NaN,NaN
3,17.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],Розовое золото,NaN,Россия,NaN,NaN,2.36 г,NaN,NaN,10-00-0000-27628*,NaN,NaN
4,17.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],Розовое золото,NaN,Россия,NaN,NaN,2.36 г,NaN,NaN,10-00-0000-27628*,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4921,17.06.2024,Sunlight,\n Золотой браслет\n,Браслеты,"{'Модель': '00335-60-030001-00*', 'Материал из...",41850,992220,https://sunlight.net/catalog/bracelets_992220....,83 700 ₽,41 850 ₽,25 110 ₽,"['Цены 8 марта! Ещё -5%, код: МАРТ до 23:59']",Желтое золото,NaN,Россия,NaN,NaN,3.1 г,NaN,NaN,00335-60-030001-00*,NaN,NaN
4922,17.06.2024,Sunlight,\n Золотой браслет\n,Браслеты,"{'Модель': '00334-60-030001-00*', 'Материал из...",66920,992218,https://sunlight.net/catalog/bracelets_992218....,133 840 ₽,66 920 ₽,40 152 ₽,"['Цены 8 марта! Ещё -10%, код: МАРТ до 23:59']",Желтое золото,NaN,Россия,NaN,NaN,5.72 г,NaN,NaN,00334-60-030001-00*,NaN,NaN
4923,17.06.2024,Sunlight,\n Золотое шейное украшение\n,Шейное украшение,"{'Модель': '00334-50-030001-00*', 'Материал из...",49020,992217,https://sunlight.net/catalog/neck_decoration_9...,98 040 ₽,49 020 ₽,29 412 ₽,"['Цены 8 марта! Ещё -5%, код: МАРТ до 23:59']",Желтое золото,NaN,Россия,NaN,NaN,4.19 г,NaN,NaN,00334-50-030001-00*,NaN,NaN
4924,17.06.2024,Sunlight,\n Золотой браслет\n,Браслеты,"{'Модель': 'ТАБ 47*', 'Материал изделия': 'Роз...",98170,991987,https://sunlight.net/catalog/bracelets_991987....,196 340 ₽,98 170 ₽,70 170 ₽,"['Цены 8 марта! Ещё -5%, код: МАРТ до 23:59']",Розовое золото,NaN,Россия,NaN,NaN,9.09 г,NaN,NaN,ТАБ 47*,NaN,NaN
4925,17.06.2024,Sunlight,\n Золотой браслет\n,Браслеты,"{'Модель': 'МБ 15*', 'Материал изделия': 'Розо...",90210,991985,https://sunlight.net/catalog/bracelets_991985....,180 420 ₽,90 210 ₽,62 210 ₽,"['Цены 8 марта! Ещё -5%, код: МАРТ до 23:59']",Розовое золото,NaN,Россия,NaN,NaN,8.51 г,NaN,NaN,МБ 15*,NaN,NaN

In [72]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount,Материал изделия,Диаметр серег,Страна производства,Плетение,Покрытие,Вес изделия,Вставка,Ширина кольца,Модель,Ширина браслета,Ширина цепи
0,17.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],Розовое золото,NaN,Россия,NaN,NaN,2.36 г,NaN,NaN,10-00-0000-27628*,NaN,NaN
1,17.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],Розовое золото,NaN,Россия,NaN,NaN,2.36 г,NaN,NaN,10-00-0000-27628*,NaN,NaN
2,17.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],Розовое золото,NaN,Россия,NaN,NaN,2.36 г,NaN,NaN,10-00-0000-27628*,NaN,NaN
3,17.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],Розовое золото,NaN,Россия,NaN,NaN,2.36 г,NaN,NaN,10-00-0000-27628*,NaN,NaN
4,17.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],Розовое золото,NaN,Россия,NaN,NaN,2.36 г,NaN,NaN,10-00-0000-27628*,NaN,NaN

In [73]:
df_sunlight['Материал изделия'].value_counts(dropna=False)

Материал изделия
Розовое золото                                 3527
Желтое золото                                   643
Белое золото, Розовое золото                    374
Белое золото                                    197
NaN                                             104
Текстиль                                         26
Белое золото, Желтое золото                      21
Белое золото, Желтое золото, Розовое золото      17
Желтое золото, Розовое золото                    11
Серебро                                           6
Name: count, dtype: int64

In [74]:
df_sunlight['Материал изделия'] = df_sunlight['Материал изделия'].fillna('золото')

In [75]:
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Серебро'))]
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Текстиль'))]

In [76]:
df_sunlight = df_sunlight.drop(columns=['params', 'price_x', 'url',
                                'Ширина кольца', 'Страна производства',
                                'Ширина цепи', 'Плетение', 'Ширина браслета',
                                'Модель', 'Диаметр серег', 'Вставка', 'Покрытие', 'Материал изделия'], axis=1)

In [77]:
df_sunlight.columns

Index(['date', 'competitor', 'name', 'group', 'article', 'price_old',
       'price_y', 'price_personal', 'discount', 'Вес изделия'],
      dtype='object')

In [78]:
# переименновываем столбцы, чтобы у всех таблиц была единая система
df_sunlight.columns = ['date', 'competitor', 'name', 'group', 'url', 'price_old',
                    'price', 'price_personal', 'discount', 'weight']

In [79]:
df_sunlight['price_personal'].isna().sum()

1442

In [80]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].fillna(df_sunlight['price'])

In [81]:
df_sunlight['weight'] = df_sunlight['weight'].str.replace(' г', '')
df_sunlight['name'] = df_sunlight['name'].str.replace('\n', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].astype('float')
df_sunlight['price_personal'] = df_sunlight['price_personal'].astype('float')
df_sunlight['discount_for_dash'] = df_sunlight['discount']

In [82]:
df_sunlight['discount_for_dash'].isna().sum()

0

In [83]:
df_sunlight['discount_for_dash'].value_counts()

discount_for_dash
['Цены 8 марта! Ещё -5%, код: МАРТ до 23:59']     2286
['ХИТ-цена']                                      1360
['Цены 8 марта! Ещё -10%, код: МАРТ до 23:59']    1054
['ХИТ-цена', 'Выгодно! Золото 5 290 р/г']           79
['Цены 8 марта! Ещё -15%, код: МАРТ до 23:59']      57
['Цены снижены! Ещё -15%, код: СЕГОДНЯ']            47
[nan]                                                8
['Цены 8 марта! Ещё -20%, код: МАРТ до 23:59']       3
Name: count, dtype: int64

In [84]:
def discount_value_sl(discount):
    '''у Sunlight купоны имеют скидку до 55%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '55%' in discount:
        return 0.45
    elif '50%' in discount:
        return 0.50
    elif '45%' in discount:
        return 0.55
    elif '40%' in discount:
        return 0.6
    elif '35%' in discount:
        return 0.65
    elif '30%' in discount:
        return 0.7
    elif '25%' in discount:
        return 0.75
    elif '20%' in discount:
        return 0.8
    elif '15%' in discount:
        return 0.85
    elif '10%' in discount:
        return 0.9 
    elif '-5%' in discount:
        return 0.95
    elif '1=2' in discount:
        return 0.5
    return 1

df_sunlight['discount'] = df_sunlight['discount'].apply(discount_value_sl)

In [85]:
df_sunlight['discount'].value_counts(dropna=False)

discount
0.95    2286
1.00    1447
0.90    1054
0.85     104
0.80       3
Name: count, dtype: int64

In [86]:
df_sunlight['discount_for_dash'].value_counts(dropna=False)

discount_for_dash
['Цены 8 марта! Ещё -5%, код: МАРТ до 23:59']     2286
['ХИТ-цена']                                      1360
['Цены 8 марта! Ещё -10%, код: МАРТ до 23:59']    1054
['ХИТ-цена', 'Выгодно! Золото 5 290 р/г']           79
['Цены 8 марта! Ещё -15%, код: МАРТ до 23:59']      57
['Цены снижены! Ещё -15%, код: СЕГОДНЯ']            47
[nan]                                                8
['Цены 8 марта! Ещё -20%, код: МАРТ до 23:59']       3
Name: count, dtype: int64

In [87]:
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace("'", '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('[', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace(']', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('nan', 'нет скидочного купона')

In [88]:
df_sunlight['discount'] = df_sunlight['discount'].astype('float')

In [89]:
# применяем для каждого товара скидочный купон
# кроме тех строк, в которых есть информация, что это ХИТ-товар
df_sunlight['price_personal'] = np.where(
    df_sunlight['discount_for_dash'].str.contains('ХИТ'), df_sunlight['price'], df_sunlight['price'] * df_sunlight['discount']
)

In [90]:
df_sunlight['discount_for_dash'].value_counts()

discount_for_dash
Цены 8 марта! Ещё -5%, код: МАРТ до 23:59     2286
ХИТ-цена                                      1360
Цены 8 марта! Ещё -10%, код: МАРТ до 23:59    1054
ХИТ-цена, Выгодно! Золото 5 290 р/г             79
Цены 8 марта! Ещё -15%, код: МАРТ до 23:59      57
Цены снижены! Ещё -15%, код: СЕГОДНЯ            47
нет скидочного купона                            8
Цены 8 марта! Ещё -20%, код: МАРТ до 23:59       3
Name: count, dtype: int64

In [91]:
# после применения купона, цена по программе лояльности Sunlight может снизиться ещё до 30% от полученной суммы при помощи бонусных баллов
# мы считаем, что пользователь пользуется максимальным количеством бонусных баллов, применимых к товару
# это не распростроняется на фикс цены, о наличии которых мы можем понять по устойчивому "ХИТ-цена", но так же могут быть добавлены новые акции
# всегда стоит перед запуском скрипта ниже проверять вывод блока кода выше

for i in df_sunlight.index:
    if df_sunlight['discount_for_dash'][i] == "ХИТ-цена":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    elif df_sunlight['discount_for_dash'][i] == "ХИТ-цена, Выгодно! Золото 5 290 р/г":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    else:    
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] * 0.6

In [92]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
3080,17.06.2024,Sunlight,Золотая подвеска,Подвески,174322,51 980 ₽,25990.00,14034.60,0.90,2.69,"Цены 8 марта! Ещё -10%, код: МАРТ до 23:59"
2352,17.06.2024,Sunlight,Золотые серьги,Серьги,339693,53 980 ₽,26990.00,15384.30,0.95,2.88,"Цены 8 марта! Ещё -5%, код: МАРТ до 23:59"
3413,17.06.2024,Sunlight,Золотая подвеска,Подвески,343322,14 980 ₽,7490.00,4044.60,0.90,0.77,"Цены 8 марта! Ещё -10%, код: МАРТ до 23:59"
129,17.06.2024,Sunlight,Золотой браслет,Браслеты,53964,NaN,32771.00,32771.00,1.00,5.66,ХИТ-цена
3790,17.06.2024,Sunlight,Золотой браслет,Браслеты,991919,87 520 ₽,43760.00,24943.20,0.95,3.74,"Цены 8 марта! Ещё -5%, код: МАРТ до 23:59"

In [93]:
df_sunlight['price_personal'].isna().sum()

0

In [94]:
df_sunlight.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4894 entries, 0 to 4925
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               4894 non-null   object
 1   competitor         4894 non-null   object
 2   name               4894 non-null   object
 3   group              4894 non-null   object
 4   url                4894 non-null   int64
 5   price_old          3452 non-null   object
 6   price              4894 non-null   float64
 7   price_personal     4894 non-null   float64
 8   discount           4894 non-null   float64
 9   weight             4894 non-null   object
 10  discount_for_dash  4894 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 587.9+ KB

In [95]:
df_sunlight.sample()

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
4053,17.06.2024,Sunlight,Золотое обручальное кольцо,Кольца,993956,58 760 ₽,29380.00,16746.60,0.95,2.72,"Цены 8 марта! Ещё -5%, код: МАРТ до 23:59"

In [96]:
df_sunlight['weight'] = df_sunlight['weight'].astype(float)
df_sunlight = df_sunlight[df_sunlight['weight'] > 0.1]

In [97]:
df_sunlight.drop_duplicates(inplace=True)

In [98]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
3676,17.06.2024,Sunlight,Золотая подвеска,Подвески,353012,41 980 ₽,20990.00,11334.60,0.90,2.11,"Цены 8 марта! Ещё -10%, код: МАРТ до 23:59"
600,17.06.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,194938,12 980 ₽,6490.00,3699.30,0.95,0.64,"Цены 8 марта! Ещё -5%, код: МАРТ до 23:59"
3126,17.06.2024,Sunlight,Золотое шейное украшение,Шейное украшение,343267,42 780 ₽,21390.00,11550.60,0.90,2.30,"Цены 8 марта! Ещё -10%, код: МАРТ до 23:59"
380,17.06.2024,Sunlight,Золотые серьги,Серьги,992438,67 980 ₽,33990.00,19374.30,0.95,2.56,"Цены 8 марта! Ещё -5%, код: МАРТ до 23:59"
1998,17.06.2024,Sunlight,Золотая цепь,Цепи,34878,NaN,27051.00,27051.00,1.00,3.87,ХИТ-цена

In [99]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].round(0)

In [100]:
# проверяем корректность расчётов
df_sunlight[['price_personal','url']].sample(3)

      price_personal     url
2183        13674.00  333355
3575        13304.00  279880
2503        10203.00  344091

In [101]:
df_sunlight = df_sunlight.drop(columns=['price_old', 'price'])

In [102]:
df_sunlight['price_per_gramm'] = (df_sunlight['price_personal'] / df_sunlight['weight']).round(0)

In [103]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sunlight['tg'] = np.where(
    df_sunlight['group'].str.contains('Серьги|Серьга|Пирсинг'), 'СЕРЬГИ',
    np.where(
        df_sunlight['group'].str.contains('Цепи'), 'ЦЕПИ',
        np.where(
            ((df_sunlight['group'].str.contains('Подвески')) & (df_sunlight['name'].str.lower().str.contains('свят|божия|блаженная|господь|чудотворец|ангел|сергий|божья|георгий'))), 'ПОДВЕС КУЛЬТ',
            np.where(
                df_sunlight['group'].str.contains('Крест|Икона'), 'ПОДВЕС КУЛЬТ',
                np.where(
                    df_sunlight['group'].str.lower().str.contains('браслет'), 'БРАСЛЕТЫ', 
                    np.where(
                        ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное') == False)), 'КОЛЬЦА',
                        np.where(
                            ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ',
                            np.where(
                                df_sunlight['group'].str.contains('Подвески'), 'ПОДВЕС ДЕКОР', df_sunlight['group']
                            )
                        )
                    )
                )
            )
        )
    )
)

In [104]:
df_sunlight = df_sunlight[df_sunlight['tg'].str.contains('СЕРЬГИ|КОЛЬЦА|ПОДВЕС|БРАСЛЕТЫ|ЦЕПИ')] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [105]:
df_sunlight['price_case'] = np.where(
    df_sunlight['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sunlight['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sunlight['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sunlight['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sunlight['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sunlight['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sunlight['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [106]:
df_sunlight['tn'] = np.where(
    df_sunlight['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ', 'БК'
)

In [107]:
df_sunlight['tg'] = df_sunlight['tn'] + ' ' + df_sunlight['tg']

In [108]:
df_sunlight['price_per_gramm'].describe([0.05, 0.99])

count    3301.00
mean     6479.63
std      1305.12
min      3714.00
5%       4959.00
50%      6480.00
99%      9144.00
max     47475.00
Name: price_per_gramm, dtype: float64

In [109]:
df_sunlight = df_sunlight.drop(columns=['tn'])

In [110]:
df_sunlight.head(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,17.06.2024,Sunlight,Золотые серьги,Серьги,235978,20990.00,1.00,2.36,ХИТ-цена,8894.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
5,17.06.2024,Sunlight,Золотые серьги,Серьги,51498,6490.00,1.00,0.77,ХИТ-цена,8429.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
10,17.06.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,75809,2490.00,1.00,0.26,ХИТ-цена,9577.00,БК ПОДВЕС КУЛЬТ,9 000 руб. - 10 000 руб.
15,17.06.2024,Sunlight,Золотая подвеска,Подвески,993847,1990.00,1.00,0.21,ХИТ-цена,9476.00,БК ПОДВЕС ДЕКОР,9 000 руб. - 10 000 руб.
20,17.06.2024,Sunlight,Золотые серьги,Серьги,271510,10490.00,1.00,1.04,ХИТ-цена,10087.00,БК СЕРЬГИ,свыше 10 000 руб.

In [111]:
df_sunlight = df_sunlight.drop_duplicates()

In [112]:
Sunlight = (df_sunlight['price_personal'].sum() / df_sunlight['weight'].sum()).round(0)
print(Sunlight)

6212.0

# 3. 585*Золотой онлайн остатки

In [193]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime) # мы ищем тут последний выгруженный файл (занимается выгрузкой Оризу Наталья email: Orizu.Natalya@zolotoy.ru)

df = pd.read_excel(latest_file)

In [194]:
latest_file # если последний файл - не за сегодняшнюю/вчерашнюю дату, стоит запросить актуальную выгрузку

'\\\\gold585.int\\uk\\Общее хранилище файлов\\Служба аналитики\\МЮР\\ecom_stock_raw\\Остатки 2024.06.17.xlsx'

In [195]:
df.fineness.unique()

array([925., 375., 585.,  nan, 750., 999., 944., 945., 946., 947., 937.,
       938., 939., 931., 932., 933., 926., 928., 929., 930., 948., 949.,
       950., 951., 927., 934., 935., 936., 960., 961., 962., 963., 964.,
       956., 957., 958., 959., 875.])

In [196]:
df['published'].value_counts(dropna=False)

published
True     171177
False     40408
Name: count, dtype: int64

In [197]:
df['product_line'].unique()

array(['СИ', 'ПДК', 'ДК', 'ФУТЛЯРЫ', 'ДФРС', 'ЧАСЫ', 'ЦБ', 'ИФ', 'БК',
       'ВЫРИЦА', 'БИЖУТЕРИЯ', nan, 'БУ'], dtype=object)

In [198]:
df = df[(df['fineness'] == 585) & (df['product_line'].str.contains('ФУТЛЯРЫ|ДФРС|ВЫРИЦА|ЧАСЫ|БИЖУТЕРИЯ|БУ') == False)]

In [199]:
df = df[(df['product_group'].str.contains('БК КОЛЬЦА')|
        df['product_group'].str.contains('БК КОЛЬЦА ОБРУЧ')|
        df['product_group'].str.contains('ЦБ БРАСЛЕТЫ')|
        df['product_group'].str.contains('БК СЕРЬГИ')|
        df['product_group'].str.contains('БК ПОДВЕС КУЛЬТ')|
        df['product_group'].str.contains('БК ПОДВЕС ДЕКОР')|
        df['product_group'].str.contains('ЦБ ЦЕПИ'))]

In [200]:
df = df.drop(columns=['Unnamed: 15', '*без франчайзинговых магазинов и Румянцево'])

In [201]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\discounts_zolotoy\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)

discount = pd.read_excel(latest_file)

In [202]:
discount.sample(3)

        Артикул сайта  Опубликован discount_value_promotions_1
63343         1981581         True                          40
192509        8341180         True                           -
109304        2242587         True                           -

In [203]:
discount.columns = ['article', 'Опубликован', 'discount_value_promotions_1']

In [204]:
df = df.merge(discount, how='left', on='article')

In [205]:
df = df[(df['published'] == 'ИСТИНА') | (df['published'] == True)]

In [206]:
df = df.drop(columns=['weaving', 'Unnamed: 14', 'name'])

In [207]:
df.columns = ['article', 'size', 'published', 'product_line', 'product_group',
            'material', 'type3', 'fineness', 'avg_weight', 'price',
            'discount_price', 'Остатки, шт*', 'type3',
            'discount_value_promotions_1']

In [208]:
def discount_index(discount):
    try:
        return 1 - discount / 100
    except:
        return 1

In [209]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.apply(discount_index)

In [210]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.fillna(1)

In [211]:
df = df.dropna(subset=['avg_weight', 'discount_value_promotions_1'])

In [212]:
df['price_personal'] = np.where(
    (df['price'] == df['discount_price']) & (df['discount_value_promotions_1'] == 1), df['discount_price'] * df['discount_value_promotions_1'], 
    np.where(
        df['discount_value_promotions_1'] == 0.5, df['discount_price'] * df['discount_value_promotions_1'], df['discount_price'] * df['discount_value_promotions_1'] * 0.8
    )
)

In [190]:
df = df.drop_duplicates(subset=['article'])

In [213]:
zolotoy = df.groupby('product_group', as_index=False)[['price_personal', 'avg_weight']].agg({'price_personal':'sum', 'avg_weight':'sum'})
zolotoy['price_per_gram'] = zolotoy['price_personal'] / zolotoy['avg_weight']

In [214]:
stock_ecom = zolotoy['price_personal'].sum() / zolotoy['avg_weight'].sum()
print(stock_ecom)

6278.890138024659

In [215]:
zolotoy

     product_group  price_personal  avg_weight  price_per_gram
0        БК КОЛЬЦА     24918216.00     4358.87         5716.67
1  БК КОЛЬЦА ОБРУЧ     86105560.40    15121.96         5694.07
2  БК ПОДВЕС ДЕКОР      3590333.20      651.27         5512.82
3  БК ПОДВЕС КУЛЬТ      9025146.40     1527.48         5908.52
4        БК СЕРЬГИ     23713085.60     3802.42         6236.31
5      ЦБ БРАСЛЕТЫ    101369572.00    15484.06         6546.70
6          ЦБ ЦЕПИ    168931649.60    25571.04         6606.37

In [216]:
zolotoy['date'] = pd.to_datetime(date_now, dayfirst=True)

In [217]:
zolotoy = zolotoy.drop(columns=['price_personal', 'avg_weight', 'date'])

In [218]:
zolotoy.columns = ['tg', '585*Золотой онлайн остатки 40%+20%']

In [219]:
df = df.drop_duplicates(subset=['article'])

In [220]:
df['date'] = pd.to_datetime(date_now, dayfirst=True)
df['competitor'] = '585*Золотой'
df['price_per_gramm'] = df['price_personal'] / df['avg_weight']

In [221]:
df['price_case'] = np.where(
    df['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [222]:
df = df[['date', 'competitor', 'avg_weight', 'price_personal', 'product_group', 'price_per_gramm', 'discount_value_promotions_1', 'article', 'price_case']]
df.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [223]:
data_history = pd.DataFrame({'date': [pd.to_datetime(date_now, dayfirst=True)],
                            'competitor': ['585*Золотой'],
                            'avg_ppg': [int(df['price_personal'].sum() / df['weight'].sum())]})

# 4. 585*Золотой оффлайн остатки

In [224]:
# SQL-скрипт ниже выгружает данные по остаткам с БД Staging, доступ к ней выдаётся по учётной записи Windows по согласованию

conn = pymssql.connect(server='AX-SQL', database='Staging')
cursor = conn.cursor()

sql = f'''
SELECT [Код склада], [Название склада], [Цена Закупки за 1 шт. (упр сс с НДС за единицу)], [Группа цен],
[Товарное направление], [Товарная группа], [Проба], [Цена Розн., за шт],  [Запрет скидки],
[Код товара],  [Артикул поставщика], [Чистый вес], [ШК], [Общий вес], [Скидка на изделии], [Тип изделия 1], 
[ID Сайта]
from [Staging].[Reports].[Remainings_8h]
where [Товарное направление] in (N'БК', N'ЦБ')
'''

sql_query = pd.read_sql_query(sql, conn)
stock = pd.DataFrame(sql_query)

In [225]:
stock.sample(5)

,Код склада,Название склада,Цена Закупки за 1 шт. (упр сс с НДС за единицу),Группа цен,Товарное направление,Товарная группа,Проба,"Цена Розн., за шт",Запрет скидки,Код товара,Артикул поставщика,Чистый вес,ШК,Общий вес,Скидка на изделии,Тип изделия 1,ID Сайта
1269892,4691,"Тосно, Боярова, 4а, ТК «Панорама»",6063.52,ИФ.БК_СР,БК,БК ПОДВЕС КУЛЬТ,585,29928.00,Нет,ТОВ1005004,35-0439-10-00,1.74,2078606416216,1.74,34.00,ПОДВЕС КУЛЬТОВЫЙ,5367131
1406527,3986,Чехов Симферопольское шоссе 1,9408.32,ЦБ_АВТОМАТ >3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,62706.00,Нет,ТОВ1264355,330-01-0040-30087,4.29,2078604317601,4.29,16.00,ЦЕПЬ,1345691
1069210,5119,"Санкт-Петербург, Стачек, 90(Дубль)",4710.44,ЦБ_АВТОМАТ <=3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,30532.00,Нет,ТОВ1050188,30-01-0035-30205,1.82,2078587276154,1.82,30.00,ЦЕПЬ,4614752
746368,5671,"Новосибирск, Объединения, 80/1",9808.81,ИФ.БК_ДОР,БК,БК КОЛЬЦА ОБРУЧ,585,50735.00,Нет,ТОВ0887594,КО 15-00,3.65,2078605504178,3.65,5.00,КОЛЬЦО ОБРУЧАЛЬНОЕ,2004212
931838,3752,Регент Голд ОПТ,5703.23,ОПТ_ОБРУЧ,БК,БК КОЛЬЦА ОБРУЧ,585,NaN,Нет,ТОВ0919151,КО 03-00#ТД,1.76,2078609790954,1.76,0.00,КОЛЬЦО ОБРУЧАЛЬНОЕ,2002928

In [226]:
stock['Код склада'] = stock['Код склада'].astype('float64')

In [227]:
stock['date'] = pd.to_datetime(date_now, dayfirst=True)
stock['competitor'] = '585*Золотой оффлайн'
stock['discount_for_dash'] = 0.6 * 0.8 # скидка непостоянная, информация о скидке всегда приходит на почту в конце месяца

In [228]:
stock = stock[['date', 'competitor', 'ID Сайта', 'Цена Розн., за шт', 'Запрет скидки', 'Чистый вес', 'discount_for_dash', 'Товарная группа', 'Скидка на изделии']]

In [229]:
stock.columns = ['date', 'competitor', 'url', 'price', 'discount', 'weight', 'discount_for_dash', 'tg', 'skidka']

In [230]:
tgs = ['БК СЕРЬГИ', 'ЦБ БРАСЛЕТЫ', 'ЦБ ЦЕПИ', 'БК КОЛЬЦА ОБРУЧ', 'БК ПОДВЕС КУЛЬТ', 'БК ПОДВЕС ДЕКОР', 'БК КОЛЬЦА']
stock = stock.query('tg in @tgs')

In [231]:
stock['price_personal'] = np.where(
    stock['discount'] == 'Да', stock['price'], stock['price'] * stock['discount_for_dash'] * (1 - (stock['skidka'] / 100))
)

In [232]:
stock['price_per_gramm'] = stock['price_personal'] / stock['weight']

In [233]:
stock['price_case'] = np.where(
    stock['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (stock['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (stock['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (stock['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (stock['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (stock['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (stock['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [234]:
stock = stock[['date', 'competitor', 'url', 'price_personal', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]
stock.columns = ['date_', 'competitor', 'url', 'price_personal', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']

In [235]:
gold_stock = stock.groupby(by = 'tg', as_index = False)[['price_personal', 'weight']].agg('sum')
gold_stock['price_per_gramm'] = gold_stock['price_personal'] / gold_stock['weight']

In [236]:
stock_price_pl = ((gold_stock['price_personal']).sum() / gold_stock['weight'].sum()).round(0)
print('Средняя цена остатков офлайн ПЛ: ', stock_price_pl)

Средняя цена остатков офлайн ПЛ:  6076.0

In [237]:
gold_stock = gold_stock[['tg', 'price_per_gramm']]

In [238]:
gold_stock.columns = ['tg', '585*Золотой оффлайн остатки 40%+20%']

# 5. Соединение таблиц для дашборда

In [239]:
data_all = pd.concat([df_sokolov, df_sunlight], ignore_index=True)

In [240]:
data_all['date'].fillna(f'{day_now}-{month_now}-{year_now}', inplace=True)

In [241]:
data_all['date'].unique()

array(['17.06.2024'], dtype=object)

In [242]:
data_all['date'] = pd.to_datetime(date_now, dayfirst=True)

In [243]:
data_all.date.unique()

<DatetimeArray>
['2024-06-17 00:00:00']
Length: 1, dtype: datetime64[ns]

In [244]:
data_all

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,2024-06-17,Sokolov,кольцо обручальное из белого золота,rings,110260-3,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
1,2024-06-17,Sokolov,кольцо обручальное из золота,rings,110260,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
2,2024-06-17,Sokolov,кольцо обручальное из золота,rings,110261,12990.00,1.00,1.63,ШОК-ЦЕНА,7969.00,БК КОЛЬЦА ОБРУЧ,7 000 руб. - 8 000 руб.
3,2024-06-17,Sokolov,кольцо из белого золота,rings,110262-3,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА,8 000 руб. - 9 000 руб.
4,2024-06-17,Sokolov,подвеска из золота,pendants,036439,990.00,1.00,0.13,ШОК-ЦЕНА,7615.00,БК ПОДВЕС ДЕКОР,7 000 руб. - 8 000 руб.
...,...,...,...,...,...,...,...,...,...,...,...,...
4791,2024-06-17,Sunlight,Золотой браслет,Браслеты,993620,12555.00,0.90,2.50,"Цены 8 марта! Ещё -10%, код: МАРТ до 23:59",5022.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.
4792,2024-06-17,Sunlight,Золотой браслет,Браслеты,992220,23854.00,0.95,3.10,"Цены 8 марта! Ещё -5%, код: МАРТ до 23:59",7695.00,ЦБ БРАСЛЕТЫ,7 000 руб. - 8 000 руб.
4793,2024-06-17,Sunlight,Золотой браслет,Браслеты,992218,36137.00,0.90,5.72,"Цены 8 марта! Ещё -10%, код: МАРТ до 23:59",6318.00,ЦБ БРАСЛЕТЫ,6 000 руб. - 6 500 руб.
4794,2024-06-17,Sunlight,Золотой браслет,Браслеты,991987,55957.00,0.95,9.09,"Цены 8 марта! Ещё -5%, код: МАРТ до 23:59",6156.00,ЦБ БРАСЛЕТЫ,6 000 руб. - 6 500 руб.
4795,2024-06-17,Sunlight,Золотой браслет,Браслеты,991985,51420.00,0.95,8.51,"Цены 8 марта! Ещё -5%, код: МАРТ до 23:59",6042.00,ЦБ БРАСЛЕТЫ,6 000 руб. - 6 500 руб.

In [245]:
data_history_gold = data_history

In [246]:
# группируем общую таблицу для добавления данных о изменении стоимости за грамм по дате
data_history = data_all.groupby('competitor', as_index=False)[['weight', 'price_personal']].agg('sum')
data_history['price_per_gramm'] = (data_history['price_personal'] / data_history['weight']).round(0)
data_history.insert(0, 'date', f'{date_now}')
data_history = data_history.drop(columns=['weight', 'price_personal'], axis=1)
data_history['num_shop'] = '_' + data_history['competitor']

In [247]:
data_history = data_history.drop(columns=['num_shop'])
data_history.columns = ['date', 'competitor', 'avg_ppg']

In [248]:
data_history['date'] = pd.to_datetime(date_now, dayfirst=True)

In [249]:
data_history = pd.concat([data_history_gold, data_history], ignore_index=True)

In [250]:
data_history.to_sql('avg_ppg_for_monthly_monitoring', engine, schema = 'yura', if_exists='append', index = False)

3

In [251]:
data_all.to_excel(rf'{report_folder}\Данные парсинга\bk_sokolov_sunlight_{date_now}.xlsx', index=False)

In [252]:
data_all = data_all.drop(columns=['name', 'discount', 'group'])

In [253]:
data_all = data_all[['date', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']]

In [254]:
data_all.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [255]:
data_all['date_'] = pd.to_datetime(date_now, dayfirst=True)

In [256]:
# группировка полученных данных для отчёта

In [257]:
df_tn_sokolov = df_sokolov.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sokolov['price_per_gram'] = df_tn_sokolov['price_personal'] / df_tn_sokolov['weight']

In [258]:
df_tn_sunlight = df_sunlight.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sunlight['price_per_gram'] = df_tn_sunlight['price_personal'] / df_tn_sunlight['weight']

In [259]:
df_tn_sunlight = df_tn_sunlight.drop(columns=['price_personal', 'weight'])
df_tn_sunlight.columns = ['tg', 'Sunlight']

In [260]:
df_tn_sokolov = df_tn_sokolov.drop(columns=['price_personal', 'weight'])
df_tn_sokolov.columns = ['tg', 'Sokolov']

In [261]:
df_sunlight

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,17.06.2024,Sunlight,Золотые серьги,Серьги,235978,20990.00,1.00,2.36,ХИТ-цена,8894.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
5,17.06.2024,Sunlight,Золотые серьги,Серьги,51498,6490.00,1.00,0.77,ХИТ-цена,8429.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
10,17.06.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,75809,2490.00,1.00,0.26,ХИТ-цена,9577.00,БК ПОДВЕС КУЛЬТ,9 000 руб. - 10 000 руб.
15,17.06.2024,Sunlight,Золотая подвеска,Подвески,993847,1990.00,1.00,0.21,ХИТ-цена,9476.00,БК ПОДВЕС ДЕКОР,9 000 руб. - 10 000 руб.
20,17.06.2024,Sunlight,Золотые серьги,Серьги,271510,10490.00,1.00,1.04,ХИТ-цена,10087.00,БК СЕРЬГИ,свыше 10 000 руб.
...,...,...,...,...,...,...,...,...,...,...,...,...
4910,17.06.2024,Sunlight,Золотой браслет,Браслеты,993620,12555.00,0.90,2.50,"Цены 8 марта! Ещё -10%, код: МАРТ до 23:59",5022.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.
4921,17.06.2024,Sunlight,Золотой браслет,Браслеты,992220,23854.00,0.95,3.10,"Цены 8 марта! Ещё -5%, код: МАРТ до 23:59",7695.00,ЦБ БРАСЛЕТЫ,7 000 руб. - 8 000 руб.
4922,17.06.2024,Sunlight,Золотой браслет,Браслеты,992218,36137.00,0.90,5.72,"Цены 8 марта! Ещё -10%, код: МАРТ до 23:59",6318.00,ЦБ БРАСЛЕТЫ,6 000 руб. - 6 500 руб.
4924,17.06.2024,Sunlight,Золотой браслет,Браслеты,991987,55957.00,0.95,9.09,"Цены 8 марта! Ещё -5%, код: МАРТ до 23:59",6156.00,ЦБ БРАСЛЕТЫ,6 000 руб. - 6 500 руб.
4925,17.06.2024,Sunlight,Золотой браслет,Браслеты,991985,51420.00,0.95,8.51,"Цены 8 марта! Ещё -5%, код: МАРТ до 23:59",6042.00,ЦБ БРАСЛЕТЫ,6 000 руб. - 6 500 руб.

In [262]:
result = pd.merge(df_tn_sokolov, df_tn_sunlight, how='left', on='tg').merge(zolotoy, how='left', on='tg').merge(gold_stock, how='left', on='tg') # объединяем данные в одну табличку

In [263]:
result

,tg,Sokolov,Sunlight,585*Золотой онлайн остатки 40%+20%,585*Золотой оффлайн остатки 40%+20%
0,БК КОЛЬЦА,6490.89,6147.63,5716.67,6066.11
1,БК КОЛЬЦА ОБРУЧ,8504.35,6134.92,5694.07,5933.95
2,БК ПОДВЕС ДЕКОР,6848.64,6573.10,5512.82,6276.18
3,БК ПОДВЕС КУЛЬТ,7042.53,6673.98,5908.52,6141.48
4,БК СЕРЬГИ,6345.58,6431.85,6236.31,6041.36
5,ЦБ БРАСЛЕТЫ,7583.21,6143.10,6546.70,6117.92
6,ЦБ ЦЕПИ,8842.99,5975.82,6606.37,6108.23

# 6. Расчёт наценки

In [264]:
cookies = {
    '__ddg1_': 'XgGmRRFfNl9J83C2HQq2',
    '__RequestVerificationToken': '5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
}

headers = {
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7',
    'accept-language': 'ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7',
    'cache-control': 'max-age=0',
    # 'cookie': '__ddg1_=XgGmRRFfNl9J83C2HQq2; __RequestVerificationToken=5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
    'priority': 'u=0, i',
    'sec-ch-ua': '"Google Chrome";v="125", "Chromium";v="125", "Not.A/Brand";v="24"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'document',
    'sec-fetch-mode': 'navigate',
    'sec-fetch-site': 'cross-site',
    'sec-fetch-user': '?1',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36',
}

response = requests.get('https://mfd.ru/centrobank/preciousmetals/', cookies=cookies, headers=headers).text

In [265]:
soup = bs(response, 'html.parser')

In [266]:
# данные ниже могут меняться
price_ = float(soup.find('table', class_='mfd-table').find('tbody').find('td', class_='mfd-item-date').findNext('td').text.strip()[:7]) * 0.585
ugar = 0.03 
workprice = 150 
nds = 0.2

In [267]:
costprice = (price_/(1-ugar)+workprice)*(1 + nds)

In [268]:
stock_for_dash = stock.drop_duplicates(subset=['url'])

In [269]:
data_all = pd.concat([data_all, df, stock_for_dash], ignore_index=True)

In [270]:
data_all['markup'] = (data_all['price_personal'] / (costprice * data_all['weight'])) - 1

In [271]:
data_all['markup'] = data_all['markup'].astype(str)
data_all = data_all[data_all['markup'] != 'inf']
data_all['markup'] = data_all['markup'].astype(float)

In [272]:
data_all['date_'] = pd.to_datetime(date_now, dayfirst=True)

In [273]:
data_all1 = data_all.drop(columns=['markup'])

In [274]:
data_all1.to_sql('price_per_gramm', engine, schema = 'yura', if_exists='append', index = False)

11

In [275]:
data_all = data_all.dropna(subset=['markup'])

In [276]:
costprice_offline = data_all[data_all['competitor'] == '585*Золотой оффлайн'].groupby(by = 'tg', as_index = False)['markup'].mean()
costprice_offline.columns = ['tg', 'markup_a']

In [277]:
costprice_ = data_all[data_all['competitor'] == 'Sunlight'].groupby(by = 'tg', as_index = False)['markup'].mean().\
    merge(data_all[data_all['competitor'] == 'Sokolov'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg').\
        merge(data_all[data_all['competitor'] == '585*Золотой'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg')

In [278]:
costprice_ = costprice_.merge(costprice_offline, how='left', on='tg')

In [279]:
costprice_

                tg  markup_x  markup_y  markup  markup_a
0        БК КОЛЬЦА      0.22      0.32    0.09      0.13
1  БК КОЛЬЦА ОБРУЧ      0.25      0.71    0.11      0.10
2  БК ПОДВЕС ДЕКОР      0.37      0.44    0.12      0.18
3  БК ПОДВЕС КУЛЬТ      0.36      0.49    0.21      0.20
4        БК СЕРЬГИ      0.31      0.32    0.22      0.19
5      ЦБ БРАСЛЕТЫ      0.29      0.59    0.29      0.21
6          ЦБ ЦЕПИ      0.33      0.90    0.29      0.19

In [280]:
costprice_.columns = ['Товарная группа', 'Наценка Sunlight', 'Наценка Sokolov', 'Наценка 585*Золотой онлайн', 'Наценка 585*Золотой оффлайн']

In [281]:
costprice_['Дата'] = pd.to_datetime(date_now, dayfirst=True)

In [282]:
costprice_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Товарная группа              7 non-null      object
 1   Наценка Sunlight             7 non-null      float64
 2   Наценка Sokolov              7 non-null      float64
 3   Наценка 585*Золотой онлайн   7 non-null      float64
 4   Наценка 585*Золотой оффлайн  7 non-null      float64
 5   Дата                         7 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 468.0+ bytes

In [283]:
costprice_

,Товарная группа,Наценка Sunlight,Наценка Sokolov,Наценка 585*Золотой онлайн,Наценка 585*Золотой оффлайн,Дата
0,БК КОЛЬЦА,0.22,0.32,0.09,0.13,2024-06-17
1,БК КОЛЬЦА ОБРУЧ,0.25,0.71,0.11,0.10,2024-06-17
2,БК ПОДВЕС ДЕКОР,0.37,0.44,0.12,0.18,2024-06-17
3,БК ПОДВЕС КУЛЬТ,0.36,0.49,0.21,0.20,2024-06-17
4,БК СЕРЬГИ,0.31,0.32,0.22,0.19,2024-06-17
5,ЦБ БРАСЛЕТЫ,0.29,0.59,0.29,0.21,2024-06-17
6,ЦБ ЦЕПИ,0.33,0.90,0.29,0.19,2024-06-17

In [284]:
costprice_.to_sql('costprice_sklv_sl', engine, schema = 'yura', if_exists='append', index = False)

7

# 7. Обработка данных по продажам оффлайн и онлайн

Продажи 585*Золотой онлайн

In [285]:
way = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Илларионов\Выгрузка Еком\\'

In [288]:
data_IM = pd.read_excel(rf'{way}\{month_now}.{year_now}_продажи еком.xlsx')

In [289]:
# смотрим продажи с последнего мониторинга
data = dt.datetime.isoweekday(dt.date.today())
if data == 1:
    last_monitoring = (dt.date.today() - dt.timedelta(days=2)).strftime('%Y-%m-%d')
else:
    last_monitoring = (dt.date.today() - dt.timedelta(days=3)).strftime('%Y-%m-%d')
    
data_IM = data_IM[data_IM['created'] >= f'{last_monitoring}']

In [290]:
data_IM = data_IM.drop_duplicates()
data_IM = data_IM.reset_index(drop=True)

data_IM = data_IM[(data_IM['state_order'] != 'returned') & (data_IM['state_order'] != 'canceled')]
data_IM = data_IM[~((data_IM['delivery_type'] == 'PICKUP_NOW') & (data_IM['payment_type'] == 'CASHIER') & (data_IM['type_ibox'] == 'CASHIER'))|
                ((data_IM['delivery_type'] == 'PICKUP') & (data_IM['payment_type'] == 'CASHIER') & (data_IM['type_ibox'] == 'CASHIER'))]

In [291]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'], format = '%Y-%m-%d')

In [292]:
def str_float(row):
    row = str(row)
    row = row.replace(',','.')
    return row

data_IM['price'] = data_IM['price'].apply(str_float)
data_IM['price'] = data_IM['price'].astype(float)

data_IM['avg_net_weight'] = data_IM['avg_net_weight'].apply(str_float)
data_IM['avg_net_weight'] = data_IM['avg_net_weight'].astype(float)

In [293]:
data_IM = data_IM[data_IM['price'] > 1].reset_index(drop=True)
data_IM = data_IM[data_IM['avg_net_weight'] > 0].reset_index(drop=True)

In [294]:
data_IM['Товарное направление'] = np.where(
    data_IM['tg'].isin(['БК ПОДВЕС КУЛЬТ', 'БК СЕРЬГИ', 'БК КОЛЬЦА','БК КОЛЬЦА ОБРУЧ','БК ПОДВЕС ДЕКОР',  'БК ПЕЧАТКИ','БК АКСЕССУАРЫ','ОПТ БК']), 'БК',
    np.where(
        data_IM['tg'].isin(['ПДК СЕРЬГИ', 'ПДК КОЛЬЦА','ПДК ПОДВЕСКИ']), 'ПДК',
        np.where(
            data_IM['tg'].isin(['ДК СЕРЬГИ',  'ДК КОЛЬЦА',    'ДК ПОДВЕСКИ',    'ДК КОЛЬЦА ОБРУЧ']), 'ДК',
            np.where(
                data_IM['tg'].isin(['ИФ СЕРЬГИ',  'ИФ КОЛЬЦА', 'ИФ ПОДВЕС ДЕКОР', 'ИФ ПЕЧАТКИ', 'ИФ ПОДВЕС КУЛЬТ','ИФ КОЛЬЦА ОБРУЧ','ИФ АКСЕССУАРЫ']), 'ИФ',
                np.where(
                    data_IM['tg'].isin(['ЦБ ЦЕПИ', 'ЦБ БРАСЛЕТЫ']), 'ЦБ',
                    np.where(
                        data_IM['tg'].isin(['СИ ПОДВЕС БК','СИ КОЛЬЦО ИФ','СИ БРАСЛЕТ БК','СИ КОЛЬЦО БК','СИ ЦЕПЬ','СИ СЕРЬГИ БК','СИ СЕРЬГИ ИФ','СИ ПОДВЕС ИФ',
                                            'СИ СЕРЬГИ РАЗН','СИ СЕРЬГИ ЦВ/К',\
                                            'СИ КОЛЬЦО ЦВ/К','','СИ ШАРМЫ','СИ ОБРУЧАЛЬНОЕ','СИ КОЛЬЦО ПЕЧАТ','СИ ПОДВЕСЦВ/К','СИ БРАСЛЕТ СК','СИ ЖЕМЧУГ',\
                                            'СИ АКСЕССУАР','СИ ДФРС ПРОЕКТ','СИ КЕРАМИКА','СИ ПОСУДА','СИ ЯНТАРЬ','СИ ЭМАЛЬ','СИ ВЫРИЦА']), 'СИ',
                        np.where(data_IM['tg'].isin(['ЧАСЫ']), 'ЧАСЫ', 'другое'
                        )
                    )
                )
            )
        )
    )
)

data_IM['Товарное направление'].value_counts()

Товарное направление
СИ        205
БК        110
ЦБ         86
ИФ         82
ДК         53
другое     46
ПДК        46
Name: count, dtype: int64

In [295]:
proverka = data_IM[data_IM['Товарное направление']=='другое']
proverka['tg'].unique()

array(['СИ ПОДВЕС\xa0ЦВ/К', 'СИ КОЛЬЕ СК', 'ОПТ ОБРУЧИ',
       'СИ СЕРЬГИ\xa0 ЦВ/К', 'ОПТ КОНГО', 'ОПТ ИФ', 'СИ ПОДАРКИ КРОСС',
       'СИ БРАСЛЕТ ЦВ/К', 'ОПТ ПДК', 'ПДК ПЕЧАТКИ', 'СИ БРАСЛЕТ БК Декор'],
      dtype=object)

In [296]:
data_IM = data_IM[~(data_IM['name'].str.contains('каучук')|
                    data_IM['name'].str.contains('шнурок')|
                    data_IM['name'].str.contains('текстиль')|
                    data_IM['name'].str.contains('хлопок')|
                    data_IM['name'].str.contains('шелк')|
                    data_IM['name'].str.contains('на нитке')|
                    data_IM['name'].str.contains('кожа')|
                    data_IM['name'].str.contains('жемчуг'))]

In [297]:
data_IM = data_IM[(data_IM['Товарное направление'].isin(['БК', 'ЦБ']))&((data_IM['proba'] == '585')|(data_IM['proba'] == 585.00))]

In [298]:
data_IM['Товарное направление'].value_counts()

Товарное направление
БК    92
ЦБ    75
Name: count, dtype: int64

In [299]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'], format='%Y-%m-%d')

In [300]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'].apply(lambda x: x.strftime("%Y-%m-%d")))

In [301]:
previous_date = data_IM['date_status_order_done'].min()
filtr_date = data_IM['date_status_order_done'].max()

In [302]:
data_today = data_IM.query("date_status_order_done >= @previous_date")
data_today.head()

,id,created,name,state_order,recipient_phone,recipient_email,state_item,delivery_type,payment_type,employee_id,type_ibox,type_name,tov,kbk_recieve_delivery,avg_weight,avg_net_weight,materials,proba,design,type1,type3,tg,brand,vendor_article,number,price,client_type,date_status_order_done,date_status_item_returned,product_id,cost_price,shk,kbk_collect_delivery,manzana,percent_by_sku,manzana_for_item,price_wo_manzana,Товарное направление
1,00e1cfa0-2f8b-49b8-9000-4d8b0505f82f,2024-06-16 06:01:25.946,Золотая подвеска Икона Казанская Божия Матерь,done,79141273262.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,TINKOFF_SBP,Тинькофф СБП,ТОВ1004979,3-09-032,0.97,0.97,NaN,585,ИФ ИКОНА,ПОДВЕС КУЛЬТОВЫЙ,КРАСНЫЙ,БК ПОДВЕС КУЛЬТ,NaN,35-0482-10-00,2406160601624,8364.00,MOBILE,2024-06-16,NaN,2892001,3213.17,2078607471117,3-09-032,5519,0.30,1672.50,6691.50,БК
2,00e1cfa0-2f8b-49b8-9000-4d8b0505f82f,2024-06-16 06:01:25.946,Золотая пустотелая цепочка Двойной ромб с алма...,done,79141273262.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,TINKOFF_SBP,Тинькофф СБП,ТОВ01260582,3-09-032,2.46,2.46,NaN,585,РОМБ ДВОЙНОЙ ПУСТ,ЦЕПЬ,КРАСНЫЙ,ЦБ ЦЕПИ,NaN,31-01-0040-30076,2406160601624,19236.00,MOBILE,2024-06-16,NaN,7863299,8264.91,2078607671605,3-09-032,5519,0.70,3846.50,15389.50,ЦБ
8,02a8d091-6a2b-4124-8b27-1343d6a0134b,2024-06-15 15:25:27.998,Золотая полновесная цепочка Двойной панцирь с ...,done,79612047777.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,TINKOFF_SBP,Тинькофф СБП,ТОВ1049263,4-02-041,3.48,3.48,NaN,585,ПАНЦИРЬ ДВОЙНОЙ,ЦЕПЬ,КРАСНЫЙ,ЦБ ЦЕПИ,NaN,30-01-0035-30222,2406151525921,25284.00,WEB,2024-06-15,NaN,3906754,9755.69,2078901816585,4-02-041,5056,1.00,5056.00,20228.00,ЦБ
14,04fcf4fa-5f95-45ac-9e61-5334755175e2,2024-06-15 07:57:27.481,Золотые серьги,done,79696026999.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,44b4e87f-04ad-4c74-b394-3f16da595e99,TINKOFF_SBP,Тинькофф СБП,ТОВ1191028,2-09-103,1.18,1.18,NaN,585,ИФ ШТАМП ГЕОМЕТРИЯ,СЕРЬГИ,КРАСНЫЙ,БК СЕРЬГИ,NaN,18-01-0000-29323,2406150757513,10752.00,RETAIL,2024-06-15,NaN,1679281,4293.37,2078611020158,2-09-103,2150,1.00,2150.00,8602.00,БК
15,052c6cdd-5700-4c36-8e07-27e9a1d5b2ef,2024-06-15 06:29:39.548,Золотые серьги,done,79139030253.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,SBER,[YANDEX_KASSA] SBER - URL,ТОВ1260994,3-05-137,1.17,1.17,NaN,585,ИФ ПУССЕТЫ,СЕРЬГИ,КРАСНЫЙ,БК СЕРЬГИ,NaN,12-00-0000-80115#ТД,2406150629969,7716.00,MOBILE,2024-06-15,NaN,1095342,3170.46,2078603610784,3-05-137,1543,1.00,1543.00,6173.00,БК

In [303]:
data_today['цена за гр'] = data_today['price_wo_manzana'] / data_today['avg_weight']
data_today['цена за гр'].describe()

count     167.00
mean     6504.17
std      1295.16
min      4002.32
25%      5806.31
50%      6408.23
75%      7034.18
max     14115.79
Name: цена за гр, dtype: float64

In [304]:
data_today['avg_weight'].describe()

count   167.00
mean      2.55
std       1.89
min       0.21
25%       1.25
50%       2.26
75%       3.31
max      13.15
Name: avg_weight, dtype: float64

In [305]:
data_today = data_today[~data_today['tg'].str.contains('ОПТ БК|БК ПЕЧАТКИ|ОПТ КОНГО')]

In [306]:
data_today = data_today[~data_today['client_type'].str.contains('OZON')]

In [307]:
Zolotoy_Online = (data_today['price_wo_manzana'].sum()/data_today['avg_weight'].sum()).round(0)
print('Средняя цена продажи еком: ', Zolotoy_Online)

Средняя цена продажи еком:  6398.0

In [308]:
data_today.to_excel(rf'{report_folder}\Данные по продажам\Продажи онлайн_{date_now}.xlsx', index=False)

In [309]:
tn = data_today.groupby('tg', as_index=False)[['price_wo_manzana', 'avg_weight', 'cost_price']].agg('sum')
tn['price_gramm'] = (tn['price_wo_manzana'] / tn['avg_weight']).round(0)

In [310]:
tn['price_gramm'] = tn['price_gramm'].astype('int')
tn['Наценка продажи онлайн'] =  tn['price_wo_manzana'] / tn['cost_price'] - 1

In [311]:
markup_sales = tn[['tg', 'Наценка продажи онлайн']]

In [312]:
tn = tn.drop(columns=['price_wo_manzana', 'avg_weight', 'cost_price', 'Наценка продажи онлайн'])
tn.columns = ['tg', '585*Золотой онлайн продажи']

In [313]:
result = result.merge(tn, how='left', on='tg')

Продажи 585*Золотой оффлайн

In [315]:
# иногда здесь скрипт может отвалиться, потому что с продажами оффлайн очень часто работает кто-то, поэтому можно прочитать его вручную указав актуальный путь

# path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Выгрузки из DWH\Продажи по КБК из DWH new\\'
# list_of_files = glob.glob(path + '\*.xlsx') 
# latest_file = max(list_of_files, key=os.path.getctime)

# df_dwh = pd.read_excel(latest_file)

df_dwh = pd.read_excel(r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Выгрузки из DWH\Продажи по КБК из DWH new\2024-06-10_2024-06-16.xlsx')

In [316]:
latest_file

'\\\\gold585.int\\uk\\Общее хранилище файлов\\Служба аналитики\\Тренкин Сергей\\discounts_zolotoy\\Артикул сайта-скидки по ПК 2024.06.17.xlsx'

In [317]:
# мы смотрим продажи со времени последнего мониторинга, для этого определяем день недели и в зависимости от этого получаем новые данные
data = dt.datetime.isoweekday(dt.date.today())
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')
if data == 1:
    last_monitoring = (dt.date.today() - dt.timedelta(days=2)).strftime('%Y-%m-%d')
else:
    last_monitoring = (dt.date.today() - dt.timedelta(days=3)).strftime('%Y-%m-%d')
    
df_dwh = df_dwh[df_dwh['Дата'] >= f'{last_monitoring}']

In [318]:
df_dwh['Товарная группа'].str.contains('ЦБ|БК').value_counts()

Товарная группа
False    31032
True     12598
Name: count, dtype: int64

In [319]:
df_dwh = df_dwh[(df_dwh['Товарное направление'].isin(['БК', 'ЦБ'])) & (df_dwh['Проба'] == 585.0)]

In [320]:
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('каучук')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('шнурок')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('текстиль')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('хлопок')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('шелк')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('на нитке')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('кожа')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('жемчуг')))]

In [321]:
df_dwh['Дата'] = pd.to_datetime(df_dwh['Дата'], format='%Y-%m-%d')
df_dwh['Дата'] = pd.to_datetime(df_dwh['Дата'].apply(lambda x: x.strftime("%Y-%m-%d")))

In [322]:
filtr_date = df_dwh['Дата'].max()

In [323]:
df_dwh = df_dwh.query("`Дата` <= @filtr_date")

In [324]:
tn = df_dwh.groupby(by = 'Товарная группа', as_index= False)[['Себестоимость', 'Вес', 'Общая сумма']].agg('sum')
tn['Наценка продажи оффлайн'] =  tn['Общая сумма'] / tn['Себестоимость'] - 1
tn = tn[~tn['Товарная группа'].str.contains('ОПТ БК|БК ПЕЧАТКИ|ОПТ КОНГО|ОПТ ОБРУЧИ')]
tn['price_per_gramm'] = ((tn['Общая сумма'] / tn['Вес']).round(0))

In [325]:
tn['price_per_gramm'] = tn['price_per_gramm'].replace(',', '')
tn['price_per_gramm'] = tn['price_per_gramm'].astype('int')

In [326]:
Zolotoy_Offline = (tn['Общая сумма'].sum() / tn['Вес'].sum()).round(0)
print('Средняя цена продажи оффлайн: ', Zolotoy_Offline)

Средняя цена продажи оффлайн:  6549.0

In [327]:
tn.columns = ['tg', 'cost', 'weight', 'price', 'Наценка продажи оффлайн', 'price_per_gramm']

In [328]:
offline_markup = tn[['tg', 'Наценка продажи оффлайн']]

In [329]:
markup_sales = markup_sales.merge(offline_markup, how='left', on='tg')

In [330]:
tn = tn.drop(columns=['cost', 'weight', 'price', 'Наценка продажи оффлайн'])
tn.columns = ['tg', '585*Золотой оффлайн продажи']

In [331]:
result = result.merge(tn, how='left', on='tg')

In [332]:
result

,tg,Sokolov,Sunlight,585*Золотой онлайн остатки 40%+20%,585*Золотой оффлайн остатки 40%+20%,585*Золотой онлайн продажи,585*Золотой оффлайн продажи
0,БК КОЛЬЦА,6490.89,6147.63,5716.67,6066.11,5844,6646
1,БК КОЛЬЦА ОБРУЧ,8504.35,6134.92,5694.07,5933.95,5885,6135
2,БК ПОДВЕС ДЕКОР,6848.64,6573.10,5512.82,6276.18,5931,6985
3,БК ПОДВЕС КУЛЬТ,7042.53,6673.98,5908.52,6141.48,6261,6860
4,БК СЕРЬГИ,6345.58,6431.85,6236.31,6041.36,6049,6889
5,ЦБ БРАСЛЕТЫ,7583.21,6143.10,6546.70,6117.92,6890,6587
6,ЦБ ЦЕПИ,8842.99,5975.82,6606.37,6108.23,6667,6608

In [333]:
markup_sales

                tg  Наценка продажи онлайн  Наценка продажи оффлайн
0        БК КОЛЬЦА                    0.67                     1.32
1  БК КОЛЬЦА ОБРУЧ                    1.09                     1.08
2  БК ПОДВЕС ДЕКОР                    1.33                     1.21
3  БК ПОДВЕС КУЛЬТ                    1.05                     1.17
4        БК СЕРЬГИ                    1.00                     1.18
5      ЦБ БРАСЛЕТЫ                    1.17                     0.98
6          ЦБ ЦЕПИ                    1.13                     1.04

In [334]:
markup_sales = markup_sales.rename(columns={markup_sales.columns[0]: 'Товарная группа'})
result = result.rename(columns={result.columns[0]: 'Товарная группа'})

In [335]:
result.to_excel(rf'{report_folder}\Таблица ТГ для письма_{date_now}.xlsx', index= False)
markup_sales.to_excel(rf'{report_folder}\Наценка продажи\Наценка продажи оффлайн+онлайн_{date_now}.xlsx', index=False)

In [ ]:
# !jupyter nbconvert --to script eda_every_days.ipynb

In [760]:
# sql = text(f'''INSERT INTO yura.history_price_every_day(date_, competitor, price_per_gramm, num_shop)
# VALUES 
# ('{date_now}', 'Sokolov', {int(Sokolov)}, '_Sokolov'),
# ('{date_now}', 'Sunlight', {int(Sunlight)}, '_Sunlight'),
# ('{date_now}', '585*Золотой онлайн продажи', {int(Zolotoy_Online)}, '_585*Золотой онлайн продажи'),
# ('{date_now}', '585*Золотой онлайн остатки', {int(stock_ecom)}, '_585*Золотой онлайн остатки'), 
# ('{date_now}', '585*Золотой офлайн продажи', {int(Zolotoy_Offline)}, '_585*Золотой офлайн продажи'),
# ('{date_now}', '585*Золотой офлайн остатки', {int(stock_price_pl)}, '_585*Золотой офлайн остатки');
# ''')