In [1]:
from sqlalchemy import create_engine, text
from bs4 import BeautifulSoup as bs
import datetime as dt
import pandas as pd
import numpy as np
import warnings
import requests
import pymssql
import locale
import glob
import os

warnings.filterwarnings('ignore')
pd.set_option('use_inf_as_na', True)
pd.options.display.max_columns = None
pd.set_option('float_format', '{:.2f}'.format)
locale.setlocale(locale.LC_ALL, 'ru_RU.UTF-8')

'ru_RU.UTF-8'

In [2]:
report_folder = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\Мониторинг Sokolov и Sunlight'

In [3]:
engine = create_engine('postgresql://sergei:S714801t@51.250.54.232:5432/dldb')

In [4]:
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')
month_now = dt.datetime.now().month
day_now = dt.datetime.now().day 
year_now = dt.datetime.now().year

In [5]:
way = os.getcwd()

# 1. Sokolov

In [6]:
df_sokolov = pd.read_csv(rf'{way}\sokolov\parsed_data\result\bk_sokolov_{date_now}.csv')

In [7]:
df_sokolov.sample(5)

,data,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,article
377,08.07.2024,Sokolov,Золотая звезда на погоны,NaN,0.79 г,11700,25990,Дополнительная скидка по акции «–40% НА ЗОЛОТО...,Без вставок,Красное золото 585 пробы,NaN,040045
635,08.07.2024,Sokolov,Подвеска из золота,pendants,0.44 г,6750,14990,Дополнительная скидка по акции «–40% НА ЗОЛОТО...,Без вставок,Красное золото 585 пробы,NaN,036534
270,08.07.2024,Sokolov,Кольцо из золота,rings,0.79 г,10800,23990,Дополнительная скидка по акции «–40% НА ЗОЛОТО...,Без вставок,Красное золото 585 пробы,NaN,019186
1246,08.07.2024,Sokolov,Подвеска из золота,pendants,0.68 г,8550,18990,Дополнительная скидка по акции «–40% НА ЗОЛОТО...,Без вставок,Красное золото 585 пробы,NaN,036665
474,08.07.2024,Sokolov,"Браслет из золота, плетение сингапур, 585 проба",bracelets,0.89 г,12150,26990,NaN,Без вставок,Красное золото 585 пробы,Сингапур,551060252

In [8]:
# df_sokolov['article'] = 'https://sokolov.ru/jewelry-catalog/product/' + df_sokolov['article']
# df_sokolov['article'] = df_sokolov['article'] + '/'

df_sokolov.columns = ['date', 'competitor', 'name', 'group', 'weight', 'price', 'price_old',
                    'discount', 'insert', 'metal', 'lock_type_or_weaving_type', 'url']

In [9]:
df_sokolov['discount'].value_counts(dropna=False)

discount
Дополнительная скидка по акции «–40% НА ЗОЛОТО» ЕЩЕ –40%                            1136
NaN                                                                                  219
Дополнительная скидка по акции «ЕЩЁ –40% НА ВТОРОЕ ОБРУЧАЛЬНОЕ КОЛЬЦО» ЕЩЁ  –40%     109
Дополнительная скидка по акции «FLASH-РАСПРОДАЖА» ЕЩЁ -10%                            37
Дополнительная скидка по акции «FLASH-РАСПРОДАЖА» ЕЩЁ -20%                            11
Name: count, dtype: int64

In [10]:
df_sokolov['discount_for_dash'] = df_sokolov['discount']
df_sokolov['discount_for_dash'] = df_sokolov['discount_for_dash'].fillna('нет скидочного купона')

In [11]:
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] == 0:
        df_sokolov['discount_for_dash'][i] = 'ШОК-ЦЕНА'

In [12]:
def discount_value(discount):
    '''у Sokolov купоны имеют скидку до 30%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '10%' in discount:
        return 0.9
    elif '15%' in discount:
        return 0.85
    elif '20%' in discount:
        return 0.8
    elif '25%' in discount:
        return 0.75
    elif '30%' in discount:
        return 0.7
    elif '40%' in discount:
        return 0.6
    elif 'Второе золотое' in discount:
        return 0.5
    return 1

df_sokolov['discount'] = df_sokolov['discount'].fillna('1')
df_sokolov['discount'] = df_sokolov['discount'].apply(discount_value)

In [13]:
df_sokolov['weight'] = df_sokolov['weight'].str.replace(' г', '')
df_sokolov['weight'] = df_sokolov['weight'].astype('float')

In [14]:
df_sokolov['metal'].value_counts()

metal
Красное золото 585 пробы            1165
Жёлтое золото 585 пробы              150
Комбинированное золото 585 пробы     101
Белое золото 585 пробы                82
Красное золото 375 пробы               8
Комбинированное золото 375 пробы       5
Золото 585 пробы                       1
Name: count, dtype: int64

In [15]:
df_sokolov['price'].isna().sum()

0

In [16]:
df_sokolov = df_sokolov.dropna(subset=['price'])

In [17]:
# применяем скидку для первоначальной цены
df_sokolov['price'] = np.where(
    df_sokolov['discount'] == 0.6, df_sokolov['price'] * df_sokolov['discount'],
    np.where(
        df_sokolov['discount_for_dash'] == 'ШОК-ЦЕНА', df_sokolov['price'], df_sokolov['price'] * 0.7
    )
)

In [18]:
# для расчета персональной стоимости нужно выделить изделия для которых применины баллы. Для этого в парсинге цен используються cookies аккаунта с баллами (любым кол-вом).
# чтобы определить если ли персональная цена сравниваются 2 столба "price_old" и "price".
# если "price_old" равен нулю, значит этот товар является товаром из списка ШОК-цен, на них не распространяются бонусные баллы
# в противном случае мы можем списать до 30% от стоимости товара бонусными баллами
# мы считаем, что пользователь может использовать программу лояльности по-максимуму

In [19]:
df_sokolov.sample(10)

,date,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,url,discount_for_dash
722,08.07.2024,Sokolov,Серьги из белого золота,earrings,2.02,12150.00,44990,0.60,Без вставок,Белое золото 585 пробы,Английский,028372,Дополнительная скидка по акции «–40% НА ЗОЛОТО...
1090,08.07.2024,Sokolov,Кольцо из золота,rings,2.83,25110.00,92990,0.60,Без вставок,Красное золото 585 пробы,NaN,019418,Дополнительная скидка по акции «–40% НА ЗОЛОТО...
479,08.07.2024,Sokolov,"Браслет из золота, плетение нонна, 585 проба",bracelets,2.93,28980.00,91990,1.00,Без вставок,Красное золото 585 пробы,Нонна,552020702,нет скидочного купона
454,08.07.2024,Sokolov,Серьги конго из золота с алмазной гранью,earrings,3.06,22950.00,84990,0.60,Без вставок,Красное золото 585 пробы,3.06 г,140065,Дополнительная скидка по акции «–40% НА ЗОЛОТО...
61,08.07.2024,Sokolov,"Цепь из золота, плетение Бисмарк, 585 проба",chains,3.36,34650.00,109990,0.90,Без вставок,Красное золото 585 пробы,Бисмарк,582070402,Дополнительная скидка по акции «FLASH-РАСПРОДА...
644,08.07.2024,Sokolov,Иконка из золота с алмазной гранью и лазерной ...,pendants,2.63,18900.00,69990,0.60,Без вставок,Красное золото 585 пробы,NaN,103987,Дополнительная скидка по акции «–40% НА ЗОЛОТО...
1510,08.07.2024,Sokolov,Браслет из золота,bracelets,5.16,40500.00,149990,0.60,Без вставок,Красное золото 585 пробы,NaN,051442,Дополнительная скидка по акции «–40% НА ЗОЛОТО...
1276,08.07.2024,Sokolov,Кольцо обручальное из золота,rings,0.97,7020.00,25990,0.60,Без вставок,Красное золото 585 пробы,NaN,110259,Дополнительная скидка по акции «ЕЩЁ –40% НА ВТ...
733,08.07.2024,Sokolov,Серьги из золота с алмазной гранью,earrings,1.04,8100.00,29990,0.60,Без вставок,Красное золото 585 пробы,Зажим,029138,Дополнительная скидка по акции «–40% НА ЗОЛОТО...
1144,08.07.2024,Sokolov,Серьги из золота,earrings,2.75,18900.00,69990,0.60,Без вставок,Красное золото 585 пробы,Английский,0200292,Дополнительная скидка по акции «–40% НА ЗОЛОТО...

In [20]:
no_discount = 0
df_sokolov['discount_flag'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] != 0:
        df_sokolov['discount_flag'][i] = df_sokolov['price'][i] * 0.3
    else:
        df_sokolov['discount_flag'][i] = no_discount

In [21]:
df_sokolov['price_personal'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['discount_flag'][i] <= (df_sokolov['price'][i] * 0.3):
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - df_sokolov['discount_flag'][i]
    else:
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - (df_sokolov['price'][i] * 0.3)

In [22]:
df_sokolov = df_sokolov.drop(columns=['discount_flag'], axis=1)

In [23]:
df_sokolov['price'].isna().sum()

0

In [24]:
df_sokolov['price_personal'] = df_sokolov['price']

In [25]:
df_sokolov

,date,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,url,discount_for_dash,price_personal
0,08.07.2024,Sokolov,Кольцо обручальное из золота,rings,1.61,12990.00,0,1.00,Без вставок,Красное золото 585 пробы,1.61 г,110260,ШОК-ЦЕНА,12990.00
1,08.07.2024,Sokolov,Кольцо обручальное из белого золота,rings,1.60,12990.00,0,1.00,Без вставок,Белое золото 585 пробы,1.6 г,110260-3,ШОК-ЦЕНА,12990.00
2,08.07.2024,Sokolov,Кольцо обручальное из золота,rings,1.63,12990.00,0,1.00,Без вставок,Красное золото 585 пробы,1.63 г,110261,ШОК-ЦЕНА,12990.00
3,08.07.2024,Sokolov,Кольцо из белого золота,rings,1.61,12990.00,0,1.00,Без вставок,Белое золото 585 пробы,1.61 г,110262-3,ШОК-ЦЕНА,12990.00
4,08.07.2024,Sokolov,Кольцо из золота,rings,1.09,7990.00,0,1.00,Без вставок,Красное золото 585 пробы,NaN,019424,ШОК-ЦЕНА,7990.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,08.07.2024,Sokolov,Браслет из золота,bracelets,0.87,6480.00,23990,0.60,Без вставок,Красное золото 585 пробы,NaN,051418,Дополнительная скидка по акции «–40% НА ЗОЛОТО...,6480.00
1508,08.07.2024,Sokolov,Браслет из желтого золота,bracelets,3.42,29700.00,109990,0.60,Без вставок,Жёлтое золото 585 пробы,NaN,051437-2,Дополнительная скидка по акции «–40% НА ЗОЛОТО...,29700.00
1509,08.07.2024,Sokolov,Браслет из желтого золота,bracelets,2.52,21600.00,79990,0.60,Без вставок,Жёлтое золото 585 пробы,NaN,051439-2,Дополнительная скидка по акции «–40% НА ЗОЛОТО...,21600.00
1510,08.07.2024,Sokolov,Браслет из золота,bracelets,5.16,40500.00,149990,0.60,Без вставок,Красное золото 585 пробы,NaN,051442,Дополнительная скидка по акции «–40% НА ЗОЛОТО...,40500.00
1511,08.07.2024,Sokolov,Браслет из золота,bracelets,20.16,140400.00,519990,0.60,Без вставок,Красное золото 585 пробы,NaN,051476,Дополнительная скидка по акции «–40% НА ЗОЛОТО...,140400.00

In [26]:
df_sokolov['price_per_gramm'] = (df_sokolov['price_personal'] / df_sokolov['weight']).round(0)
df_sokolov['name'] = df_sokolov['name'].str.lower()

In [27]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sokolov['tg'] = np.where(
    ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка'))), 'ПОДВЕС КУЛЬТ',
    np.where(
        ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка') == False) | (df_sokolov['name'].str.contains('колье'))), 'ПОДВЕС ДЕКОР', 
        np.where(
            ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ', 
            np.where(
                ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное')==False)), 'КОЛЬЦА', 
                np.where(
                    (df_sokolov['group'] == 'bracelets'), 'БРАСЛЕТЫ',
                    np.where(
                        (df_sokolov['group'] == 'chains'), 'ЦЕПИ', 
                        np.where(
                            ((df_sokolov['group'] == 'earrings')| (df_sokolov['name'].str.contains('пирсинг'))), 'СЕРЬГИ', np.nan)
                    )
                )
            )
        )
    )
)

In [28]:
df_sokolov[df_sokolov['tg'] == 'nan']['name'].value_counts()

name
брошь из золота                          11
золотая звезда на погоны                  2
шнур декоративный                         2
сувенир из золота                         2
кожаный шнурок с золотым замком           2
брошь-булавка  из золота                  1
шнур декоративный                         1
текстильный шнурок с замком из золота     1
крестильный набор из золота               1
кожаный шнурок с замком из золота         1
Name: count, dtype: int64

In [29]:
df_sokolov = df_sokolov[df_sokolov['tg'] != 'nan'] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [30]:
df_sokolov['tn'] = np.where(
    ((df_sokolov['insert'].str.lower().str.contains('выраще|синте|искусств')) & (df_sokolov['insert'].str.lower().str.contains('бриллиант') == False)), 'ПДК',
    np.where(
        (df_sokolov['insert'].str.lower().str.contains('бриллиант|сапфир|рубин|изумруд') & (df_sokolov['insert'].str.lower().str.contains('выращ|искусств|синтети') == False)), 'ДК',
        np.where(
            df_sokolov['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ',
            np.where(
                df_sokolov['insert'] == 'Без вставок', 'БК', 
                np.where(
                    df_sokolov['insert'].str.lower().str.contains('фианит|бриллиант'), 'ИФ', 'ПДК'
                )
            )
        )
    )
)

In [31]:
df_sokolov['tg'] = df_sokolov['tn'] + ' ' + df_sokolov['tg']

In [32]:
df_sokolov['tg'].value_counts(dropna=False)

tg
БК СЕРЬГИ          470
БК КОЛЬЦА          271
БК ПОДВЕС ДЕКОР    224
ЦБ БРАСЛЕТЫ        190
ЦБ ЦЕПИ            133
БК КОЛЬЦА ОБРУЧ    114
БК ПОДВЕС КУЛЬТ     86
Name: count, dtype: int64

In [33]:
df_sokolov['price_case'] = np.where(
    df_sokolov['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sokolov['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sokolov['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sokolov['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sokolov['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sokolov['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sokolov['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [34]:
df_sokolov['price_per_gramm'].describe([0.05, 0.95])

count    1488.00
mean     8321.26
std      1233.96
min      3984.00
5%       6413.15
50%      8309.00
95%     10500.00
max     12273.00
Name: price_per_gramm, dtype: float64

In [35]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url', 'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]

In [36]:
df_sokolov['num_shop'] = '_' + df_sokolov['competitor']
df_sokolov['num_diap'] = df_sokolov['price_case']

In [37]:
df_sokolov.sample(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case,num_shop,num_diap
1397,08.07.2024,Sokolov,кольцо из желтого золота,rings,019274-2,17010.00,0.60,2.00,Дополнительная скидка по акции «–40% НА ЗОЛОТО...,8505.00,БК КОЛЬЦА,8 000 руб. - 9 000 руб.,_Sokolov,8 000 руб. - 9 000 руб.
381,08.07.2024,Sokolov,браслет из золота с алмазной гранью,bracelets,050900,17550.00,0.60,1.78,Дополнительная скидка по акции «–40% НА ЗОЛОТО...,9860.00,ЦБ БРАСЛЕТЫ,9 000 руб. - 10 000 руб.,_Sokolov,9 000 руб. - 10 000 руб.
985,08.07.2024,Sokolov,браслет из белого золота,bracelets,051048,12960.00,0.60,1.24,Дополнительная скидка по акции «–40% НА ЗОЛОТО...,10452.00,ЦБ БРАСЛЕТЫ,свыше 10 000 руб.,_Sokolov,свыше 10 000 руб.
448,08.07.2024,Sokolov,серьги конго из золота с алмазной гранью,earrings,140010,22950.00,0.60,3.38,Дополнительная скидка по акции «–40% НА ЗОЛОТО...,6790.00,БК СЕРЬГИ,6 500 руб. - 7 000 руб.,_Sokolov,6 500 руб. - 7 000 руб.
656,08.07.2024,Sokolov,"цепь из белого золота, плетение бисмарк, 585 п...",chains,581070452-3,79695.00,0.90,8.18,Дополнительная скидка по акции «FLASH-РАСПРОДА...,9743.00,ЦБ ЦЕПИ,9 000 руб. - 10 000 руб.,_Sokolov,9 000 руб. - 10 000 руб.

In [38]:
df_sokolov['discount_for_dash'].value_counts()

discount_for_dash
Дополнительная скидка по акции «–40% НА ЗОЛОТО» ЕЩЕ –40%                            1114
нет скидочного купона                                                                200
Дополнительная скидка по акции «ЕЩЁ –40% НА ВТОРОЕ ОБРУЧАЛЬНОЕ КОЛЬЦО» ЕЩЁ  –40%     109
Дополнительная скидка по акции «FLASH-РАСПРОДАЖА» ЕЩЁ -10%                            36
ШОК-ЦЕНА                                                                              18
Дополнительная скидка по акции «FLASH-РАСПРОДАЖА» ЕЩЁ -20%                            11
Name: count, dtype: int64

In [39]:
df_sokolov['price_per_gramm'].describe().round(0)

count    1488.00
mean     8321.00
std      1234.00
min      3984.00
25%      7500.00
50%      8309.00
75%      9063.00
max     12273.00
Name: price_per_gramm, dtype: float64

In [40]:
Sokolov = df_sokolov['price_personal'].sum() / df_sokolov['weight'].sum().round(0)
print(Sokolov)

8166.278187278187

In [41]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url',
       'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm',
       'tg', 'price_case']]

In [42]:
df_sokolov.sample(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
8,08.07.2024,Sokolov,серьги из желтого золота,earrings,0200470-2,12960.00,0.60,1.37,Дополнительная скидка по акции «–40% НА ЗОЛОТО...,9460.00,БК СЕРЬГИ,9 000 руб. - 10 000 руб.
1476,08.07.2024,Sokolov,подвеска из золота,pendants,035558,5400.00,0.60,0.45,Дополнительная скидка по акции «–40% НА ЗОЛОТО...,12000.00,БК ПОДВЕС ДЕКОР,свыше 10 000 руб.
268,08.07.2024,Sokolov,кольцо из золота,rings,019140,7830.00,0.60,0.87,Дополнительная скидка по акции «–40% НА ЗОЛОТО...,9000.00,БК КОЛЬЦА,8 000 руб. - 9 000 руб.
748,08.07.2024,Sokolov,серьги из золота,earrings,029859,18900.00,0.60,2.14,Дополнительная скидка по акции «–40% НА ЗОЛОТО...,8832.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
1393,08.07.2024,Sokolov,кольцо из желтого золота,rings,019138-2,18900.00,0.60,2.25,Дополнительная скидка по акции «–40% НА ЗОЛОТО...,8400.00,БК КОЛЬЦА,8 000 руб. - 9 000 руб.

# 2. Sunlight

In [45]:
df_sunlight = pd.read_csv(fr'{way}\sunlight\parsed_data\result\bk_sunlight_{date_now}.csv')

In [46]:
df_sunlight = df_sunlight.drop(columns=['index'])

In [47]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount
0,08.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена']
1,08.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена']
2,08.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена']
3,08.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена']
4,08.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена']

In [48]:
def get_params_from_dic(df):
    '''функция для разделения столбца "params" на отдельные столбцы'''
    spisok = []                                                           
    for c in df['params']:
        for i in c.keys():                                
            spisok.append(i)              
    spisok = set(spisok)
    for s in spisok:
        z = []
        for j in df['params']:
            try:
                z.append(j[s])
            except:
                z.append(np.nan)
        df[s] = z
        
    return df

In [49]:
df_sunlight['group'].unique()

array(['Серьги', 'Крест-подвеска', 'Шейное украшение', 'Цепи', 'Кольца',
       'Подвески', 'Колье', 'Браслеты', 'Ножной браслет', 'Серьга',
       'Пирсинг', 'Брошь', 'Булавка', 'Запонки', 'Зажимы для галстука',
       'Брелоки'], dtype=object)

In [50]:
# чтобы функция написанная выше работала, необходимо, чтобы столбец params стал снова словарем, это происходит благодаря функции eval()
df_sunlight['params'] = df_sunlight['params'].apply(lambda x: eval(x))
get_params_from_dic(df_sunlight)

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount,Ширина браслета,Вставка,Страна производства,Диаметр серег,Вес изделия,Плетение,Материал изделия,Ширина цепи,Покрытие,Модель,Ширина кольца
0,08.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,Россия,NaN,1.04 г,NaN,Розовое золото,NaN,NaN,200100.16-1ш/з*,NaN
1,08.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,Россия,NaN,1.04 г,NaN,Розовое золото,NaN,NaN,200100.16-1ш/з*,NaN
2,08.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,Россия,NaN,1.04 г,NaN,Розовое золото,NaN,NaN,200100.16-1ш/з*,NaN
3,08.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,Россия,NaN,1.04 г,NaN,Розовое золото,NaN,NaN,200100.16-1ш/з*,NaN
4,08.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,Россия,NaN,1.04 г,NaN,Розовое золото,NaN,NaN,200100.16-1ш/з*,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6288,08.07.2024,Sunlight,\n Золотая цепь\n,Цепи,"{'Модель': 'ММ25009*', 'Материал изделия': 'Ро...",76510,178815,https://sunlight.net/catalog/chains_178815.html,153 020 ₽,76 510 ₽,46 510 ₽,"['Ещё -14 990₽ здесь! Код: СЕМЬЯ до 23:59', 'Е...",NaN,NaN,Россия,NaN,5.71 г,NaN,Розовое золото,NaN,NaN,ММ25009*,NaN
6289,08.07.2024,Sunlight,\n Золотой браслет\n,Браслеты,"{'Модель': '12970-B5Y-01', 'Материал изделия':...",124990,175227,https://sunlight.net/catalog/bracelets_175227....,249 980 ₽,124 990 ₽,94 990 ₽,"['Ещё -14 990₽ здесь! Код: СЕМЬЯ до 23:59', 'Е...",NaN,NaN,Италия,NaN,10.39 г,NaN,Желтое золото,NaN,NaN,12970-B5Y-01,NaN
6290,08.07.2024,Sunlight,\n Золотое шейное украшение\n,Шейное украшение,"{'Модель': '12968-H5Y-01', 'Материал изделия':...",279990,175097,https://sunlight.net/catalog/neck_decoration_1...,559 980 ₽,279 990 ₽,249 990 ₽,"['Ещё -49 990₽ здесь! Код: СЕМЬЯ до 23:59', 'Е...",NaN,NaN,Италия,NaN,26.45 г,NaN,Желтое золото,NaN,NaN,12968-H5Y-01,NaN
6291,08.07.2024,Sunlight,\n Золотой браслет\n,Браслеты,"{'Модель': 'НБ 12-354 0,50*', 'Материал издели...",31280,173962,https://sunlight.net/catalog/bracelets_173962....,312 800 ₽,31 280 ₽,18 768 ₽,"['Ещё -7 490₽ здесь! Код: СЕМЬЯ до 23:59', 'Ещ...",NaN,NaN,Россия,NaN,2.87 г,NaN,Розовое золото,NaN,NaN,"НБ 12-354 0,50*",NaN
6292,08.07.2024,Sunlight,\n Золотой браслет\n,Браслеты,"{'Модель': '7050270Р-18*', 'Материал изделия':...",27880,172430,https://sunlight.net/catalog/bracelets_105659....,55 760 ₽,27 880 ₽,16 728 ₽,"['Ещё -4 990₽ здесь! Код: СЕМЬЯ до 23:59', 'Ещ...","1,39 мм",NaN,Россия,NaN,2.63 г,Лав,Белое золото,NaN,Родий,7050270Р-18*,NaN

In [51]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount,Ширина браслета,Вставка,Страна производства,Диаметр серег,Вес изделия,Плетение,Материал изделия,Ширина цепи,Покрытие,Модель,Ширина кольца
0,08.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,Россия,NaN,1.04 г,NaN,Розовое золото,NaN,NaN,200100.16-1ш/з*,NaN
1,08.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,Россия,NaN,1.04 г,NaN,Розовое золото,NaN,NaN,200100.16-1ш/з*,NaN
2,08.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,Россия,NaN,1.04 г,NaN,Розовое золото,NaN,NaN,200100.16-1ш/з*,NaN
3,08.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,Россия,NaN,1.04 г,NaN,Розовое золото,NaN,NaN,200100.16-1ш/з*,NaN
4,08.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,Россия,NaN,1.04 г,NaN,Розовое золото,NaN,NaN,200100.16-1ш/з*,NaN

In [52]:
df_sunlight['Материал изделия'].value_counts(dropna=False)

Материал изделия
Розовое золото                                 4677
Белое золото, Розовое золото                    631
Желтое золото                                   629
Белое золото                                    196
NaN                                              55
Текстиль                                         51
Белое золото, Желтое золото                      20
Белое золото, Желтое золото, Розовое золото      18
Желтое золото, Розовое золото                    11
Серебро                                           5
Name: count, dtype: int64

In [53]:
df_sunlight['Материал изделия'] = df_sunlight['Материал изделия'].fillna('золото')

In [54]:
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Серебро'))]
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Текстиль'))]

In [55]:
df_sunlight = df_sunlight.drop(columns=['params', 'price_x', 'url',
                                'Ширина кольца', 'Страна производства',
                                'Ширина цепи', 'Плетение', 'Ширина браслета',
                                'Модель', 'Диаметр серег', 'Вставка', 'Покрытие', 'Материал изделия'], axis=1)

In [56]:
df_sunlight.columns

Index(['date', 'competitor', 'name', 'group', 'article', 'price_old',
       'price_y', 'price_personal', 'discount', 'Вес изделия'],
      dtype='object')

In [57]:
# переименновываем столбцы, чтобы у всех таблиц была единая система
df_sunlight.columns = ['date', 'competitor', 'name', 'group', 'url', 'price_old',
                    'price', 'price_personal', 'discount', 'weight']

In [58]:
df_sunlight['price_personal'].isna().sum()

2191

In [59]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].fillna(df_sunlight['price'])

In [60]:
df_sunlight['weight'] = df_sunlight['weight'].str.replace(' г', '')
df_sunlight['name'] = df_sunlight['name'].str.replace('\n', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].astype('float')
df_sunlight['price_personal'] = df_sunlight['price_personal'].astype('float')
df_sunlight['discount_for_dash'] = df_sunlight['discount']

In [61]:
df_sunlight['discount_for_dash'].isna().sum()

0

In [62]:
df_sunlight['discount_for_dash'].value_counts()

discount_for_dash
['ХИТ-цена']                                                                                                                  2022
['Ещё -1 990₽ здесь! Код: СЕМЬЯ до 23:59', 'Ещё -15% здесь! Код: ВЫГОДА до 23:59']                                             423
['Ещё -3 490₽ здесь! Код: СЕМЬЯ до 23:59', 'Ещё -15% здесь! Код: ВЫГОДА до 23:59']                                             384
['Ещё -1 990₽ здесь! Код: СЕМЬЯ до 23:59', 'Ещё -10% здесь! Код: ВЫГОДА до 23:59']                                             292
['Ещё -4 990₽ здесь! Код: СЕМЬЯ до 23:59', 'Ещё -15% здесь! Код: ВЫГОДА до 23:59']                                             256
                                                                                                                              ...
['Ещё -7 490₽ здесь! Код: СЕМЬЯ до 23:59', 'Ещё -15% здесь! Код: ВЫГОДА до 23:59', 'Цены снижены! Ещё -15%, код: СЕГОДНЯ']       1
['Ещё -1 990₽ здесь! Код: СЕМЬЯ до 23:59', 'Ещё -25% здесь! Код: ВЫГОДА до 23:59', 'Цены снижены! Ещё -15%, код: СЕГОДНЯ']       1
['Ещё -190₽ здесь! Код: СЕМЬЯ до 23:59', 'Ещё -20% здесь! Код: ВЫГОДА до 23:59']                                                 1
['Ещё -3 490₽ здесь! Код: СЕМЬЯ до 23:59', 'Ещё -25% здесь! Код: ВЫГОДА до 23:59', 'Цены снижены! Ещё -15%, код: СЕГОДНЯ']       1
['Ещё -10% здесь! Код: ВЫГОДА до 23:59']                                                                                         1
Name: count, Length: 88, dtype: int64

In [63]:
def discount_value_sl(discount):
    '''у Sunlight купоны имеют скидку до 55%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '55%' in discount:
        return 0.45
    elif '50%' in discount:
        return 0.50
    elif '45%' in discount:
        return 0.55
    elif '40%' in discount:
        return 0.6
    elif '35%' in discount:
        return 0.65
    elif '30%' in discount:
        return 0.7
    elif '25%' in discount:
        return 0.75
    elif '20%' in discount:
        return 0.8
    elif '15%' in discount:
        return 0.85
    elif '10%' in discount:
        return 0.9 
    elif '-5%' in discount:
        return 0.95
    elif '1=2' in discount:
        return 0.5
    return 1

df_sunlight['discount'] = df_sunlight['discount'].apply(discount_value_sl)

In [64]:
df_sunlight['discount'].value_counts(dropna=False)

discount
1.00    2469
0.85    1593
0.90    1026
0.80     637
0.95     335
0.75     157
0.65      20
Name: count, dtype: int64

In [66]:
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace("'", '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('[', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace(']', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('nan', 'нет скидочного купона')

In [67]:
df_sunlight['discount'] = df_sunlight['discount'].astype('float')

In [68]:
# применяем для каждого товара скидочный купон
# кроме тех строк, в которых есть информация, что это ХИТ-товар
df_sunlight['price_personal'] = np.where(
    df_sunlight['discount_for_dash'].str.contains('ХИТ'), df_sunlight['price'], df_sunlight['price'] * df_sunlight['discount']
)

In [69]:
df_sunlight['discount_for_dash'].value_counts()

discount_for_dash
ХИТ-цена                                                                                                              2022
Ещё -1 990₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -15% здесь! Код: ВЫГОДА до 23:59                                           423
Ещё -3 490₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -15% здесь! Код: ВЫГОДА до 23:59                                           384
Ещё -1 990₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -10% здесь! Код: ВЫГОДА до 23:59                                           292
Ещё -4 990₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -15% здесь! Код: ВЫГОДА до 23:59                                           256
                                                                                                                      ...
Ещё -7 490₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -15% здесь! Код: ВЫГОДА до 23:59, Цены снижены! Ещё -15%, код: СЕГОДНЯ       1
Ещё -1 990₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -25% здесь! Код: ВЫГОДА до 23:59, Цены снижены! Ещё -15%, код: СЕГОДНЯ       1
Ещё -190₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -20% здесь! Код: ВЫГОДА до 23:59                                               1
Ещё -3 490₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -25% здесь! Код: ВЫГОДА до 23:59, Цены снижены! Ещё -15%, код: СЕГОДНЯ       1
Ещё -10% здесь! Код: ВЫГОДА до 23:59                                                                                     1
Name: count, Length: 88, dtype: int64

In [70]:
# после применения купона, цена по программе лояльности Sunlight может снизиться ещё до 30% от полученной суммы при помощи бонусных баллов
# мы считаем, что пользователь пользуется максимальным количеством бонусных баллов, применимых к товару
# это не распростроняется на фикс цены, о наличии которых мы можем понять по устойчивому "ХИТ-цена", но так же могут быть добавлены новые акции
# всегда стоит перед запуском скрипта ниже проверять вывод блока кода выше

for i in df_sunlight.index:
    if df_sunlight['discount_for_dash'][i] == "ХИТ-цена":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    elif df_sunlight['discount_for_dash'][i] == "ХИТ-цена, Выгодно! Цепи 4990 р/г":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    else:    
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] * 0.6

In [71]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
5083,08.07.2024,Sunlight,Золотое кольцо,Кольца,992397,180 200 ₽,18020.00,9730.80,0.90,1.75,"Ещё -1 990₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -1..."
2079,08.07.2024,Sunlight,Золотые серьги,Серьги,51498,NaN,6490.00,6490.00,1.00,0.7,ХИТ-цена
2695,08.07.2024,Sunlight,Золотое кольцо,Кольца,254888,NaN,14544.00,14544.00,1.00,2.02,ХИТ-цена
5274,08.07.2024,Sunlight,Золотое кольцо,Кольца,283164,24 360 ₽,12180.00,6211.80,0.85,1.23,"Ещё -1 990₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -1..."
2723,08.07.2024,Sunlight,Золотая подвеска,Подвески,65775,NaN,3790.00,3790.00,1.00,0.39,ХИТ-цена

In [72]:
df_sunlight['price_personal'].isna().sum()

8

In [73]:
df_sunlight.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6237 entries, 0 to 6292
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               6237 non-null   object
 1   competitor         6237 non-null   object
 2   name               6237 non-null   object
 3   group              6237 non-null   object
 4   url                6237 non-null   int64
 5   price_old          3807 non-null   object
 6   price              6229 non-null   float64
 7   price_personal     6229 non-null   float64
 8   discount           6237 non-null   float64
 9   weight             6237 non-null   object
 10  discount_for_dash  6237 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 713.8+ KB

In [74]:
df_sunlight.sample()

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
3630,08.07.2024,Sunlight,Золотая цепь,Цепи,107721,NaN,16007.00,16007.00,1.00,2.29,ХИТ-цена

In [75]:
df_sunlight['weight'] = df_sunlight['weight'].astype(float)
df_sunlight = df_sunlight[df_sunlight['weight'] > 0.1]

In [76]:
df_sunlight.drop_duplicates(inplace=True)

In [77]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
3649,08.07.2024,Sunlight,Золотые серьги,Серьги,99993,21 980 ₽,10990.00,5934.60,0.90,0.99,"Ещё -990₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -10%..."
5287,08.07.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,354873,319 980 ₽,159990.00,86394.60,0.90,18.33,"Ещё -14 990₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -..."
4921,08.07.2024,Sunlight,Золотая подвеска,Подвески,179824,124 900 ₽,12490.00,7494.00,1.00,1.22,нет скидочного купона
4522,08.07.2024,Sunlight,Золотой пирсинг в бровь,Пирсинг,349322,10 980 ₽,5490.00,2964.60,0.90,0.44,"Ещё -990₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -10%..."
3946,08.07.2024,Sunlight,Золотая цепь,Цепи,111004,NaN,206536.00,206536.00,1.00,41.39,"ХИТ-цена, Выгодно! Цепи 4990 р/г"

In [78]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].round(0)

In [79]:
# проверяем корректность расчётов
df_sunlight[['price_personal','url']].sample(3)

      price_personal     url
5850        29028.00  329158
3493         5515.00   75758
4789         6834.00  353463

In [80]:
df_sunlight = df_sunlight.drop(columns=['price_old', 'price'])

In [81]:
df_sunlight['price_per_gramm'] = (df_sunlight['price_personal'] / df_sunlight['weight']).round(0)

In [82]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sunlight['tg'] = np.where(
    df_sunlight['group'].str.contains('Серьги|Серьга|Пирсинг'), 'СЕРЬГИ',
    np.where(
        df_sunlight['group'].str.contains('Цепи'), 'ЦЕПИ',
        np.where(
            ((df_sunlight['group'].str.contains('Подвески')) & (df_sunlight['name'].str.lower().str.contains('свят|божия|блаженная|господь|чудотворец|ангел|сергий|божья|георгий'))), 'ПОДВЕС КУЛЬТ',
            np.where(
                df_sunlight['group'].str.contains('Крест|Икона'), 'ПОДВЕС КУЛЬТ',
                np.where(
                    df_sunlight['group'].str.lower().str.contains('браслет'), 'БРАСЛЕТЫ', 
                    np.where(
                        ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное') == False)), 'КОЛЬЦА',
                        np.where(
                            ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ',
                            np.where(
                                df_sunlight['group'].str.contains('Подвески'), 'ПОДВЕС ДЕКОР', df_sunlight['group']
                            )
                        )
                    )
                )
            )
        )
    )
)

In [83]:
df_sunlight = df_sunlight[df_sunlight['tg'].str.contains('СЕРЬГИ|КОЛЬЦА|ПОДВЕС|БРАСЛЕТЫ|ЦЕПИ')] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [84]:
df_sunlight['price_case'] = np.where(
    df_sunlight['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sunlight['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sunlight['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sunlight['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sunlight['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sunlight['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sunlight['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [85]:
df_sunlight['tn'] = np.where(
    df_sunlight['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ', 'БК'
)

In [86]:
df_sunlight['tg'] = df_sunlight['tn'] + ' ' + df_sunlight['tg']

In [87]:
df_sunlight['price_per_gramm'].describe([0.05, 0.99])

count    3229.00
mean     6528.57
std      1526.24
min      3264.00
5%       5049.40
50%      6433.00
99%     11220.00
max     46729.00
Name: price_per_gramm, dtype: float64

In [88]:
df_sunlight = df_sunlight.drop(columns=['tn'])

In [89]:
df_sunlight.head(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,08.07.2024,Sunlight,Золотые серьги,Серьги,271510,7990.00,1.00,1.04,ХИТ-цена,7683.00,БК СЕРЬГИ,7 000 руб. - 8 000 руб.
7,08.07.2024,Sunlight,Золотые серьги,Серьги,271409,8990.00,1.00,1.10,ХИТ-цена,8173.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
14,08.07.2024,Sunlight,Золотые серьги,Серьги,235978,20990.00,1.00,2.36,ХИТ-цена,8894.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
21,08.07.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,74404,7990.00,1.00,0.99,ХИТ-цена,8071.00,БК ПОДВЕС КУЛЬТ,8 000 руб. - 9 000 руб.
35,08.07.2024,Sunlight,Золотая цепь,Цепи,35525,18528.00,1.00,3.20,ХИТ-цена,5790.00,ЦБ ЦЕПИ,5 500 руб. - 6 000 руб.

In [90]:
df_sunlight = df_sunlight.drop_duplicates()

In [91]:
Sunlight = (df_sunlight['price_personal'].sum() / df_sunlight['weight'].sum()).round(0)
print(Sunlight)

5992.0

# 3. 585*Золотой онлайн остатки

In [92]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime) # мы ищем тут последний выгруженный файл (занимается выгрузкой Оризу Наталья email: Orizu.Natalya@zolotoy.ru)

df = pd.read_excel(latest_file)

In [93]:
latest_file # если последний файл - не за сегодняшнюю/вчерашнюю дату, стоит запросить актуальную выгрузку

'\\\\gold585.int\\uk\\Общее хранилище файлов\\Служба аналитики\\МЮР\\ecom_stock_raw\\Остатки 2024.07.08.xlsx'

In [94]:
df.fineness.unique()

array([925., 375., 585.,  nan, 750., 999., 944., 945., 946., 947., 937.,
       938., 939., 931., 932., 933., 926., 928., 929., 930., 948., 949.,
       950., 951., 927., 934., 935., 936., 960., 961., 962., 963., 964.,
       956., 957., 958., 959., 875.])

In [95]:
df['published'].value_counts(dropna=False)

published
True     163092
False     35412
Name: count, dtype: int64

In [96]:
df['product_line'].unique()

array(['СИ', 'ПДК', 'ДК', 'ФУТЛЯРЫ', 'ДФРС', 'ЦБ', 'ЧАСЫ', 'ИФ', 'БК',
       'ВЫРИЦА', 'БИЖУТЕРИЯ', nan, 'БУ'], dtype=object)

In [97]:
df = df[(df['fineness'] == 585) & (df['product_line'].str.contains('ФУТЛЯРЫ|ДФРС|ВЫРИЦА|ЧАСЫ|БИЖУТЕРИЯ|БУ') == False)]

In [98]:
df = df[(df['product_group'].str.contains('БК КОЛЬЦА')|
        df['product_group'].str.contains('БК КОЛЬЦА ОБРУЧ')|
        df['product_group'].str.contains('ЦБ БРАСЛЕТЫ')|
        df['product_group'].str.contains('БК СЕРЬГИ')|
        df['product_group'].str.contains('БК ПОДВЕС КУЛЬТ')|
        df['product_group'].str.contains('БК ПОДВЕС ДЕКОР')|
        df['product_group'].str.contains('ЦБ ЦЕПИ'))]

In [99]:
df = df.drop(columns=['Unnamed: 15', '*без франчайзинговых магазинов и Румянцево'])

In [100]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\discounts_zolotoy\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)

discount = pd.read_excel(latest_file)

In [101]:
discount.sample(3)

,Артикул сайта,Опубликован,discount_value_promotions_1,discount_value_promotions_2,discount_value_promotions_3,discount_value_promotions_4
67581,2006710,False,-,-,-,-
132306,3859752,False,-,-,-,-
174820,6324157,True,-,-,-,-

In [102]:
discount.columns = ['article', 'Опубликован', 'discount_value_promotions_1', 'discount_value_promotions_2',	'discount_value_promotions_3', 'discount_value_promotions_4']

In [103]:
df = df.merge(discount, how='left', on='article')

In [104]:
df = df[(df['published'] == 'ИСТИНА') | (df['published'] == True)]

In [105]:
df = df.drop(columns=['weaving', 'Unnamed: 14', 'name'])

In [106]:
df.columns

Index(['article', 'size', 'published', 'product_line', 'product_group',
       'material', 'type3', 'fineness', 'avg_weight', 'price',
       'discount_price', 'Остатки, шт*', 'Опубликован',
       'discount_value_promotions_1', 'discount_value_promotions_2',
       'discount_value_promotions_3', 'discount_value_promotions_4'],
      dtype='object')

In [107]:
df.columns = ['article', 'size', 'published', 'product_line', 'product_group',
            'material', 'type3', 'fineness', 'avg_weight', 'price',
            'discount_price', 'Остатки, шт*', 'type3', 
            'discount_value_promotions_1', 'discount_value_promotions_2',	'discount_value_promotions_3', 'discount_value_promotions_4']

In [108]:
def discount_index(discount):
    try:
        return 1 - discount / 100
    except:
        return 1

In [109]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.apply(discount_index)

In [110]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.fillna(1)

In [111]:
df = df.dropna(subset=['avg_weight', 'discount_value_promotions_1'])

In [112]:
df['price_personal'] = np.where(
    (df['price'] == df['discount_price']) & (df['discount_value_promotions_1'] == 1), df['discount_price'] * df['discount_value_promotions_1'], 
    np.where(
        df['discount_value_promotions_1'] == 0.5, df['discount_price'] * df['discount_value_promotions_1'], df['discount_price'] * df['discount_value_promotions_1'] * 0.8
    )
)

In [113]:
# df = df.drop_duplicates(subset=['article'])

In [114]:
bez_hit = df[df['discount_value_promotions_1'] != 1].groupby('product_group', as_index=False)[['price_personal', 'avg_weight']].agg({'price_personal':'sum', 'avg_weight':'sum'})
bez_hit['price_per_gram'] = bez_hit['price_personal'] / bez_hit['avg_weight']

In [115]:
bez_hit

     product_group  price_personal  avg_weight  price_per_gram
0        БК КОЛЬЦА     20728402.40     3431.72         6040.24
1  БК КОЛЬЦА ОБРУЧ     64448301.60    10579.06         6092.06
2  БК ПОДВЕС ДЕКОР      2635344.80      425.51         6193.38
3  БК ПОДВЕС КУЛЬТ      7729732.80     1237.45         6246.50
4        БК СЕРЬГИ     21177499.20     3363.55         6296.17
5      ЦБ БРАСЛЕТЫ     61273400.00     9874.69         6205.10
6          ЦБ ЦЕПИ     97402992.80    15686.07         6209.52

In [116]:
zolotoy = df.groupby('product_group', as_index=False)[['price_personal', 'avg_weight']].agg({'price_personal':'sum', 'avg_weight':'sum'})
zolotoy['price_per_gram'] = zolotoy['price_personal'] / zolotoy['avg_weight']

In [117]:
stock_ecom = zolotoy['price_personal'].sum() / zolotoy['avg_weight'].sum()
print(stock_ecom)

6226.710107647422

In [118]:
zolotoy['date'] = pd.to_datetime(date_now, dayfirst=True)

In [119]:
zolotoy = zolotoy.drop(columns=['price_personal', 'avg_weight', 'date'])

In [120]:
zolotoy.columns = ['tg', '585*Золотой онлайн остатки Максимальный промокод+20%']

In [121]:
# df = df.drop_duplicates(subset=['article'])

In [122]:
df['date'] = pd.to_datetime(date_now, dayfirst=True)
df['competitor'] = '585*Золотой'
df['price_per_gramm'] = df['price_personal'] / df['avg_weight']

In [123]:
df['price_case'] = np.where(
    df['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [124]:
df = df[['date', 'competitor', 'avg_weight', 'price_personal', 'product_group', 'price_per_gramm', 'discount_value_promotions_1', 'article', 'price_case']]
df.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [125]:
data_history = pd.DataFrame({'date': [pd.to_datetime(date_now, dayfirst=True)],
                            'competitor': ['585*Золотой'],
                            'avg_ppg': [int(df['price_personal'].sum() / df['weight'].sum())]})

# 4. 585*Золотой оффлайн остатки

In [126]:
# SQL-скрипт ниже выгружает данные по остаткам с БД Staging, доступ к ней выдаётся по учётной записи Windows по согласованию

conn = pymssql.connect(server='AX-SQL', database='Staging')
cursor = conn.cursor()

sql = f'''
SELECT [Код склада], [Название склада], [Цена Закупки за 1 шт. (упр сс с НДС за единицу)], [Группа цен],
[Товарное направление], [Товарная группа], [Проба], [Цена Розн., за шт],  [Запрет скидки],
[Код товара],  [Артикул поставщика], [Чистый вес], [ШК], [Общий вес], [Скидка на изделии], [Тип изделия 1], 
[ID Сайта]
from [Staging].[Reports].[Remainings_8h]
where [Товарное направление] in (N'БК', N'ЦБ')
'''

sql_query = pd.read_sql_query(sql, conn)
stock = pd.DataFrame(sql_query)

In [127]:
stock.sample(5)

,Код склада,Название склада,Цена Закупки за 1 шт. (упр сс с НДС за единицу),Группа цен,Товарное направление,Товарная группа,Проба,"Цена Розн., за шт",Запрет скидки,Код товара,Артикул поставщика,Чистый вес,ШК,Общий вес,Скидка на изделии,Тип изделия 1,ID Сайта
1301874,4425,"Саратов ул Танкистов 1А ТУ ""ФОРУМ"" (ДУБЛЬ)",16138.50,ЦБ_АВТОМАТ >3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,62328.00,Нет,ТОВ1280012,ЦРС335А2-А51,3.71,2078607867829,3.71,11.00,ЦЕПЬ,2018197
789103,3260,"Прохладный, Гагарина, 26/1",10492.71,ЦБ_АВТОМАТ >3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,59741.00,Нет,ТОВ1049274,30-01-0035-30028,4.05,2078590955046,4.05,21.00,ЦЕПЬ,4612893
187998,5951,"Барнаул, Ленина, 73",4371.34,ИФ.БК_СР,БК,БК КОЛЬЦА ОБРУЧ,585,40524.00,Нет,ТОВ1096022,14-5216-13-00,2.64,2078425725578,2.64,24.00,КОЛЬЦО ОБРУЧАЛЬНОЕ,2246321
267913,4625,"Екатеринбург, Сулимова, 50, ТРЦ «Парк-Хаус»",3538.01,ИФ.БК_ДЕШ,БК,БК ПОДВЕС КУЛЬТ,585,21203.00,Нет,ТОВ1262628,51-32-0000-11269,0.91,2078607117019,0.91,34.00,ПОДВЕС КУЛЬТОВЫЙ,1618625
970231,5739,"Каменск-Шахтинский, Ворошилова",1852.65,ИФ_375,БК,БК ПОДВЕС КУЛЬТ,375,19635.00,Нет,ТОВ1168483,35-0577-31-63#375,1.05,2078581870709,1.05,45.00,ПОДВЕС КУЛЬТОВЫЙ,2220589

In [128]:
stock['Код склада'] = stock['Код склада'].astype('float64')

In [130]:
stock

,Код склада,Название склада,Цена Закупки за 1 шт. (упр сс с НДС за единицу),Группа цен,Товарное направление,Товарная группа,Проба,"Цена Розн., за шт",Запрет скидки,Код товара,Артикул поставщика,Чистый вес,ШК,Общий вес,Скидка на изделии,Тип изделия 1,ID Сайта,date,competitor,discount_for_dash
0,6525.00,"Забайкальск, улица Красноармейская, дом №21-1а.",7538.91,ЦБ_АВТОМАТ >3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,57960.00,Нет,ТОВ01259558,330-01-0025-30802,3.45,2078604057112,3.45,20.00,ЦЕПЬ,1490701,2024-07-08,585*Золотой оффлайн,0.40
1,6525.00,"Забайкальск, улица Красноармейская, дом №21-1а.",4895.40,ЦБ_АВТОМАТ <=3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,40420.00,Нет,ТОВ01259590,310-01-0030-30176,2.35,2078602928287,2.35,15.00,ЦЕПЬ,1140820,2024-07-08,585*Золотой оффлайн,0.40
2,6525.00,"Забайкальск, улица Красноармейская, дом №21-1а.",10985.18,ЦБ_АВТОМАТ >3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,70290.00,Нет,ТОВ01259678,310-01-0035-30176,3.24,2078606428966,3.24,11.00,ЦЕПЬ,7864027,2024-07-08,585*Золотой оффлайн,0.40
3,6525.00,"Забайкальск, улица Красноармейская, дом №21-1а.",9703.97,ЦБ_АВТОМАТ >3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,59136.00,Нет,ТОВ01259760,310-01-0040-30087,3.52,2078600862998,3.52,10.00,ЦЕПЬ,1890619,2024-07-08,585*Золотой оффлайн,0.40
4,6525.00,"Забайкальск, улица Красноармейская, дом №21-1а.",34009.30,ЦБ_АВТОМАТ >3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,214872.00,Нет,ТОВ01260038,330-01-0070-30176,12.79,2078600863008,12.79,10.00,ЦЕПЬ,8376898,2024-07-08,585*Золотой оффлайн,0.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1503349,3963.00,"Ярославль, пос.Нагорный, Дорожная, 6а, ТРК «Яр...",2084.10,ИФ_375,БК,БК СЕРЬГИ,375,14529.00,Нет,ТОВ1309355,14.39_15#375,0.87,2078607969751,0.87,49.00,СЕРЬГИ-КОНГО,1788959,2024-07-08,585*Золотой оффлайн,0.40
1503350,3963.00,"Ярославль, пос.Нагорный, Дорожная, 6а, ТРК «Яр...",1463.35,ИФ_375,БК,БК СЕРЬГИ,375,11022.00,Нет,ТОВ1309359,12.13_15#375,0.66,2078608055307,0.66,49.00,СЕРЬГИ-КОНГО,1329667,2024-07-08,585*Золотой оффлайн,0.40
1503351,3963.00,"Ярославль, пос.Нагорный, Дорожная, 6а, ТРК «Яр...",3024.07,ИФ_375,БК,БК СЕРЬГИ,375,22712.00,Нет,ТОВ1309362,23.01_15#375,1.36,2078608201442,1.36,49.00,СЕРЬГИ-КОНГО,1408626,2024-07-08,585*Золотой оффлайн,0.40
1503352,3963.00,"Ярославль, пос.Нагорный, Дорожная, 6а, ТРК «Яр...",1507.36,ИФ_375,БК,БК СЕРЬГИ,375,10521.00,Нет,ТОВ1309363,12.11_15#375,0.63,2078607970306,0.63,49.00,СЕРЬГИ-КОНГО,1688311,2024-07-08,585*Золотой оффлайн,0.40
1503353,3963.00,"Ярославль, пос.Нагорный, Дорожная, 6а, ТРК «Яр...",1595.79,ИФ_375,БК,БК СЕРЬГИ,375,10855.00,Нет,ТОВ1309365,12.01_15#375,0.65,2078607926601,0.65,49.00,СЕРЬГИ-КОНГО,1375345,2024-07-08,585*Золотой оффлайн,0.40

In [132]:
stock['date'] = pd.to_datetime(date_now, dayfirst=True)
stock['competitor'] = '585*Золотой оффлайн'
stock['discount_for_dash'] = 0.8 * 0.6 # скидка непостоянная, информация о скидке всегда приходит на почту в конце месяца

In [133]:
stock = stock[['date', 'competitor', 'ID Сайта', 'Цена Розн., за шт', 'Запрет скидки', 'Чистый вес', 'discount_for_dash', 'Товарная группа', 'Скидка на изделии']]

In [134]:
stock.columns = ['date', 'competitor', 'url', 'price', 'discount', 'weight', 'discount_for_dash', 'tg', 'skidka']

In [135]:
tgs = ['БК СЕРЬГИ', 'ЦБ БРАСЛЕТЫ', 'ЦБ ЦЕПИ', 'БК КОЛЬЦА ОБРУЧ', 'БК ПОДВЕС КУЛЬТ', 'БК ПОДВЕС ДЕКОР', 'БК КОЛЬЦА']
stock = stock.query('tg in @tgs')

In [136]:
stock['price_personal'] = np.where(
    stock['discount'] == 'Да', stock['price'], stock['price'] * stock['discount_for_dash'] * (1 - (stock['skidka'] / 100))
)

In [137]:
stock['price_per_gramm'] = stock['price_personal'] / stock['weight']

In [138]:
gold_stock = stock.groupby(by = 'tg', as_index = False)[['price_personal', 'weight']].agg('sum')
gold_stock['price_per_gramm'] = gold_stock['price_personal'] / gold_stock['weight']

In [139]:
stock['price_case'] = np.where(
    stock['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (stock['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (stock['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (stock['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (stock['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (stock['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (stock['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [140]:
stock = stock[['date', 'competitor', 'url', 'price_personal', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]
stock.columns = ['date_', 'competitor', 'url', 'price_personal', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']

In [141]:
stock_price_pl = ((gold_stock['price_personal']).sum() / gold_stock['weight'].sum()).round(0)
print('Средняя цена остатков офлайн ПЛ: ', stock_price_pl)

Средняя цена остатков офлайн ПЛ:  5977.0

In [142]:
gold_stock = gold_stock[['tg', 'price_per_gramm']]

In [144]:
gold_stock.columns = ['tg', '585*Золотой оффлайн остатки 40%+20%']

In [145]:
gold_stock

                tg  585*Золотой оффлайн остатки 40%+20%
0        БК КОЛЬЦА                              6039.83
1  БК КОЛЬЦА ОБРУЧ                              5842.19
2  БК ПОДВЕС ДЕКОР                              6319.89
3  БК ПОДВЕС КУЛЬТ                              5999.28
4        БК СЕРЬГИ                              5937.87
5      ЦБ БРАСЛЕТЫ                              6025.32
6          ЦБ ЦЕПИ                              6000.76

# 5. Соединение таблиц для дашборда

In [146]:
data_all = pd.concat([df_sokolov, df_sunlight], ignore_index=True)

In [147]:
data_all['date'].fillna(f'{day_now}-{month_now}-{year_now}', inplace=True)

In [148]:
data_all['date'].unique()

array(['08.07.2024'], dtype=object)

In [149]:
data_all['date'] = pd.to_datetime(date_now, dayfirst=True)

In [150]:
data_all.date.unique()

<DatetimeArray>
['2024-07-08 00:00:00']
Length: 1, dtype: datetime64[ns]

In [151]:
data_all

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,2024-07-08,Sokolov,кольцо обручальное из золота,rings,110260,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
1,2024-07-08,Sokolov,кольцо обручальное из белого золота,rings,110260-3,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
2,2024-07-08,Sokolov,кольцо обручальное из золота,rings,110261,12990.00,1.00,1.63,ШОК-ЦЕНА,7969.00,БК КОЛЬЦА ОБРУЧ,7 000 руб. - 8 000 руб.
3,2024-07-08,Sokolov,кольцо из белого золота,rings,110262-3,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА,8 000 руб. - 9 000 руб.
4,2024-07-08,Sokolov,кольцо из золота,rings,019424,7990.00,1.00,1.09,ШОК-ЦЕНА,7330.00,БК КОЛЬЦА,7 000 руб. - 8 000 руб.
...,...,...,...,...,...,...,...,...,...,...,...,...
4714,2024-07-08,Sunlight,Золотой браслет,Браслеты,181061,29738.00,0.85,5.89,"Ещё -9 990₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -1...",5049.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.
4715,2024-07-08,Sunlight,Золотая цепь,Цепи,178815,36725.00,0.80,5.71,"Ещё -14 990₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -...",6432.00,ЦБ ЦЕПИ,6 000 руб. - 6 500 руб.
4716,2024-07-08,Sunlight,Золотой браслет,Браслеты,175227,63745.00,0.85,10.39,"Ещё -14 990₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -...",6135.00,ЦБ БРАСЛЕТЫ,6 000 руб. - 6 500 руб.
4717,2024-07-08,Sunlight,Золотой браслет,Браслеты,173962,15014.00,0.80,2.87,"Ещё -7 490₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -2...",5231.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.
4718,2024-07-08,Sunlight,Золотой браслет,Браслеты,172430,13382.00,0.80,2.63,"Ещё -4 990₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -2...",5088.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.

In [152]:
data_history_gold = data_history

In [153]:
# группируем общую таблицу для добавления данных о изменении стоимости за грамм по дате
data_history = data_all.groupby('competitor', as_index=False)[['weight', 'price_personal']].agg('sum')
data_history['price_per_gramm'] = (data_history['price_personal'] / data_history['weight']).round(0)
data_history.insert(0, 'date', f'{date_now}')
data_history = data_history.drop(columns=['weight', 'price_personal'], axis=1)
data_history['num_shop'] = '_' + data_history['competitor']

In [154]:
data_history = data_history.drop(columns=['num_shop'])
data_history.columns = ['date', 'competitor', 'avg_ppg']

In [155]:
data_history['date'] = pd.to_datetime(date_now, dayfirst=True)

In [156]:
data_history = pd.concat([data_history_gold, data_history], ignore_index=True)

In [157]:
data_history.to_sql('avg_ppg_for_monthly_monitoring', engine, schema = 'yura', if_exists='append', index = False)

3

In [158]:
data_all.to_excel(rf'{report_folder}\Данные парсинга\bk_sokolov_sunlight_{date_now}.xlsx', index=False)

In [159]:
data_all = data_all.drop(columns=['name', 'discount', 'group'])

In [160]:
data_all = data_all[['date', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']]

In [161]:
data_all.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [162]:
data_all['date_'] = pd.to_datetime(date_now, dayfirst=True)

In [163]:
# группировка полученных данных для отчёта

In [164]:
df_tn_sokolov = df_sokolov.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sokolov['price_per_gram'] = df_tn_sokolov['price_personal'] / df_tn_sokolov['weight']

In [165]:
df_tn_sunlight = df_sunlight.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sunlight['price_per_gram'] = df_tn_sunlight['price_personal'] / df_tn_sunlight['weight']

In [166]:
df_tn_sunlight = df_tn_sunlight.drop(columns=['price_personal', 'weight'])
df_tn_sunlight.columns = ['tg', 'Sunlight']

In [167]:
df_tn_sokolov = df_tn_sokolov.drop(columns=['price_personal', 'weight'])
df_tn_sokolov.columns = ['tg', 'Sokolov']

In [168]:
df_sunlight

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,08.07.2024,Sunlight,Золотые серьги,Серьги,271510,7990.00,1.00,1.04,ХИТ-цена,7683.00,БК СЕРЬГИ,7 000 руб. - 8 000 руб.
7,08.07.2024,Sunlight,Золотые серьги,Серьги,271409,8990.00,1.00,1.10,ХИТ-цена,8173.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
14,08.07.2024,Sunlight,Золотые серьги,Серьги,235978,20990.00,1.00,2.36,ХИТ-цена,8894.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
21,08.07.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,74404,7990.00,1.00,0.99,ХИТ-цена,8071.00,БК ПОДВЕС КУЛЬТ,8 000 руб. - 9 000 руб.
35,08.07.2024,Sunlight,Золотая цепь,Цепи,35525,18528.00,1.00,3.20,ХИТ-цена,5790.00,ЦБ ЦЕПИ,5 500 руб. - 6 000 руб.
...,...,...,...,...,...,...,...,...,...,...,...,...
6287,08.07.2024,Sunlight,Золотой браслет,Браслеты,181061,29738.00,0.85,5.89,"Ещё -9 990₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -1...",5049.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.
6288,08.07.2024,Sunlight,Золотая цепь,Цепи,178815,36725.00,0.80,5.71,"Ещё -14 990₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -...",6432.00,ЦБ ЦЕПИ,6 000 руб. - 6 500 руб.
6289,08.07.2024,Sunlight,Золотой браслет,Браслеты,175227,63745.00,0.85,10.39,"Ещё -14 990₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -...",6135.00,ЦБ БРАСЛЕТЫ,6 000 руб. - 6 500 руб.
6291,08.07.2024,Sunlight,Золотой браслет,Браслеты,173962,15014.00,0.80,2.87,"Ещё -7 490₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -2...",5231.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.
6292,08.07.2024,Sunlight,Золотой браслет,Браслеты,172430,13382.00,0.80,2.63,"Ещё -4 990₽ здесь! Код: СЕМЬЯ до 23:59, Ещё -2...",5088.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.

In [169]:
result = pd.merge(df_tn_sokolov, df_tn_sunlight, how='left', on='tg').merge(zolotoy, how='left', on='tg').merge(gold_stock, how='left', on='tg') # объединяем данные в одну табличку

In [170]:
result

,tg,Sokolov,Sunlight,585*Золотой онлайн остатки Максимальный промокод+20%,585*Золотой оффлайн остатки 40%+20%
0,БК КОЛЬЦА,7904.84,6104.67,5938.30,6039.83
1,БК КОЛЬЦА ОБРУЧ,7337.92,10412.59,5827.08,5842.19
2,БК ПОДВЕС ДЕКОР,8242.88,6396.64,5795.42,6319.89
3,БК ПОДВЕС КУЛЬТ,8570.66,6389.29,6139.36,5999.28
4,БК СЕРЬГИ,7803.98,6406.15,6233.04,5937.87
5,ЦБ БРАСЛЕТЫ,8485.78,5659.18,6360.94,6025.32
6,ЦБ ЦЕПИ,8822.01,5162.09,6413.99,6000.76

# 6. Расчёт наценки

In [171]:
cookies = {
    '__ddg1_': 'XgGmRRFfNl9J83C2HQq2',
    '__RequestVerificationToken': '5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
}

headers = {
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7',
    'accept-language': 'ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7',
    'cache-control': 'max-age=0',
    # 'cookie': '__ddg1_=XgGmRRFfNl9J83C2HQq2; __RequestVerificationToken=5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
    'priority': 'u=0, i',
    'sec-ch-ua': '"Google Chrome";v="125", "Chromium";v="125", "Not.A/Brand";v="24"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'document',
    'sec-fetch-mode': 'navigate',
    'sec-fetch-site': 'cross-site',
    'sec-fetch-user': '?1',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36',
}

response = requests.get('https://mfd.ru/centrobank/preciousmetals/', cookies=cookies, headers=headers).text

In [172]:
soup = bs(response, 'html.parser')

In [173]:
# данные ниже могут меняться
price_ = float(soup.find('table', class_='mfd-table').find('tbody').find('td', class_='mfd-item-date').findNext('td').text.strip()[:7]) * 0.585
ugar = 0.03 
workprice = 150 
nds = 0.2

In [174]:
costprice = (price_/(1-ugar)+workprice)*(1 + nds)

In [175]:
stock_for_dash = stock.drop_duplicates(subset=['url'])

In [176]:
data_all = pd.concat([data_all, df, stock_for_dash], ignore_index=True)

In [177]:
data_all['markup'] = (data_all['price_personal'] / (costprice * data_all['weight'])) - 1

In [178]:
data_all['markup'] = data_all['markup'].astype(str)
data_all = data_all[data_all['markup'] != 'inf']
data_all['markup'] = data_all['markup'].astype(float)

In [179]:
data_all['date_'] = pd.to_datetime(date_now, dayfirst=True)

In [180]:
data_all1 = data_all.drop(columns=['markup'])

In [181]:
data_all1.to_sql('price_per_gramm', engine, schema = 'yura', if_exists='append', index = False)

532

In [182]:
data_all = data_all.dropna(subset=['markup'])

In [183]:
costprice_offline = data_all[data_all['competitor'] == '585*Золотой оффлайн'].groupby(by = 'tg', as_index = False)['markup'].mean()
costprice_offline.columns = ['tg', 'markup_a']

In [184]:
costprice_ = data_all[data_all['competitor'] == 'Sunlight'].groupby(by = 'tg', as_index = False)['markup'].mean().\
    merge(data_all[data_all['competitor'] == 'Sokolov'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg').\
        merge(data_all[data_all['competitor'] == '585*Золотой'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg')

In [185]:
costprice_ = costprice_.merge(costprice_offline, how='left', on='tg')

In [186]:
costprice_

                tg  markup_x  markup_y  markup  markup_a
0        БК КОЛЬЦА      0.20      0.59    0.18      0.12
1  БК КОЛЬЦА ОБРУЧ      1.08      0.47    0.17      0.09
2  БК ПОДВЕС ДЕКОР      0.34      0.70    0.16      0.16
3  БК ПОДВЕС КУЛЬТ      0.32      0.80    0.24      0.20
4        БК СЕРЬГИ      0.28      0.60    0.25      0.19
5      ЦБ БРАСЛЕТЫ      0.20      0.76    0.22      0.20
6          ЦБ ЦЕПИ      0.21      0.86    0.25      0.18

In [187]:
costprice_.columns = ['Товарная группа', 'Наценка Sunlight', 'Наценка Sokolov', 'Наценка 585*Золотой онлайн', 'Наценка 585*Золотой оффлайн']

In [188]:
costprice_['Дата'] = pd.to_datetime(date_now, dayfirst=True)

In [189]:
costprice_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Товарная группа              7 non-null      object
 1   Наценка Sunlight             7 non-null      float64
 2   Наценка Sokolov              7 non-null      float64
 3   Наценка 585*Золотой онлайн   7 non-null      float64
 4   Наценка 585*Золотой оффлайн  7 non-null      float64
 5   Дата                         7 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 468.0+ bytes

In [190]:
costprice_

,Товарная группа,Наценка Sunlight,Наценка Sokolov,Наценка 585*Золотой онлайн,Наценка 585*Золотой оффлайн,Дата
0,БК КОЛЬЦА,0.20,0.59,0.18,0.12,2024-07-08
1,БК КОЛЬЦА ОБРУЧ,1.08,0.47,0.17,0.09,2024-07-08
2,БК ПОДВЕС ДЕКОР,0.34,0.70,0.16,0.16,2024-07-08
3,БК ПОДВЕС КУЛЬТ,0.32,0.80,0.24,0.20,2024-07-08
4,БК СЕРЬГИ,0.28,0.60,0.25,0.19,2024-07-08
5,ЦБ БРАСЛЕТЫ,0.20,0.76,0.22,0.20,2024-07-08
6,ЦБ ЦЕПИ,0.21,0.86,0.25,0.18,2024-07-08

In [191]:
costprice_.to_sql('costprice_sklv_sl', engine, schema = 'yura', if_exists='append', index = False)

7

# 7. Обработка данных по продажам оффлайн и онлайн

Продажи 585*Золотой онлайн

In [192]:
way = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Илларионов\Выгрузка Еком\\'

In [193]:
data_IM = pd.read_excel(rf'{way}\{month_now}.{year_now}_продажи еком.xlsx')

In [194]:
# смотрим продажи с последнего мониторинга
data = dt.datetime.isoweekday(dt.date.today())
if data == 1:
    last_monitoring = (dt.date.today() - dt.timedelta(days=3)).strftime('%Y-%m-%d')
else:
    last_monitoring = (dt.date.today() - dt.timedelta(days=2)).strftime('%Y-%m-%d')
    
data_IM = data_IM[data_IM['created'] >= f'{last_monitoring}']

In [195]:
data_IM = data_IM.drop_duplicates()
data_IM = data_IM.reset_index(drop=True)

data_IM = data_IM[(data_IM['state_order'] != 'returned') & (data_IM['state_order'] != 'canceled')]
data_IM = data_IM[~((data_IM['delivery_type'] == 'PICKUP_NOW') & (data_IM['payment_type'] == 'CASHIER') & (data_IM['type_ibox'] == 'CASHIER'))|
                ((data_IM['delivery_type'] == 'PICKUP') & (data_IM['payment_type'] == 'CASHIER') & (data_IM['type_ibox'] == 'CASHIER'))]

In [196]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'], format = '%Y-%m-%d')

In [197]:
def str_float(row):
    row = str(row)
    row = row.replace(',','.')
    return row

data_IM['price'] = data_IM['price'].apply(str_float)
data_IM['price'] = data_IM['price'].astype(float)

data_IM['avg_net_weight'] = data_IM['avg_net_weight'].apply(str_float)
data_IM['avg_net_weight'] = data_IM['avg_net_weight'].astype(float)

In [198]:
data_IM = data_IM[data_IM['price'] > 1].reset_index(drop=True)
data_IM = data_IM[data_IM['avg_net_weight'] > 0].reset_index(drop=True)

In [199]:
data_IM['Товарное направление'] = np.where(
    data_IM['tg'].isin(['БК ПОДВЕС КУЛЬТ', 'БК СЕРЬГИ', 'БК КОЛЬЦА','БК КОЛЬЦА ОБРУЧ','БК ПОДВЕС ДЕКОР',  'БК ПЕЧАТКИ','БК АКСЕССУАРЫ','ОПТ БК']), 'БК',
    np.where(
        data_IM['tg'].isin(['ПДК СЕРЬГИ', 'ПДК КОЛЬЦА','ПДК ПОДВЕСКИ']), 'ПДК',
        np.where(
            data_IM['tg'].isin(['ДК СЕРЬГИ',  'ДК КОЛЬЦА',    'ДК ПОДВЕСКИ',    'ДК КОЛЬЦА ОБРУЧ']), 'ДК',
            np.where(
                data_IM['tg'].isin(['ИФ СЕРЬГИ',  'ИФ КОЛЬЦА', 'ИФ ПОДВЕС ДЕКОР', 'ИФ ПЕЧАТКИ', 'ИФ ПОДВЕС КУЛЬТ','ИФ КОЛЬЦА ОБРУЧ','ИФ АКСЕССУАРЫ']), 'ИФ',
                np.where(
                    data_IM['tg'].isin(['ЦБ ЦЕПИ', 'ЦБ БРАСЛЕТЫ']), 'ЦБ',
                    np.where(
                        data_IM['tg'].isin(['СИ ПОДВЕС БК','СИ КОЛЬЦО ИФ','СИ БРАСЛЕТ БК','СИ КОЛЬЦО БК','СИ ЦЕПЬ','СИ СЕРЬГИ БК','СИ СЕРЬГИ ИФ','СИ ПОДВЕС ИФ',
                                            'СИ СЕРЬГИ РАЗН','СИ СЕРЬГИ ЦВ/К',\
                                            'СИ КОЛЬЦО ЦВ/К','','СИ ШАРМЫ','СИ ОБРУЧАЛЬНОЕ','СИ КОЛЬЦО ПЕЧАТ','СИ ПОДВЕСЦВ/К','СИ БРАСЛЕТ СК','СИ ЖЕМЧУГ',\
                                            'СИ АКСЕССУАР','СИ ДФРС ПРОЕКТ','СИ КЕРАМИКА','СИ ПОСУДА','СИ ЯНТАРЬ','СИ ЭМАЛЬ','СИ ВЫРИЦА']), 'СИ',
                        np.where(data_IM['tg'].isin(['ЧАСЫ']), 'ЧАСЫ', 'другое'
                        )
                    )
                )
            )
        )
    )
)

data_IM['Товарное направление'].value_counts()

Товарное направление
СИ        374
ИФ        146
БК        143
ЦБ        133
ДК        106
другое     63
ПДК        57
ЧАСЫ        1
Name: count, dtype: int64

In [200]:
proverka = data_IM[data_IM['Товарное направление']=='другое']
proverka['tg'].unique()

array(['СИ ПОДВЕС\xa0ЦВ/К', 'СИ СЕРЬГИ\xa0 ЦВ/К', 'СИ БРАСЛЕТ ЦВ/К',
       'ОПТ ОБРУЧИ', 'ПДК ПЕЧАТКИ', 'СИ КОЛЬЕ СК', 'ОПТ ИФ',
       'СИ БРАСЛЕТ БК Декор', 'ОПТ ПДК', 'СИ ПОДАРКИ КРОСС'], dtype=object)

In [201]:
data_IM = data_IM[~(data_IM['name'].str.contains('каучук')|
                    data_IM['name'].str.contains('шнурок')|
                    data_IM['name'].str.contains('текстиль')|
                    data_IM['name'].str.contains('хлопок')|
                    data_IM['name'].str.contains('шелк')|
                    data_IM['name'].str.contains('на нитке')|
                    data_IM['name'].str.contains('кожа')|
                    data_IM['name'].str.contains('жемчуг'))]

In [202]:
data_IM = data_IM[(data_IM['Товарное направление'].isin(['БК', 'ЦБ']))&((data_IM['proba'] == '585')|(data_IM['proba'] == 585.00))]

In [203]:
data_IM['Товарное направление'].value_counts()

Товарное направление
БК    120
ЦБ    114
Name: count, dtype: int64

In [204]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'], format='%Y-%m-%d')

In [205]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'].apply(lambda x: x.strftime("%Y-%m-%d")))

In [206]:
previous_date = data_IM['date_status_order_done'].min()
filtr_date = data_IM['date_status_order_done'].max()

In [207]:
data_today = data_IM.query("date_status_order_done >= @previous_date")
data_today.head()

,id,created,name,state_order,recipient_phone,recipient_email,state_item,delivery_type,payment_type,employee_id,type_ibox,type_name,tov,kbk_recieve_delivery,avg_weight,avg_net_weight,materials,proba,design,type1,type3,tg,brand,vendor_article,number,price,client_type,date_status_order_done,date_status_item_returned,product_id,cost_price,shk,kbk_collect_delivery,manzana,percent_by_sku,manzana_for_item,price_wo_manzana,Товарное направление
0,0018afea-04e8-44b9-b637-eb7a32c4989a,2024-07-05 05:21:16.460,Золотое плоское обручальное кольцо 4 мм,done,79132591285.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,SBER,[YANDEX_KASSA] SBER - URL,ТОВ0887582,3-05-040,3.02,3.02,NaN,585,ИФ ОБРУЧ ПЛОСКАЯ,КОЛЬЦО ОБРУЧАЛЬНОЕ,КРАСНЫЙ,БК КОЛЬЦА ОБРУЧ,ADRIATICA,КО 14-00,2407050521798,23985.00,MOBILE,2024-07-05,NaT,2004199,4779.81,2078425850287,3-05-040,4797,1.00,4797.00,19188.00,БК
7,00dd2ed4-bcd9-433b-a215-e3b49ceaab6c,2024-07-06 13:27:31.233,Золотая цепь с алмазной гранью,done,79944275407.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,SBER,[YANDEX_KASSA] SBER - URL,ТОВ01260802,1-01-259,5.02,5.02,NaN,585,РОМБ ДВОЙНОЙ ПУСТ,ЦЕПЬ,КРАСНЫЙ,ЦБ ЦЕПИ,NaN,31-01-0060-30176,2407061327526,26752.00,MOBILE,2024-07-06,NaT,2246822,16371.40,2078608722638,1-01-259,0,0.00,0.00,26752.00,ЦБ
8,01095124-ecbe-4837-bb95-2fcdff5bd0cb,2024-07-07 04:28:34.034,Золотая цепь,done,79088301501.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,SBER,[YANDEX_KASSA] SBER - URL,ТОВ01260432,4-07-001,1.12,1.12,NaN,585,ЯКОРЬ ПУСТ,ЦЕПЬ,КРАСНЫЙ,ЦБ ЦЕПИ,NaN,31-00-0035-30555,2407070428479,7048.00,WEB,2024-07-07,NaT,8378875,4036.54,2078611494193,4-07-001,0,0.00,0.00,7048.00,ЦБ
16,02514ed3-a676-47d8-8d5f-95eec6f7f335,2024-07-05 13:17:35.494,Золотое плоское обручальное кольцо 5 мм,done,NaN,NaN,done,DELIVERY,CASHIER,NaN,CASHIER,[CASHIER] CASHIER - CASHIER,ТОВ1010445,marketplace_feab1ac617bb4d5b94f8dd87095bd0d5,2.70,2.70,NaN,585,ИФ ОБРУЧ ПЛОСКАЯ БЕЛ,КОЛЬЦО ОБРУЧАЛЬНОЕ,БЕЛЫЙ,БК КОЛЬЦА ОБРУЧ,NaN,КО 15-00 БЗ,2407051317617,13501.00,OZON,2024-07-07,NaT,2985033,11214.00,2078602911065,0-01-001,0,0.00,0.00,13501.00,БК
19,03020463-3bcb-4fbb-b657-76f729f7b3e9,2024-07-05 10:03:01.618,Золотой крест TALANT,done,79518331796.00,didenko.19@list.ru,done,PICKUP_NOW,YANDEX_KASSA,NaN,YANDEX_PAY,Яндекс пэй для мп,ТОВ1172648,6-01-012,0.69,0.69,NaN,585,ИФ КРЕСТ,ПОДВЕС КУЛЬТОВЫЙ,КРАСНЫЙ С БЕЛЫМ,БК ПОДВЕС КУЛЬТ,NaN,51-33-0000-28662,2407051003485,4008.00,MOBILE,2024-07-05,NaT,1034044,2319.24,2078607528828,6-01-012,0,0.00,0.00,4008.00,БК

In [208]:
data_today['цена за гр'] = data_today['price_wo_manzana'] / data_today['avg_weight']
data_today['цена за гр'].describe()

count     234.00
mean     6355.83
std      1485.39
min      3995.24
25%      5260.66
50%      6013.27
75%      7312.46
max     15688.89
Name: цена за гр, dtype: float64

In [209]:
data_today['avg_weight'].describe()

count   234.00
mean      2.22
std       1.76
min       0.37
25%       1.12
50%       1.84
75%       2.62
max      14.65
Name: avg_weight, dtype: float64

In [210]:
data_today = data_today[~data_today['tg'].str.contains('ОПТ БК|БК ПЕЧАТКИ|ОПТ КОНГО')]

In [211]:
data_today = data_today[~data_today['client_type'].str.contains('OZON')]

In [212]:
Zolotoy_Online = (data_today['price_wo_manzana'].sum()/data_today['avg_weight'].sum()).round(0)
print('Средняя цена продажи еком: ', Zolotoy_Online)

Средняя цена продажи еком:  6227.0

In [213]:
data_today.to_excel(rf'{report_folder}\Данные по продажам\Продажи онлайн_{date_now}.xlsx', index=False)

In [214]:
tn = data_today.groupby('tg', as_index=False)[['price_wo_manzana', 'avg_weight', 'cost_price']].agg('sum')
tn['price_gramm'] = (tn['price_wo_manzana'] / tn['avg_weight']).round(0)

In [215]:
tn['price_gramm'] = tn['price_gramm'].astype('int')
tn['Наценка продажи онлайн'] =  tn['price_wo_manzana'] / tn['cost_price'] - 1

In [216]:
markup_sales = tn[['tg', 'Наценка продажи онлайн']]

In [217]:
tn = tn.drop(columns=['price_wo_manzana', 'avg_weight', 'cost_price', 'Наценка продажи онлайн'])
tn.columns = ['tg', '585*Золотой онлайн продажи']

In [218]:
result = result.merge(tn, how='left', on='tg')

Продажи 585*Золотой оффлайн

In [219]:
# иногда здесь скрипт может отвалиться, потому что с продажами оффлайн очень часто работает кто-то, поэтому можно прочитать его вручную указав актуальный путь

path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Выгрузки из DWH\Продажи по КБК из DWH new\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)

df_dwh = pd.read_excel(latest_file)

# df_dwh = pd.read_excel(r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Выгрузки из DWH\Продажи по КБК из DWH new\2024-06-20_2024-06-30.xlsx')

In [220]:
# мы смотрим продажи со времени последнего мониторинга, для этого определяем день недели и в зависимости от этого получаем новые данные
data = dt.datetime.isoweekday(dt.date.today())
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')
if data == 1:
    last_monitoring = (dt.date.today() - dt.timedelta(days=3)).strftime('%Y-%m-%d')
else:
    last_monitoring = (dt.date.today() - dt.timedelta(days=2)).strftime('%Y-%m-%d')
    
df_dwh = df_dwh[df_dwh['Дата'] >= f'{last_monitoring}']

In [221]:
df_dwh['Товарная группа'].str.contains('ЦБ|БК').value_counts()

Товарная группа
False    45194
True     17464
Name: count, dtype: int64

In [222]:
df_dwh = df_dwh[(df_dwh['Товарное направление'].isin(['БК', 'ЦБ'])) & (df_dwh['Проба'] == 585.0)]

In [223]:
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('каучук')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('шнурок')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('текстиль')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('хлопок')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('шелк')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('на нитке')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('кожа')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('жемчуг')))]

In [224]:
df_dwh['Дата'] = pd.to_datetime(df_dwh['Дата'], format='%Y-%m-%d')
df_dwh['Дата'] = pd.to_datetime(df_dwh['Дата'].apply(lambda x: x.strftime("%Y-%m-%d")))

In [225]:
filtr_date = df_dwh['Дата'].max()

In [226]:
df_dwh = df_dwh.query("`Дата` <= @filtr_date")

In [227]:
tn = df_dwh.groupby(by = 'Товарная группа', as_index= False)[['Себестоимость', 'Вес', 'Общая сумма']].agg('sum')
tn['Наценка продажи оффлайн'] =  tn['Общая сумма'] / tn['Себестоимость'] - 1
tn = tn[~tn['Товарная группа'].str.contains('ОПТ БК|БК ПЕЧАТКИ|ОПТ КОНГО|ОПТ ОБРУЧИ')]
tn['price_per_gramm'] = ((tn['Общая сумма'] / tn['Вес']).round(0))

In [228]:
tn['price_per_gramm'] = tn['price_per_gramm'].replace(',', '')
tn['price_per_gramm'] = tn['price_per_gramm'].astype('int')

In [229]:
Zolotoy_Offline = (tn['Общая сумма'].sum() / tn['Вес'].sum()).round(0)
print('Средняя цена продажи оффлайн: ', Zolotoy_Offline)

Средняя цена продажи оффлайн:  6688.0

In [230]:
tn.columns = ['tg', 'cost', 'weight', 'price', 'Наценка продажи оффлайн', 'price_per_gramm']

In [231]:
offline_markup = tn[['tg', 'Наценка продажи оффлайн']]

In [232]:
markup_sales = markup_sales.merge(offline_markup, how='left', on='tg')

In [233]:
tn = tn.drop(columns=['cost', 'weight', 'price', 'Наценка продажи оффлайн'])
tn.columns = ['tg', '585*Золотой оффлайн продажи']

In [234]:
result = result.merge(tn, how='left', on='tg')

In [235]:
result

,tg,Sokolov,Sunlight,585*Золотой онлайн остатки Максимальный промокод+20%,585*Золотой оффлайн остатки 40%+20%,585*Золотой онлайн продажи,585*Золотой оффлайн продажи
0,БК КОЛЬЦА,7904.84,6104.67,5938.30,6039.83,6224,6686
1,БК КОЛЬЦА ОБРУЧ,7337.92,10412.59,5827.08,5842.19,5788,6246
2,БК ПОДВЕС ДЕКОР,8242.88,6396.64,5795.42,6319.89,7199,7143
3,БК ПОДВЕС КУЛЬТ,8570.66,6389.29,6139.36,5999.28,6509,7221
4,БК СЕРЬГИ,7803.98,6406.15,6233.04,5937.87,6580,7252
5,ЦБ БРАСЛЕТЫ,8485.78,5659.18,6360.94,6025.32,6423,6749
6,ЦБ ЦЕПИ,8822.01,5162.09,6413.99,6000.76,6078,6666

In [236]:
markup_sales

                tg  Наценка продажи онлайн  Наценка продажи оффлайн
0        БК КОЛЬЦА                    1.56                     1.36
1  БК КОЛЬЦА ОБРУЧ                    0.94                     1.09
2  БК ПОДВЕС ДЕКОР                    1.64                     1.18
3  БК ПОДВЕС КУЛЬТ                    1.01                     1.27
4        БК СЕРЬГИ                    1.12                     1.32
5      ЦБ БРАСЛЕТЫ                    0.99                     1.04
6          ЦБ ЦЕПИ                    0.92                     1.04

In [237]:
markup_sales = markup_sales.rename(columns={markup_sales.columns[0]: 'Товарная группа'})
result = result.rename(columns={result.columns[0]: 'Товарная группа'})

In [238]:
result.to_excel(rf'{report_folder}\Таблица ТГ для письма_{date_now}.xlsx', index= False)
markup_sales.to_excel(rf'{report_folder}\Наценка продажи\Наценка продажи оффлайн+онлайн_{date_now}.xlsx', index=False)

In [313]:
# !jupyter nbconvert --to script eda_every_days.ipynb

In [314]:
# sql = text(f'''INSERT INTO yura.history_price_every_day(date_, competitor, price_per_gramm, num_shop)
# VALUES 
# ('{date_now}', 'Sokolov', {int(Sokolov)}, '_Sokolov'),
# ('{date_now}', 'Sunlight', {int(Sunlight)}, '_Sunlight'),
# ('{date_now}', '585*Золотой онлайн продажи', {int(Zolotoy_Online)}, '_585*Золотой онлайн продажи'),
# ('{date_now}', '585*Золотой онлайн остатки', {int(stock_ecom)}, '_585*Золотой онлайн остатки'), 
# ('{date_now}', '585*Золотой офлайн продажи', {int(Zolotoy_Offline)}, '_585*Золотой офлайн продажи'),
# ('{date_now}', '585*Золотой офлайн остатки', {int(stock_price_pl)}, '_585*Золотой офлайн остатки');
# ''')