In [12]:
from sqlalchemy import create_engine, text
from bs4 import BeautifulSoup as bs
import datetime as dt
import pandas as pd
import numpy as np
import warnings
import requests
import pymssql
import locale
import glob
import os

warnings.filterwarnings('ignore')
pd.set_option('use_inf_as_na', True)
pd.options.display.max_columns = None
pd.set_option('float_format', '{:.2f}'.format)
locale.setlocale(locale.LC_ALL, 'ru_RU.UTF-8')

'ru_RU.UTF-8'

In [13]:
report_folder = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\Мониторинг Sokolov и Sunlight'

In [14]:
engine = create_engine('postgresql://sergei:S714801t@51.250.54.232:5432/dldb')

In [15]:
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')
month_now = dt.datetime.now().month
day_now = dt.datetime.now().day 
year_now = dt.datetime.now().year

In [16]:
way = os.getcwd()

# 1. Sokolov

In [52]:
df_sokolov = pd.read_csv(rf'{way}\sokolov\parsed_data\result\bk_sokolov_{date_now}.csv')

In [53]:
df_sokolov.sample(5)

,data,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,article
828,10.07.2024,Sokolov,"Цепь из золота, плетение Нонна, 585 проба",chains,7.48 г,96750,214990,Второе украшение БЕСПЛАТНО! 1 = 2,Без вставок,Красное золото 585 пробы,Нонна,581020502
1395,10.07.2024,Sokolov,Кольцо из желтого золота,rings,2.15 г,26100,57990,Второе украшение БЕСПЛАТНО! 1 = 2,Без вставок,Жёлтое золото 585 пробы,NaN,018930-2
881,10.07.2024,Sokolov,"Браслет из золота, плетение ромб двойной, 585 ...",bracelets,3.91 г,51750,114990,Второе украшение БЕСПЛАТНО! 1 = 2,Без вставок,Красное золото 585 пробы,Ромб двойной,551010606
578,10.07.2024,Sokolov,Серьги конго из золота с алмазной гранью,earrings,3.49 г,45000,99990,Второе украшение БЕСПЛАТНО! 1 = 2,Без вставок,Красное золото 585 пробы,3.49 г,140019
1387,10.07.2024,Sokolov,Кольцо из желтого золота,rings,2.35 г,23400,77990,Второе украшение БЕСПЛАТНО! 1 = 2,Без вставок,Жёлтое золото 585 пробы,NaN,018410-2

In [54]:
# df_sokolov['article'] = 'https://sokolov.ru/jewelry-catalog/product/' + df_sokolov['article']
# df_sokolov['article'] = df_sokolov['article'] + '/'

df_sokolov.columns = ['date', 'competitor', 'name', 'group', 'weight', 'price', 'price_old',
                    'discount', 'insert', 'metal', 'lock_type_or_weaving_type', 'url']

In [55]:
df_sokolov['discount'].value_counts(dropna=False)

discount
Второе украшение БЕСПЛАТНО! 1 = 2    1493
NaN                                    19
Name: count, dtype: int64

In [56]:
df_sokolov['discount_for_dash'] = df_sokolov['discount']
df_sokolov['discount_for_dash'] = df_sokolov['discount_for_dash'].fillna('нет скидочного купона')

In [57]:
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] == 0:
        df_sokolov['discount_for_dash'][i] = 'ШОК-ЦЕНА'

In [58]:
def discount_value(discount):
    '''у Sokolov купоны имеют скидку до 30%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '10%' in discount:
        return 0.9
    elif '15%' in discount:
        return 0.85
    elif '20%' in discount:
        return 0.8
    elif '25%' in discount:
        return 0.75
    elif '30%' in discount:
        return 0.7
    elif '40%' in discount:
        return 0.6
    elif 'Второе украшение' in discount:
        return 0.5
    return 1

df_sokolov['discount'] = df_sokolov['discount'].fillna('1')
df_sokolov['discount'] = df_sokolov['discount'].apply(discount_value)

In [60]:
df_sokolov['weight'] = df_sokolov['weight'].str.replace(' г', '')
df_sokolov['weight'] = df_sokolov['weight'].astype('float')

In [61]:
df_sokolov['metal'].value_counts()

metal
Красное золото 585 пробы            1162
Жёлтое золото 585 пробы              152
Комбинированное золото 585 пробы     108
Белое золото 585 пробы                78
Красное золото 375 пробы               9
Комбинированное золото 375 пробы       2
Золото 585 пробы                       1
Name: count, dtype: int64

In [62]:
df_sokolov['price'].isna().sum()

0

In [63]:
df_sokolov = df_sokolov.dropna(subset=['price'])

In [64]:
# применяем скидку для первоначальной цены
df_sokolov['price'] = np.where(
    df_sokolov['discount'] == 0.5, df_sokolov['price'] * df_sokolov['discount'],
    np.where(
        df_sokolov['discount_for_dash'] == 'ШОК-ЦЕНА', df_sokolov['price'], df_sokolov['price'] * 0.7
    )
)

In [65]:
# для расчета персональной стоимости нужно выделить изделия для которых применины баллы. Для этого в парсинге цен используються cookies аккаунта с баллами (любым кол-вом).
# чтобы определить если ли персональная цена сравниваются 2 столба "price_old" и "price".
# если "price_old" равен нулю, значит этот товар является товаром из списка ШОК-цен, на них не распространяются бонусные баллы
# в противном случае мы можем списать до 30% от стоимости товара бонусными баллами
# мы считаем, что пользователь может использовать программу лояльности по-максимуму

In [66]:
df_sokolov.sample(10)

,date,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,url,discount_for_dash
1485,10.07.2024,Sokolov,Подвеска из желтого золота,pendants,1.60,9000.00,39990,0.50,Без вставок,Жёлтое золото 585 пробы,NaN,036224-2,Второе украшение БЕСПЛАТНО! 1 = 2
566,10.07.2024,Sokolov,Подвеска из золота,pendants,1.49,9000.00,39990,0.50,Без вставок,Красное золото 585 пробы,NaN,104208,Второе украшение БЕСПЛАТНО! 1 = 2
402,10.07.2024,Sokolov,"Обручальное кольцо из комбинированного золота,...",rings,2.77,15300.00,67990,0.50,Без вставок,Комбинированное золото 585 пробы,NaN,110167,Второе украшение БЕСПЛАТНО! 1 = 2
945,10.07.2024,Sokolov,Серьги из золота,earrings,2.71,15300.00,67990,0.50,Без вставок,Красное золото 585 пробы,Английский,028114,Второе украшение БЕСПЛАТНО! 1 = 2
856,10.07.2024,Sokolov,Браслет из золота с алмазной гранью и лазерной...,bracelets,1.70,11925.00,52990,0.50,Без вставок,Красное золото 585 пробы,NaN,051098,Второе украшение БЕСПЛАТНО! 1 = 2
479,10.07.2024,Sokolov,"Цепь из белого золота, плетение Якорное, 585 п...",chains,2.88,20250.00,89990,0.50,Без вставок,Белое золото 585 пробы,Якорное,581030408-3,Второе украшение БЕСПЛАТНО! 1 = 2
1214,10.07.2024,Sokolov,Серьги из золота,earrings,2.66,17550.00,77990,0.50,Без вставок,Красное золото 585 пробы,Английский,0200484,Второе украшение БЕСПЛАТНО! 1 = 2
1499,10.07.2024,Sokolov,Браслет из желтого золота,bracelets,7.37,45000.00,199990,0.50,Без вставок,Жёлтое золото 585 пробы,NaN,051143-2,Второе украшение БЕСПЛАТНО! 1 = 2
293,10.07.2024,Sokolov,Кольцо из золота,rings,1.31,10800.00,47990,0.50,Без вставок,Красное золото 585 пробы,NaN,019170,Второе украшение БЕСПЛАТНО! 1 = 2
1383,10.07.2024,Sokolov,Кольцо из золота,rings,2.66,13500.00,89990,0.50,Без вставок,Красное золото 585 пробы,NaN,017677,Второе украшение БЕСПЛАТНО! 1 = 2

In [67]:
no_discount = 0
df_sokolov['discount_flag'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] != 0:
        df_sokolov['discount_flag'][i] = df_sokolov['price'][i] * 0.3
    else:
        df_sokolov['discount_flag'][i] = no_discount

In [68]:
df_sokolov['price_personal'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['discount_flag'][i] <= (df_sokolov['price'][i] * 0.3):
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - df_sokolov['discount_flag'][i]
    else:
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - (df_sokolov['price'][i] * 0.3)

In [69]:
df_sokolov = df_sokolov.drop(columns=['discount_flag'], axis=1)

In [70]:
df_sokolov['price'].isna().sum()

0

In [71]:
df_sokolov['price_personal'] = df_sokolov['price']

In [72]:
df_sokolov

,date,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,url,discount_for_dash,price_personal
0,10.07.2024,Sokolov,Кольцо обручальное из золота,rings,1.61,12990.00,0,1.00,Без вставок,Красное золото 585 пробы,1.61 г,110260,ШОК-ЦЕНА,12990.00
1,10.07.2024,Sokolov,Кольцо обручальное из белого золота,rings,1.60,12990.00,0,1.00,Без вставок,Белое золото 585 пробы,1.6 г,110260-3,ШОК-ЦЕНА,12990.00
2,10.07.2024,Sokolov,Кольцо обручальное из золота,rings,1.63,12990.00,0,1.00,Без вставок,Красное золото 585 пробы,1.63 г,110261,ШОК-ЦЕНА,12990.00
3,10.07.2024,Sokolov,Кольцо из белого золота,rings,1.61,12990.00,0,1.00,Без вставок,Белое золото 585 пробы,1.61 г,110262-3,ШОК-ЦЕНА,12990.00
4,10.07.2024,Sokolov,Кольцо из золота,rings,1.09,7990.00,0,1.00,Без вставок,Красное золото 585 пробы,NaN,019424,ШОК-ЦЕНА,7990.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,10.07.2024,Sokolov,Браслет из желтого золота,bracelets,3.42,24750.00,109990,0.50,Без вставок,Жёлтое золото 585 пробы,NaN,051437-2,Второе украшение БЕСПЛАТНО! 1 = 2,24750.00
1508,10.07.2024,Sokolov,Браслет из желтого золота,bracelets,2.52,18000.00,79990,0.50,Без вставок,Жёлтое золото 585 пробы,NaN,051439-2,Второе украшение БЕСПЛАТНО! 1 = 2,18000.00
1509,10.07.2024,Sokolov,Браслет из золота,bracelets,5.16,33750.00,149990,0.50,Без вставок,Красное золото 585 пробы,NaN,051442,Второе украшение БЕСПЛАТНО! 1 = 2,33750.00
1510,10.07.2024,Sokolov,Браслет из золота,bracelets,20.16,117000.00,519990,0.50,Без вставок,Красное золото 585 пробы,NaN,051476,Второе украшение БЕСПЛАТНО! 1 = 2,117000.00
1511,10.07.2024,Sokolov,Колье из желтого золота,necklaces,2.98,15750.00,69990,0.50,Без вставок,Жёлтое золото 585 пробы,NaN,070274-2,Второе украшение БЕСПЛАТНО! 1 = 2,15750.00

In [73]:
df_sokolov['price_per_gramm'] = (df_sokolov['price_personal'] / df_sokolov['weight']).round(0)
df_sokolov['name'] = df_sokolov['name'].str.lower()

In [74]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sokolov['tg'] = np.where(
    ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка'))), 'ПОДВЕС КУЛЬТ',
    np.where(
        ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка') == False) | (df_sokolov['name'].str.contains('колье'))), 'ПОДВЕС ДЕКОР', 
        np.where(
            ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ', 
            np.where(
                ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное')==False)), 'КОЛЬЦА', 
                np.where(
                    (df_sokolov['group'] == 'bracelets'), 'БРАСЛЕТЫ',
                    np.where(
                        (df_sokolov['group'] == 'chains'), 'ЦЕПИ', 
                        np.where(
                            ((df_sokolov['group'] == 'earrings')| (df_sokolov['name'].str.contains('пирсинг'))), 'СЕРЬГИ', np.nan)
                    )
                )
            )
        )
    )
)

In [75]:
df_sokolov[df_sokolov['tg'] == 'nan']['name'].value_counts()

name
брошь из золота                          11
шнур декоративный                         2
сувенир из золота                         2
кожаный шнурок с золотым замком           2
золотая звезда на погоны                  1
брошь-булавка  из золота                  1
шнур декоративный                         1
текстильный шнурок с замком из золота     1
крестильный набор из золота               1
кожаный шнурок с замком из золота         1
Name: count, dtype: int64

In [76]:
df_sokolov = df_sokolov[df_sokolov['tg'] != 'nan'] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [77]:
df_sokolov['tn'] = np.where(
    ((df_sokolov['insert'].str.lower().str.contains('выраще|синте|искусств')) & (df_sokolov['insert'].str.lower().str.contains('бриллиант') == False)), 'ПДК',
    np.where(
        (df_sokolov['insert'].str.lower().str.contains('бриллиант|сапфир|рубин|изумруд') & (df_sokolov['insert'].str.lower().str.contains('выращ|искусств|синтети') == False)), 'ДК',
        np.where(
            df_sokolov['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ',
            np.where(
                df_sokolov['insert'] == 'Без вставок', 'БК', 
                np.where(
                    df_sokolov['insert'].str.lower().str.contains('фианит|бриллиант'), 'ИФ', 'ПДК'
                )
            )
        )
    )
)

In [78]:
df_sokolov['tg'] = df_sokolov['tn'] + ' ' + df_sokolov['tg']

In [79]:
df_sokolov['tg'].value_counts(dropna=False)

tg
БК СЕРЬГИ          465
БК КОЛЬЦА          268
БК ПОДВЕС ДЕКОР    232
ЦБ БРАСЛЕТЫ        190
ЦБ ЦЕПИ            135
БК КОЛЬЦА ОБРУЧ    115
БК ПОДВЕС КУЛЬТ     84
Name: count, dtype: int64

In [80]:
df_sokolov['price_case'] = np.where(
    df_sokolov['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sokolov['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sokolov['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sokolov['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sokolov['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sokolov['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sokolov['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [81]:
df_sokolov['price_per_gramm'].describe([0.05, 0.95])

count    1489.00
mean     6792.25
std       963.97
min      3320.00
5%       5244.40
50%      6812.00
95%      8321.60
max     10227.00
Name: price_per_gramm, dtype: float64

In [82]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url', 'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]

In [83]:
df_sokolov['num_shop'] = '_' + df_sokolov['competitor']
df_sokolov['num_diap'] = df_sokolov['price_case']

In [84]:
df_sokolov.sample(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case,num_shop,num_diap
76,10.07.2024,Sokolov,подвеска из золота,pendants,036663,6635.00,0.50,0.84,Второе украшение БЕСПЛАТНО! 1 = 2,7899.00,БК ПОДВЕС ДЕКОР,7 000 руб. - 8 000 руб.,_Sokolov,7 000 руб. - 8 000 руб.
1071,10.07.2024,Sokolov,браслет из золота,bracelets,051452,36000.00,0.50,5.94,Второе украшение БЕСПЛАТНО! 1 = 2,6061.00,ЦБ БРАСЛЕТЫ,6 000 руб. - 6 500 руб.,_Sokolov,6 000 руб. - 6 500 руб.
794,10.07.2024,Sokolov,подвеска из золота,pendants,104207,10800.00,0.50,1.58,Второе украшение БЕСПЛАТНО! 1 = 2,6835.00,БК ПОДВЕС ДЕКОР,6 500 руб. - 7 000 руб.,_Sokolov,6 500 руб. - 7 000 руб.
361,10.07.2024,Sokolov,подвеска из золота,pendants,034668,2810.00,0.50,0.31,Второе украшение БЕСПЛАТНО! 1 = 2,9065.00,БК ПОДВЕС ДЕКОР,9 000 руб. - 10 000 руб.,_Sokolov,9 000 руб. - 10 000 руб.
152,10.07.2024,Sokolov,"цепь из белого золота, плетение колос, 585 проба",chains,2120030-3,22050.00,0.50,3.30,Второе украшение БЕСПЛАТНО! 1 = 2,6682.00,ЦБ ЦЕПИ,6 500 руб. - 7 000 руб.,_Sokolov,6 500 руб. - 7 000 руб.

In [85]:
df_sokolov['discount_for_dash'].value_counts()

discount_for_dash
Второе украшение БЕСПЛАТНО! 1 = 2    1470
ШОК-ЦЕНА                               18
нет скидочного купона                   1
Name: count, dtype: int64

In [86]:
df_sokolov['price_per_gramm'].describe().round(0)

count    1489.00
mean     6792.00
std       964.00
min      3320.00
25%      6129.00
50%      6812.00
75%      7429.00
max     10227.00
Name: price_per_gramm, dtype: float64

In [87]:
Sokolov = df_sokolov['price_personal'].sum() / df_sokolov['weight'].sum().round(0)
print(Sokolov)

6587.409066232356

In [88]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url',
       'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm',
       'tg', 'price_case']]

In [89]:
df_sokolov.sample(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
732,10.07.2024,Sokolov,серьги из золота,earrings,029161,22500.00,0.50,3.30,Второе украшение БЕСПЛАТНО! 1 = 2,6818.00,БК СЕРЬГИ,6 500 руб. - 7 000 руб.
396,10.07.2024,Sokolov,колье из золота,necklaces,070558,9000.00,0.50,1.28,Второе украшение БЕСПЛАТНО! 1 = 2,7031.00,БК ПОДВЕС ДЕКОР,7 000 руб. - 8 000 руб.
885,10.07.2024,Sokolov,"браслет из золота, плетение сингапур, 585 проба",bracelets,552060602,15750.00,0.50,2.31,Второе украшение БЕСПЛАТНО! 1 = 2,6818.00,ЦБ БРАСЛЕТЫ,6 500 руб. - 7 000 руб.
1338,10.07.2024,Sokolov,серьги из желтого золота,earrings,140120-2,5850.00,0.50,0.89,Второе украшение БЕСПЛАТНО! 1 = 2,6573.00,БК СЕРЬГИ,6 500 руб. - 7 000 руб.
1252,10.07.2024,Sokolov,подвеска из золота,pendants,036669,5175.00,0.50,0.64,Второе украшение БЕСПЛАТНО! 1 = 2,8086.00,БК ПОДВЕС ДЕКОР,8 000 руб. - 9 000 руб.

# 2. Sunlight

In [110]:
df_sunlight = pd.read_csv(fr'{way}\sunlight\parsed_data\result\bk_sunlight_{date_now}.csv')

In [111]:
df_sunlight = df_sunlight.drop(columns=['index'])

In [112]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount
0,10.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена']
1,10.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена']
2,10.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена']
3,10.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена']
4,10.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена']

In [113]:
def get_params_from_dic(df):
    '''функция для разделения столбца "params" на отдельные столбцы'''
    spisok = []                                                           
    for c in df['params']:
        for i in c.keys():                                
            spisok.append(i)              
    spisok = set(spisok)
    for s in spisok:
        z = []
        for j in df['params']:
            try:
                z.append(j[s])
            except:
                z.append(np.nan)
        df[s] = z
        
    return df

In [114]:
df_sunlight['group'].unique()

array(['Серьги', 'Крест-подвеска', 'Шейное украшение', 'Цепи', 'Кольца',
       'Подвески', 'Колье', 'Браслеты', 'Ножной браслет', 'Серьга',
       'Пирсинг', 'Брошь', 'Булавка', 'Запонки', 'Зажимы для галстука',
       'Брелоки'], dtype=object)

In [115]:
# чтобы функция написанная выше работала, необходимо, чтобы столбец params стал снова словарем, это происходит благодаря функции eval()
df_sunlight['params'] = df_sunlight['params'].apply(lambda x: eval(x))
get_params_from_dic(df_sunlight)

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount,Ширина кольца,Плетение,Модель,Покрытие,Страна производства,Ширина браслета,Вставка,Вес изделия,Диаметр серег,Материал изделия,Ширина цепи
0,10.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,200100.16-1ш/з*,NaN,Россия,NaN,NaN,1.04 г,NaN,Розовое золото,NaN
1,10.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,200100.16-1ш/з*,NaN,Россия,NaN,NaN,1.04 г,NaN,Розовое золото,NaN
2,10.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,200100.16-1ш/з*,NaN,Россия,NaN,NaN,1.04 г,NaN,Розовое золото,NaN
3,10.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,200100.16-1ш/з*,NaN,Россия,NaN,NaN,1.04 г,NaN,Розовое золото,NaN
4,10.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,200100.16-1ш/з*,NaN,Россия,NaN,NaN,1.04 г,NaN,Розовое золото,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5558,10.07.2024,Sunlight,\n Золотой браслет\n,Браслеты,"{'Модель': '442-00-0180-31130*', 'Материал изд...",369510,344752,https://sunlight.net/catalog/bracelets_344752....,739 020 ₽,369 510 ₽,339 510 ₽,"['Скидки выше! Ещё -15%, код: НОЧЬ до 11:00']",NaN,Гарибальди,442-00-0180-31130*,NaN,Россия,"11,5 мм",NaN,54.34 г,NaN,Розовое золото,NaN
5559,10.07.2024,Sunlight,\n Золотая цепь\n,Цепи,"{'Модель': '342-00-0180-31130*', 'Материал изд...",1009790,344747,https://sunlight.net/catalog/chains_344747.html,2 019 579 ₽,1 009 790 ₽,979 790 ₽,"['Скидки выше! Ещё -15%, код: НОЧЬ до 11:00']",NaN,Гарибальди,342-00-0180-31130*,NaN,Россия,NaN,NaN,157.78 г,NaN,Розовое золото,"11,5 мм"
5560,10.07.2024,Sunlight,\n Золотая цепь\n,Цепи,"{'Модель': '342-00-0140-31130*', 'Материал изд...",632000,344746,https://sunlight.net/catalog/chains_344746.html,1 264 000 ₽,632 000 ₽,602 000 ₽,"['Скидки выше! Ещё -15%, код: НОЧЬ до 11:00']",NaN,Гарибальди,342-00-0140-31130*,NaN,Россия,NaN,NaN,97.23 г,NaN,Розовое золото,"8,0 мм"
5561,10.07.2024,Sunlight,\n Золотая цепь\n,Цепи,"{'Модель': '322-0Z-0090-31025*', 'Материал изд...",257300,344745,https://sunlight.net/catalog/chains_344745.html,514 600 ₽,257 300 ₽,227 300 ₽,"['Скидки выше! Ещё -15%, код: НОЧЬ до 11:00']",NaN,Гарибальди,322-0Z-0090-31025*,NaN,Россия,NaN,NaN,36.24 г,NaN,Розовое золото,"5,0 мм"
5562,10.07.2024,Sunlight,\n Золотая цепь\n,Цепи,"{'Модель': '01Ц012974Д*', 'Материал изделия': ...",127260,343469,https://sunlight.net/catalog/chains_343469.html,254 520 ₽,127 260 ₽,97 260 ₽,"['Скидки выше! Ещё -15%, код: НОЧЬ до 11:00']",NaN,NaN,01Ц012974Д*,NaN,Россия,NaN,NaN,15.52 г,NaN,Розовое золото,NaN

In [116]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount,Ширина кольца,Плетение,Модель,Покрытие,Страна производства,Ширина браслета,Вставка,Вес изделия,Диаметр серег,Материал изделия,Ширина цепи
0,10.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,200100.16-1ш/з*,NaN,Россия,NaN,NaN,1.04 г,NaN,Розовое золото,NaN
1,10.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,200100.16-1ш/з*,NaN,Россия,NaN,NaN,1.04 г,NaN,Розовое золото,NaN
2,10.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,200100.16-1ш/з*,NaN,Россия,NaN,NaN,1.04 г,NaN,Розовое золото,NaN
3,10.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,200100.16-1ш/з*,NaN,Россия,NaN,NaN,1.04 г,NaN,Розовое золото,NaN
4,10.07.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '200100.16-1ш/з*', 'Материал издели...",7990,271510,https://sunlight.net/catalog/earring_271510.html,NaN,7 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,200100.16-1ш/з*,NaN,Россия,NaN,NaN,1.04 г,NaN,Розовое золото,NaN

In [117]:
df_sunlight['Материал изделия'].value_counts(dropna=False)

Материал изделия
Розовое золото                                 4079
Желтое золото                                   633
Белое золото, Розовое золото                    517
Белое золото                                    182
NaN                                              59
Текстиль                                         37
Белое золото, Желтое золото                      20
Белое золото, Желтое золото, Розовое золото      20
Желтое золото, Розовое золото                    11
Серебро                                           5
Name: count, dtype: int64

In [118]:
df_sunlight['Материал изделия'] = df_sunlight['Материал изделия'].fillna('золото')

In [119]:
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Серебро'))]
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Текстиль'))]

In [120]:
df_sunlight = df_sunlight.drop(columns=['params', 'price_x', 'url',
                                'Ширина кольца', 'Страна производства',
                                'Ширина цепи', 'Плетение', 'Ширина браслета',
                                'Модель', 'Диаметр серег', 'Вставка', 'Покрытие', 'Материал изделия'], axis=1)

In [121]:
df_sunlight.columns

Index(['date', 'competitor', 'name', 'group', 'article', 'price_old',
       'price_y', 'price_personal', 'discount', 'Вес изделия'],
      dtype='object')

In [122]:
# переименновываем столбцы, чтобы у всех таблиц была единая система
df_sunlight.columns = ['date', 'competitor', 'name', 'group', 'url', 'price_old',
                    'price', 'price_personal', 'discount', 'weight']

In [123]:
df_sunlight['price_personal'].isna().sum()

1703

In [124]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].fillna(df_sunlight['price'])

In [125]:
df_sunlight['weight'] = df_sunlight['weight'].str.replace(' г', '')
df_sunlight['name'] = df_sunlight['name'].str.replace('\n', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].astype('float')
df_sunlight['price_personal'] = df_sunlight['price_personal'].astype('float')
df_sunlight['discount_for_dash'] = df_sunlight['discount']

In [126]:
df_sunlight['discount_for_dash'].isna().sum()

0

In [127]:
df_sunlight['discount_for_dash'].value_counts()

discount_for_dash
['ХИТ-цена']                                                                             1580
['Скидки выше! Ещё -15%, код: НОЧЬ до 11:00']                                            1453
['Скидки выше! Ещё -10%, код: НОЧЬ до 11:00']                                            1015
['Скидки выше! Ещё -20%, код: НОЧЬ до 11:00']                                             603
['Скидки выше! Ещё -5%, код: НОЧЬ до 11:00']                                              321
['Обручальные кольца 2=1 по коду: ПАРА']                                                  213
['Скидки выше! Ещё -25%, код: НОЧЬ до 11:00']                                             151
['ХИТ-цена', 'Выгодно! Цепи 4990 р/г']                                                    120
['Цены снижены! Ещё -15%, код: СЕГОДНЯ']                                                   30
['Скидки выше! Ещё -35%, код: НОЧЬ до 11:00']                                              21
[nan]                                                                                       6
['Скидки выше! Ещё -15%, код: НОЧЬ до 11:00', 'Ещё -10% здесь! Код: ВЫГОДА до 15.07']       2
['Скидки выше! Ещё -35%, код: НОЧЬ до 11:00', 'Ещё -25% здесь! Код: ВЫГОДА до 15.07']       2
['Скидки выше! Ещё -20%, код: НОЧЬ до 11:00', 'Ещё -15% здесь! Код: ВЫГОДА до 15.07']       2
['Скидки выше! Ещё -45%, код: НОЧЬ до 11:00', 'Ещё -35% здесь! Код: ВЫГОДА до 15.07']       1
['Скидки выше! Ещё -25%, код: НОЧЬ до 11:00', 'Ещё -5% здесь! Код: ВЫГОДА до 15.07']        1
Name: count, dtype: int64

In [128]:
def discount_value_sl(discount):
    '''у Sunlight купоны имеют скидку до 55%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '55%' in discount:
        return 0.45
    elif '50%' in discount:
        return 0.50
    elif '45%' in discount:
        return 0.55
    elif '40%' in discount:
        return 0.6
    elif '35%' in discount:
        return 0.65
    elif '30%' in discount:
        return 0.7
    elif '25%' in discount:
        return 0.75
    elif '20%' in discount:
        return 0.8
    elif '15%' in discount:
        return 0.85
    elif '10%' in discount:
        return 0.9 
    elif '-5%' in discount:
        return 0.95
    elif '1=2' in discount or '2=1' in discount:
        return 0.5
    return 1

df_sunlight['discount'] = df_sunlight['discount'].apply(discount_value_sl)

In [129]:
df_sunlight['discount'].value_counts(dropna=False)

discount
1.00    1706
0.85    1485
0.90    1015
0.80     605
0.95     321
0.50     213
0.75     152
0.65      23
0.55       1
Name: count, dtype: int64

In [130]:
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace("'", '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('[', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace(']', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('nan', 'нет скидочного купона')

In [131]:
df_sunlight['discount'] = df_sunlight['discount'].astype('float')

In [132]:
# применяем для каждого товара скидочный купон
# кроме тех строк, в которых есть информация, что это ХИТ-товар
df_sunlight['price_personal'] = np.where(
    df_sunlight['discount_for_dash'].str.contains('ХИТ'), df_sunlight['price'], df_sunlight['price'] * df_sunlight['discount']
)

In [133]:
df_sunlight['discount_for_dash'].value_counts()

discount_for_dash
ХИТ-цена                                                                           1580
Скидки выше! Ещё -15%, код: НОЧЬ до 11:00                                          1453
Скидки выше! Ещё -10%, код: НОЧЬ до 11:00                                          1015
Скидки выше! Ещё -20%, код: НОЧЬ до 11:00                                           603
Скидки выше! Ещё -5%, код: НОЧЬ до 11:00                                            321
Обручальные кольца 2=1 по коду: ПАРА                                                213
Скидки выше! Ещё -25%, код: НОЧЬ до 11:00                                           151
ХИТ-цена, Выгодно! Цепи 4990 р/г                                                    120
Цены снижены! Ещё -15%, код: СЕГОДНЯ                                                 30
Скидки выше! Ещё -35%, код: НОЧЬ до 11:00                                            21
нет скидочного купона                                                                 6
Скидки выше! Ещё -15%, код: НОЧЬ до 11:00, Ещё -10% здесь! Код: ВЫГОДА до 15.07       2
Скидки выше! Ещё -35%, код: НОЧЬ до 11:00, Ещё -25% здесь! Код: ВЫГОДА до 15.07       2
Скидки выше! Ещё -20%, код: НОЧЬ до 11:00, Ещё -15% здесь! Код: ВЫГОДА до 15.07       2
Скидки выше! Ещё -45%, код: НОЧЬ до 11:00, Ещё -35% здесь! Код: ВЫГОДА до 15.07       1
Скидки выше! Ещё -25%, код: НОЧЬ до 11:00, Ещё -5% здесь! Код: ВЫГОДА до 15.07        1
Name: count, dtype: int64

In [134]:
# после применения купона, цена по программе лояльности Sunlight может снизиться ещё до 30% от полученной суммы при помощи бонусных баллов
# мы считаем, что пользователь пользуется максимальным количеством бонусных баллов, применимых к товару
# это не распростроняется на фикс цены, о наличии которых мы можем понять по устойчивому "ХИТ-цена", но так же могут быть добавлены новые акции
# всегда стоит перед запуском скрипта ниже проверять вывод блока кода выше

for i in df_sunlight.index:
    if df_sunlight['discount_for_dash'][i] == "ХИТ-цена":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    elif df_sunlight['discount_for_dash'][i] == "ХИТ-цена, Выгодно! Цепи 4990 р/г":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    else:    
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] * 0.6

In [135]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
1460,10.07.2024,Sunlight,Золотой браслет,Браслеты,52670,NaN,14521.00,14521.00,1.00,2.91,"ХИТ-цена, Выгодно! Цепи 4990 р/г"
604,10.07.2024,Sunlight,Золотые серьги,Серьги,318782,139 980 ₽,69990.00,35694.90,0.85,4.82,"Скидки выше! Ещё -15%, код: НОЧЬ до 11:00"
3914,10.07.2024,Sunlight,Золотая серьга,Серьга,211756,16 980 ₽,8490.00,4329.90,0.85,0.58,"Скидки выше! Ещё -15%, код: НОЧЬ до 11:00"
622,10.07.2024,Sunlight,Золотые серьги,Серьги,988295,24 980 ₽,12490.00,5995.20,0.80,0.77,"Скидки выше! Ещё -20%, код: НОЧЬ до 11:00"
2295,10.07.2024,Sunlight,Золотое кольцо,Кольца,182134,NaN,8468.00,8468.00,1.00,1.16,ХИТ-цена

In [136]:
df_sunlight['price_personal'].isna().sum()

2

In [137]:
df_sunlight.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5521 entries, 0 to 5562
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               5521 non-null   object
 1   competitor         5521 non-null   object
 2   name               5521 non-null   object
 3   group              5521 non-null   object
 4   url                5521 non-null   int64
 5   price_old          3605 non-null   object
 6   price              5519 non-null   float64
 7   price_personal     5519 non-null   float64
 8   discount           5521 non-null   float64
 9   weight             5519 non-null   object
 10  discount_for_dash  5521 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 646.6+ KB

In [138]:
df_sunlight.sample()

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
4124,10.07.2024,Sunlight,Золотой браслет,Браслеты,339725,138 600 ₽,69300.00,39501.00,0.95,6.3,"Скидки выше! Ещё -5%, код: НОЧЬ до 11:00"

In [139]:
df_sunlight['weight'] = df_sunlight['weight'].astype(float)
df_sunlight = df_sunlight[df_sunlight['weight'] > 0.1]

In [140]:
df_sunlight.drop_duplicates(inplace=True)

In [141]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
2932,10.07.2024,Sunlight,Золотые серьги,Серьги,984108,83 980 ₽,41990.00,20155.20,0.80,3.07,"Скидки выше! Ещё -20%, код: НОЧЬ до 11:00"
5078,10.07.2024,Sunlight,Золотой браслет,Браслеты,181098,63 700 ₽,31850.00,16243.50,0.85,2.45,"Скидки выше! Ещё -15%, код: НОЧЬ до 11:00"
5534,10.07.2024,Sunlight,Золотой браслет,Браслеты,995169,140 400 ₽,70200.00,37908.00,0.90,6.95,"Скидки выше! Ещё -10%, код: НОЧЬ до 11:00"
3414,10.07.2024,Sunlight,Золотой браслет,Браслеты,105636,NaN,41660.00,41660.00,1.00,5.96,ХИТ-цена
5081,10.07.2024,Sunlight,Золотое шейное украшение,Шейное украшение,354828,341 020 ₽,170510.00,86960.10,0.85,14.45,"Скидки выше! Ещё -15%, код: НОЧЬ до 11:00"

In [142]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].round(0)

In [143]:
# проверяем корректность расчётов
df_sunlight[['price_personal','url']].sample(3)

      price_personal     url
3799         5870.00  341058
3062        58786.00   92841
5047        19435.00  983711

In [144]:
df_sunlight = df_sunlight.drop(columns=['price_old', 'price'])

In [145]:
df_sunlight['price_per_gramm'] = (df_sunlight['price_personal'] / df_sunlight['weight']).round(0)

In [146]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sunlight['tg'] = np.where(
    df_sunlight['group'].str.contains('Серьги|Серьга|Пирсинг'), 'СЕРЬГИ',
    np.where(
        df_sunlight['group'].str.contains('Цепи'), 'ЦЕПИ',
        np.where(
            ((df_sunlight['group'].str.contains('Подвески')) & (df_sunlight['name'].str.lower().str.contains('свят|божия|блаженная|господь|чудотворец|ангел|сергий|божья|георгий'))), 'ПОДВЕС КУЛЬТ',
            np.where(
                df_sunlight['group'].str.contains('Крест|Икона'), 'ПОДВЕС КУЛЬТ',
                np.where(
                    df_sunlight['group'].str.lower().str.contains('браслет'), 'БРАСЛЕТЫ', 
                    np.where(
                        ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное') == False)), 'КОЛЬЦА',
                        np.where(
                            ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ',
                            np.where(
                                df_sunlight['group'].str.contains('Подвески'), 'ПОДВЕС ДЕКОР', df_sunlight['group']
                            )
                        )
                    )
                )
            )
        )
    )
)

In [147]:
df_sunlight = df_sunlight[df_sunlight['tg'].str.contains('СЕРЬГИ|КОЛЬЦА|ПОДВЕС|БРАСЛЕТЫ|ЦЕПИ')] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [148]:
df_sunlight['price_case'] = np.where(
    df_sunlight['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sunlight['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sunlight['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sunlight['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sunlight['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sunlight['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sunlight['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [149]:
df_sunlight['tn'] = np.where(
    df_sunlight['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ', 'БК'
)

In [150]:
df_sunlight['tg'] = df_sunlight['tn'] + ' ' + df_sunlight['tg']

In [151]:
df_sunlight['price_per_gramm'].describe([0.05, 0.99])

count    3273.00
mean     6266.13
std      1249.39
min      3264.00
5%       4990.00
50%      6110.00
99%      8992.28
max     46729.00
Name: price_per_gramm, dtype: float64

In [152]:
df_sunlight = df_sunlight.drop(columns=['tn'])

In [153]:
df_sunlight.head(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,10.07.2024,Sunlight,Золотые серьги,Серьги,271510,7990.00,1.00,1.04,ХИТ-цена,7683.00,БК СЕРЬГИ,7 000 руб. - 8 000 руб.
6,10.07.2024,Sunlight,Золотые серьги,Серьги,271409,8990.00,1.00,1.10,ХИТ-цена,8173.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
12,10.07.2024,Sunlight,Золотые серьги,Серьги,235978,20990.00,1.00,2.36,ХИТ-цена,8894.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
18,10.07.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,74404,7990.00,1.00,0.99,ХИТ-цена,8071.00,БК ПОДВЕС КУЛЬТ,8 000 руб. - 9 000 руб.
30,10.07.2024,Sunlight,Золотая цепь,Цепи,35525,18528.00,1.00,3.20,ХИТ-цена,5790.00,ЦБ ЦЕПИ,5 500 руб. - 6 000 руб.

In [154]:
df_sunlight = df_sunlight.drop_duplicates()

In [155]:
Sunlight = (df_sunlight['price_personal'].sum() / df_sunlight['weight'].sum()).round(0)
print(Sunlight)

5808.0

# 3. 585*Золотой онлайн остатки

In [171]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime) # мы ищем тут последний выгруженный файл (занимается выгрузкой Оризу Наталья email: Orizu.Natalya@zolotoy.ru)

df = pd.read_excel(latest_file)

In [172]:
latest_file # если последний файл - не за сегодняшнюю/вчерашнюю дату, стоит запросить актуальную выгрузку

'\\\\gold585.int\\uk\\Общее хранилище файлов\\Служба аналитики\\МЮР\\ecom_stock_raw\\Остатки 2024.07.10.xlsx'

In [173]:
df.fineness.unique()

array([925., 375., 585.,  nan, 750., 999., 944., 945., 946., 947., 937.,
       938., 939., 931., 932., 933., 926., 928., 929., 930., 948., 949.,
       950., 951., 927., 934., 935., 936., 960., 961., 962., 963., 964.,
       956., 957., 958., 959., 875.])

In [174]:
df['published'].value_counts(dropna=False)

published
True     163162
False     35051
Name: count, dtype: int64

In [175]:
df['product_line'].unique()

array(['СИ', 'ПДК', 'ДК', 'ФУТЛЯРЫ', 'ДФРС', 'ЦБ', 'ЧАСЫ', 'ИФ', 'БК',
       'ВЫРИЦА', 'БИЖУТЕРИЯ', nan, 'БУ'], dtype=object)

In [176]:
df = df[(df['fineness'] == 585) & (df['product_line'].str.contains('ФУТЛЯРЫ|ДФРС|ВЫРИЦА|ЧАСЫ|БИЖУТЕРИЯ|БУ') == False)]

In [177]:
df = df[(df['product_group'].str.contains('БК КОЛЬЦА')|
        df['product_group'].str.contains('БК КОЛЬЦА ОБРУЧ')|
        df['product_group'].str.contains('ЦБ БРАСЛЕТЫ')|
        df['product_group'].str.contains('БК СЕРЬГИ')|
        df['product_group'].str.contains('БК ПОДВЕС КУЛЬТ')|
        df['product_group'].str.contains('БК ПОДВЕС ДЕКОР')|
        df['product_group'].str.contains('ЦБ ЦЕПИ'))]

In [178]:
df = df.drop(columns=['Unnamed: 15', '*без франчайзинговых магазинов и Румянцево'])

In [179]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\discounts_zolotoy\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)

discount = pd.read_excel(latest_file)

In [180]:
discount.sample(3)

,Артикул сайта,Опубликован,discount_value_promotions_1,discount_value_promotions_2,discount_value_promotions_3,discount_value_promotions_4
1676,1025266,False,-,-,-,-
36335,1556294,False,35,-,-,-
132998,3863507,False,-,-,-,-

In [181]:
discount.columns = ['article', 'Опубликован', 'discount_value_promotions_1', 'discount_value_promotions_2',	'discount_value_promotions_3', 'discount_value_promotions_4']

In [182]:
df = df.merge(discount, how='left', on='article')

In [183]:
df = df[(df['published'] == 'ИСТИНА') | (df['published'] == True)]

In [184]:
df = df.drop(columns=['weaving', 'Unnamed: 14', 'name'])

In [185]:
df.columns

Index(['article', 'size', 'published', 'product_line', 'product_group',
       'material', 'type3', 'fineness', 'avg_weight', 'price',
       'discount_price', 'Остатки, шт*', 'Опубликован',
       'discount_value_promotions_1', 'discount_value_promotions_2',
       'discount_value_promotions_3', 'discount_value_promotions_4'],
      dtype='object')

In [186]:
df.columns = ['article', 'size', 'published', 'product_line', 'product_group',
            'material', 'type3', 'fineness', 'avg_weight', 'price',
            'discount_price', 'Остатки, шт*', 'type3', 
            'discount_value_promotions_1', 'discount_value_promotions_2',	'discount_value_promotions_3', 'discount_value_promotions_4']

In [187]:
def discount_index(discount):
    try:
        return 1 - discount / 100
    except:
        return 1

In [188]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.apply(discount_index)

In [189]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.fillna(1)

In [190]:
df = df.dropna(subset=['avg_weight', 'discount_value_promotions_1'])

In [191]:
df['price_personal'] = np.where(
    (df['price'] == df['discount_price']) & (df['discount_value_promotions_1'] == 1), df['discount_price'] * df['discount_value_promotions_1'], 
    np.where(
        df['discount_value_promotions_1'] == 0.5, df['discount_price'] * df['discount_value_promotions_1'], df['discount_price'] * df['discount_value_promotions_1'] * 0.8
    )
)

In [192]:
# df = df.drop_duplicates(subset=['article'])

In [193]:
bez_hit = df[df['discount_value_promotions_1'] != 1].groupby('product_group', as_index=False)[['price_personal', 'avg_weight']].agg({'price_personal':'sum', 'avg_weight':'sum'})
bez_hit['price_per_gram'] = bez_hit['price_personal'] / bez_hit['avg_weight']

In [194]:
bez_hit

     product_group  price_personal  avg_weight  price_per_gram
0        БК КОЛЬЦА     21065042.40     3482.79         6048.32
1  БК КОЛЬЦА ОБРУЧ     64437640.80    10576.18         6092.71
2  БК ПОДВЕС ДЕКОР      2635435.20      425.54         6193.16
3  БК ПОДВЕС КУЛЬТ      7756489.60     1241.25         6248.93
4        БК СЕРЬГИ     21187123.20     3365.26         6295.84
5      ЦБ БРАСЛЕТЫ     61374140.00     9885.31         6208.62
6          ЦБ ЦЕПИ     97438719.20    15685.93         6211.85

In [195]:
zolotoy = df.groupby('product_group', as_index=False)[['price_personal', 'avg_weight']].agg({'price_personal':'sum', 'avg_weight':'sum'})
zolotoy['price_per_gram'] = zolotoy['price_personal'] / zolotoy['avg_weight']

In [196]:
stock_ecom = zolotoy['price_personal'].sum() / zolotoy['avg_weight'].sum()
print(stock_ecom)

6228.502115177296

In [197]:
zolotoy['date'] = pd.to_datetime(date_now, dayfirst=True)

In [198]:
zolotoy = zolotoy.drop(columns=['price_personal', 'avg_weight', 'date'])

In [199]:
zolotoy.columns = ['tg', '585*Золотой онлайн остатки Максимальный промокод+20%']

In [200]:
# df = df.drop_duplicates(subset=['article'])

In [201]:
df['date'] = pd.to_datetime(date_now, dayfirst=True)
df['competitor'] = '585*Золотой'
df['price_per_gramm'] = df['price_personal'] / df['avg_weight']

In [202]:
df['price_case'] = np.where(
    df['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [203]:
df = df[['date', 'competitor', 'avg_weight', 'price_personal', 'product_group', 'price_per_gramm', 'discount_value_promotions_1', 'article', 'price_case']]
df.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [204]:
data_history = pd.DataFrame({'date': [pd.to_datetime(date_now, dayfirst=True)],
                            'competitor': ['585*Золотой'],
                            'avg_ppg': [int(df['price_personal'].sum() / df['weight'].sum())]})

# 4. 585*Золотой оффлайн остатки

In [205]:
# SQL-скрипт ниже выгружает данные по остаткам с БД Staging, доступ к ней выдаётся по учётной записи Windows по согласованию

conn = pymssql.connect(server='AX-SQL', database='Staging')
cursor = conn.cursor()

sql = f'''
SELECT [Код склада], [Название склада], [Цена Закупки за 1 шт. (упр сс с НДС за единицу)], [Группа цен],
[Товарное направление], [Товарная группа], [Проба], [Цена Розн., за шт],  [Запрет скидки],
[Код товара],  [Артикул поставщика], [Чистый вес], [ШК], [Общий вес], [Скидка на изделии], [Тип изделия 1], 
[ID Сайта]
from [Staging].[Reports].[Remainings_8h]
where [Товарное направление] in (N'БК', N'ЦБ')
'''

sql_query = pd.read_sql_query(sql, conn)
stock = pd.DataFrame(sql_query)

In [206]:
stock.sample(5)

,Код склада,Название склада,Цена Закупки за 1 шт. (упр сс с НДС за единицу),Группа цен,Товарное направление,Товарная группа,Проба,"Цена Розн., за шт",Запрет скидки,Код товара,Артикул поставщика,Чистый вес,ШК,Общий вес,Скидка на изделии,Тип изделия 1,ID Сайта
151382,5902,"Нальчик, улица Ленина,41",19766.21,ЦБ_ПУСТОТЕЛЫЕ >3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,89376.00,Нет,ТОВ01260804,331-01-0060-30176,5.32,2078608634562,5.32,15.00,ЦЕПЬ,2246822
180291,4654,"Армавир, Ленина, 105 (ДУБЛЬ)",14490.11,ЦБ_ПУСТОТЕЛЫЕ >3 ГРАММ,ЦБ,ЦБ БРАСЛЕТЫ,585,55104.00,Нет,ТОВ0964011,"НБ12-200ПГ D0,80",3.28,2078609304487,3.28,10.00,БРАСЛЕТ,3929471
1195725,4433,Рассказово ул Куйбышевский проезд 8/1 (ДУБЛЬ),8547.46,ИФ.БК_СР,БК,БК КОЛЬЦА ОБРУЧ,585,50828.00,Нет,ТОВ0832938,КО 05-00,2.62,2078607103916,2.62,24.00,КОЛЬЦО ОБРУЧАЛЬНОЕ,2002948
1053322,3752,Регент Голд ОПТ,12684.42,ЦБ_АВТОМАТ >3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,NaN,Нет,ТОВ0226250,"НЦ12-089 D1,50",3.44,2078611078791,3.44,0.00,ЦЕПЬ,8330434
579444,4804,"Кингисепп, Карла Маркса, 42, ТРК « CUBUS»",7196.66,ЦБ_ПУСТОТЕЛЫЕ <=3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,35432.00,Нет,ТОВ01260570,311-01-0040-30087,2.06,2078606565033,2.06,15.00,ЦЕПЬ,1593106

In [207]:
stock['Код склада'] = stock['Код склада'].astype('float64')

In [208]:
stock

,Код склада,Название склада,Цена Закупки за 1 шт. (упр сс с НДС за единицу),Группа цен,Товарное направление,Товарная группа,Проба,"Цена Розн., за шт",Запрет скидки,Код товара,Артикул поставщика,Чистый вес,ШК,Общий вес,Скидка на изделии,Тип изделия 1,ID Сайта
0,5895.00,"Ленинск-Кузнецкий, Телефонная, 13,ТЦ «Фабрика""",3661.58,ИФ.БК_СР,БК,БК ПОДВЕС КУЛЬТ,585,23332.00,Нет,ТОВ1262592,51-00-0000-11720,1.52,2078602193120,1.52,14.00,ПОДВЕС КУЛЬТОВЫЙ,1570911
1,5895.00,"Ленинск-Кузнецкий, Телефонная, 13,ТЦ «Фабрика""",3183.46,ИФ.БК_СР,БК,БК ПОДВЕС КУЛЬТ,585,19130.00,Нет,ТОВ1262593,51-00-0000-11721,1.12,2078602215847,1.12,34.00,ПОДВЕС КУЛЬТОВЫЙ,1725746
2,5895.00,"Ленинск-Кузнецкий, Телефонная, 13,ТЦ «Фабрика""",3695.43,ИФ.БК_СР,БК,БК ПОДВЕС КУЛЬТ,585,19955.00,Нет,ТОВ1262594,51-00-0000-11722,1.30,2078602216088,1.30,14.00,ПОДВЕС КУЛЬТОВЫЙ,1607191
3,5895.00,"Ленинск-Кузнецкий, Телефонная, 13,ТЦ «Фабрика""",4077.68,ИФ.БК_СР,БК,БК ПОДВЕС КУЛЬТ,585,21030.00,Нет,ТОВ1262595,51-00-0000-11723,1.37,2078602183310,1.37,14.00,ПОДВЕС КУЛЬТОВЫЙ,1668867
4,5895.00,"Ленинск-Кузнецкий, Телефонная, 13,ТЦ «Фабрика""",5151.90,ИФ.БК_СР,БК,БК ПОДВЕС КУЛЬТ,585,27784.00,Нет,ТОВ1262596,51-00-0000-11724,1.81,2078602216973,1.81,14.00,ПОДВЕС КУЛЬТОВЫЙ,1621987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1497457,3963.00,"Ярославль, пос.Нагорный, Дорожная, 6а, ТРК «Яр...",17191.07,ЦБ_АВТОМАТ >3 ГРАММ,ЦБ,ЦБ БРАСЛЕТЫ,585,90048.00,Нет,ТОВ1290041,БР 62-26,5.36,2078606033539,5.36,11.00,БРАСЛЕТ,1271102
1497458,3963.00,"Ярославль, пос.Нагорный, Дорожная, 6а, ТРК «Яр...",11908.15,ЦБ_ПУСТОТЕЛЫЕ <=3 ГРАММ,ЦБ,ЦБ БРАСЛЕТЫ,585,50828.00,Нет,ТОВ1291723,"НБ12-200ПГ D0,70",2.63,2078609867964,2.62,22.00,БРАСЛЕТ,1182395
1497459,3963.00,"Ярославль, пос.Нагорный, Дорожная, 6а, ТРК «Яр...",8905.22,ЦБ_АВТОМАТ <=3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,55290.00,Нет,ТОВ1291742,ЦР230А2-А51,2.85,2078605539848,2.85,22.00,ЦЕПЬ,1310802
1497460,3963.00,"Ярославль, пос.Нагорный, Дорожная, 6а, ТРК «Яр...",33055.33,ЦБ_РУЧНОЕ ПЛЕТЕНИЕ >3 ГРАММ,ЦБ,ЦБ БРАСЛЕТЫ,585,126672.00,Нет,ТОВ1291745,41-07060-11,7.54,2078608214988,7.54,11.00,БРАСЛЕТ,3457008
1497461,3963.00,"Ярославль, пос.Нагорный, Дорожная, 6а, ТРК «Яр...",10657.83,ИФ.БК_ДОР,БК,БК ПОДВЕС КУЛЬТ,585,53424.00,Нет,ТОВ1322974,35-0792-17-00,3.18,2078609600429,3.18,20.00,ПОДВЕС КУЛЬТОВЫЙ,1511357

In [209]:
stock['date'] = pd.to_datetime(date_now, dayfirst=True)
stock['competitor'] = '585*Золотой оффлайн'
stock['discount_for_dash'] = 0.8 * 0.6 # скидка непостоянная, информация о скидке всегда приходит на почту в конце месяца

In [210]:
stock = stock[['date', 'competitor', 'ID Сайта', 'Цена Розн., за шт', 'Запрет скидки', 'Чистый вес', 'discount_for_dash', 'Товарная группа', 'Скидка на изделии']]

In [211]:
stock.columns = ['date', 'competitor', 'url', 'price', 'discount', 'weight', 'discount_for_dash', 'tg', 'skidka']

In [212]:
tgs = ['БК СЕРЬГИ', 'ЦБ БРАСЛЕТЫ', 'ЦБ ЦЕПИ', 'БК КОЛЬЦА ОБРУЧ', 'БК ПОДВЕС КУЛЬТ', 'БК ПОДВЕС ДЕКОР', 'БК КОЛЬЦА']
stock = stock.query('tg in @tgs')

In [213]:
stock['price_personal'] = np.where(
    stock['discount'] == 'Да', stock['price'], stock['price'] * stock['discount_for_dash'] * (1 - (stock['skidka'] / 100))
)

In [214]:
stock['price_per_gramm'] = stock['price_personal'] / stock['weight']

In [215]:
gold_stock = stock.groupby(by = 'tg', as_index = False)[['price_personal', 'weight']].agg('sum')
gold_stock['price_per_gramm'] = gold_stock['price_personal'] / gold_stock['weight']

In [216]:
stock['price_case'] = np.where(
    stock['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (stock['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (stock['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (stock['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (stock['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (stock['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (stock['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [217]:
stock = stock[['date', 'competitor', 'url', 'price_personal', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]
stock.columns = ['date_', 'competitor', 'url', 'price_personal', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']

In [218]:
stock_price_pl = ((gold_stock['price_personal']).sum() / gold_stock['weight'].sum()).round(0)
print('Средняя цена остатков офлайн ПЛ: ', stock_price_pl)

Средняя цена остатков офлайн ПЛ:  6001.0

In [219]:
gold_stock = gold_stock[['tg', 'price_per_gramm']]

In [220]:
gold_stock.columns = ['tg', '585*Золотой оффлайн остатки 40%+20%']

In [221]:
gold_stock

                tg  585*Золотой оффлайн остатки 40%+20%
0        БК КОЛЬЦА                              6039.67
1  БК КОЛЬЦА ОБРУЧ                              5969.18
2  БК ПОДВЕС ДЕКОР                              6351.84
3  БК ПОДВЕС КУЛЬТ                              6021.05
4        БК СЕРЬГИ                              5994.96
5      ЦБ БРАСЛЕТЫ                              6022.58
6          ЦБ ЦЕПИ                              5986.65

# 5. Соединение таблиц для дашборда

In [222]:
data_all = pd.concat([df_sokolov, df_sunlight], ignore_index=True)

In [223]:
data_all['date'].fillna(f'{day_now}-{month_now}-{year_now}', inplace=True)

In [224]:
data_all['date'].unique()

array(['10.07.2024'], dtype=object)

In [225]:
data_all['date'] = pd.to_datetime(date_now, dayfirst=True)

In [226]:
data_all.date.unique()

<DatetimeArray>
['2024-07-10 00:00:00']
Length: 1, dtype: datetime64[ns]

In [227]:
data_all

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,2024-07-10,Sokolov,кольцо обручальное из золота,rings,110260,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
1,2024-07-10,Sokolov,кольцо обручальное из белого золота,rings,110260-3,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
2,2024-07-10,Sokolov,кольцо обручальное из золота,rings,110261,12990.00,1.00,1.63,ШОК-ЦЕНА,7969.00,БК КОЛЬЦА ОБРУЧ,7 000 руб. - 8 000 руб.
3,2024-07-10,Sokolov,кольцо из белого золота,rings,110262-3,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА,8 000 руб. - 9 000 руб.
4,2024-07-10,Sokolov,кольцо из золота,rings,019424,7990.00,1.00,1.09,ШОК-ЦЕНА,7330.00,БК КОЛЬЦА,7 000 руб. - 8 000 руб.
...,...,...,...,...,...,...,...,...,...,...,...,...
4759,2024-07-10,Sunlight,Золотой браслет,Браслеты,344752,188450.00,0.85,54.34,"Скидки выше! Ещё -15%, код: НОЧЬ до 11:00",3468.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.
4760,2024-07-10,Sunlight,Золотая цепь,Цепи,344747,514993.00,0.85,157.78,"Скидки выше! Ещё -15%, код: НОЧЬ до 11:00",3264.00,ЦБ ЦЕПИ,до 5 500 руб.
4761,2024-07-10,Sunlight,Золотая цепь,Цепи,344746,322320.00,0.85,97.23,"Скидки выше! Ещё -15%, код: НОЧЬ до 11:00",3315.00,ЦБ ЦЕПИ,до 5 500 руб.
4762,2024-07-10,Sunlight,Золотая цепь,Цепи,344745,131223.00,0.85,36.24,"Скидки выше! Ещё -15%, код: НОЧЬ до 11:00",3621.00,ЦБ ЦЕПИ,до 5 500 руб.
4763,2024-07-10,Sunlight,Золотая цепь,Цепи,343469,64903.00,0.85,15.52,"Скидки выше! Ещё -15%, код: НОЧЬ до 11:00",4182.00,ЦБ ЦЕПИ,до 5 500 руб.

In [228]:
data_history_gold = data_history

In [229]:
# группируем общую таблицу для добавления данных о изменении стоимости за грамм по дате
data_history = data_all.groupby('competitor', as_index=False)[['weight', 'price_personal']].agg('sum')
data_history['price_per_gramm'] = (data_history['price_personal'] / data_history['weight']).round(0)
data_history.insert(0, 'date', f'{date_now}')
data_history = data_history.drop(columns=['weight', 'price_personal'], axis=1)
data_history['num_shop'] = '_' + data_history['competitor']

In [230]:
data_history = data_history.drop(columns=['num_shop'])
data_history.columns = ['date', 'competitor', 'avg_ppg']

In [231]:
data_history['date'] = pd.to_datetime(date_now, dayfirst=True)

In [232]:
data_history = pd.concat([data_history_gold, data_history], ignore_index=True)

In [233]:
data_history.to_sql('avg_ppg_for_monthly_monitoring', engine, schema = 'yura', if_exists='append', index = False)

3

In [234]:
data_all.to_excel(rf'{report_folder}\Данные парсинга\bk_sokolov_sunlight_{date_now}.xlsx', index=False)

In [235]:
data_all = data_all.drop(columns=['name', 'discount', 'group'])

In [236]:
data_all = data_all[['date', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']]

In [237]:
data_all.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [238]:
data_all['date_'] = pd.to_datetime(date_now, dayfirst=True)

In [239]:
# группировка полученных данных для отчёта

In [240]:
df_tn_sokolov = df_sokolov.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sokolov['price_per_gram'] = df_tn_sokolov['price_personal'] / df_tn_sokolov['weight']

In [241]:
df_tn_sunlight = df_sunlight.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sunlight['price_per_gram'] = df_tn_sunlight['price_personal'] / df_tn_sunlight['weight']

In [242]:
df_tn_sunlight = df_tn_sunlight.drop(columns=['price_personal', 'weight'])
df_tn_sunlight.columns = ['tg', 'Sunlight']

In [243]:
df_tn_sokolov = df_tn_sokolov.drop(columns=['price_personal', 'weight'])
df_tn_sokolov.columns = ['tg', 'Sokolov']

In [244]:
df_sunlight

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,10.07.2024,Sunlight,Золотые серьги,Серьги,271510,7990.00,1.00,1.04,ХИТ-цена,7683.00,БК СЕРЬГИ,7 000 руб. - 8 000 руб.
6,10.07.2024,Sunlight,Золотые серьги,Серьги,271409,8990.00,1.00,1.10,ХИТ-цена,8173.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
12,10.07.2024,Sunlight,Золотые серьги,Серьги,235978,20990.00,1.00,2.36,ХИТ-цена,8894.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
18,10.07.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,74404,7990.00,1.00,0.99,ХИТ-цена,8071.00,БК ПОДВЕС КУЛЬТ,8 000 руб. - 9 000 руб.
30,10.07.2024,Sunlight,Золотая цепь,Цепи,35525,18528.00,1.00,3.20,ХИТ-цена,5790.00,ЦБ ЦЕПИ,5 500 руб. - 6 000 руб.
...,...,...,...,...,...,...,...,...,...,...,...,...
5558,10.07.2024,Sunlight,Золотой браслет,Браслеты,344752,188450.00,0.85,54.34,"Скидки выше! Ещё -15%, код: НОЧЬ до 11:00",3468.00,ЦБ БРАСЛЕТЫ,до 5 500 руб.
5559,10.07.2024,Sunlight,Золотая цепь,Цепи,344747,514993.00,0.85,157.78,"Скидки выше! Ещё -15%, код: НОЧЬ до 11:00",3264.00,ЦБ ЦЕПИ,до 5 500 руб.
5560,10.07.2024,Sunlight,Золотая цепь,Цепи,344746,322320.00,0.85,97.23,"Скидки выше! Ещё -15%, код: НОЧЬ до 11:00",3315.00,ЦБ ЦЕПИ,до 5 500 руб.
5561,10.07.2024,Sunlight,Золотая цепь,Цепи,344745,131223.00,0.85,36.24,"Скидки выше! Ещё -15%, код: НОЧЬ до 11:00",3621.00,ЦБ ЦЕПИ,до 5 500 руб.
5562,10.07.2024,Sunlight,Золотая цепь,Цепи,343469,64903.00,0.85,15.52,"Скидки выше! Ещё -15%, код: НОЧЬ до 11:00",4182.00,ЦБ ЦЕПИ,до 5 500 руб.

In [245]:
result = pd.merge(df_tn_sokolov, df_tn_sunlight, how='left', on='tg').merge(zolotoy, how='left', on='tg').merge(gold_stock, how='left', on='tg') # объединяем данные в одну табличку

In [246]:
result

,tg,Sokolov,Sunlight,585*Золотой онлайн остатки Максимальный промокод+20%,585*Золотой оффлайн остатки 40%+20%
0,БК КОЛЬЦА,6528.60,6074.36,5949.23,6039.67
1,БК КОЛЬЦА ОБРУЧ,6127.42,5367.66,5827.91,5969.18
2,БК ПОДВЕС ДЕКОР,6766.59,6323.76,5795.27,6351.84
3,БК ПОДВЕС КУЛЬТ,6897.93,6326.43,6141.91,6021.05
4,БК СЕРЬГИ,6505.04,6388.27,6234.80,5994.96
5,ЦБ БРАСЛЕТЫ,6761.48,5645.93,6363.19,6022.58
6,ЦБ ЦЕПИ,6649.80,5183.74,6414.83,5986.65

# 6. Расчёт наценки

In [247]:
cookies = {
    '__ddg1_': 'XgGmRRFfNl9J83C2HQq2',
    '__RequestVerificationToken': '5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
}

headers = {
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7',
    'accept-language': 'ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7',
    'cache-control': 'max-age=0',
    # 'cookie': '__ddg1_=XgGmRRFfNl9J83C2HQq2; __RequestVerificationToken=5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
    'priority': 'u=0, i',
    'sec-ch-ua': '"Google Chrome";v="125", "Chromium";v="125", "Not.A/Brand";v="24"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'document',
    'sec-fetch-mode': 'navigate',
    'sec-fetch-site': 'cross-site',
    'sec-fetch-user': '?1',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36',
}

response = requests.get('https://mfd.ru/centrobank/preciousmetals/', cookies=cookies, headers=headers).text

In [248]:
soup = bs(response, 'html.parser')

In [249]:
# данные ниже могут меняться
price_ = float(soup.find('table', class_='mfd-table').find('tbody').find('td', class_='mfd-item-date').findNext('td').text.strip()[:7]) * 0.585
ugar = 0.03 
workprice = 150 
nds = 0.2

In [250]:
costprice = (price_/(1-ugar)+workprice)*(1 + nds)

In [251]:
stock_for_dash = stock.drop_duplicates(subset=['url'])

In [252]:
data_all = pd.concat([data_all, df, stock_for_dash], ignore_index=True)

In [253]:
data_all['markup'] = (data_all['price_personal'] / (costprice * data_all['weight'])) - 1

In [254]:
data_all['markup'] = data_all['markup'].astype(str)
data_all = data_all[data_all['markup'] != 'inf']
data_all['markup'] = data_all['markup'].astype(float)

In [255]:
data_all['date_'] = pd.to_datetime(date_now, dayfirst=True)

In [256]:
data_all1 = data_all.drop(columns=['markup'])

In [257]:
data_all1.to_sql('price_per_gramm', engine, schema = 'yura', if_exists='append', index = False)

610

In [258]:
data_all = data_all.dropna(subset=['markup'])

In [259]:
costprice_offline = data_all[data_all['competitor'] == '585*Золотой оффлайн'].groupby(by = 'tg', as_index = False)['markup'].mean()
costprice_offline.columns = ['tg', 'markup_a']

In [260]:
costprice_ = data_all[data_all['competitor'] == 'Sunlight'].groupby(by = 'tg', as_index = False)['markup'].mean().\
    merge(data_all[data_all['competitor'] == 'Sokolov'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg').\
        merge(data_all[data_all['competitor'] == '585*Золотой'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg')

In [261]:
costprice_ = costprice_.merge(costprice_offline, how='left', on='tg')

In [262]:
costprice_

                tg  markup_x  markup_y  markup  markup_a
0        БК КОЛЬЦА      0.19      0.31    0.18      0.12
1  БК КОЛЬЦА ОБРУЧ      0.07      0.22    0.16      0.07
2  БК ПОДВЕС ДЕКОР      0.32      0.40    0.16      0.16
3  БК ПОДВЕС КУЛЬТ      0.30      0.49    0.23      0.21
4        БК СЕРЬГИ      0.27      0.33    0.24      0.19
5      ЦБ БРАСЛЕТЫ      0.19      0.38    0.21      0.20
6          ЦБ ЦЕПИ      0.20      0.34    0.24      0.17

In [263]:
costprice_.columns = ['Товарная группа', 'Наценка Sunlight', 'Наценка Sokolov', 'Наценка 585*Золотой онлайн', 'Наценка 585*Золотой оффлайн']

In [264]:
costprice_['Дата'] = pd.to_datetime(date_now, dayfirst=True)

In [265]:
costprice_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Товарная группа              7 non-null      object
 1   Наценка Sunlight             7 non-null      float64
 2   Наценка Sokolov              7 non-null      float64
 3   Наценка 585*Золотой онлайн   7 non-null      float64
 4   Наценка 585*Золотой оффлайн  7 non-null      float64
 5   Дата                         7 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 468.0+ bytes

In [266]:
costprice_

,Товарная группа,Наценка Sunlight,Наценка Sokolov,Наценка 585*Золотой онлайн,Наценка 585*Золотой оффлайн,Дата
0,БК КОЛЬЦА,0.19,0.31,0.18,0.12,2024-07-10
1,БК КОЛЬЦА ОБРУЧ,0.07,0.22,0.16,0.07,2024-07-10
2,БК ПОДВЕС ДЕКОР,0.32,0.40,0.16,0.16,2024-07-10
3,БК ПОДВЕС КУЛЬТ,0.30,0.49,0.23,0.21,2024-07-10
4,БК СЕРЬГИ,0.27,0.33,0.24,0.19,2024-07-10
5,ЦБ БРАСЛЕТЫ,0.19,0.38,0.21,0.20,2024-07-10
6,ЦБ ЦЕПИ,0.20,0.34,0.24,0.17,2024-07-10

In [267]:
costprice_.to_sql('costprice_sklv_sl', engine, schema = 'yura', if_exists='append', index = False)

7

# 7. Обработка данных по продажам оффлайн и онлайн

Продажи 585*Золотой онлайн

In [268]:
way = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Илларионов\Выгрузка Еком\\'

In [269]:
data_IM = pd.read_excel(rf'{way}\{month_now}.{year_now}_продажи еком.xlsx')

In [270]:
# смотрим продажи с последнего мониторинга
data = dt.datetime.isoweekday(dt.date.today())
if data == 1:
    last_monitoring = (dt.date.today() - dt.timedelta(days=3)).strftime('%Y-%m-%d')
else:
    last_monitoring = (dt.date.today() - dt.timedelta(days=2)).strftime('%Y-%m-%d')
    
data_IM = data_IM[data_IM['created'] >= f'{last_monitoring}']

In [271]:
data_IM = data_IM.drop_duplicates()
data_IM = data_IM.reset_index(drop=True)

data_IM = data_IM[(data_IM['state_order'] != 'returned') & (data_IM['state_order'] != 'canceled')]
data_IM = data_IM[~((data_IM['delivery_type'] == 'PICKUP_NOW') & (data_IM['payment_type'] == 'CASHIER') & (data_IM['type_ibox'] == 'CASHIER'))|
                ((data_IM['delivery_type'] == 'PICKUP') & (data_IM['payment_type'] == 'CASHIER') & (data_IM['type_ibox'] == 'CASHIER'))]

In [272]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'], format = '%Y-%m-%d')

In [273]:
def str_float(row):
    row = str(row)
    row = row.replace(',','.')
    return row

data_IM['price'] = data_IM['price'].apply(str_float)
data_IM['price'] = data_IM['price'].astype(float)

data_IM['avg_net_weight'] = data_IM['avg_net_weight'].apply(str_float)
data_IM['avg_net_weight'] = data_IM['avg_net_weight'].astype(float)

In [274]:
data_IM = data_IM[data_IM['price'] > 1].reset_index(drop=True)
data_IM = data_IM[data_IM['avg_net_weight'] > 0].reset_index(drop=True)

In [275]:
data_IM['Товарное направление'] = np.where(
    data_IM['tg'].isin(['БК ПОДВЕС КУЛЬТ', 'БК СЕРЬГИ', 'БК КОЛЬЦА','БК КОЛЬЦА ОБРУЧ','БК ПОДВЕС ДЕКОР',  'БК ПЕЧАТКИ','БК АКСЕССУАРЫ','ОПТ БК']), 'БК',
    np.where(
        data_IM['tg'].isin(['ПДК СЕРЬГИ', 'ПДК КОЛЬЦА','ПДК ПОДВЕСКИ']), 'ПДК',
        np.where(
            data_IM['tg'].isin(['ДК СЕРЬГИ',  'ДК КОЛЬЦА',    'ДК ПОДВЕСКИ',    'ДК КОЛЬЦА ОБРУЧ']), 'ДК',
            np.where(
                data_IM['tg'].isin(['ИФ СЕРЬГИ',  'ИФ КОЛЬЦА', 'ИФ ПОДВЕС ДЕКОР', 'ИФ ПЕЧАТКИ', 'ИФ ПОДВЕС КУЛЬТ','ИФ КОЛЬЦА ОБРУЧ','ИФ АКСЕССУАРЫ']), 'ИФ',
                np.where(
                    data_IM['tg'].isin(['ЦБ ЦЕПИ', 'ЦБ БРАСЛЕТЫ']), 'ЦБ',
                    np.where(
                        data_IM['tg'].isin(['СИ ПОДВЕС БК','СИ КОЛЬЦО ИФ','СИ БРАСЛЕТ БК','СИ КОЛЬЦО БК','СИ ЦЕПЬ','СИ СЕРЬГИ БК','СИ СЕРЬГИ ИФ','СИ ПОДВЕС ИФ',
                                            'СИ СЕРЬГИ РАЗН','СИ СЕРЬГИ ЦВ/К',\
                                            'СИ КОЛЬЦО ЦВ/К','','СИ ШАРМЫ','СИ ОБРУЧАЛЬНОЕ','СИ КОЛЬЦО ПЕЧАТ','СИ ПОДВЕСЦВ/К','СИ БРАСЛЕТ СК','СИ ЖЕМЧУГ',\
                                            'СИ АКСЕССУАР','СИ ДФРС ПРОЕКТ','СИ КЕРАМИКА','СИ ПОСУДА','СИ ЯНТАРЬ','СИ ЭМАЛЬ','СИ ВЫРИЦА']), 'СИ',
                        np.where(data_IM['tg'].isin(['ЧАСЫ']), 'ЧАСЫ', 'другое'
                        )
                    )
                )
            )
        )
    )
)

data_IM['Товарное направление'].value_counts()

Товарное направление
СИ        290
ИФ         98
БК         91
ЦБ         81
ДК         64
ПДК        49
другое     43
Name: count, dtype: int64

In [276]:
proverka = data_IM[data_IM['Товарное направление']=='другое']
proverka['tg'].unique()

array(['СИ БРАСЛЕТ ЦВ/К', 'СИ ПОДВЕС\xa0ЦВ/К', 'СИ СЕРЬГИ\xa0 ЦВ/К',
       'СИ БРАСЛЕТ БК Декор', 'ДК ПЕЧАТКИ', 'СИ КОЛЬЕ СК',
       'СИ ПОДАРКИ КРОСС', 'ОПТ ИФ', 'ОПТ ОБРУЧИ'], dtype=object)

In [277]:
data_IM = data_IM[~(data_IM['name'].str.contains('каучук')|
                    data_IM['name'].str.contains('шнурок')|
                    data_IM['name'].str.contains('текстиль')|
                    data_IM['name'].str.contains('хлопок')|
                    data_IM['name'].str.contains('шелк')|
                    data_IM['name'].str.contains('на нитке')|
                    data_IM['name'].str.contains('кожа')|
                    data_IM['name'].str.contains('жемчуг'))]

In [278]:
data_IM = data_IM[(data_IM['Товарное направление'].isin(['БК', 'ЦБ']))&((data_IM['proba'] == '585')|(data_IM['proba'] == 585.00))]

In [279]:
data_IM['Товарное направление'].value_counts()

Товарное направление
ЦБ    66
БК    65
Name: count, dtype: int64

In [280]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'], format='%Y-%m-%d')

In [281]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'].apply(lambda x: x.strftime("%Y-%m-%d")))

In [282]:
previous_date = data_IM['date_status_order_done'].min()
filtr_date = data_IM['date_status_order_done'].max()

In [283]:
data_today = data_IM.query("date_status_order_done >= @previous_date")
data_today.head()

,id,created,name,state_order,recipient_phone,recipient_email,state_item,delivery_type,payment_type,employee_id,type_ibox,type_name,tov,kbk_recieve_delivery,avg_weight,avg_net_weight,materials,proba,design,type1,type3,tg,brand,vendor_article,number,price,client_type,date_status_order_done,date_status_item_returned,product_id,cost_price,shk,kbk_collect_delivery,manzana,percent_by_sku,manzana_for_item,price_wo_manzana,Товарное направление
0,004e3bf6-33ad-4b70-adf7-8fac4cf2d995,2024-07-08 15:19:50.680,Золотой крест,done,79649957211.00,elenatchernozubova@yandex.ru,done,PICKUP_NOW,YANDEX_KASSA,NaN,SBER,[YANDEX_KASSA] SBER - URL,ТОВ1194925,5-02-002,0.82,0.82,NaN,585,ИФ КРЕСТ ПУСТОТЕЛЫЕ,ПОДВЕС КУЛЬТОВЫЙ,КРАСНЫЙ,БК ПОДВЕС КУЛЬТ,NaN,35-0724-11-00,2407081519469,4960.00,MOBILE,2024-07-08,NaT,1538540,2671.15,2078607032664,5-02-002,0,0.00,0.00,4960.00,БК
6,021fee82-4a18-4bb6-b08c-5a5fb1374c53,2024-07-09 13:54:31.284,Золотая пустотелая цепочка Панцирь с алмазной ...,done,79272572101.00,vitekusov@mail.ru,done,PICKUP_NOW,YANDEX_KASSA,NaN,TINKOFF_SBP,Тинькофф СБП,ТОВ01260636,6-02-042,1.89,1.89,NaN,585,ПАНЦИРЬ ПУСТ,ЦЕПЬ,КРАСНЫЙ,ЦБ ЦЕПИ,ADRIATICA,311-01-0050-30002#ТД,2407091354501,14937.00,MOBILE,2024-07-09,NaT,7863096,6937.52,2078608372418,6-02-042,2987,1.00,2987.00,11950.00,ЦБ
10,03af4897-2a9c-4a89-a004-c3a9efe6b89d,2024-07-08 12:27:52.986,Золотые серьги,done,79222691709.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,SBER,[YANDEX_KASSA] SBER - URL,ТОВ1305988,4-02-030,0.86,0.86,NaN,585,ИФ КОНГО АЛМАЗН,СЕРЬГИ-КОНГО,КРАСНЫЙ,БК СЕРЬГИ,NaN,12.01_10Ш30,2407081227882,8580.00,MOBILE,2024-07-08,NaT,1607707,3235.35,2078607586248,4-02-030,1716,1.00,1716.00,6864.00,БК
26,0a0ea619-6f0d-4156-a0e6-4756bf0534ca,2024-07-09 10:37:43.290,Золотой крест,done,79509077115.00,a.guseva71@yandex.ru,done,PICKUP_NOW,YANDEX_KASSA,NaN,TINKOFF_SBP,Тинькофф СБП,ТОВ1162345,2-14-007,1.69,1.69,NaN,585,ИФ КРЕСТ,ПОДВЕС КУЛЬТОВЫЙ,КРАСНЫЙ,БК ПОДВЕС КУЛЬТ,SOKOLOV,120315,2407091037514,17043.00,MOBILE,2024-07-09,NaT,1331858,6384.27,2078610457388,2-14-007,3408,1.00,3408.00,13635.00,БК
29,0afe4326-0de8-4591-8824-71ac9980d682,2024-07-08 17:43:35.438,Золотая цепь с алмазной гранью,done,79117098699.00,Kio0kv@spb.komus.net,done,PICKUP_NOW,YANDEX_KASSA,NaN,YANDEX_PAY,Яндекс пэй для сайта,ТОВ01260514,1-01-276,1.62,1.62,NaN,585,РОМБ ДВОЙНОЙ ПУСТ,ЦЕПЬ,КРАСНЫЙ,ЦБ ЦЕПИ,NaN,311-01-0035-30176,2407081743204,15665.00,WEB,2024-07-08,NaT,1893748,5872.34,2078609909700,1-01-276,0,0.00,0.00,15665.00,ЦБ

In [284]:
data_today['цена за гр'] = data_today['price_wo_manzana'] / data_today['avg_weight']
data_today['цена за гр'].describe()

count     131.00
mean     6507.49
std      1425.72
min      3983.85
25%      5559.37
50%      6153.85
75%      7359.41
max     15312.00
Name: цена за гр, dtype: float64

In [285]:
data_today['avg_weight'].describe()

count   131.00
mean      2.25
std       1.75
min       0.29
25%       1.05
50%       1.81
75%       2.58
max       9.28
Name: avg_weight, dtype: float64

In [286]:
data_today = data_today[~data_today['tg'].str.contains('ОПТ БК|БК ПЕЧАТКИ|ОПТ КОНГО')]

In [287]:
data_today = data_today[~data_today['client_type'].str.contains('OZON')]

In [288]:
Zolotoy_Online = (data_today['price_wo_manzana'].sum()/data_today['avg_weight'].sum()).round(0)
print('Средняя цена продажи еком: ', Zolotoy_Online)

Средняя цена продажи еком:  6193.0

In [289]:
data_today.to_excel(rf'{report_folder}\Данные по продажам\Продажи онлайн_{date_now}.xlsx', index=False)

In [290]:
tn = data_today.groupby('tg', as_index=False)[['price_wo_manzana', 'avg_weight', 'cost_price']].agg('sum')
tn['price_gramm'] = (tn['price_wo_manzana'] / tn['avg_weight']).round(0)

In [291]:
tn['price_gramm'] = tn['price_gramm'].astype('int')
tn['Наценка продажи онлайн'] =  tn['price_wo_manzana'] / tn['cost_price'] - 1

In [292]:
markup_sales = tn[['tg', 'Наценка продажи онлайн']]

In [293]:
tn = tn.drop(columns=['price_wo_manzana', 'avg_weight', 'cost_price', 'Наценка продажи онлайн'])
tn.columns = ['tg', '585*Золотой онлайн продажи']

In [294]:
result = result.merge(tn, how='left', on='tg')

Продажи 585*Золотой оффлайн

In [295]:
# иногда здесь скрипт может отвалиться, потому что с продажами оффлайн очень часто работает кто-то, поэтому можно прочитать его вручную указав актуальный путь

path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Выгрузки из DWH\Продажи по КБК из DWH new\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)

df_dwh = pd.read_excel(latest_file)

# df_dwh = pd.read_excel(r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Выгрузки из DWH\Продажи по КБК из DWH new\2024-06-20_2024-06-30.xlsx')

In [296]:
# мы смотрим продажи со времени последнего мониторинга, для этого определяем день недели и в зависимости от этого получаем новые данные
data = dt.datetime.isoweekday(dt.date.today())
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')
if data == 1:
    last_monitoring = (dt.date.today() - dt.timedelta(days=3)).strftime('%Y-%m-%d')
else:
    last_monitoring = (dt.date.today() - dt.timedelta(days=2)).strftime('%Y-%m-%d')
    
df_dwh = df_dwh[df_dwh['Дата'] >= f'{last_monitoring}']

In [297]:
df_dwh['Товарная группа'].str.contains('ЦБ|БК').value_counts()

Товарная группа
False    27633
True      9950
Name: count, dtype: int64

In [298]:
df_dwh = df_dwh[(df_dwh['Товарное направление'].isin(['БК', 'ЦБ'])) & (df_dwh['Проба'] == 585.0)]

In [299]:
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('каучук')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('шнурок')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('текстиль')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('хлопок')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('шелк')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('на нитке')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('кожа')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('жемчуг')))]

In [300]:
df_dwh['Дата'] = pd.to_datetime(df_dwh['Дата'], format='%Y-%m-%d')
df_dwh['Дата'] = pd.to_datetime(df_dwh['Дата'].apply(lambda x: x.strftime("%Y-%m-%d")))

In [301]:
filtr_date = df_dwh['Дата'].max()

In [302]:
df_dwh = df_dwh.query("`Дата` <= @filtr_date")

In [303]:
tn = df_dwh.groupby(by = 'Товарная группа', as_index= False)[['Себестоимость', 'Вес', 'Общая сумма']].agg('sum')
tn['Наценка продажи оффлайн'] =  tn['Общая сумма'] / tn['Себестоимость'] - 1
tn = tn[~tn['Товарная группа'].str.contains('ОПТ БК|БК ПЕЧАТКИ|ОПТ КОНГО|ОПТ ОБРУЧИ')]
tn['price_per_gramm'] = ((tn['Общая сумма'] / tn['Вес']).round(0))

In [304]:
tn['price_per_gramm'] = tn['price_per_gramm'].replace(',', '')
tn['price_per_gramm'] = tn['price_per_gramm'].astype('int')

In [305]:
Zolotoy_Offline = (tn['Общая сумма'].sum() / tn['Вес'].sum()).round(0)
print('Средняя цена продажи оффлайн: ', Zolotoy_Offline)

Средняя цена продажи оффлайн:  6902.0

In [306]:
tn.columns = ['tg', 'cost', 'weight', 'price', 'Наценка продажи оффлайн', 'price_per_gramm']

In [307]:
offline_markup = tn[['tg', 'Наценка продажи оффлайн']]

In [308]:
markup_sales = markup_sales.merge(offline_markup, how='left', on='tg')

In [309]:
tn = tn.drop(columns=['cost', 'weight', 'price', 'Наценка продажи оффлайн'])
tn.columns = ['tg', '585*Золотой оффлайн продажи']

In [310]:
result = result.merge(tn, how='left', on='tg')

In [311]:
result

,tg,Sokolov,Sunlight,585*Золотой онлайн остатки Максимальный промокод+20%,585*Золотой оффлайн остатки 40%+20%,585*Золотой онлайн продажи,585*Золотой оффлайн продажи
0,БК КОЛЬЦА,6528.60,6074.36,5949.23,6039.67,8328,6959
1,БК КОЛЬЦА ОБРУЧ,6127.42,5367.66,5827.91,5969.18,6410,6313
2,БК ПОДВЕС ДЕКОР,6766.59,6323.76,5795.27,6351.84,5955,7467
3,БК ПОДВЕС КУЛЬТ,6897.93,6326.43,6141.91,6021.05,6705,7404
4,БК СЕРЬГИ,6505.04,6388.27,6234.80,5994.96,6522,7389
5,ЦБ БРАСЛЕТЫ,6761.48,5645.93,6363.19,6022.58,5393,7006
6,ЦБ ЦЕПИ,6649.80,5183.74,6414.83,5986.65,6142,6925

In [312]:
markup_sales

                tg  Наценка продажи онлайн  Наценка продажи оффлайн
0        БК КОЛЬЦА                    2.10                     1.48
1  БК КОЛЬЦА ОБРУЧ                    1.08                     1.13
2  БК ПОДВЕС ДЕКОР                    0.62                     1.32
3  БК ПОДВЕС КУЛЬТ                    1.09                     1.34
4        БК СЕРЬГИ                    1.00                     1.35
5      ЦБ БРАСЛЕТЫ                    0.78                     1.11
6          ЦБ ЦЕПИ                    0.92                     1.15

In [313]:
markup_sales = markup_sales.rename(columns={markup_sales.columns[0]: 'Товарная группа'})
result = result.rename(columns={result.columns[0]: 'Товарная группа'})

In [314]:
result.to_excel(rf'{report_folder}\Таблица ТГ для письма_{date_now}.xlsx', index= False)
markup_sales.to_excel(rf'{report_folder}\Наценка продажи\Наценка продажи оффлайн+онлайн_{date_now}.xlsx', index=False)

In [313]:
# !jupyter nbconvert --to script eda_every_days.ipynb

In [314]:
# sql = text(f'''INSERT INTO yura.history_price_every_day(date_, competitor, price_per_gramm, num_shop)
# VALUES 
# ('{date_now}', 'Sokolov', {int(Sokolov)}, '_Sokolov'),
# ('{date_now}', 'Sunlight', {int(Sunlight)}, '_Sunlight'),
# ('{date_now}', '585*Золотой онлайн продажи', {int(Zolotoy_Online)}, '_585*Золотой онлайн продажи'),
# ('{date_now}', '585*Золотой онлайн остатки', {int(stock_ecom)}, '_585*Золотой онлайн остатки'), 
# ('{date_now}', '585*Золотой офлайн продажи', {int(Zolotoy_Offline)}, '_585*Золотой офлайн продажи'),
# ('{date_now}', '585*Золотой офлайн остатки', {int(stock_price_pl)}, '_585*Золотой офлайн остатки');
# ''')