In [219]:
from sqlalchemy import create_engine
from bs4 import BeautifulSoup as bs
import datetime as dt
import pandas as pd
import numpy as np
import warnings
import requests
import pymssql
import calendar
import locale
import json
import glob
import os

warnings.filterwarnings('ignore')
pd.set_option('use_inf_as_na', True)
pd.options.display.max_columns = None
pd.set_option('float_format', '{:.2f}'.format)
locale.setlocale(locale.LC_ALL, 'ru_RU.UTF-8')

'ru_RU.UTF-8'

In [220]:
engine = create_engine('postgresql://sergei:S714801t@51.250.54.232:5432/dldb')

In [436]:
date_now = dt.datetime.now().date().strftime('%d-%m-%Y')
current_datetime = dt.datetime.now().strftime("%d-%m-%Y")
month_now = dt.datetime.now().month
day_now = dt.datetime.now().day 
year_now = dt.datetime.now().year

In [222]:
way = os.getcwd()

In [223]:
date_now = '05.06.2024'

# 1. Sokolov

In [224]:
df_sokolov = pd.read_csv(rf'{way}\sokolov\parsed_data\result\bk_sokolov_{date_now}.csv')

In [225]:
df_sokolov.sample(5)

,data,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,article
784,05.06.2024,Sokolov,"Браслет из золота, плетение ромб двойной, 585 ...",bracelets,2.97 г,41850,92990,NaN,Без вставок,Красное золото 585 пробы,Ромб двойной,552010706
1731,05.06.2024,Sokolov,Серьги из золота,earrings,1.57 г,23400,51990,Дополнительная скидка по акции «Готовимся к ле...,Без вставок,Красное золото 585 пробы,NaN,0200161
457,05.06.2024,Sokolov,Колье из золота,necklaces,1.51 г,22500,49990,Дополнительная скидка по акции «Готовимся к ле...,Без вставок,Красное золото 585 пробы,NaN,070340
904,05.06.2024,Sokolov,Серьги из золота,earrings,2.92 г,29250,64990,NaN,Без вставок,Красное золото 585 пробы,Английский,029504
1499,05.06.2024,Sokolov,"Браслет из желтого золота, плетение бисмарк, 5...",bracelets,3.45 г,47250,104990,NaN,Без вставок,Жёлтое золото 585 пробы,Бисмарк,551070502-2?reviews

In [226]:
df_sokolov['article'] = 'https://sokolov.ru/jewelry-catalog/product/' + df_sokolov['article']
df_sokolov['article'] = df_sokolov['article'] + '/'

df_sokolov.columns = ['date', 'competitor', 'name', 'group', 'weight', 'price', 'price_old',
                    'discount', 'insert', 'metal', 'lock_type_or_weaving_type', 'url']

In [227]:
df_sokolov['discount'].value_counts(dropna=False)

discount
NaN                                                            1301
Дополнительная скидка по акции «Готовимся к лету!» ЕЩЁ -10%     552
Дополнительная скидка по акции «Готовимся к лету!» ЕЩЁ -20%     175
Name: count, dtype: int64

In [228]:
df_sokolov['discount_for_dash'] = df_sokolov['discount']
df_sokolov['discount_for_dash'] = df_sokolov['discount_for_dash'].fillna('нет скидочного купона')

In [229]:
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] == 0:
        df_sokolov['discount_for_dash'][i] = 'ШОК-ЦЕНА'

In [230]:
def discount_value(discount):
    '''у Sokolov купоны имеют скидку до 30%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '10%' in discount:
        return 0.9
    elif '15%' in discount:
        return 0.85
    elif '20%' in discount:
        return 0.8
    elif '25%' in discount:
        return 0.75
    elif '30%' in discount:
        return 0.7
    return 1

df_sokolov['discount'] = df_sokolov['discount'].fillna('1')
df_sokolov['discount'] = df_sokolov['discount'].apply(discount_value)

In [231]:
df_sokolov['weight'] = df_sokolov['weight'].str.replace(' г', '')
df_sokolov['weight'] = df_sokolov['weight'].astype('float')

In [232]:
df_sokolov['metal'].value_counts()

metal
Красное золото 585 пробы            1570
Комбинированное золото 585 пробы     193
Жёлтое золото 585 пробы              132
Белое золото 585 пробы               122
Красное золото 375 пробы               9
Золото 585 пробы                       2
Name: count, dtype: int64

In [233]:
df_sokolov['price'].isna().sum()

0

In [234]:
df_sokolov = df_sokolov.dropna(subset=['price'])

In [235]:
# применяем скидку для первоначальной цены
df_sokolov['price'] = df_sokolov['price'] * df_sokolov['discount']

In [236]:
# для расчета персональной стоимости нужно выделить изделия для которых применины баллы. Для этого в парсинге цен используються cookies аккаунта с баллами (любым кол-вом).
# чтобы определить если ли персональная цена сравниваются 2 столба "price_old" и "price".
# если "price_old" равен нулю, значит этот товар является товаром из списка ШОК-цен, на них не распространяются бонусные баллы
# в противном случае мы можем списать до 30% от стоимости товара бонусными баллами
# мы считаем, что пользователь может использовать программу лояльности по-максимуму

In [237]:
no_discount = 0
df_sokolov['discount_flag'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] != 0:
        df_sokolov['discount_flag'][i] = df_sokolov['price'][i] * 0.3
    else:
        df_sokolov['discount_flag'][i] = no_discount

In [238]:
df_sokolov['price_personal'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['discount_flag'][i] <= (df_sokolov['price'][i] * 0.3):
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - df_sokolov['discount_flag'][i]
    else:
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - (df_sokolov['price'][i] * 0.3)

In [239]:
df_sokolov = df_sokolov.drop(columns=['discount_flag'], axis=1)

In [240]:
df_sokolov['price'].isna().sum()

0

In [241]:
df_sokolov['price_personal'].isna().sum()

0

In [242]:
df_sokolov['price_per_gramm'] = (df_sokolov['price_personal'] / df_sokolov['weight']).round(0)
df_sokolov['name'] = df_sokolov['name'].str.lower()

In [243]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sokolov['tg'] = np.where(
    ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка'))), 'ПОДВЕС КУЛЬТ',
    np.where(
        ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка') == False)), 'ПОДВЕС ДЕКОР', 
        np.where(
            ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ', 
            np.where(
                ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное')==False)), 'КОЛЬЦА', 
                np.where(
                    (df_sokolov['group'] == 'bracelets'), 'БРАСЛЕТЫ',
                    np.where(
                        (df_sokolov['group'] == 'chains'), 'ЦЕПИ', 
                        np.where(
                            (df_sokolov['group'] == 'earrings'), 'СЕРЬГИ', np.nan)
                    )
                )
            )
        )
    )
)

In [244]:
df_sokolov = df_sokolov[df_sokolov['tg'] != 'nan'] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [245]:
df_sokolov['tn'] = np.where(
    ((df_sokolov['insert'].str.lower().str.contains('выраще|синте|искусств')) & (df_sokolov['insert'].str.lower().str.contains('бриллиант') == False)), 'ПДК',
    np.where(
        (df_sokolov['insert'].str.lower().str.contains('бриллиант|сапфир|рубин|изумруд') & (df_sokolov['insert'].str.lower().str.contains('выращ|искусств|синтети') == False)), 'ДК',
        np.where(
            df_sokolov['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ',
            np.where(
                df_sokolov['insert'] == 'Без вставок', 'БК', 
                np.where(
                    df_sokolov['insert'].str.lower().str.contains('фианит|бриллиант'), 'ИФ', 'ПДК'
                )
            )
        )
    )
)

In [246]:
df_sokolov['tg'] = df_sokolov['tn'] + ' ' + df_sokolov['tg']

In [247]:
df_sokolov['tg'].value_counts(dropna=False)

tg
БК СЕРЬГИ          585
БК КОЛЬЦА          339
БК ПОДВЕС ДЕКОР    238
ЦБ БРАСЛЕТЫ        237
ЦБ ЦЕПИ            199
БК КОЛЬЦА ОБРУЧ    162
БК ПОДВЕС КУЛЬТ    158
Name: count, dtype: int64

In [248]:
df_sokolov['price_case'] = np.where(
    df_sokolov['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sokolov['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sokolov['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sokolov['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sokolov['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sokolov['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sokolov['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [249]:
df_sokolov['price_per_gramm'].describe([0.05, 0.95])

count    1918.00
mean     8994.64
std      1230.15
min      4478.00
5%       7176.85
50%      8885.00
95%     11147.25
max     14047.00
Name: price_per_gramm, dtype: float64

In [250]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url', 'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]

In [251]:
df_sokolov['num_shop'] = '_' + df_sokolov['competitor']
df_sokolov['num_diap'] = df_sokolov['price_case']

In [252]:
df_sokolov.head(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case,num_shop,num_diap
0,05.06.2024,Sokolov,кольцо обручальное из белого золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.,_Sokolov,8 000 руб. - 9 000 руб.
1,05.06.2024,Sokolov,кольцо обручальное из белого золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.,_Sokolov,8 000 руб. - 9 000 руб.
2,05.06.2024,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.,_Sokolov,8 000 руб. - 9 000 руб.
3,05.06.2024,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.,_Sokolov,8 000 руб. - 9 000 руб.
4,05.06.2024,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.63,ШОК-ЦЕНА,7969.00,БК КОЛЬЦА ОБРУЧ,7 000 руб. - 8 000 руб.,_Sokolov,7 000 руб. - 8 000 руб.

In [253]:
df_sokolov['discount_for_dash'].value_counts()

discount_for_dash
нет скидочного купона                                          1221
Дополнительная скидка по акции «Готовимся к лету!» ЕЩЁ -10%     515
Дополнительная скидка по акции «Готовимся к лету!» ЕЩЁ -20%     153
ШОК-ЦЕНА                                                         29
Name: count, dtype: int64

In [254]:
df_sokolov['price_per_gramm'].describe().round(0)

count    1918.00
mean     8995.00
std      1230.00
min      4478.00
25%      8122.00
50%      8885.00
75%      9795.00
max     14047.00
Name: price_per_gramm, dtype: float64

In [255]:
df_sokolov['price_personal'].sum() / df_sokolov['weight'].sum().round(0)

8724.851526070368

In [256]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url',
       'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm',
       'tg', 'price_case']]

In [257]:
df_sokolov.head()

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,05.06.2024,Sokolov,кольцо обручальное из белого золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
1,05.06.2024,Sokolov,кольцо обручальное из белого золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
2,05.06.2024,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
3,05.06.2024,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
4,05.06.2024,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.63,ШОК-ЦЕНА,7969.00,БК КОЛЬЦА ОБРУЧ,7 000 руб. - 8 000 руб.

# 2. Sunlight

In [258]:
df_sunlight = pd.read_csv(fr'{way}\sunlight\parsed_data\result\bk_sunlight_{date_now}.csv')

In [259]:
df_sunlight = df_sunlight.drop(columns=['index'])

In [260]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount
0,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
1,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
2,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
3,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена']
4,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена']

In [261]:
def get_params_from_dic(df):
    '''функция для разделения столбца "params" на отдельные столбцы'''
    spisok = []                                                           
    for c in df['params']:
        for i in c.keys():                                
            spisok.append(i)              
    spisok = set(spisok)
    for s in spisok:
        z = []
        for j in df['params']:
            try:
                z.append(j[s])
            except:
                z.append(np.nan)
        df[s] = z
        
    return df

In [262]:
df_sunlight['group'].unique()

array(['Серьги', 'Крест-подвеска', 'Подвески', 'Кольца', 'Колье', 'Цепи',
       'Браслеты', 'Шейное украшение', 'Серьга', 'Ножной браслет',
       'Брошь', 'Пирсинг', 'Запонки', 'Булавка', 'Зажимы для галстука',
       'Икона', 'Брелоки'], dtype=object)

In [263]:
# чтобы функция написанная выше работала, необходимо, чтобы столбец params стал снова словарем, это происходит благодаря функции eval()
df_sunlight['params'] = df_sunlight['params'].apply(lambda x: eval(x))
get_params_from_dic(df_sunlight)

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount,Плетение,Ширина кольца,Вес изделия,Ширина цепи,Ширина браслета,Материал изделия,Страна производства,Покрытие,Модель,Диаметр серег,Вставка
0,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,2.36 г,NaN,NaN,Розовое золото,Россия,NaN,10-00-0000-27628*,NaN,NaN
1,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,2.36 г,NaN,NaN,Розовое золото,Россия,NaN,10-00-0000-27628*,NaN,NaN
2,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,2.36 г,NaN,NaN,Розовое золото,Россия,NaN,10-00-0000-27628*,NaN,NaN
3,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена'],NaN,NaN,0.77 г,NaN,NaN,Розовое золото,Россия,NaN,11-01-0015-40100*,15 мм,NaN
4,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена'],NaN,NaN,0.77 г,NaN,NaN,Розовое золото,Россия,NaN,11-01-0015-40100*,15 мм,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4115,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '14010495*', 'Материал изделия': 'Р...",25990,271436,https://sunlight.net/catalog/earring_271436.html,86 633 ₽,25 990 ₽,18 193 ₽,"['Цены ниже! Ещё -10%, код: НОЧЬ до 11:00']",NaN,NaN,2.83 г,NaN,NaN,Розовое золото,Россия,NaN,14010495*,NaN,NaN
4116,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': 'С300-2073*', 'Материал изделия': '...",9490,267531,https://sunlight.net/catalog/earring_267531.html,31 633 ₽,9 490 ₽,6 643 ₽,"['Цены ниже! Ещё -15%, код: НОЧЬ до 11:00']",NaN,NaN,0.96 г,NaN,NaN,Желтое золото,Россия,NaN,С300-2073*,NaN,NaN
4117,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '23-40-23*', 'Диаметр серег': '40 м...",35990,244034,https://sunlight.net/catalog/earring_244034.html,119 967 ₽,35 990 ₽,25 193 ₽,"['Цены ниже! Ещё -10%, код: НОЧЬ до 11:00']",NaN,NaN,3.92 г,NaN,NaN,NaN,Россия,NaN,23-40-23*,40 мм,NaN
4118,05.06.2024,Sunlight,\n Золотая подвеска\n,Подвески,"{'Модель': '313910 1 1 1овен*', 'Материал изде...",8490,242712,https://sunlight.net/catalog/pendants_242712.html,28 300 ₽,8 490 ₽,5 943 ₽,"['Цены ниже! Ещё -10%, код: НОЧЬ до 11:00']",NaN,NaN,0.94 г,NaN,NaN,Розовое золото,Россия,NaN,313910 1 1 1овен*,NaN,NaN
4119,05.06.2024,Sunlight,\n Золотая подвеска\n,Подвески,"{'Модель': '08-63-0012-00*', 'Материал изделия...",16990,167673,https://sunlight.net/catalog/pendants_167673.html,33 980 ₽,16 990 ₽,11 893 ₽,"['Цены ниже! Ещё -10%, код: НОЧЬ до 11:00']",NaN,NaN,1.77 г,NaN,NaN,Розовое золото,Россия,NaN,08-63-0012-00*,NaN,NaN

In [264]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount,Плетение,Ширина кольца,Вес изделия,Ширина цепи,Ширина браслета,Материал изделия,Страна производства,Покрытие,Модель,Диаметр серег,Вставка
0,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,2.36 г,NaN,NaN,Розовое золото,Россия,NaN,10-00-0000-27628*,NaN,NaN
1,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,2.36 г,NaN,NaN,Розовое золото,Россия,NaN,10-00-0000-27628*,NaN,NaN
2,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,2.36 г,NaN,NaN,Розовое золото,Россия,NaN,10-00-0000-27628*,NaN,NaN
3,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена'],NaN,NaN,0.77 г,NaN,NaN,Розовое золото,Россия,NaN,11-01-0015-40100*,15 мм,NaN
4,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена'],NaN,NaN,0.77 г,NaN,NaN,Розовое золото,Россия,NaN,11-01-0015-40100*,15 мм,NaN

In [265]:
df_sunlight['Материал изделия'].value_counts(dropna=False)

Материал изделия
Розовое золото                                 2879
Желтое золото                                   636
Белое золото, Розовое золото                    276
Белое золото                                    167
NaN                                              95
Белое золото, Желтое золото                      20
Белое золото, Желтое золото, Розовое золото      19
Желтое золото, Розовое золото                    11
Текстиль                                         10
Серебро                                           7
Name: count, dtype: int64

In [266]:
df_sunlight['Материал изделия'] = df_sunlight['Материал изделия'].fillna('золото')

In [267]:
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Серебро'))]
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Текстиль'))]

In [268]:
df_sunlight = df_sunlight.drop(columns=['params', 'price_x', 'article',
                                'Ширина кольца', 'Страна производства',
                                'Ширина цепи', 'Плетение', 'Ширина браслета',
                                'Модель', 'Диаметр серег', 'Вставка', 'Покрытие', 'Материал изделия'], axis=1)

In [269]:
df_sunlight.columns

Index(['date', 'competitor', 'name', 'group', 'url', 'price_old', 'price_y',
       'price_personal', 'discount', 'Вес изделия'],
      dtype='object')

In [270]:
# переименновываем столбцы, чтобы у всех таблиц была единая система
df_sunlight.columns = ['date', 'competitor', 'name', 'group', 'url', 'price_old',
                    'price', 'price_personal', 'discount', 'weight']

In [271]:
df_sunlight['price_personal'].isna().sum()

805

In [272]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].fillna(df_sunlight['price'])

In [273]:
df_sunlight['weight'] = df_sunlight['weight'].str.replace(' г', '')
df_sunlight['name'] = df_sunlight['name'].str.replace('\n', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].astype('float')
df_sunlight['price_personal'] = df_sunlight['price_personal'].astype('float')
df_sunlight['discount_for_dash'] = df_sunlight['discount']

In [274]:
df_sunlight['discount_for_dash'].isna().sum()

0

In [275]:
df_sunlight['discount_for_dash'].unique()

array(["['ХИТ-цена']", "['Цены ниже! Ещё -20%, код: НОЧЬ до 11:00']",
       "['ХИТ-цена', 'Выгодно! Золото 5 290 р/г']",
       "['Цены ниже! Ещё -10%, код: НОЧЬ до 11:00']",
       "['Цены ниже! Ещё -15%, код: НОЧЬ до 11:00']",
       "['Цены ниже! Ещё -5%, код: НОЧЬ до 11:00']",
       "['Цены снижены! Ещё -15%, код: СЕГОДНЯ']", '[nan]',
       "['Второе в подарок, код 1=2', 'Цены ниже! Ещё -20%, код: НОЧЬ до 11:00']"],
      dtype=object)

In [276]:
def discount_value_sl(discount):
    '''у Sunlight купоны имеют скидку до 55%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '55%' in discount:
        return 0.45
    elif '50%' in discount:
        return 0.50
    elif '45%' in discount:
        return 0.55
    elif '40%' in discount:
        return 0.6
    elif '35%' in discount:
        return 0.65
    elif '30%' in discount:
        return 0.7
    elif '25%' in discount:
        return 0.75
    elif '20%' in discount:
        return 0.8
    elif '15%' in discount:
        return 0.85
    elif '10%' in discount:
        return 0.9 
    elif '1=2' in discount:
        return 0.5
    return 1

df_sunlight['discount'] = df_sunlight['discount'].apply(discount_value_sl)

In [277]:
df_sunlight['discount'].value_counts(dropna=False)

discount
0.85    1251
0.90    1248
1.00     902
0.80     702
Name: count, dtype: int64

In [278]:
df_sunlight['discount_for_dash'].value_counts(dropna=False)

discount_for_dash
['Цены ниже! Ещё -10%, код: НОЧЬ до 11:00']                                 1248
['Цены ниже! Ещё -15%, код: НОЧЬ до 11:00']                                 1239
['ХИТ-цена']                                                                 756
['Цены ниже! Ещё -20%, код: НОЧЬ до 11:00']                                  696
['Цены ниже! Ещё -5%, код: НОЧЬ до 11:00']                                    55
['ХИТ-цена', 'Выгодно! Золото 5 290 р/г']                                     46
[nan]                                                                         45
['Цены снижены! Ещё -15%, код: СЕГОДНЯ']                                      12
['Второе в подарок, код 1=2', 'Цены ниже! Ещё -20%, код: НОЧЬ до 11:00']       6
Name: count, dtype: int64

In [279]:
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace("'", '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('[', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace(']', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('nan', 'нет скидочного купона')

In [280]:
df_sunlight['discount'] = df_sunlight['discount'].astype('float')

In [281]:
# применяем для каждого товара скидочный купон
# кроме тех строк, в которых есть информация, что это ХИТ-товар
df_sunlight['price_personal'] = np.where(
    df_sunlight['discount_for_dash'].str.contains('ХИТ'), df_sunlight['price'], df_sunlight['price'] * df_sunlight['discount']
)

In [282]:
df_sunlight['discount_for_dash'].value_counts()

discount_for_dash
Цены ниже! Ещё -10%, код: НОЧЬ до 11:00                               1248
Цены ниже! Ещё -15%, код: НОЧЬ до 11:00                               1239
ХИТ-цена                                                               756
Цены ниже! Ещё -20%, код: НОЧЬ до 11:00                                696
Цены ниже! Ещё -5%, код: НОЧЬ до 11:00                                  55
ХИТ-цена, Выгодно! Золото 5 290 р/г                                     46
нет скидочного купона                                                   45
Цены снижены! Ещё -15%, код: СЕГОДНЯ                                    12
Второе в подарок, код 1=2, Цены ниже! Ещё -20%, код: НОЧЬ до 11:00       6
Name: count, dtype: int64

In [283]:
# после применения купона, цена по программе лояльности Sunlight может снизиться ещё до 30% от полученной суммы при помощи бонусных баллов
# мы считаем, что пользователь пользуется максимальным количеством бонусных баллов, применимых к товару
# это не распростроняется на фикс цены, о наличии которых мы можем понять по устойчивому "ХИТ-цена", но так же могут быть добавлены новые акции
# всегда стоит перед запуском скрипта ниже проверять вывод блока кода выше

for i in df_sunlight.index:
    if df_sunlight['discount_for_dash'][i] == "ХИТ-цена":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    elif df_sunlight['discount_for_dash'][i] == "ХИТ-цена, Выгодно! Золото 5 290 р/г":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    else:    
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] * 0.7

In [284]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
876,05.06.2024,Sunlight,Золотое шейное украшение,Шейное украшение,https://sunlight.net/catalog/necklace_119474.html,NaN,15990.00,15990.00,1.00,2.15,ХИТ-цена
1618,05.06.2024,Sunlight,"Золотая подвеска-зодиак ""Скорпион""",Подвески,https://sunlight.net/catalog/pendants_242710.html,22 980 ₽,11490.00,6434.40,0.80,0.84,"Цены ниже! Ещё -20%, код: НОЧЬ до 11:00"
1060,05.06.2024,Sunlight,Золотой браслет,Браслеты,https://sunlight.net/catalog/bracelets_144805....,NaN,6990.00,6990.00,1.00,1.0,ХИТ-цена
536,05.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_984144.html,45 980 ₽,22990.00,13679.05,0.85,2.46,"Цены ниже! Ещё -15%, код: НОЧЬ до 11:00"
3694,05.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_182345.html,65 980 ₽,32990.00,19629.05,0.85,2.63,"Цены ниже! Ещё -15%, код: НОЧЬ до 11:00"

In [285]:
df_sunlight['price_personal'].isna().sum()

0

In [286]:
df_sunlight.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4103 entries, 0 to 4119
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               4103 non-null   object
 1   competitor         4103 non-null   object
 2   name               4103 non-null   object
 3   group              4103 non-null   object
 4   url                4103 non-null   object
 5   price_old          3298 non-null   object
 6   price              4103 non-null   float64
 7   price_personal     4103 non-null   float64
 8   discount           4103 non-null   float64
 9   weight             4103 non-null   object
 10  discount_for_dash  4103 non-null   object
dtypes: float64(3), object(8)
memory usage: 513.7+ KB

In [287]:
df_sunlight.sample()

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
1360,05.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_335814.html,31 980 ₽,15990.00,9514.05,0.85,1.25,"Цены ниже! Ещё -15%, код: НОЧЬ до 11:00"

In [288]:
df_sunlight['weight'] = df_sunlight['weight'].astype(float)
df_sunlight = df_sunlight[df_sunlight['weight'] > 0.1]

In [289]:
df_sunlight.drop_duplicates(inplace=True)

In [290]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
1756,05.06.2024,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_992361.html,59 980 ₽,29990.00,18893.70,0.90,2.96,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00"
6,05.06.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,https://sunlight.net/catalog/pendants_75809.html,NaN,2490.00,2490.00,1.00,0.26,ХИТ-цена
1224,05.06.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,https://sunlight.net/catalog/pendants_986603.html,18 980 ₽,9490.00,5978.70,0.90,0.94,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00"
2068,05.06.2024,Sunlight,Золотое кольцо,Кольца,https://sunlight.net/catalog/ring_349844.html,36 060 ₽,18030.00,10727.85,0.85,1.49,"Цены ниже! Ещё -15%, код: НОЧЬ до 11:00"
742,05.06.2024,Sunlight,Золотой браслет,Браслеты,https://sunlight.net/catalog/bracelets_96933.html,55 333 ₽,16600.00,9877.00,0.85,1.34,"Цены ниже! Ещё -15%, код: НОЧЬ до 11:00"

In [291]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].round(0)

In [292]:
# проверяем корректность расчётов
df_sunlight[['price_personal','url']].sample(3)

      price_personal                                                url
2827        14334.00  https://sunlight.net/catalog/bracelets_279880....
2896         8009.00  https://sunlight.net/catalog/bracelets_355520....
1242         1065.00  https://sunlight.net/catalog/pendants_268496.html

In [293]:
df_sunlight = df_sunlight.drop(columns=['price_old', 'price'])

In [294]:
df_sunlight['price_per_gramm'] = (df_sunlight['price_personal'] / df_sunlight['weight']).round(0)

In [295]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sunlight['tg'] = np.where(
    df_sunlight['group'].str.contains('Серьги|Серьга|Пирсинг'), 'СЕРЬГИ',
    np.where(
        df_sunlight['group'].str.contains('Цепи'), 'ЦЕПИ',
        np.where(
            ((df_sunlight['group'].str.contains('Подвески')) & (df_sunlight['name'].str.lower().str.contains('свят|божия|блаженная|господь|чудотворец|ангел|сергий|божья|георгий'))), 'ПОДВЕС КУЛЬТ',
            np.where(
                df_sunlight['group'].str.contains('Крест|Икона'), 'ПОДВЕС КУЛЬТ',
                np.where(
                    df_sunlight['group'].str.lower().str.contains('браслет'), 'БРАСЛЕТЫ', 
                    np.where(
                        ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное') == False)), 'КОЛЬЦА',
                        np.where(
                            ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ',
                            np.where(
                                df_sunlight['group'].str.contains('Подвески'), 'ПОДВЕС ДЕКОР', df_sunlight['group']
                            )
                        )
                    )
                )
            )
        )
    )
)

In [296]:
df_sunlight = df_sunlight[df_sunlight['tg'].str.contains('СЕРЬГИ|КОЛЬЦА|ПОДВЕС|БРАСЛЕТЫ|ЦЕПИ')] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [297]:
df_sunlight['price_case'] = np.where(
    df_sunlight['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sunlight['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sunlight['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sunlight['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sunlight['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sunlight['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sunlight['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [298]:
df_sunlight['tn'] = np.where(
    df_sunlight['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ', 'БК'
)

In [299]:
df_sunlight['tg'] = df_sunlight['tn'] + ' ' + df_sunlight['tg']

In [300]:
df_sunlight['price_per_gramm'].describe([0.05, 0.99])

count    3396.00
mean     6862.80
std      1283.63
min      4333.00
5%       5599.25
50%      6774.50
99%     10280.60
max     52475.00
Name: price_per_gramm, dtype: float64

In [301]:
df_sunlight = df_sunlight.drop(columns=['tn'])

In [302]:
df_sunlight.head(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,05.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_235978.html,20990.00,1.00,2.36,ХИТ-цена,8894.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
3,05.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_51498.html,6490.00,1.00,0.77,ХИТ-цена,8429.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
6,05.06.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,https://sunlight.net/catalog/pendants_75809.html,2490.00,1.00,0.26,ХИТ-цена,9577.00,БК ПОДВЕС КУЛЬТ,9 000 руб. - 10 000 руб.
9,05.06.2024,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_993847.html,1990.00,1.00,0.21,ХИТ-цена,9476.00,БК ПОДВЕС ДЕКОР,9 000 руб. - 10 000 руб.
12,05.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_271510.html,10490.00,1.00,1.04,ХИТ-цена,10087.00,БК СЕРЬГИ,свыше 10 000 руб.

In [303]:
print((df_sunlight['price_personal'].sum() / df_sunlight['weight'].sum()).round(0))

6468.0

# 3. 585*Золотой онлайн остатки

In [305]:
current_date = dt.date.today()
day = current_date.day - 1 
month = current_date.month
year = current_date.year
current_date = current_date.strftime('%Y.%m.%d')

In [306]:
try: df = pd.read_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\Остатки {current_date}.xlsx')
except: df = pd.read_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\Остатки {current_date[:-2]}0{day}.xlsx')

In [307]:
df.fineness.unique()

array([925., 375., 585.,  nan, 750., 999., 944., 945., 946., 947., 937.,
       938., 939., 931., 932., 933., 926., 928., 929., 930., 948., 949.,
       950., 951., 927., 934., 935., 936., 960., 961., 962., 963., 964.,
       956., 957., 958., 959., 875.])

In [308]:
df['published'].value_counts(dropna=False)

published
True     166919
False     37849
Name: count, dtype: int64

In [309]:
df['product_line'].unique()

array(['СИ', 'ПДК', 'ДК', 'ФУТЛЯРЫ', 'ДФРС', 'ЧАСЫ', 'ЦБ', 'ИФ', 'БК',
       'ВЫРИЦА', 'БИЖУТЕРИЯ', nan, 'БУ'], dtype=object)

In [310]:
df = df[(df['fineness'] == 585) & (df['product_line'].str.contains('ФУТЛЯРЫ|ДФРС|ВЫРИЦА|ЧАСЫ|БИЖУТЕРИЯ|БУ') == False)]

In [311]:
df = df[(df['product_group'].str.contains('БК КОЛЬЦА')|
        df['product_group'].str.contains('БК КОЛЬЦА ОБРУЧ')|
        df['product_group'].str.contains('ЦБ БРАСЛЕТЫ')|
        df['product_group'].str.contains('БК СЕРЬГИ')|
        df['product_group'].str.contains('БК ПОДВЕС КУЛЬТ')|
        df['product_group'].str.contains('БК ПОДВЕС ДЕКОР')|
        df['product_group'].str.contains('ЦБ ЦЕПИ'))]

In [312]:
df = df.drop(columns=['Unnamed: 15', '*без франчайзинговых магазинов и Румянцево'])

In [313]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\discounts_zolotoy\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)

discount = pd.read_excel(latest_file)

In [314]:
discount.columns = ['article', 'Опубликован', 'discount_value_promotions_1',
                    'discount_value_promotions_2', 'discount_value_promotions_3',
                    'discount_value_promotions_4']

In [315]:
df = df.merge(discount, how='left', on='article')

In [316]:
df = df[(df['published'] == 'ИСТИНА') | (df['published'] == True)]

In [317]:
df = df.drop(columns=['weaving', 'Unnamed: 14', 'name'])

In [318]:
df.columns = ['article', 'size', 'published', 'product_line', 'product_group',
            'material', 'type3', 'fineness', 'avg_weight', 'price',
            'discount_price', 'Остатки, шт*', 'type3',
            'discount_value_promotions_1', 'discount_value_promotions_2', 'discount_value_promotions_3', 'discount_value_promotions_4']

In [319]:
df = df.drop(columns=['discount_value_promotions_4', 'published'])

In [320]:
def discount_index(discount):
    try:
        return 1 - discount / 100
    except:
        return 1

In [321]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.apply(discount_index)
df.discount_value_promotions_2 = df.discount_value_promotions_2.apply(discount_index)
df.discount_value_promotions_3 = df.discount_value_promotions_3.apply(discount_index)

In [322]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.fillna(1)
df.discount_value_promotions_2 = df.discount_value_promotions_2.fillna(1)
df.discount_value_promotions_3 = df.discount_value_promotions_3.fillna(1)

In [323]:
df = df.dropna(subset=['avg_weight', 'discount_value_promotions_1'])

In [324]:
df['price_personal'] = np.where(
    (df['price'] == df['discount_price']) & (df['discount_value_promotions_1'] == 1), df['discount_price'] * df['discount_value_promotions_1'], df['discount_price'] * df['discount_value_promotions_1'] * 0.8
)

In [325]:
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')

In [326]:
zolotoy = df.groupby('product_group', as_index=False)[['price_personal', 'avg_weight']].agg({'price_personal':'sum', 'avg_weight':'sum'})
zolotoy['price_per_gram'] = zolotoy['price_personal'] / zolotoy['avg_weight']

In [327]:
zolotoy['price_personal'].sum() / zolotoy['avg_weight'].sum()

6926.798827380813

In [328]:
zolotoy['date'] = pd.to_datetime('06.05.2024', format='mixed')

In [329]:
zolotoy.to_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\ecom_stock_history\\ppg_ecom_{date_now}.xlsx', index=False)

In [330]:
zolotoy = zolotoy.drop(columns=['price_personal', 'avg_weight', 'date'])

In [331]:
zolotoy.columns = ['tg', '585*Золотой остатки 30%+20%']

In [332]:
df = df.drop_duplicates(subset=['article'])

In [333]:
df['date'] = pd.to_datetime('2024-06-05', format='mixed')
df['competitor'] = '585*Золотой'
df['price_per_gramm'] = df['price_personal'] / df['avg_weight']

In [334]:
df['price_case'] = np.where(
    df['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [335]:
df = df[['date', 'competitor', 'avg_weight', 'price_personal', 'product_group', 'price_per_gramm', 'discount_value_promotions_1', 'article', 'price_case']]
df.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [336]:
data_history = pd.DataFrame({'date': [pd.to_datetime('2024-06-05', format='mixed')],
                            'competitor': ['585*Золотой'],
                            'avg_ppg': [int(df['price_personal'].sum() / df['weight'].sum())]})

# 4. 585*Золотой оффлайн остатки

In [337]:
# SQL-скрипт ниже выгружает данные по остаткам с БД Staging, доступ к ней выдаётся по учётной записи Windows по согласованию

conn = pymssql.connect(server='AX-SQL', database='Staging')
cursor = conn.cursor()

sql = f'''
SELECT [Код склада], [Название склада], [Цена Закупки за 1 шт. (упр сс с НДС за единицу)], [Группа цен],
[Товарное направление], [Товарная группа], [Проба], [Цена Розн., за шт],  [Запрет скидки],
[Код товара],  [Артикул поставщика], [Чистый вес], [ШК], [Общий вес], [Скидка на изделии], [Тип изделия 1], 
[ID Сайта]
from [Staging].[Reports].[Remainings_8h]
where [Товарное направление] in (N'БК', N'ЦБ')
'''

sql_query = pd.read_sql_query(sql, conn)
stock = pd.DataFrame(sql_query)

In [338]:
stock.sample(5)

,Код склада,Название склада,Цена Закупки за 1 шт. (упр сс с НДС за единицу),Группа цен,Товарное направление,Товарная группа,Проба,"Цена Розн., за шт",Запрет скидки,Код товара,Артикул поставщика,Чистый вес,ШК,Общий вес,Скидка на изделии,Тип изделия 1,ID Сайта
371389,5786,"Воркута, Деповский, 2, ТК «МИР»",9980.48,ИФ.БК_СР,БК,БК ПЕЧАТКИ,585,58330.00,Нет,ТОВ1067428,П.01-04-01,3.80,2078586093424,3.80,27.00,КОЛЬЦО ПЕЧАТКА,4798791
326728,5409,г.Сланцы ул.Ленина д.11,5157.10,ЦБ_ЮИТ_ПУСТОТЕЛЫЕ_КОРДА <3 ГР,ЦБ,ЦБ БРАСЛЕТЫ,585,43361.00,Нет,ТОВ0745665,41-00-0060-30333,2.03,2078516679223,2.03,26.00,БРАСЛЕТ,3778045
830505,4356,"Саратов, Столыпина, 17 (ДУБЛЬ)",7599.64,ИФ.БК_ДОР,БК,БК КОЛЬЦА,585,44055.00,Нет,ТОВ1191947,КБК 31,2.87,2078567717455,2.87,25.00,КОЛЬЦО,1649400
4173,3951,"Йошкар-Ола, Первомайская, 113",8243.41,ЦБ_ПУСТОТЕЛЫЕ <=3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,42874.00,Нет,ТОВ01260622,311-01-0040-30222,2.21,2078608366974,2.21,20.00,ЦЕПЬ,3579172
428645,5868,"Волгоград, Маршала Еременко130, ТК Радуга",8167.70,ИФ.БК_ДОР,БК,БК КОЛЬЦА ОБРУЧ,585,60667.00,Нет,ТОВ1022599,КОП 205-05-00,4.20,2078481930770,4.20,15.00,КОЛЬЦО ОБРУЧАЛЬНОЕ,3761261

In [339]:
stock['Код склада'] = stock['Код склада'].astype('float64')

In [340]:
stock['date'] = pd.to_datetime(date_now, format='mixed')
stock['competitor'] = '585*Золотой оффлайн'
stock['discount_for_dash'] = 0.7 * 0.8 # скидка непостоянная, информация о скидке всегда приходит на почту в конце месяца

In [341]:
stock = stock[['date', 'competitor', 'ID Сайта', 'Цена Розн., за шт', 'Запрет скидки', 'Чистый вес', 'discount_for_dash', 'Товарная группа', 'Скидка на изделии']]

In [342]:
stock.columns = ['date', 'competitor', 'url', 'price', 'discount', 'weight', 'discount_for_dash', 'tg', 'skidka']

In [343]:
tgs = ['БК СЕРЬГИ', 'ЦБ БРАСЛЕТЫ', 'ЦБ ЦЕПИ', 'БК КОЛЬЦА ОБРУЧ', 'БК ПОДВЕС КУЛЬТ', 'БК ПОДВЕС ДЕКОР', 'БК КОЛЬЦА']
stock = stock.query('tg in @tgs')

In [344]:
stock['price_personal'] = np.where(
    stock['discount'] == 'Да', stock['price'], stock['price'] * stock['discount_for_dash'] * (1 - (stock['skidka'] / 100))
)

In [345]:
stock['price_per_gramm'] = stock['price_personal'] / stock['weight']

In [346]:
stock['price_case'] = np.where(
    stock['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (stock['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (stock['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (stock['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (stock['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (stock['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (stock['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [347]:
stock = stock[['date_', 'competitor', 'url', 'price_personal', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]

In [348]:
gold_stock = stock.groupby(by = 'tg', as_index = False)[['price_personal', 'weight']].agg('sum')
gold_stock['price_per_gramm'] = gold_stock['price_personal'] / gold_stock['weight']

In [349]:
stock_price_pl = ((gold_stock['price_personal']).sum() / gold_stock['weight'].sum()).round(0)
print('Средняя цена остатков офлайн ПЛ: ', stock_price_pl)

Средняя цена остатков офлайн ПЛ:  6991.0

In [350]:
gold_stock = gold_stock[['tg', 'price_per_gramm']]

In [351]:
gold_stock.columns = ['tg', '585*Золотой оффлайн остатки 30%+20%']

In [352]:
stock

,date,competitor,url,price_personal,weight,discount_for_dash,price_per_gramm,tg,price_case
0,2024-06-06,585*Золотой оффлайн,1572969,12659.17,1.47,0.56,8605.83,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
1,2024-06-06,585*Золотой оффлайн,1314166,11236.69,1.52,0.56,7387.70,БК ПОДВЕС КУЛЬТ,7 000 руб. - 8 000 руб.
2,2024-06-06,585*Золотой оффлайн,1139291,5703.13,0.90,0.56,6336.81,БК ПОДВЕС КУЛЬТ,6 000 руб. - 6 500 руб.
3,2024-06-06,585*Золотой оффлайн,1496808,6772.72,1.42,0.56,4766.16,БК СЕРЬГИ,до 5 500 руб.
4,2024-06-06,585*Золотой оффлайн,1749024,7631.23,1.60,0.56,4763.57,БК СЕРЬГИ,до 5 500 руб.
...,...,...,...,...,...,...,...,...,...
1462752,2024-06-06,585*Золотой оффлайн,1139291,7633.08,0.90,0.56,8481.20,БК ПОДВЕС КУЛЬТ,8 000 руб. - 9 000 руб.
1462753,2024-06-06,585*Золотой оффлайн,1833251,14333.23,1.69,0.56,8476.18,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
1462754,2024-06-06,585*Золотой оффлайн,1182395,22201.67,2.63,0.56,8435.29,ЦБ БРАСЛЕТЫ,8 000 руб. - 9 000 руб.
1462755,2024-06-06,585*Золотой оффлайн,3457008,63133.32,7.54,0.56,8373.12,ЦБ БРАСЛЕТЫ,8 000 руб. - 9 000 руб.
1462756,2024-06-06,585*Золотой оффлайн,1511357,23933.95,3.18,0.56,7526.40,БК ПОДВЕС КУЛЬТ,7 000 руб. - 8 000 руб.

In [353]:
gold_stock

                tg  585*Золотой оффлайн остатки 30%+20%
0        БК КОЛЬЦА                              7063.65
1  БК КОЛЬЦА ОБРУЧ                              6636.51
2  БК ПОДВЕС ДЕКОР                              7009.50
3  БК ПОДВЕС КУЛЬТ                              7150.65
4        БК СЕРЬГИ                              6946.50
5      ЦБ БРАСЛЕТЫ                              6991.66
6          ЦБ ЦЕПИ                              7127.07

# 5. Соединение таблиц для дашборда

In [354]:
data_all = pd.concat([df_sokolov, df_sunlight], ignore_index=True)

In [355]:
data_all['date'].fillna(f'{day_now}-{month_now}-{year_now}', inplace=True)

In [356]:
data_all['date'].unique()

array(['05.06.2024'], dtype=object)

In [359]:
data_all['date'] = pd.to_datetime('2024-06-05', format='mixed')

In [360]:
data_all.date.unique()

<DatetimeArray>
['2024-06-05 00:00:00']
Length: 1, dtype: datetime64[ns]

In [361]:
data_all

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,2024-06-05,Sokolov,кольцо обручальное из белого золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
1,2024-06-05,Sokolov,кольцо обручальное из белого золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
2,2024-06-05,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
3,2024-06-05,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
4,2024-06-05,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.63,ШОК-ЦЕНА,7969.00,БК КОЛЬЦА ОБРУЧ,7 000 руб. - 8 000 руб.
...,...,...,...,...,...,...,...,...,...,...,...,...
5309,2024-06-05,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_271436.html,16374.00,0.90,2.83,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00",5786.00,БК СЕРЬГИ,5 500 руб. - 6 000 руб.
5310,2024-06-05,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_267531.html,5647.00,0.85,0.96,"Цены ниже! Ещё -15%, код: НОЧЬ до 11:00",5882.00,БК СЕРЬГИ,5 500 руб. - 6 000 руб.
5311,2024-06-05,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_244034.html,22674.00,0.90,3.92,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00",5784.00,БК СЕРЬГИ,5 500 руб. - 6 000 руб.
5312,2024-06-05,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_242712.html,5349.00,0.90,0.94,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00",5690.00,БК ПОДВЕС ДЕКОР,5 500 руб. - 6 000 руб.
5313,2024-06-05,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_167673.html,10704.00,0.90,1.77,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00",6047.00,БК ПОДВЕС ДЕКОР,6 000 руб. - 6 500 руб.

In [363]:
data_history_gold = data_history

In [364]:
# группируем общую таблицу для добавления данных о изменении стоимости за грамм по дате
data_history = data_all.groupby('competitor', as_index=False)[['weight', 'price_personal']].agg('sum')
data_history['price_per_gramm'] = (data_history['price_personal'] / data_history['weight']).round(0)
data_history.insert(0, 'date', f'{date_now}')
data_history = data_history.drop(columns=['weight', 'price_personal'], axis=1)
data_history['num_shop'] = '_' + data_history['competitor']

In [365]:
data_history = data_history.drop(columns=['num_shop'])
data_history.columns = ['date', 'competitor', 'avg_ppg']

In [366]:
data_history['date'] = pd.to_datetime('2024-06-05', format='mixed')

In [ ]:
data_history.to_csv(f'{date_now} sklv_sl.csv', index=False)

In [370]:
data_history = pd.concat([data_history_gold, data_history], ignore_index=True)

In [ ]:
data_history.to_sql('avg_ppg_for_monthly_monitoring', engine, schema = 'yura', if_exists='append', index = False)

2

In [ ]:
data_all.to_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\sklv_sl_data\\bk_sokolov_sunlight_{date_now}.xlsx', index=False)

In [372]:
data_all = data_all.drop(columns=['name', 'discount', 'group'])

In [373]:
data_all = data_all[['date', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']]

In [374]:
data_all.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [375]:
data_all['date_'] = pd.to_datetime('2024-06-05', format='mixed')

In [376]:
# группировка полученных данных для отчёта

In [377]:
df_tn_sokolov = df_sokolov.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sokolov['price_per_gram'] = df_tn_sokolov['price_personal'] / df_tn_sokolov['weight']

In [378]:
df_tn_sunlight = df_sunlight.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sunlight['price_per_gram'] = df_tn_sunlight['price_personal'] / df_tn_sunlight['weight']

In [379]:
df_tn_sunlight = df_tn_sunlight.drop(columns=['price_personal', 'weight'])
df_tn_sunlight.columns = ['tg', 'Sunlight']

In [380]:
df_tn_sokolov = df_tn_sokolov.drop(columns=['price_personal', 'weight'])
df_tn_sokolov.columns = ['tg', 'Sokolov']

In [381]:
result = pd.merge(df_tn_sokolov, df_tn_sunlight, how='left', on='tg').merge(zolotoy, how='left', on='tg').merge(gold_stock, how='left', on='tg') # объединяем данные в одну табличку

In [382]:
result

,tg,Sokolov,Sunlight,585*Золотой остатки 30%+20%,585*Золотой оффлайн остатки 30%+20%
0,БК КОЛЬЦА,8508.81,6674.05,6463.02,7063.65
1,БК КОЛЬЦА ОБРУЧ,8545.73,6492.60,6302.63,6636.51
2,БК ПОДВЕС ДЕКОР,9177.98,6996.36,6228.25,7009.50
3,БК ПОДВЕС КУЛЬТ,8826.08,6824.61,6806.36,7150.65
4,БК СЕРЬГИ,8511.17,6924.68,7075.03,6946.50
5,ЦБ БРАСЛЕТЫ,9123.30,6254.62,7210.47,6991.66
6,ЦБ ЦЕПИ,8740.80,5990.15,7217.72,7127.07

In [383]:
result.to_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\sklv_sl_data\grouped_data\\result_{date_now}.xlsx', index= False)

# 6. Расчёт наценки

In [384]:
cookies = {
    '__ddg1_': 'XgGmRRFfNl9J83C2HQq2',
    '__RequestVerificationToken': '5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
}

headers = {
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7',
    'accept-language': 'ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7',
    'cache-control': 'max-age=0',
    # 'cookie': '__ddg1_=XgGmRRFfNl9J83C2HQq2; __RequestVerificationToken=5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
    'priority': 'u=0, i',
    'sec-ch-ua': '"Google Chrome";v="125", "Chromium";v="125", "Not.A/Brand";v="24"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'document',
    'sec-fetch-mode': 'navigate',
    'sec-fetch-site': 'cross-site',
    'sec-fetch-user': '?1',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36',
}

response = requests.get('https://mfd.ru/centrobank/preciousmetals/', cookies=cookies, headers=headers).text

In [385]:
soup = bs(response, 'html.parser')

In [386]:
# данные ниже могут меняться
price_ = float(soup.find('table', class_='mfd-table').find('tbody').find('td', class_='mfd-item-date').findNext('td').text.strip()[:7]) * 0.585
ugar = 0.03 
workprice = 150 
nds = 0.2

In [387]:
costprice = (price_/(1-ugar)+workprice)*(1 + nds)

In [388]:
stock_for_dash = stock.drop_duplicates(subset=['url'])

In [389]:
data_all = pd.concat([data_all, df, stock_for_dash], ignore_index=True)

In [390]:
data_all['markup'] = (data_all['price_personal'] / (costprice * data_all['weight'])) - 1

In [391]:
data_all['markup'] = data_all['markup'].astype(str)
data_all = data_all[data_all['markup'] != 'inf']
data_all['markup'] = data_all['markup'].astype(float)

In [393]:
data_all['date_'] = pd.to_datetime('2024-06-05', format='mixed')

In [ ]:
data_all.to_sql('price_per_gramm', engine, schema = 'yura', if_exists='append', index = False)

In [402]:
data_all = data_all.dropna(subset=['markup'])

In [422]:
costprice_offline = data_all[data_all['competitor'] == '585*Золотой оффлайн'].groupby(by = 'tg', as_index = False)['markup'].mean()
costprice_offline.columns = ['tg', 'markup_a']

In [418]:
costprice_ = data_all[data_all['competitor'] == 'Sunlight'].groupby(by = 'tg', as_index = False)['markup'].mean().\
    merge(data_all[data_all['competitor'] == 'Sokolov'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg').\
        merge(data_all[data_all['competitor'] == '585*Золотой'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg')

In [423]:
costprice_ = costprice_.merge(costprice_offline, how='left', on='tg')

In [425]:
costprice_

                tg  markup_x  markup_y  markup  markup_a
0        БК КОЛЬЦА      0.32      0.72    0.20      0.25
1  БК КОЛЬЦА ОБРУЧ      0.32      0.72    0.20      0.19
2  БК ПОДВЕС ДЕКОР      0.46      0.93    0.26      0.31
3  БК ПОДВЕС КУЛЬТ      0.43      0.91    0.40      0.39
4        БК СЕРЬГИ      0.40      0.75    0.39      0.36
5      ЦБ БРАСЛЕТЫ      0.32      0.88    0.45      0.36
6          ЦБ ЦЕПИ      0.33      0.86    0.44      0.34

In [426]:
costprice_.columns = ['Товарная группа', 'Наценка Sunlight', 'Наценка Sokolov', 'Наценка 585*Золотой онлайн', 'Наценка 585*Золотой оффлайн']

In [439]:
costprice_['Дата'] = pd.to_datetime('2024-06-05', format='%Y-%m-%d')

In [440]:
costprice_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Товарная группа              7 non-null      object
 1   Наценка Sunlight             7 non-null      float64
 2   Наценка Sokolov              7 non-null      float64
 3   Наценка 585*Золотой онлайн   7 non-null      float64
 4   Наценка 585*Золотой оффлайн  7 non-null      float64
 5   Дата                         7 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 468.0+ bytes

In [441]:
costprice_

,Товарная группа,Наценка Sunlight,Наценка Sokolov,Наценка 585*Золотой онлайн,Наценка 585*Золотой оффлайн,Дата
0,БК КОЛЬЦА,0.32,0.72,0.20,0.25,2024-06-05
1,БК КОЛЬЦА ОБРУЧ,0.32,0.72,0.20,0.19,2024-06-05
2,БК ПОДВЕС ДЕКОР,0.46,0.93,0.26,0.31,2024-06-05
3,БК ПОДВЕС КУЛЬТ,0.43,0.91,0.40,0.39,2024-06-05
4,БК СЕРЬГИ,0.40,0.75,0.39,0.36,2024-06-05
5,ЦБ БРАСЛЕТЫ,0.32,0.88,0.45,0.36,2024-06-05
6,ЦБ ЦЕПИ,0.33,0.86,0.44,0.34,2024-06-05

In [443]:
costprice_.to_sql('costprice_sklv_sl', engine, schema = 'yura', if_exists='replace', index = False)

OperationalError: (psycopg2.OperationalError) connection to server at "51.250.54.232", port 5432 failed: Connection timed out (0x0000274C/10060)
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/20/e3q8)