In [1]:
from sqlalchemy import create_engine
from bs4 import BeautifulSoup as bs
import datetime as dt
import pandas as pd
import numpy as np
import warnings
import requests
import pymssql
import calendar
import locale
import json
import glob
import os

warnings.filterwarnings('ignore')
pd.set_option('use_inf_as_na', True)
pd.options.display.max_columns = None
pd.set_option('float_format', '{:.2f}'.format)
locale.setlocale(locale.LC_ALL, 'ru_RU.UTF-8')

'ru_RU.UTF-8'

In [223]:
report_folder = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\Мониторинг Sokolov и Sunlight'

In [2]:
engine = create_engine('postgresql://sergei:S714801t@51.250.54.232:5432/dldb')

In [3]:
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')
month_now = dt.datetime.now().month
day_now = dt.datetime.now().day 
year_now = dt.datetime.now().year

In [4]:
way = os.getcwd()

# 1. Sokolov

In [6]:
df_sokolov = pd.read_csv(rf'{way}\sokolov\parsed_data\result\bk_sokolov_{date_now}.csv')

In [7]:
df_sokolov.sample(5)

,data,competitor,name,group,weight,price,price_old,discount,insert,metal,lock_type_or_weaving_type,article
165,05.06.2024,Sokolov,Обручальное кольцо из золота,rings,1.62 г,22500,49990,NaN,Без вставок,Красное золото 585 пробы,NaN,111227
1156,05.06.2024,Sokolov,Кольцо из золота,rings,1.71 г,21600,47990,Дополнительная скидка по акции «Готовимся к ле...,Без вставок,Красное золото 585 пробы,NaN,018958
546,05.06.2024,Sokolov,Серьга из золота,earrings,1.01 г,14850,32990,NaN,Без вставок,Красное золото 585 пробы,NaN,170040?reviews
1122,05.06.2024,Sokolov,"Цепь из золота, плетение Двойной ромб, 585 проба",chains,1.73 г,27000,59990,Дополнительная скидка по акции «Готовимся к ле...,Без вставок,Красное золото 585 пробы,Ромб двойной,2301035
852,05.06.2024,Sokolov,Серьги из золота с алмазной гранью,earrings,2.21 г,26550,58990,Дополнительная скидка по акции «Готовимся к ле...,Без вставок,Красное золото 585 пробы,Английский,027362

In [8]:
df_sokolov['article'] = 'https://sokolov.ru/jewelry-catalog/product/' + df_sokolov['article']
df_sokolov['article'] = df_sokolov['article'] + '/'

df_sokolov.columns = ['date', 'competitor', 'name', 'group', 'weight', 'price', 'price_old',
                    'discount', 'insert', 'metal', 'lock_type_or_weaving_type', 'url']

In [9]:
df_sokolov['discount'].value_counts(dropna=False)

discount
NaN                                                            1301
Дополнительная скидка по акции «Готовимся к лету!» ЕЩЁ -10%     552
Дополнительная скидка по акции «Готовимся к лету!» ЕЩЁ -20%     175
Name: count, dtype: int64

In [10]:
df_sokolov['discount_for_dash'] = df_sokolov['discount']
df_sokolov['discount_for_dash'] = df_sokolov['discount_for_dash'].fillna('нет скидочного купона')

In [11]:
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] == 0:
        df_sokolov['discount_for_dash'][i] = 'ШОК-ЦЕНА'

In [12]:
def discount_value(discount):
    '''у Sokolov купоны имеют скидку до 30%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '10%' in discount:
        return 0.9
    elif '15%' in discount:
        return 0.85
    elif '20%' in discount:
        return 0.8
    elif '25%' in discount:
        return 0.75
    elif '30%' in discount:
        return 0.7
    return 1

df_sokolov['discount'] = df_sokolov['discount'].fillna('1')
df_sokolov['discount'] = df_sokolov['discount'].apply(discount_value)

In [13]:
df_sokolov['weight'] = df_sokolov['weight'].str.replace(' г', '')
df_sokolov['weight'] = df_sokolov['weight'].astype('float')

In [14]:
df_sokolov['metal'].value_counts()

metal
Красное золото 585 пробы            1570
Комбинированное золото 585 пробы     193
Жёлтое золото 585 пробы              132
Белое золото 585 пробы               122
Красное золото 375 пробы               9
Золото 585 пробы                       2
Name: count, dtype: int64

In [15]:
df_sokolov['price'].isna().sum()

0

In [16]:
df_sokolov = df_sokolov.dropna(subset=['price'])

In [17]:
# применяем скидку для первоначальной цены
df_sokolov['price'] = df_sokolov['price'] * df_sokolov['discount']

In [18]:
# для расчета персональной стоимости нужно выделить изделия для которых применины баллы. Для этого в парсинге цен используються cookies аккаунта с баллами (любым кол-вом).
# чтобы определить если ли персональная цена сравниваются 2 столба "price_old" и "price".
# если "price_old" равен нулю, значит этот товар является товаром из списка ШОК-цен, на них не распространяются бонусные баллы
# в противном случае мы можем списать до 30% от стоимости товара бонусными баллами
# мы считаем, что пользователь может использовать программу лояльности по-максимуму

In [19]:
no_discount = 0
df_sokolov['discount_flag'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['price_old'][i] != 0:
        df_sokolov['discount_flag'][i] = df_sokolov['price'][i] * 0.3
    else:
        df_sokolov['discount_flag'][i] = no_discount

In [20]:
df_sokolov['price_personal'] = np.nan
for i in df_sokolov.index:
    if df_sokolov['discount_flag'][i] <= (df_sokolov['price'][i] * 0.3):
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - df_sokolov['discount_flag'][i]
    else:
        df_sokolov['price_personal'][i] = df_sokolov['price'][i] - (df_sokolov['price'][i] * 0.3)

In [21]:
df_sokolov = df_sokolov.drop(columns=['discount_flag'], axis=1)

In [22]:
df_sokolov['price'].isna().sum()

0

In [23]:
df_sokolov['price_personal'].isna().sum()

0

In [24]:
df_sokolov['price_per_gramm'] = (df_sokolov['price_personal'] / df_sokolov['weight']).round(0)
df_sokolov['name'] = df_sokolov['name'].str.lower()

In [25]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sokolov['tg'] = np.where(
    ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка'))), 'ПОДВЕС КУЛЬТ',
    np.where(
        ((df_sokolov['group'] == 'pendants') & (df_sokolov['name'].str.contains('крест|иконка|крестик|мусульманская|ладанка') == False)), 'ПОДВЕС ДЕКОР', 
        np.where(
            ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ', 
            np.where(
                ((df_sokolov['group'] == 'rings') & (df_sokolov['name'].str.contains('обручальное')==False)), 'КОЛЬЦА', 
                np.where(
                    (df_sokolov['group'] == 'bracelets'), 'БРАСЛЕТЫ',
                    np.where(
                        (df_sokolov['group'] == 'chains'), 'ЦЕПИ', 
                        np.where(
                            (df_sokolov['group'] == 'earrings'), 'СЕРЬГИ', np.nan)
                    )
                )
            )
        )
    )
)

In [26]:
df_sokolov = df_sokolov[df_sokolov['tg'] != 'nan'] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [27]:
df_sokolov['tn'] = np.where(
    ((df_sokolov['insert'].str.lower().str.contains('выраще|синте|искусств')) & (df_sokolov['insert'].str.lower().str.contains('бриллиант') == False)), 'ПДК',
    np.where(
        (df_sokolov['insert'].str.lower().str.contains('бриллиант|сапфир|рубин|изумруд') & (df_sokolov['insert'].str.lower().str.contains('выращ|искусств|синтети') == False)), 'ДК',
        np.where(
            df_sokolov['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ',
            np.where(
                df_sokolov['insert'] == 'Без вставок', 'БК', 
                np.where(
                    df_sokolov['insert'].str.lower().str.contains('фианит|бриллиант'), 'ИФ', 'ПДК'
                )
            )
        )
    )
)

In [28]:
df_sokolov['tg'] = df_sokolov['tn'] + ' ' + df_sokolov['tg']

In [29]:
df_sokolov['tg'].value_counts(dropna=False)

tg
БК СЕРЬГИ          585
БК КОЛЬЦА          339
БК ПОДВЕС ДЕКОР    238
ЦБ БРАСЛЕТЫ        237
ЦБ ЦЕПИ            199
БК КОЛЬЦА ОБРУЧ    162
БК ПОДВЕС КУЛЬТ    158
Name: count, dtype: int64

In [30]:
df_sokolov['price_case'] = np.where(
    df_sokolov['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sokolov['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sokolov['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sokolov['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sokolov['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sokolov['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sokolov['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [31]:
df_sokolov['price_per_gramm'].describe([0.05, 0.95])

count    1918.00
mean     8994.64
std      1230.15
min      4478.00
5%       7176.85
50%      8885.00
95%     11147.25
max     14047.00
Name: price_per_gramm, dtype: float64

In [32]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url', 'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]

In [33]:
df_sokolov['num_shop'] = '_' + df_sokolov['competitor']
df_sokolov['num_diap'] = df_sokolov['price_case']

In [34]:
df_sokolov.head(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case,num_shop,num_diap
0,05.06.2024,Sokolov,кольцо обручальное из белого золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.,_Sokolov,8 000 руб. - 9 000 руб.
1,05.06.2024,Sokolov,кольцо обручальное из белого золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.,_Sokolov,8 000 руб. - 9 000 руб.
2,05.06.2024,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.,_Sokolov,8 000 руб. - 9 000 руб.
3,05.06.2024,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.,_Sokolov,8 000 руб. - 9 000 руб.
4,05.06.2024,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.63,ШОК-ЦЕНА,7969.00,БК КОЛЬЦА ОБРУЧ,7 000 руб. - 8 000 руб.,_Sokolov,7 000 руб. - 8 000 руб.

In [35]:
df_sokolov['discount_for_dash'].value_counts()

discount_for_dash
нет скидочного купона                                          1221
Дополнительная скидка по акции «Готовимся к лету!» ЕЩЁ -10%     515
Дополнительная скидка по акции «Готовимся к лету!» ЕЩЁ -20%     153
ШОК-ЦЕНА                                                         29
Name: count, dtype: int64

In [36]:
df_sokolov['price_per_gramm'].describe().round(0)

count    1918.00
mean     8995.00
std      1230.00
min      4478.00
25%      8122.00
50%      8885.00
75%      9795.00
max     14047.00
Name: price_per_gramm, dtype: float64

In [37]:
df_sokolov['price_personal'].sum() / df_sokolov['weight'].sum().round(0)

8724.851526070368

In [38]:
df_sokolov = df_sokolov[['date', 'competitor', 'name', 'group', 'url',
       'price_personal', 'discount', 'weight', 'discount_for_dash', 'price_per_gramm',
       'tg', 'price_case']]

In [39]:
df_sokolov.head()

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,05.06.2024,Sokolov,кольцо обручальное из белого золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
1,05.06.2024,Sokolov,кольцо обручальное из белого золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
2,05.06.2024,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
3,05.06.2024,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
4,05.06.2024,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.63,ШОК-ЦЕНА,7969.00,БК КОЛЬЦА ОБРУЧ,7 000 руб. - 8 000 руб.

# 2. Sunlight

In [40]:
df_sunlight = pd.read_csv(fr'{way}\sunlight\parsed_data\result\bk_sunlight_{date_now}.csv')

In [41]:
df_sunlight = df_sunlight.drop(columns=['index'])

In [42]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount
0,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
1,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
2,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена']
3,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена']
4,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена']

In [43]:
def get_params_from_dic(df):
    '''функция для разделения столбца "params" на отдельные столбцы'''
    spisok = []                                                           
    for c in df['params']:
        for i in c.keys():                                
            spisok.append(i)              
    spisok = set(spisok)
    for s in spisok:
        z = []
        for j in df['params']:
            try:
                z.append(j[s])
            except:
                z.append(np.nan)
        df[s] = z
        
    return df

In [44]:
df_sunlight['group'].unique()

array(['Серьги', 'Крест-подвеска', 'Подвески', 'Кольца', 'Колье', 'Цепи',
       'Браслеты', 'Шейное украшение', 'Серьга', 'Ножной браслет',
       'Брошь', 'Пирсинг', 'Запонки', 'Булавка', 'Зажимы для галстука',
       'Икона', 'Брелоки'], dtype=object)

In [45]:
# чтобы функция написанная выше работала, необходимо, чтобы столбец params стал снова словарем, это происходит благодаря функции eval()
df_sunlight['params'] = df_sunlight['params'].apply(lambda x: eval(x))
get_params_from_dic(df_sunlight)

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount,Ширина кольца,Ширина цепи,Покрытие,Диаметр серег,Материал изделия,Вставка,Ширина браслета,Модель,Вес изделия,Страна производства,Плетение
0,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,NaN,NaN,Розовое золото,NaN,NaN,10-00-0000-27628*,2.36 г,Россия,NaN
1,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,NaN,NaN,Розовое золото,NaN,NaN,10-00-0000-27628*,2.36 г,Россия,NaN
2,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,NaN,NaN,Розовое золото,NaN,NaN,10-00-0000-27628*,2.36 г,Россия,NaN
3,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена'],NaN,NaN,NaN,15 мм,Розовое золото,NaN,NaN,11-01-0015-40100*,0.77 г,Россия,NaN
4,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена'],NaN,NaN,NaN,15 мм,Розовое золото,NaN,NaN,11-01-0015-40100*,0.77 г,Россия,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4115,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '14010495*', 'Материал изделия': 'Р...",25990,271436,https://sunlight.net/catalog/earring_271436.html,86 633 ₽,25 990 ₽,18 193 ₽,"['Цены ниже! Ещё -10%, код: НОЧЬ до 11:00']",NaN,NaN,NaN,NaN,Розовое золото,NaN,NaN,14010495*,2.83 г,Россия,NaN
4116,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': 'С300-2073*', 'Материал изделия': '...",9490,267531,https://sunlight.net/catalog/earring_267531.html,31 633 ₽,9 490 ₽,6 643 ₽,"['Цены ниже! Ещё -15%, код: НОЧЬ до 11:00']",NaN,NaN,NaN,NaN,Желтое золото,NaN,NaN,С300-2073*,0.96 г,Россия,NaN
4117,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '23-40-23*', 'Диаметр серег': '40 м...",35990,244034,https://sunlight.net/catalog/earring_244034.html,119 967 ₽,35 990 ₽,25 193 ₽,"['Цены ниже! Ещё -10%, код: НОЧЬ до 11:00']",NaN,NaN,NaN,40 мм,NaN,NaN,NaN,23-40-23*,3.92 г,Россия,NaN
4118,05.06.2024,Sunlight,\n Золотая подвеска\n,Подвески,"{'Модель': '313910 1 1 1овен*', 'Материал изде...",8490,242712,https://sunlight.net/catalog/pendants_242712.html,28 300 ₽,8 490 ₽,5 943 ₽,"['Цены ниже! Ещё -10%, код: НОЧЬ до 11:00']",NaN,NaN,NaN,NaN,Розовое золото,NaN,NaN,313910 1 1 1овен*,0.94 г,Россия,NaN
4119,05.06.2024,Sunlight,\n Золотая подвеска\n,Подвески,"{'Модель': '08-63-0012-00*', 'Материал изделия...",16990,167673,https://sunlight.net/catalog/pendants_167673.html,33 980 ₽,16 990 ₽,11 893 ₽,"['Цены ниже! Ещё -10%, код: НОЧЬ до 11:00']",NaN,NaN,NaN,NaN,Розовое золото,NaN,NaN,08-63-0012-00*,1.77 г,Россия,NaN

In [46]:
df_sunlight.head()

,date,competitor,name,group,params,price_x,article,url,price_old,price_y,price_personal,discount,Ширина кольца,Ширина цепи,Покрытие,Диаметр серег,Материал изделия,Вставка,Ширина браслета,Модель,Вес изделия,Страна производства,Плетение
0,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,NaN,NaN,Розовое золото,NaN,NaN,10-00-0000-27628*,2.36 г,Россия,NaN
1,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,NaN,NaN,Розовое золото,NaN,NaN,10-00-0000-27628*,2.36 г,Россия,NaN
2,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '10-00-0000-27628*', 'Материал изде...",20990,235978,https://sunlight.net/catalog/earring_235978.html,NaN,20 990 ₽,NaN,['ХИТ-цена'],NaN,NaN,NaN,NaN,Розовое золото,NaN,NaN,10-00-0000-27628*,2.36 г,Россия,NaN
3,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена'],NaN,NaN,NaN,15 мм,Розовое золото,NaN,NaN,11-01-0015-40100*,0.77 г,Россия,NaN
4,05.06.2024,Sunlight,\n Золотые серьги\n,Серьги,"{'Модель': '11-01-0015-40100*', 'Материал изде...",6490,51498,https://sunlight.net/catalog/earring_51498.html,NaN,6 490 ₽,NaN,['ХИТ-цена'],NaN,NaN,NaN,15 мм,Розовое золото,NaN,NaN,11-01-0015-40100*,0.77 г,Россия,NaN

In [47]:
df_sunlight['Материал изделия'].value_counts(dropna=False)

Материал изделия
Розовое золото                                 2879
Желтое золото                                   636
Белое золото, Розовое золото                    276
Белое золото                                    167
NaN                                              95
Белое золото, Желтое золото                      20
Белое золото, Желтое золото, Розовое золото      19
Желтое золото, Розовое золото                    11
Текстиль                                         10
Серебро                                           7
Name: count, dtype: int64

In [48]:
df_sunlight['Материал изделия'] = df_sunlight['Материал изделия'].fillna('золото')

In [49]:
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Серебро'))]
df_sunlight = df_sunlight[~(df_sunlight['Материал изделия'].str.contains('Текстиль'))]

In [50]:
df_sunlight = df_sunlight.drop(columns=['params', 'price_x', 'article',
                                'Ширина кольца', 'Страна производства',
                                'Ширина цепи', 'Плетение', 'Ширина браслета',
                                'Модель', 'Диаметр серег', 'Вставка', 'Покрытие', 'Материал изделия'], axis=1)

In [51]:
df_sunlight.columns

Index(['date', 'competitor', 'name', 'group', 'url', 'price_old', 'price_y',
       'price_personal', 'discount', 'Вес изделия'],
      dtype='object')

In [52]:
# переименновываем столбцы, чтобы у всех таблиц была единая система
df_sunlight.columns = ['date', 'competitor', 'name', 'group', 'url', 'price_old',
                    'price', 'price_personal', 'discount', 'weight']

In [53]:
df_sunlight['price_personal'].isna().sum()

805

In [54]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].fillna(df_sunlight['price'])

In [55]:
df_sunlight['weight'] = df_sunlight['weight'].str.replace(' г', '')
df_sunlight['name'] = df_sunlight['name'].str.replace('\n', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('\u202f', '')
df_sunlight['price_personal'] = df_sunlight['price_personal'].str.replace('₽', '').str.strip()
df_sunlight['price'] = df_sunlight['price'].astype('float')
df_sunlight['price_personal'] = df_sunlight['price_personal'].astype('float')
df_sunlight['discount_for_dash'] = df_sunlight['discount']

In [56]:
df_sunlight['discount_for_dash'].isna().sum()

0

In [57]:
df_sunlight['discount_for_dash'].unique()

array(["['ХИТ-цена']", "['Цены ниже! Ещё -20%, код: НОЧЬ до 11:00']",
       "['ХИТ-цена', 'Выгодно! Золото 5 290 р/г']",
       "['Цены ниже! Ещё -10%, код: НОЧЬ до 11:00']",
       "['Цены ниже! Ещё -15%, код: НОЧЬ до 11:00']",
       "['Цены ниже! Ещё -5%, код: НОЧЬ до 11:00']",
       "['Цены снижены! Ещё -15%, код: СЕГОДНЯ']", '[nan]',
       "['Второе в подарок, код 1=2', 'Цены ниже! Ещё -20%, код: НОЧЬ до 11:00']"],
      dtype=object)

In [58]:
def discount_value_sl(discount):
    '''у Sunlight купоны имеют скидку до 55%, при пересмотре их программы лояльности стоит переписать функцию на актуальную'''
    if '55%' in discount:
        return 0.45
    elif '50%' in discount:
        return 0.50
    elif '45%' in discount:
        return 0.55
    elif '40%' in discount:
        return 0.6
    elif '35%' in discount:
        return 0.65
    elif '30%' in discount:
        return 0.7
    elif '25%' in discount:
        return 0.75
    elif '20%' in discount:
        return 0.8
    elif '15%' in discount:
        return 0.85
    elif '10%' in discount:
        return 0.9 
    elif '1=2' in discount:
        return 0.5
    return 1

df_sunlight['discount'] = df_sunlight['discount'].apply(discount_value_sl)

In [59]:
df_sunlight['discount'].value_counts(dropna=False)

discount
0.85    1251
0.90    1248
1.00     902
0.80     702
Name: count, dtype: int64

In [60]:
df_sunlight['discount_for_dash'].value_counts(dropna=False)

discount_for_dash
['Цены ниже! Ещё -10%, код: НОЧЬ до 11:00']                                 1248
['Цены ниже! Ещё -15%, код: НОЧЬ до 11:00']                                 1239
['ХИТ-цена']                                                                 756
['Цены ниже! Ещё -20%, код: НОЧЬ до 11:00']                                  696
['Цены ниже! Ещё -5%, код: НОЧЬ до 11:00']                                    55
['ХИТ-цена', 'Выгодно! Золото 5 290 р/г']                                     46
[nan]                                                                         45
['Цены снижены! Ещё -15%, код: СЕГОДНЯ']                                      12
['Второе в подарок, код 1=2', 'Цены ниже! Ещё -20%, код: НОЧЬ до 11:00']       6
Name: count, dtype: int64

In [61]:
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace("'", '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('[', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace(']', '')
df_sunlight['discount_for_dash'] = df_sunlight['discount_for_dash'].str.replace('nan', 'нет скидочного купона')

In [62]:
df_sunlight['discount'] = df_sunlight['discount'].astype('float')

In [63]:
# применяем для каждого товара скидочный купон
# кроме тех строк, в которых есть информация, что это ХИТ-товар
df_sunlight['price_personal'] = np.where(
    df_sunlight['discount_for_dash'].str.contains('ХИТ'), df_sunlight['price'], df_sunlight['price'] * df_sunlight['discount']
)

In [64]:
df_sunlight['discount_for_dash'].value_counts()

discount_for_dash
Цены ниже! Ещё -10%, код: НОЧЬ до 11:00                               1248
Цены ниже! Ещё -15%, код: НОЧЬ до 11:00                               1239
ХИТ-цена                                                               756
Цены ниже! Ещё -20%, код: НОЧЬ до 11:00                                696
Цены ниже! Ещё -5%, код: НОЧЬ до 11:00                                  55
ХИТ-цена, Выгодно! Золото 5 290 р/г                                     46
нет скидочного купона                                                   45
Цены снижены! Ещё -15%, код: СЕГОДНЯ                                    12
Второе в подарок, код 1=2, Цены ниже! Ещё -20%, код: НОЧЬ до 11:00       6
Name: count, dtype: int64

In [65]:
# после применения купона, цена по программе лояльности Sunlight может снизиться ещё до 30% от полученной суммы при помощи бонусных баллов
# мы считаем, что пользователь пользуется максимальным количеством бонусных баллов, применимых к товару
# это не распростроняется на фикс цены, о наличии которых мы можем понять по устойчивому "ХИТ-цена", но так же могут быть добавлены новые акции
# всегда стоит перед запуском скрипта ниже проверять вывод блока кода выше

for i in df_sunlight.index:
    if df_sunlight['discount_for_dash'][i] == "ХИТ-цена":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    elif df_sunlight['discount_for_dash'][i] == "ХИТ-цена, Выгодно! Золото 5 290 р/г":
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] 
    else:    
        df_sunlight['price_personal'][i] = df_sunlight['price_personal'][i] * 0.7

In [66]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
396,05.06.2024,Sunlight,Золотое обручальное кольцо,Кольца,https://sunlight.net/catalog/ring_340486.html,37 640 ₽,18820.00,11197.90,0.85,1.68,"Цены ниже! Ещё -15%, код: НОЧЬ до 11:00"
132,05.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_244045.html,39 980 ₽,19990.00,11194.40,0.80,1.45,"Цены ниже! Ещё -20%, код: НОЧЬ до 11:00"
279,05.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_105879.html,35 980 ₽,17990.00,10704.05,0.85,1.36,"Цены ниже! Ещё -15%, код: НОЧЬ до 11:00"
3394,05.06.2024,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_995843.html,10 980 ₽,5490.00,3074.40,0.80,0.41,"Цены ниже! Ещё -20%, код: НОЧЬ до 11:00"
183,05.06.2024,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_276740.html,13 980 ₽,6990.00,4403.70,0.90,0.63,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00"

In [67]:
df_sunlight['price_personal'].isna().sum()

0

In [68]:
df_sunlight.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4103 entries, 0 to 4119
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               4103 non-null   object
 1   competitor         4103 non-null   object
 2   name               4103 non-null   object
 3   group              4103 non-null   object
 4   url                4103 non-null   object
 5   price_old          3298 non-null   object
 6   price              4103 non-null   float64
 7   price_personal     4103 non-null   float64
 8   discount           4103 non-null   float64
 9   weight             4103 non-null   object
 10  discount_for_dash  4103 non-null   object
dtypes: float64(3), object(8)
memory usage: 513.7+ KB

In [69]:
df_sunlight.sample()

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
3815,05.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_995635.html,79 980 ₽,39990.00,25193.70,0.90,3.79,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00"

In [70]:
df_sunlight['weight'] = df_sunlight['weight'].astype(float)
df_sunlight = df_sunlight[df_sunlight['weight'] > 0.1]

In [71]:
df_sunlight.drop_duplicates(inplace=True)

In [72]:
df_sunlight.sample(5)

,date,competitor,name,group,url,price_old,price,price_personal,discount,weight,discount_for_dash
627,05.06.2024,Sunlight,Золотая цепь,Цепи,https://sunlight.net/catalog/chains_343447.html,171 680 ₽,85840.00,48070.40,0.80,8.85,"Цены ниже! Ещё -20%, код: НОЧЬ до 11:00"
1174,05.06.2024,Sunlight,Золотое кольцо,Кольца,https://sunlight.net/catalog/ring_348594.html,47 800 ₽,23900.00,14220.50,0.85,2.57,"Цены ниже! Ещё -15%, код: НОЧЬ до 11:00"
3642,05.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_182211.html,95 980 ₽,47990.00,28554.05,0.85,3.22,"Цены ниже! Ещё -15%, код: НОЧЬ до 11:00"
521,05.06.2024,Sunlight,Золотая цепь,Цепи,https://sunlight.net/catalog/chains_993837.html,NaN,17428.00,17428.00,1.00,3.01,ХИТ-цена
3444,05.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_357188.html,18 980 ₽,9490.00,5978.70,0.90,0.70,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00"

In [73]:
df_sunlight['price_personal'] = df_sunlight['price_personal'].round(0)

In [74]:
# проверяем корректность расчётов
df_sunlight[['price_personal','url']].sample(3)

      price_personal                                                url
2879        15126.00      https://sunlight.net/catalog/ring_331913.html
3593        12314.00  https://sunlight.net/catalog/pendants_309132.html
534         68421.00    https://sunlight.net/catalog/chains_343124.html

In [75]:
df_sunlight = df_sunlight.drop(columns=['price_old', 'price'])

In [76]:
df_sunlight['price_per_gramm'] = (df_sunlight['price_personal'] / df_sunlight['weight']).round(0)

In [77]:
# у разных площадок по-разному указаны товарные группы
# скрипт ниже обрабатывает собранные данные и назначает для них сопоставимые группы с нашей площадкой

df_sunlight['tg'] = np.where(
    df_sunlight['group'].str.contains('Серьги|Серьга|Пирсинг'), 'СЕРЬГИ',
    np.where(
        df_sunlight['group'].str.contains('Цепи'), 'ЦЕПИ',
        np.where(
            ((df_sunlight['group'].str.contains('Подвески')) & (df_sunlight['name'].str.lower().str.contains('свят|божия|блаженная|господь|чудотворец|ангел|сергий|божья|георгий'))), 'ПОДВЕС КУЛЬТ',
            np.where(
                df_sunlight['group'].str.contains('Крест|Икона'), 'ПОДВЕС КУЛЬТ',
                np.where(
                    df_sunlight['group'].str.lower().str.contains('браслет'), 'БРАСЛЕТЫ', 
                    np.where(
                        ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное') == False)), 'КОЛЬЦА',
                        np.where(
                            ((df_sunlight['group'].str.contains('Кольца')) & (df_sunlight['name'].str.lower().str.contains('обручальное'))), 'КОЛЬЦА ОБРУЧ',
                            np.where(
                                df_sunlight['group'].str.contains('Подвески'), 'ПОДВЕС ДЕКОР', df_sunlight['group']
                            )
                        )
                    )
                )
            )
        )
    )
)

In [78]:
df_sunlight = df_sunlight[df_sunlight['tg'].str.contains('СЕРЬГИ|КОЛЬЦА|ПОДВЕС|БРАСЛЕТЫ|ЦЕПИ')] # группы, которые не отсортировались скриптом выше мы убираем из мониторинга
# раз в месяц стоит проверять, какие товары мы удаляем, возможно ассортимент конкурента пополнился сопоставимыми товарами, которые не вписываются в скрипт выше

In [79]:
df_sunlight['price_case'] = np.where(
    df_sunlight['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df_sunlight['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df_sunlight['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df_sunlight['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df_sunlight['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df_sunlight['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df_sunlight['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [80]:
df_sunlight['tn'] = np.where(
    df_sunlight['tg'].str.contains('ЦЕПИ|БРАСЛЕТЫ'), 'ЦБ', 'БК'
)

In [81]:
df_sunlight['tg'] = df_sunlight['tn'] + ' ' + df_sunlight['tg']

In [82]:
df_sunlight['price_per_gramm'].describe([0.05, 0.99])

count    3396.00
mean     6862.80
std      1283.63
min      4333.00
5%       5599.25
50%      6774.50
99%     10280.60
max     52475.00
Name: price_per_gramm, dtype: float64

In [83]:
df_sunlight = df_sunlight.drop(columns=['tn'])

In [84]:
df_sunlight.head(5)

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,05.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_235978.html,20990.00,1.00,2.36,ХИТ-цена,8894.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
3,05.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_51498.html,6490.00,1.00,0.77,ХИТ-цена,8429.00,БК СЕРЬГИ,8 000 руб. - 9 000 руб.
6,05.06.2024,Sunlight,Золотой крест-подвеска,Крест-подвеска,https://sunlight.net/catalog/pendants_75809.html,2490.00,1.00,0.26,ХИТ-цена,9577.00,БК ПОДВЕС КУЛЬТ,9 000 руб. - 10 000 руб.
9,05.06.2024,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_993847.html,1990.00,1.00,0.21,ХИТ-цена,9476.00,БК ПОДВЕС ДЕКОР,9 000 руб. - 10 000 руб.
12,05.06.2024,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_271510.html,10490.00,1.00,1.04,ХИТ-цена,10087.00,БК СЕРЬГИ,свыше 10 000 руб.

In [85]:
print((df_sunlight['price_personal'].sum() / df_sunlight['weight'].sum()).round(0))

6468.0

# 3. 585*Золотой онлайн остатки

In [86]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime) # мы ищем тут последний выгруженный файл (занимается выгрузкой Оризу Наталья email: Orizu.Natalya@zolotoy.ru)

df = pd.read_excel(latest_file)

In [87]:
latest_file # если последний файл - не за сегодняшнюю/вчерашнюю дату, стоит запросить актуальную выгрузку

'\\\\gold585.int\\uk\\Общее хранилище файлов\\Служба аналитики\\МЮР\\ecom_stock_raw\\Остатки 2024.06.05.xlsx'

In [88]:
df.fineness.unique()

array([925., 375., 585.,  nan, 750., 999., 944., 945., 946., 947., 937.,
       938., 939., 931., 932., 933., 926., 928., 929., 930., 948., 949.,
       950., 951., 927., 934., 935., 936., 960., 961., 962., 963., 964.,
       956., 957., 958., 959., 875.])

In [89]:
df['published'].value_counts(dropna=False)

published
True     166919
False     37849
Name: count, dtype: int64

In [90]:
df['product_line'].unique()

array(['СИ', 'ПДК', 'ДК', 'ФУТЛЯРЫ', 'ДФРС', 'ЧАСЫ', 'ЦБ', 'ИФ', 'БК',
       'ВЫРИЦА', 'БИЖУТЕРИЯ', nan, 'БУ'], dtype=object)

In [91]:
df = df[(df['fineness'] == 585) & (df['product_line'].str.contains('ФУТЛЯРЫ|ДФРС|ВЫРИЦА|ЧАСЫ|БИЖУТЕРИЯ|БУ') == False)]

In [92]:
df = df[(df['product_group'].str.contains('БК КОЛЬЦА')|
        df['product_group'].str.contains('БК КОЛЬЦА ОБРУЧ')|
        df['product_group'].str.contains('ЦБ БРАСЛЕТЫ')|
        df['product_group'].str.contains('БК СЕРЬГИ')|
        df['product_group'].str.contains('БК ПОДВЕС КУЛЬТ')|
        df['product_group'].str.contains('БК ПОДВЕС ДЕКОР')|
        df['product_group'].str.contains('ЦБ ЦЕПИ'))]

In [93]:
df = df.drop(columns=['Unnamed: 15', '*без франчайзинговых магазинов и Румянцево'])

In [94]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\discounts_zolotoy\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)

discount = pd.read_excel(latest_file)

In [95]:
discount.columns = ['article', 'Опубликован', 'discount_value_promotions_1',
                    'discount_value_promotions_2', 'discount_value_promotions_3',
                    'discount_value_promotions_4']

In [96]:
df = df.merge(discount, how='left', on='article')

In [97]:
df = df[(df['published'] == 'ИСТИНА') | (df['published'] == True)]

In [98]:
df = df.drop(columns=['weaving', 'Unnamed: 14', 'name'])

In [99]:
df.columns = ['article', 'size', 'published', 'product_line', 'product_group',
            'material', 'type3', 'fineness', 'avg_weight', 'price',
            'discount_price', 'Остатки, шт*', 'type3',
            'discount_value_promotions_1', 'discount_value_promotions_2', 'discount_value_promotions_3', 'discount_value_promotions_4']

In [100]:
df = df.drop(columns=['discount_value_promotions_4', 'published'])

In [101]:
def discount_index(discount):
    try:
        return 1 - discount / 100
    except:
        return 1

In [102]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.apply(discount_index)
df.discount_value_promotions_2 = df.discount_value_promotions_2.apply(discount_index)
df.discount_value_promotions_3 = df.discount_value_promotions_3.apply(discount_index)

In [103]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.fillna(1)
df.discount_value_promotions_2 = df.discount_value_promotions_2.fillna(1)
df.discount_value_promotions_3 = df.discount_value_promotions_3.fillna(1)

In [104]:
df = df.dropna(subset=['avg_weight', 'discount_value_promotions_1'])

In [105]:
df['price_personal'] = np.where(
    (df['price'] == df['discount_price']) & (df['discount_value_promotions_1'] == 1), df['discount_price'] * df['discount_value_promotions_1'], df['discount_price'] * df['discount_value_promotions_1'] * 0.8
)

In [106]:
zolotoy = df.groupby('product_group', as_index=False)[['price_personal', 'avg_weight']].agg({'price_personal':'sum', 'avg_weight':'sum'})
zolotoy['price_per_gram'] = zolotoy['price_personal'] / zolotoy['avg_weight']

In [107]:
zolotoy['price_personal'].sum() / zolotoy['avg_weight'].sum()

6926.798827380813

In [108]:
zolotoy['date'] = pd.to_datetime('06.05.2024', format='mixed')

In [109]:
zolotoy = zolotoy.drop(columns=['price_personal', 'avg_weight', 'date'])

In [110]:
zolotoy.columns = ['tg', '585*Золотой остатки 30%+20%']

In [111]:
df = df.drop_duplicates(subset=['article'])

In [112]:
df['date'] = pd.to_datetime(date_now, dayfirst=True)
df['competitor'] = '585*Золотой'
df['price_per_gramm'] = df['price_personal'] / df['avg_weight']

In [113]:
df['price_case'] = np.where(
    df['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [114]:
df = df[['date', 'competitor', 'avg_weight', 'price_personal', 'product_group', 'price_per_gramm', 'discount_value_promotions_1', 'article', 'price_case']]
df.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [115]:
data_history = pd.DataFrame({'date': [pd.to_datetime(date_now, dayfirst=True)],
                            'competitor': ['585*Золотой'],
                            'avg_ppg': [int(df['price_personal'].sum() / df['weight'].sum())]})

# 4. 585*Золотой оффлайн остатки

In [116]:
# SQL-скрипт ниже выгружает данные по остаткам с БД Staging, доступ к ней выдаётся по учётной записи Windows по согласованию

conn = pymssql.connect(server='AX-SQL', database='Staging')
cursor = conn.cursor()

sql = f'''
SELECT [Код склада], [Название склада], [Цена Закупки за 1 шт. (упр сс с НДС за единицу)], [Группа цен],
[Товарное направление], [Товарная группа], [Проба], [Цена Розн., за шт],  [Запрет скидки],
[Код товара],  [Артикул поставщика], [Чистый вес], [ШК], [Общий вес], [Скидка на изделии], [Тип изделия 1], 
[ID Сайта]
from [Staging].[Reports].[Remainings_8h]
where [Товарное направление] in (N'БК', N'ЦБ')
'''

sql_query = pd.read_sql_query(sql, conn)
stock = pd.DataFrame(sql_query)

In [117]:
stock.sample(5)

,Код склада,Название склада,Цена Закупки за 1 шт. (упр сс с НДС за единицу),Группа цен,Товарное направление,Товарная группа,Проба,"Цена Розн., за шт",Запрет скидки,Код товара,Артикул поставщика,Чистый вес,ШК,Общий вес,Скидка на изделии,Тип изделия 1,ID Сайта
920374,5768,"Острогожск, Ленина, 31",5610.33,ИФ.БК_ДЕШ,БК,БК СЕРЬГИ,585,37513.00,Нет,ТОВ1256992,12-00-0000-29986,1.61,2078609750168,1.61,35.00,СЕРЬГИ,1833251
948948,5635,"Петрозаводск, Лесной, 47А",6121.04,ИФ.БК_СР,БК,БК ПОДВЕС КУЛЬТ,585,28208.00,Нет,ТОВ1215885,35-0678-11-00,1.64,2078606554877,1.64,34.00,ПОДВЕС КУЛЬТОВЫЙ,1637067
1321406,323,"Ставрополь, Пушкина, 40",1669.93,ИФ.БК_ДЕШ,БК,БК ПОДВЕС КУЛЬТ,585,15437.00,Нет,ТОВ1165993,51-02-0000-28248,0.86,2078482122044,0.86,21.00,ПОДВЕС КУЛЬТОВЫЙ,8377162
1092063,5724,"Новочеркасск, Московская,22/28",2789.10,ИФ.БК_СР,БК,БК ПОДВЕС КУЛЬТ,585,26207.00,Нет,ТОВ1123612,51-00-0000-27632,1.46,2078474547749,1.46,29.00,ПОДВЕС КУЛЬТОВЫЙ,8377168
528906,3733,"Магнитогорск,К.Маркса, 153, ТЦ Гостиный Двор",11129.23,ЦБ_АВТОМАТ >3 ГРАММ,ЦБ,ЦБ ЦЕПИ,585,63356.00,Нет,ТОВ01259786,310-01-0040-30200,4.24,2078902066903,4.24,11.00,ЦЕПЬ,1883684

In [118]:
stock['Код склада'] = stock['Код склада'].astype('float64')

In [119]:
stock['date'] = pd.to_datetime(date_now, dayfirst=True)
stock['competitor'] = '585*Золотой оффлайн'
stock['discount_for_dash'] = 0.7 * 0.8 # скидка непостоянная, информация о скидке всегда приходит на почту в конце месяца

In [120]:
stock = stock[['date', 'competitor', 'ID Сайта', 'Цена Розн., за шт', 'Запрет скидки', 'Чистый вес', 'discount_for_dash', 'Товарная группа', 'Скидка на изделии']]

In [121]:
stock.columns = ['date', 'competitor', 'url', 'price', 'discount', 'weight', 'discount_for_dash', 'tg', 'skidka']

In [122]:
tgs = ['БК СЕРЬГИ', 'ЦБ БРАСЛЕТЫ', 'ЦБ ЦЕПИ', 'БК КОЛЬЦА ОБРУЧ', 'БК ПОДВЕС КУЛЬТ', 'БК ПОДВЕС ДЕКОР', 'БК КОЛЬЦА']
stock = stock.query('tg in @tgs')

In [123]:
stock['price_personal'] = np.where(
    stock['discount'] == 'Да', stock['price'], stock['price'] * stock['discount_for_dash'] * (1 - (stock['skidka'] / 100))
)

In [124]:
stock['price_per_gramm'] = stock['price_personal'] / stock['weight']

In [125]:
stock['price_case'] = np.where(
    stock['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (stock['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (stock['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (stock['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (stock['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (stock['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (stock['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [126]:
stock

,date,competitor,url,price,discount,weight,discount_for_dash,tg,skidka,price_personal,price_per_gramm,price_case
0,2024-06-05,585*Золотой оффлайн,1572969,34251.00,Нет,1.47,0.56,БК СЕРЬГИ,34.00,12659.17,8605.83,8 000 руб. - 9 000 руб.
1,2024-06-05,585*Золотой оффлайн,1314166,23332.00,Нет,1.52,0.56,БК ПОДВЕС КУЛЬТ,14.00,11236.69,7387.70,7 000 руб. - 8 000 руб.
2,2024-06-05,585*Золотой оффлайн,1139291,18186.00,Нет,0.90,0.56,БК ПОДВЕС КУЛЬТ,44.00,5703.13,6336.81,6 000 руб. - 6 500 руб.
3,2024-06-05,585*Золотой оффлайн,1496808,23714.00,Нет,1.42,0.56,БК СЕРЬГИ,49.00,6772.72,4766.16,до 5 500 руб.
4,2024-06-05,585*Золотой оффлайн,1749024,26720.00,Нет,1.60,0.56,БК СЕРЬГИ,49.00,7631.23,4763.57,до 5 500 руб.
...,...,...,...,...,...,...,...,...,...,...,...,...
1462752,2024-06-05,585*Золотой оффлайн,1139291,20970.00,Нет,0.90,0.56,БК ПОДВЕС КУЛЬТ,35.00,7633.08,8481.20,8 000 руб. - 9 000 руб.
1462753,2024-06-05,585*Золотой оффлайн,1833251,39377.00,Нет,1.69,0.56,БК СЕРЬГИ,35.00,14333.23,8476.18,8 000 руб. - 9 000 руб.
1462754,2024-06-05,585*Золотой оффлайн,1182395,50828.00,Нет,2.63,0.56,ЦБ БРАСЛЕТЫ,22.00,22201.67,8435.29,8 000 руб. - 9 000 руб.
1462755,2024-06-05,585*Золотой оффлайн,3457008,126672.00,Нет,7.54,0.56,ЦБ БРАСЛЕТЫ,11.00,63133.32,8373.12,8 000 руб. - 9 000 руб.
1462756,2024-06-05,585*Золотой оффлайн,1511357,53424.00,Нет,3.18,0.56,БК ПОДВЕС КУЛЬТ,20.00,23933.95,7526.40,7 000 руб. - 8 000 руб.

In [127]:
stock = stock[['date', 'competitor', 'url', 'price_personal', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']]
stock.columns = ['date_', 'competitor', 'url', 'price_personal', 'weight', 'discount_for_dash', 'price_per_gramm', 'tg', 'price_case']

In [128]:
gold_stock = stock.groupby(by = 'tg', as_index = False)[['price_personal', 'weight']].agg('sum')
gold_stock['price_per_gramm'] = gold_stock['price_personal'] / gold_stock['weight']

In [129]:
stock_price_pl = ((gold_stock['price_personal']).sum() / gold_stock['weight'].sum()).round(0)
print('Средняя цена остатков офлайн ПЛ: ', stock_price_pl)

Средняя цена остатков офлайн ПЛ:  6991.0

In [130]:
gold_stock = gold_stock[['tg', 'price_per_gramm']]

In [131]:
gold_stock.columns = ['tg', '585*Золотой оффлайн остатки 30%+20%']

# 5. Соединение таблиц для дашборда

In [134]:
data_all = pd.concat([df_sokolov, df_sunlight], ignore_index=True)

In [135]:
data_all['date'].fillna(f'{day_now}-{month_now}-{year_now}', inplace=True)

In [136]:
data_all['date'].unique()

array(['05.06.2024'], dtype=object)

In [137]:
data_all['date'] = pd.to_datetime(date_now, dayfirst=True)

In [138]:
data_all.date.unique()

<DatetimeArray>
['2024-06-05 00:00:00']
Length: 1, dtype: datetime64[ns]

In [139]:
data_all

,date,competitor,name,group,url,price_personal,discount,weight,discount_for_dash,price_per_gramm,tg,price_case
0,2024-06-05,Sokolov,кольцо обручальное из белого золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
1,2024-06-05,Sokolov,кольцо обручальное из белого золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.60,ШОК-ЦЕНА,8119.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
2,2024-06-05,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
3,2024-06-05,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.61,ШОК-ЦЕНА,8068.00,БК КОЛЬЦА ОБРУЧ,8 000 руб. - 9 000 руб.
4,2024-06-05,Sokolov,кольцо обручальное из золота,rings,https://sokolov.ru/jewelry-catalog/product/110...,12990.00,1.00,1.63,ШОК-ЦЕНА,7969.00,БК КОЛЬЦА ОБРУЧ,7 000 руб. - 8 000 руб.
...,...,...,...,...,...,...,...,...,...,...,...,...
5309,2024-06-05,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_271436.html,16374.00,0.90,2.83,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00",5786.00,БК СЕРЬГИ,5 500 руб. - 6 000 руб.
5310,2024-06-05,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_267531.html,5647.00,0.85,0.96,"Цены ниже! Ещё -15%, код: НОЧЬ до 11:00",5882.00,БК СЕРЬГИ,5 500 руб. - 6 000 руб.
5311,2024-06-05,Sunlight,Золотые серьги,Серьги,https://sunlight.net/catalog/earring_244034.html,22674.00,0.90,3.92,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00",5784.00,БК СЕРЬГИ,5 500 руб. - 6 000 руб.
5312,2024-06-05,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_242712.html,5349.00,0.90,0.94,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00",5690.00,БК ПОДВЕС ДЕКОР,5 500 руб. - 6 000 руб.
5313,2024-06-05,Sunlight,Золотая подвеска,Подвески,https://sunlight.net/catalog/pendants_167673.html,10704.00,0.90,1.77,"Цены ниже! Ещё -10%, код: НОЧЬ до 11:00",6047.00,БК ПОДВЕС ДЕКОР,6 000 руб. - 6 500 руб.

In [140]:
data_history_gold = data_history

In [141]:
# группируем общую таблицу для добавления данных о изменении стоимости за грамм по дате
data_history = data_all.groupby('competitor', as_index=False)[['weight', 'price_personal']].agg('sum')
data_history['price_per_gramm'] = (data_history['price_personal'] / data_history['weight']).round(0)
data_history.insert(0, 'date', f'{date_now}')
data_history = data_history.drop(columns=['weight', 'price_personal'], axis=1)
data_history['num_shop'] = '_' + data_history['competitor']

In [142]:
data_history = data_history.drop(columns=['num_shop'])
data_history.columns = ['date', 'competitor', 'avg_ppg']

In [143]:
data_history['date'] = pd.to_datetime(date_now, dayfirst=True)

In [144]:
data_history = pd.concat([data_history_gold, data_history], ignore_index=True)

In [ ]:
data_history.to_sql('avg_ppg_for_monthly_monitoring', engine, schema = 'yura', if_exists='append', index = False)

In [146]:
data_all.to_excel(rf'{report_folder}\Данные парсинга\bk_sokolov_sunlight_{date_now}.xlsx', index=False)

In [147]:
data_all = data_all.drop(columns=['name', 'discount', 'group'])

In [148]:
data_all = data_all[['date', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']]

In [149]:
data_all.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [150]:
data_all['date_'] = pd.to_datetime(date_now, dayfirst=True)

In [151]:
# группировка полученных данных для отчёта

In [152]:
df_tn_sokolov = df_sokolov.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sokolov['price_per_gram'] = df_tn_sokolov['price_personal'] / df_tn_sokolov['weight']

In [153]:
df_tn_sunlight = df_sunlight.groupby('tg', as_index=False)[['price_personal', 'weight']].agg({'price_personal':'sum', 'weight':'sum'})
df_tn_sunlight['price_per_gram'] = df_tn_sunlight['price_personal'] / df_tn_sunlight['weight']

In [154]:
df_tn_sunlight = df_tn_sunlight.drop(columns=['price_personal', 'weight'])
df_tn_sunlight.columns = ['tg', 'Sunlight']

In [155]:
df_tn_sokolov = df_tn_sokolov.drop(columns=['price_personal', 'weight'])
df_tn_sokolov.columns = ['tg', 'Sokolov']

In [156]:
result = pd.merge(df_tn_sokolov, df_tn_sunlight, how='left', on='tg').merge(zolotoy, how='left', on='tg').merge(gold_stock, how='left', on='tg') # объединяем данные в одну табличку

In [157]:
result

,tg,Sokolov,Sunlight,585*Золотой остатки 30%+20%,585*Золотой оффлайн остатки 30%+20%
0,БК КОЛЬЦА,8508.81,6674.05,6463.02,7063.65
1,БК КОЛЬЦА ОБРУЧ,8545.73,6492.60,6302.63,6636.51
2,БК ПОДВЕС ДЕКОР,9177.98,6996.36,6228.25,7009.50
3,БК ПОДВЕС КУЛЬТ,8826.08,6824.61,6806.36,7150.65
4,БК СЕРЬГИ,8511.17,6924.68,7075.03,6946.50
5,ЦБ БРАСЛЕТЫ,9123.30,6254.62,7210.47,6991.66
6,ЦБ ЦЕПИ,8740.80,5990.15,7217.72,7127.07

# 6. Расчёт наценки

In [159]:
cookies = {
    '__ddg1_': 'XgGmRRFfNl9J83C2HQq2',
    '__RequestVerificationToken': '5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
}

headers = {
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7',
    'accept-language': 'ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7',
    'cache-control': 'max-age=0',
    # 'cookie': '__ddg1_=XgGmRRFfNl9J83C2HQq2; __RequestVerificationToken=5g2Xju_cpsY7RQGkKIbTbsDrYj6xzq0_YsPv6-9_8hLar_gtaXd1MJeWc-kl4bfoyw4t4PFMceUzHxB64Mq25hSytBA1',
    'priority': 'u=0, i',
    'sec-ch-ua': '"Google Chrome";v="125", "Chromium";v="125", "Not.A/Brand";v="24"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'document',
    'sec-fetch-mode': 'navigate',
    'sec-fetch-site': 'cross-site',
    'sec-fetch-user': '?1',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36',
}

response = requests.get('https://mfd.ru/centrobank/preciousmetals/', cookies=cookies, headers=headers).text

In [160]:
soup = bs(response, 'html.parser')

In [161]:
# данные ниже могут меняться
price_ = float(soup.find('table', class_='mfd-table').find('tbody').find('td', class_='mfd-item-date').findNext('td').text.strip()[:7]) * 0.585
ugar = 0.03 
workprice = 150 
nds = 0.2

In [162]:
costprice = (price_/(1-ugar)+workprice)*(1 + nds)

In [163]:
stock_for_dash = stock.drop_duplicates(subset=['url'])

In [164]:
data_all = pd.concat([data_all, df, stock_for_dash], ignore_index=True)

In [165]:
data_all['markup'] = (data_all['price_personal'] / (costprice * data_all['weight'])) - 1

In [166]:
data_all['markup'] = data_all['markup'].astype(str)
data_all = data_all[data_all['markup'] != 'inf']
data_all['markup'] = data_all['markup'].astype(float)

In [167]:
data_all['date_'] = pd.to_datetime(date_now, dayfirst=True)

In [ ]:
data_all.to_sql('price_per_gramm', engine, schema = 'yura', if_exists='append', index = False)

In [169]:
data_all = data_all.dropna(subset=['markup'])

In [170]:
costprice_offline = data_all[data_all['competitor'] == '585*Золотой оффлайн'].groupby(by = 'tg', as_index = False)['markup'].mean()
costprice_offline.columns = ['tg', 'markup_a']

In [171]:
costprice_ = data_all[data_all['competitor'] == 'Sunlight'].groupby(by = 'tg', as_index = False)['markup'].mean().\
    merge(data_all[data_all['competitor'] == 'Sokolov'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg').\
        merge(data_all[data_all['competitor'] == '585*Золотой'].groupby(by = 'tg', as_index = False)['markup'].mean(), how = 'left', on = 'tg')

In [172]:
costprice_ = costprice_.merge(costprice_offline, how='left', on='tg')

In [173]:
costprice_

                tg  markup_x  markup_y  markup  markup_a
0        БК КОЛЬЦА      0.32      0.72    0.20      0.25
1  БК КОЛЬЦА ОБРУЧ      0.32      0.72    0.20      0.19
2  БК ПОДВЕС ДЕКОР      0.46      0.93    0.26      0.31
3  БК ПОДВЕС КУЛЬТ      0.43      0.91    0.40      0.39
4        БК СЕРЬГИ      0.40      0.75    0.39      0.36
5      ЦБ БРАСЛЕТЫ      0.32      0.88    0.45      0.36
6          ЦБ ЦЕПИ      0.33      0.86    0.44      0.34

In [174]:
costprice_.columns = ['Товарная группа', 'Наценка Sunlight', 'Наценка Sokolov', 'Наценка 585*Золотой онлайн', 'Наценка 585*Золотой оффлайн']

In [175]:
costprice_['Дата'] = pd.to_datetime(date_now, dayfirst=True)

In [176]:
costprice_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Товарная группа              7 non-null      object
 1   Наценка Sunlight             7 non-null      float64
 2   Наценка Sokolov              7 non-null      float64
 3   Наценка 585*Золотой онлайн   7 non-null      float64
 4   Наценка 585*Золотой оффлайн  7 non-null      float64
 5   Дата                         7 non-null      datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 468.0+ bytes

In [177]:
costprice_

,Товарная группа,Наценка Sunlight,Наценка Sokolov,Наценка 585*Золотой онлайн,Наценка 585*Золотой оффлайн,Дата
0,БК КОЛЬЦА,0.32,0.72,0.20,0.25,2024-06-05
1,БК КОЛЬЦА ОБРУЧ,0.32,0.72,0.20,0.19,2024-06-05
2,БК ПОДВЕС ДЕКОР,0.46,0.93,0.26,0.31,2024-06-05
3,БК ПОДВЕС КУЛЬТ,0.43,0.91,0.40,0.39,2024-06-05
4,БК СЕРЬГИ,0.40,0.75,0.39,0.36,2024-06-05
5,ЦБ БРАСЛЕТЫ,0.32,0.88,0.45,0.36,2024-06-05
6,ЦБ ЦЕПИ,0.33,0.86,0.44,0.34,2024-06-05

In [ ]:
costprice_.to_sql('costprice_sklv_sl', engine, schema = 'yura', if_exists='append', index = False)

# 7. Обработка данных по продажам оффлайн и онлайн

Продажи 585*Золотой онлайн

In [179]:
way = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Илларионов\Выгрузка Еком\\'

In [180]:
data_IM = pd.read_excel(rf'{way}\{month_now}.{year_now}_продажи еком.xlsx')

In [182]:
# смотрим продажи с последнего мониторинга
data = dt.datetime.isoweekday(dt.date.today())
if data == 1:
    last_monitoring = (dt.date.today() - dt.timedelta(days=3)).strftime('%Y-%m-%d')
else:
    last_monitoring = (dt.date.today() - dt.timedelta(days=2)).strftime('%Y-%m-%d')
    
data_IM = data_IM[data_IM['created'] >= f'{last_monitoring}']

In [183]:
data_IM = data_IM.drop_duplicates()
data_IM = data_IM.reset_index(drop=True)

data_IM = data_IM[(data_IM['state_order'] != 'returned') & (data_IM['state_order'] != 'canceled')]
data_IM = data_IM[~((data_IM['delivery_type'] == 'PICKUP_NOW') & (data_IM['payment_type'] == 'CASHIER') & (data_IM['type_ibox'] == 'CASHIER'))|
                ((data_IM['delivery_type'] == 'PICKUP') & (data_IM['payment_type'] == 'CASHIER') & (data_IM['type_ibox'] == 'CASHIER'))]

In [184]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'], format = '%Y-%m-%d')

In [186]:
def str_float(row):
    row = str(row)
    row = row.replace(',','.')
    return row

data_IM['price'] = data_IM['price'].apply(str_float)
data_IM['price'] = data_IM['price'].astype(float)

data_IM['avg_net_weight'] = data_IM['avg_net_weight'].apply(str_float)
data_IM['avg_net_weight'] = data_IM['avg_net_weight'].astype(float)

In [187]:
data_IM = data_IM[data_IM['price'] > 1].reset_index(drop=True)
data_IM = data_IM[data_IM['avg_net_weight'] > 0].reset_index(drop=True)

In [188]:
data_IM['Товарное направление'] = np.where(
    data_IM['tg'].isin(['БК ПОДВЕС КУЛЬТ', 'БК СЕРЬГИ', 'БК КОЛЬЦА','БК КОЛЬЦА ОБРУЧ','БК ПОДВЕС ДЕКОР',  'БК ПЕЧАТКИ','БК АКСЕССУАРЫ','ОПТ БК']), 'БК',
    np.where(
        data_IM['tg'].isin(['ПДК СЕРЬГИ', 'ПДК КОЛЬЦА','ПДК ПОДВЕСКИ']), 'ПДК',
        np.where(
            data_IM['tg'].isin(['ДК СЕРЬГИ',  'ДК КОЛЬЦА',    'ДК ПОДВЕСКИ',    'ДК КОЛЬЦА ОБРУЧ']), 'ДК',
            np.where(
                data_IM['tg'].isin(['ИФ СЕРЬГИ',  'ИФ КОЛЬЦА', 'ИФ ПОДВЕС ДЕКОР', 'ИФ ПЕЧАТКИ', 'ИФ ПОДВЕС КУЛЬТ','ИФ КОЛЬЦА ОБРУЧ','ИФ АКСЕССУАРЫ']), 'ИФ',
                np.where(
                    data_IM['tg'].isin(['ЦБ ЦЕПИ', 'ЦБ БРАСЛЕТЫ']), 'ЦБ',
                    np.where(
                        data_IM['tg'].isin(['СИ ПОДВЕС БК','СИ КОЛЬЦО ИФ','СИ БРАСЛЕТ БК','СИ КОЛЬЦО БК','СИ ЦЕПЬ','СИ СЕРЬГИ БК','СИ СЕРЬГИ ИФ','СИ ПОДВЕС ИФ',
                                            'СИ СЕРЬГИ РАЗН','СИ СЕРЬГИ ЦВ/К',\
                                            'СИ КОЛЬЦО ЦВ/К','','СИ ШАРМЫ','СИ ОБРУЧАЛЬНОЕ','СИ КОЛЬЦО ПЕЧАТ','СИ ПОДВЕСЦВ/К','СИ БРАСЛЕТ СК','СИ ЖЕМЧУГ',\
                                            'СИ АКСЕССУАР','СИ ДФРС ПРОЕКТ','СИ КЕРАМИКА','СИ ПОСУДА','СИ ЯНТАРЬ','СИ ЭМАЛЬ','СИ ВЫРИЦА']), 'СИ',
                        np.where(data_IM['tg'].isin(['ЧАСЫ']), 'ЧАСЫ', 'другое'
                        )
                    )
                )
            )
        )
    )
)

data_IM['Товарное направление'].value_counts()

Товарное направление
СИ        188
БК         98
ИФ         79
ЦБ         67
ДК         52
ПДК        40
другое     40
Name: count, dtype: int64

In [189]:
proverka = data_IM[data_IM['Товарное направление']=='другое']
proverka['tg'].unique()

array(['СИ ПОДАРКИ КРОСС', 'ВЫРИЦА СЕРЕБРО', 'СИ ПОДВЕС\xa0ЦВ/К',
       'СИ КОЛЬЕ ЦВ/К', 'СИ СЕРЬГИ\xa0 ЦВ/К', 'СИ КОЛЬЕ СК', 'ОПТ ИФ',
       'СИ БРАСЛЕТ БК Декор', 'СИ БРАСЛЕТ ЦВ/К'], dtype=object)

In [190]:
data_IM = data_IM[~(data_IM['name'].str.contains('каучук')|
                    data_IM['name'].str.contains('шнурок')|
                    data_IM['name'].str.contains('текстиль')|
                    data_IM['name'].str.contains('хлопок')|
                    data_IM['name'].str.contains('шелк')|
                    data_IM['name'].str.contains('на нитке')|
                    data_IM['name'].str.contains('кожа')|
                    data_IM['name'].str.contains('жемчуг'))]

In [191]:
data_IM = data_IM[(data_IM['Товарное направление'].isin(['БК', 'ЦБ']))&((data_IM['proba'] == '585')|(data_IM['proba'] == 585.00))]

In [192]:
data_IM['Товарное направление'].value_counts()

Товарное направление
БК    71
ЦБ    50
Name: count, dtype: int64

In [193]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'], format='%Y-%m-%d')

In [194]:
data_IM['date_status_order_done'] = pd.to_datetime(data_IM['date_status_order_done'].apply(lambda x: x.strftime("%Y-%m-%d")))

In [198]:
previous_date = data_IM['date_status_order_done'].min()
filtr_date = data_IM['date_status_order_done'].max()

In [197]:
data_today = data_IM.query("date_status_order_done >= @previous_date")
data_today.head()

,id,created,name,state_order,recipient_phone,recipient_email,state_item,delivery_type,payment_type,employee_id,type_ibox,type_name,tov,kbk_recieve_delivery,avg_weight,avg_net_weight,materials,proba,design,type1,type3,tg,brand,vendor_article,number,price,client_type,date_status_order_done,date_status_item_returned,product_id,cost_price,shk,kbk_collect_delivery,manzana,percent_by_sku,manzana_for_item,price_wo_manzana,Товарное направление
2,01224330-f3ff-4866-acae-bd3f6fa525f0,2024-06-05 05:45:11.351,Золотая цепочка Двойной ромб с родированием,done,79026993034.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,TINKOFF_SBP,Тинькофф СБП,ТОВ0859098,2-09-044,1.54,1.54,NaN,585.00,РОМБ ДВОЙНОЙ,ЦЕПЬ,БЕЛЫЙ,ЦБ ЦЕПИ,NaN,311102021R,2406050545101,15302.00,MOBILE,2024-06-05,NaN,3906520,4275.34,2078532123045,2-09-044,3060,1.00,3060.00,12242.00,ЦБ
4,01970073-614d-4574-9753-fc81184bcad6,2024-06-04 06:58:41.316,Золотой пустотелый браслет Нонна,done,79514772889.00,gfl@mail.ru,done,PICKUP_NOW,YANDEX_KASSA,NaN,TINKOFF_PAY,Тинькофф Долями,ТОВ1186473,4-01-163,0.79,0.79,NaN,585.00,НОННА ПУСТ,БРАСЛЕТ,КРАСНЫЙ,ЦБ БРАСЛЕТЫ,NaN,"НБ12-200ПГ D0,4",2406040658970,5970.00,MOBILE,2024-06-04,NaN,1241418,2690.73,2078610864351,4-01-163,0,0.00,0.00,5970.00,ЦБ
6,01c0b927-23da-499a-8b0e-335766b918af,2024-06-05 12:57:11.488,Золотой браслет Нонна,done,79920212146.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,c0d8e158-bd0f-4de1-93f4-172577c3033e,TINKOFF_SBP,Тинькофф СБП,ТОВ1005115,4-01-063,1.57,1.56,NaN,585.00,НОННА,БРАСЛЕТ,КРАСНЫЙ,ЦБ БРАСЛЕТЫ,NaN,41-52040-11,2406051257532,16030.00,MOBILE,2024-06-05,NaN,2980689,6742.50,2078607136240,4-01-063,5891,0.54,3205.89,12824.11,ЦБ
8,01ff1467-01d3-4451-ba28-4da23e3af1e3,2024-06-05 04:45:08.120,Золотой пустотелый браслет Двойной ромб,done,79538939481.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,SBER,[YANDEX_KASSA] SBER - APP,ТОВ0988008,3-05-002,0.69,0.69,NaN,585.00,РОМБ ДВОЙНОЙ ПУСТ,БРАСЛЕТ,КРАСНЫЙ,ЦБ БРАСЛЕТЫ,NaN,"НБ12-076ПГ D0,35",2406050445793,7098.00,MOBILE,2024-06-05,NaN,3608871,3299.10,2078608727331,3-05-002,1419,1.00,1419.00,5679.00,ЦБ
16,0773145e-3707-4c13-ba03-31cbb2bf03d0,2024-06-04 13:47:40.784,Золотой пустотелый браслет Тройной ромб с алма...,done,79870263843.00,NaN,done,PICKUP_NOW,YANDEX_KASSA,NaN,TINKOFF_SBP,Тинькофф СБП,ТОВ01262174,4-06-024,1.22,1.22,NaN,585.00,РОМБ ТРОЙНОЙ ПУСТ,БРАСЛЕТ,КРАСНЫЙ,ЦБ БРАСЛЕТЫ,NaN,41-01-0040-30204,2406041347493,12502.00,MOBILE,2024-06-04,NaN,1180825,3894.39,2078607113209,4-06-024,5174,0.48,2500.21,10001.79,ЦБ

In [199]:
data_today['цена за гр'] = data_today['price_wo_manzana'] / data_today['avg_weight']
data_today['цена за гр'].describe()

count     121.00
mean     7226.55
std      1814.23
min      4369.23
25%      6038.46
50%      7184.62
75%      8198.19
max     13938.78
Name: цена за гр, dtype: float64

In [200]:
data_today['avg_weight'].describe()

count   121.00
mean      2.33
std       1.67
min       0.38
25%       1.20
50%       2.18
75%       2.77
max      12.48
Name: avg_weight, dtype: float64

In [201]:
data_today = data_today[~data_today['tg'].str.contains('ОПТ БК|БК ПЕЧАТКИ|ОПТ КОНГО')]

In [202]:
data_today = data_today[~data_today['client_type'].str.contains('OZON')]

In [203]:
print('Средняя цена продажи еком: ', (data_today['price_wo_manzana'].sum()/data_today['avg_weight'].sum()).round(0))

Средняя цена продажи еком:  7053.0

In [ ]:
data_today.to_excel(rf'{report_folder}\Данные по продажам\Продажи онлайн_{date_now}.xlsx', index=False)

In [205]:
tn = data_today.groupby('tg', as_index=False)[['price_wo_manzana', 'avg_weight', 'cost_price']].agg('sum')
tn['price_gramm'] = (tn['price_wo_manzana'] / tn['avg_weight']).round(0)

In [208]:
tn['price_gramm'] = tn['price_gramm'].astype('int')
tn['Наценка продажи онлайн'] =  tn['price_wo_manzana'] / tn['cost_price'] - 1

In [ ]:
markup_sales = tn[['tg', 'Наценка продажи онлайн']]

In [210]:
tn = tn.drop(columns=['price_wo_manzana', 'avg_weight', 'cost_price', 'Наценка продажи онлайн'])
tn.columns = ['tg', '585*Золотой онлайн продажи']

In [214]:
result = result.merge(tn, how='left', on='tg')

Продажи 585*Золотой оффлайн

In [ ]:
# иногда здесь скрипт может отвалиться, потому что с продажами оффлайн очень часто работает кто-то, поэтому можно прочитать его вручную указав актуальный путь

path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Выгрузки из DWH\Продажи по КБК из DWH new\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)

df_dwh = pd.read_excel(latest_file)

# df_dwh = pd.read_excel(r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Выгрузки из DWH\Продажи по КБК из DWH new\2024-06-01_2024-06-04.xlsx')

In [ ]:
# мы смотрим продажи со времени последнего мониторинга, для этого определяем день недели и в зависимости от этого получаем новые данные
data = dt.datetime.isoweekday(dt.date.today())
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')
if data == 1:
    last_monitoring = (dt.date.today() - dt.timedelta(days=3)).strftime('%Y-%m-%d')
else:
    last_monitoring = (dt.date.today() - dt.timedelta(days=2)).strftime('%Y-%m-%d')
    
df_dwh = df_dwh[df_dwh['Дата'] >= f'{last_monitoring}']

In [ ]:
df_dwh['Товарная группа'].str.contains('ЦБ|БК').value_counts()

In [ ]:
df_dwh = df_dwh[(df_dwh['Товарное направление'].isin(['БК', 'ЦБ'])) & (df_dwh['Проба'] == 585.0)]

In [ ]:
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('каучук')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('шнурок')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('текстиль')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('хлопок')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('шелк')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('на нитке')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('кожа')))]
df_dwh = df_dwh[(~(df_dwh['Название'].str.lower().str.contains('жемчуг')))]

In [ ]:
df_dwh['Дата'] = pd.to_datetime(df_dwh['Дата'], format='%Y-%m-%d')
df_dwh['Дата'] = pd.to_datetime(df_dwh['Дата'].apply(lambda x: x.strftime("%Y-%m-%d")))

In [ ]:
filtr_date = df_dwh['Дата'].max()

In [ ]:
df_dwh = df_dwh.query("`Дата` <= @filtr_date")

In [ ]:
tn = df_dwh.groupby(by = 'Товарная группа', as_index= False)[['Себестоимость', 'Вес', 'Общая сумма']].agg('sum')
tn['Наценка продажи оффлайн'] =  tn['Общая сумма'] / tn['Себестоимость'] - 1
tn = tn[~tn['Товарная группа'].str.contains('ОПТ БК|БК ПЕЧАТКИ|ОПТ КОНГО|ОПТ ОБРУЧИ')]
tn['price_per_gramm'] = ((tn['Общая сумма'] / tn['Вес']).round(0))

In [ ]:
tn['price_per_gramm'] = tn['price_per_gramm'].replace(',', '')
tn['price_per_gramm'] = tn['price_per_gramm'].astype('int')

In [ ]:
print('Средняя цена продажи оффлайн: ', (tn['Общая сумма'].sum() / tn['Вес'].sum()).round(0))

In [ ]:
tn.columns = ['tg', 'cost', 'weight', 'price', 'Наценка продажи оффлайн', 'price_per_gramm']

In [ ]:
offline_markup = tn[['tg', 'Наценка продажи оффлайн']]

In [ ]:
markup_sales = markup_sales.merge(offline_markup, how='left', on='tg')

In [ ]:
tn = tn.drop(columns=['cost', 'weight', 'price', 'Наценка продажи оффлайн'])
tn.columns = ['tg', '585*Золотой оффлайн продажи']

In [219]:
result = result.merge(tn, how='left', on='tg')

,tg,Sokolov,Sunlight,585*Золотой остатки 30%+20%,585*Золотой оффлайн остатки 30%+20%,585*Золотой онлайн продажи
0,БК КОЛЬЦА,8508.81,6674.05,6463.02,7063.65,5826
1,БК КОЛЬЦА ОБРУЧ,8545.73,6492.60,6302.63,6636.51,5833
2,БК ПОДВЕС ДЕКОР,9177.98,6996.36,6228.25,7009.50,8331
3,БК ПОДВЕС КУЛЬТ,8826.08,6824.61,6806.36,7150.65,7055
4,БК СЕРЬГИ,8511.17,6924.68,7075.03,6946.50,7677
5,ЦБ БРАСЛЕТЫ,9123.30,6254.62,7210.47,6991.66,7545
6,ЦБ ЦЕПИ,8740.80,5990.15,7217.72,7127.07,7848

In [221]:
result.to_excel(rf'{report_folder}\Таблица ТГ для письма_{date_now}.xlsx', index= False)
markup_sales.to_excel(rf'{report_folder}\Наценка продажи\Наценка продажи оффлайн+онлайн_{date_now}.xlsx', index=False)

In [4]:
# !jupyter nbconvert --to script eda_every_days.ipynb