In [1]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [2]:
euro = pd.read_excel(r'C:\Users\Trenkin.Sergey\Downloads\RC_F01_01_2014_T23_07_2024 (2).xlsx')
usd = pd.read_excel(r'C:\Users\Trenkin.Sergey\Downloads\RC_F01_01_2014_T23_07_2024.xlsx')

In [3]:
history = pd.concat([usd, euro], ignore_index=True)
history['cdx'] = history['cdx'].str.replace('Доллар США', 'USD').str.replace('Евро', 'EUR')

In [4]:
history = history[['cdx', 'curs', 'data']]

In [5]:
history.rename(columns={'data': 'Дата', 
                        'curs': 'Курс',
                        'cdx': 'Валюта'}, 
            inplace = True)

In [7]:
history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Валюта  5200 non-null   object
 1   Курс    5200 non-null   float64
 2   Дата    5200 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 122.0+ KB

In [8]:
history

     Валюта     Курс       Дата
0       USD  87.7805 2024-07-23
1       USD  88.0206 2024-07-20
2       USD  87.8754 2024-07-19
3       USD  88.0872 2024-07-18
4       USD  88.2824 2024-07-17
...     ...      ...        ...
5195    EUR  45.4139 2014-01-15
5196    EUR  45.2855 2014-01-14
5197    EUR  45.2069 2014-01-11
5198    EUR  45.0672 2014-01-10
5199    EUR  45.0559 2014-01-01

[5200 rows x 3 columns]