In [81]:
from sqlalchemy import create_engine
import datetime as dt
import pandas as pd
import numpy as np
import warnings
import glob
import os

warnings.filterwarnings('ignore')
pd.set_option('use_inf_as_na', True)
pd.options.display.max_columns = None
pd.set_option('float_format', '{:.2f}'.format)

In [82]:
current_date = dt.date.today()
day = current_date.day - 1 
month = current_date.month
year = current_date.year
current_date = current_date.strftime('%Y.%m.%d')

In [83]:
try:
    df = pd.read_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\Остатки {current_date}.xlsx')
except:
    df = pd.read_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\Остатки {current_date[:-2]}{day}.xlsx')

In [84]:
df.sample(5)

,article,size,name,published,product_line,product_group,material,type3,weaving,fineness,avg_weight,price,discount_price,"Остатки, шт*",Unnamed: 14,Unnamed: 15,*без франчайзинговых магазинов и Румянцево
91274,1919988,22.00,Золотое обручальное кольцо 5 мм,True,БК,БК КОЛЬЦА ОБРУЧ,Золото,ЖЕЛТЫЙ,NaN,585.00,3.64,52520,40300,6,NaN,NaN,NaN
165743,4869808,17.50,Кольцо из золота с гранатом,True,ПДК,ПДК КОЛЬЦА,Золото,КРАСНЫЙ,NaN,585.00,2.63,11380,11380,1,NaN,NaN,NaN
83612,1842787,16.00,Золотое кольцо с раухтопазом,True,ПДК,ПДК КОЛЬЦА,Золото,КРАСНЫЙ,NaN,585.00,1.59,33400,19580,7,NaN,NaN,NaN
52563,1531541,NaN,Серебряный пирсинг Звезда с родированием,True,СИ,СИ СЕРЬГИ РАЗН,Серебро,БЕЛЫЙ С РОДИРОВАНИЕМ,NaN,925.00,0.14,660,380,79,NaN,NaN,NaN
116627,2236204,16.50,Кольцо SOKOLOV из серебра с фианитами,True,СИ,СИ КОЛЬЦО ИФ,Серебро,БЕЛЫЙ С РОДИРОВАНИЕМ,NaN,925.00,2.02,3000,1720,1,NaN,NaN,NaN

In [85]:
df.fineness.unique()

array([925., 375., 585.,  nan, 750., 999., 944., 945., 946., 947., 937.,
       938., 939., 931., 932., 933., 926., 928., 929., 930., 948., 949.,
       950., 951., 927., 934., 935., 936., 960., 961., 962., 963., 964.,
       956., 957., 958., 959., 875.])

In [86]:
df['published'].value_counts(dropna=False)

published
True     165498
False     36641
Name: count, dtype: int64

In [87]:
df['product_line'].unique()

array(['СИ', 'ПДК', 'ДК', 'ФУТЛЯРЫ', 'ДФРС', 'ЧАСЫ', 'ЦБ', 'ИФ', 'БК',
       'ВЫРИЦА', 'БИЖУТЕРИЯ', nan, 'БУ'], dtype=object)

In [88]:
df = df[(df['fineness'] == 585) & (df['product_line'].str.contains('ФУТЛЯРЫ|ДФРС|ВЫРИЦА|ЧАСЫ|БИЖУТЕРИЯ|БУ') == False)]

In [89]:
len(df.article.unique())

39718

In [90]:
# df=df[~(df['article_name'].str.contains('каучук')
#         |df['article_name'].str.contains('шнурок')
#         |df['article_name'].str.contains('текстиль')
#         |df['article_name'].str.contains('хлопок')
#         |df['article_name'].str.contains('шелк')
#         |df['article_name'].str.contains('на нитке')
#         |df['article_name'].str.contains('кожа'))]

In [91]:
df = df[(df['product_group'].str.contains('БК КОЛЬЦА')|
        df['product_group'].str.contains('БК КОЛЬЦА ОБРУЧ')|
        df['product_group'].str.contains('ЦБ БРАСЛЕТЫ')|
        df['product_group'].str.contains('БК СЕРЬГИ')|
        df['product_group'].str.contains('БК ПОДВЕС КУЛЬТ')|
        df['product_group'].str.contains('БК ПОДВЕС ДЕКОР')|
        df['product_group'].str.contains('ЦБ ЦЕПИ'))]

In [92]:
df['price'].value_counts()

price
24880     19
26880     19
25180     17
26420     16
30400     15
          ..
4960       1
193300     1
241340     1
4070       1
57920      1
Name: count, Length: 6250, dtype: int64

In [93]:
df

,article,size,name,published,product_line,product_group,material,type3,weaving,fineness,avg_weight,price,discount_price,"Остатки, шт*",Unnamed: 14,Unnamed: 15,*без франчайзинговых магазинов и Румянцево
20,1000477,16.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.10,19900,19900,62,NaN,NaN,NaN
21,1000477,17.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.18,19900,19900,76,NaN,NaN,NaN
22,1000477,18.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.22,19900,19900,92,NaN,NaN,NaN
23,1000477,19.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.25,19900,19900,76,NaN,NaN,NaN
63,1001070,NaN,Золотые серьги,True,БК,БК СЕРЬГИ,Золото,КРАСНЫЙ,NaN,585.00,2.47,38020,29940,71,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202000,8379266,40.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,2.65,39280,30240,5,NaN,NaN,NaN
202001,8379266,45.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,2.91,43740,37840,7,NaN,NaN,NaN
202002,8379266,50.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.25,47840,42380,22,NaN,NaN,NaN
202003,8379266,55.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.53,50700,43300,6,NaN,NaN,NaN
202004,8379266,60.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.86,57920,54080,9,NaN,NaN,NaN

In [94]:
df = df.drop(columns=['Unnamed: 15', '*без франчайзинговых магазинов и Румянцево'])

In [95]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\discounts_zolotoy\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)

discount = pd.read_excel(latest_file)

In [96]:
discount.columns = ['article', 'Опубликован', 'discount_value_promotions_1',
                    'discount_value_promotions_2', 'discount_value_promotions_3',
                    'discount_value_promotions_4']

In [97]:
df = df.merge(discount, how='left', on='article')

In [98]:
df

,article,size,name,published,product_line,product_group,material,type3,weaving,fineness,avg_weight,price,discount_price,"Остатки, шт*",Unnamed: 14,Опубликован,discount_value_promotions_1,discount_value_promotions_2,discount_value_promotions_3,discount_value_promotions_4
0,1000477,16.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.10,19900,19900,62,NaN,True,-,-,-,-
1,1000477,17.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.18,19900,19900,76,NaN,True,-,-,-,-
2,1000477,18.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.22,19900,19900,92,NaN,True,-,-,-,-
3,1000477,19.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.25,19900,19900,76,NaN,True,-,-,-,-
4,1001070,NaN,Золотые серьги,True,БК,БК СЕРЬГИ,Золото,КРАСНЫЙ,NaN,585.00,2.47,38020,29940,71,NaN,True,50,35,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18261,8379266,40.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,2.65,39280,30240,5,NaN,True,50,35,-,-
18262,8379266,45.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,2.91,43740,37840,7,NaN,True,50,35,-,-
18263,8379266,50.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.25,47840,42380,22,NaN,True,50,35,-,-
18264,8379266,55.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.53,50700,43300,6,NaN,True,50,35,-,-
18265,8379266,60.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.86,57920,54080,9,NaN,True,50,35,-,-

In [99]:
df = df[(df['published'] == 'ИСТИНА') | (df['published'] == True)]

In [100]:
df = df.drop(columns=['weaving', 'Unnamed: 14', 'name'])

In [101]:
df.columns = ['article', 'size', 'published', 'product_line', 'product_group',
            'material', 'type3', 'fineness', 'avg_weight', 'price',
            'discount_price', 'Остатки, шт*', 'type3',
            'discount_value_promotions_1', 'discount_value_promotions_2', 'discount_value_promotions_3', 'discount_value_promotions_4']

In [102]:
df = df.drop(columns=['discount_value_promotions_4', 'published'])

In [103]:
df.sample(5)

,article,size,product_line,product_group,material,type3,fineness,avg_weight,price,discount_price,"Остатки, шт*",type3,discount_value_promotions_1,discount_value_promotions_2,discount_value_promotions_3
4089,1518193,55.00,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ,585.00,5.22,76480,70460,263,True,50,35,-
16001,5182911,18.00,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ С БЕЛЫМ,585.00,5.16,74780,65760,13,True,50,35,-
5181,1657273,65.00,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ,585.00,24.30,164040,164040,57,True,-,-,-
11282,2246295,18.00,БК,БК КОЛЬЦА ОБРУЧ,Золото,ЖЕЛТЫЙ,585.00,3.06,47640,38260,11,True,50,35,-
14515,4149630,3.00,БК,БК СЕРЬГИ,Золото,КРАСНЫЙ,585.00,2.35,39640,26420,20,True,50,35,-

In [104]:
def discount_index(discount):
    try:
        return 1 - discount / 100
    except:
        return 1

In [105]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.apply(discount_index)
df.discount_value_promotions_2 = df.discount_value_promotions_2.apply(discount_index)
df.discount_value_promotions_3 = df.discount_value_promotions_3.apply(discount_index)

In [106]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.fillna(1)
df.discount_value_promotions_2 = df.discount_value_promotions_2.fillna(1)
df.discount_value_promotions_3 = df.discount_value_promotions_3.fillna(1)

In [107]:
df = df.dropna(subset=['avg_weight', 'discount_value_promotions_1'])

In [108]:
# df['max_discount'] = df['discount_price'] * df['discount_value_promotions_1'] / df['avg_weight']
# df['mid_discount'] = df['discount_price'] * df['discount_value_promotions_2'] / df['avg_weight']
# df['min_discount'] = df['discount_price'] * df['discount_value_promotions_3'] / df['avg_weight']

In [109]:
df = df[df['discount_value_promotions_1'] < 0.51]

In [110]:
df['price_personal_12'] = df['discount_price'] * df['discount_value_promotions_1']
df['price_personal_40'] = df['discount_price'] * df['discount_value_promotions_2'] * 0.8

In [111]:
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')

In [112]:
df_1_2 = df.groupby('product_group', as_index=False)[['price_personal_12', 'avg_weight']].agg({'price_personal_12':'sum', 'avg_weight':'sum'})
df_1_2['price_per_gram'] = df_1_2['price_personal_12'] / df_1_2['avg_weight']

In [113]:
df_40 = df.groupby('product_group', as_index=False)[['price_personal_40', 'avg_weight']].agg({'price_personal_40':'sum', 'avg_weight':'sum'})
df_40['price_per_gram'] = df_40['price_personal_40'] / df_40['avg_weight']

In [114]:
df_1_2 = df_40.merge(df_1_2, how='left', on='product_group')

In [115]:
df_1_2 = df_1_2.drop(columns=['avg_weight_y'])

In [116]:
df_1_2

,product_group,price_personal_40,avg_weight_x,price_per_gram_x,price_personal_12,price_per_gram_y
0,БК КОЛЬЦА,20450300.00,3250.49,6291.45,19663750.00,6049.47
1,БК КОЛЬЦА ОБРУЧ,64912577.60,10538.49,6159.57,62415940.00,5922.66
2,БК ПОДВЕС ДЕКОР,2776540.00,429.84,6459.47,2669750.00,6211.03
3,БК ПОДВЕС КУЛЬТ,8987992.00,1394.89,6443.51,8642300.00,6195.69
4,БК СЕРЬГИ,20915700.00,3201.95,6532.18,20111250.00,6280.94
5,ЦБ БРАСЛЕТЫ,66847601.60,9638.45,6935.51,64276540.00,6668.76
6,ЦБ ЦЕПИ,104227957.60,15124.33,6891.41,100219190.00,6626.36

In [117]:
df_1_2.columns = ['tg', 'price_personal_40', 'avg_weight', '585*Золотой остатки онлайн 35%+20%', 'price_personal_1_2', '585*Золотой остатки онлайн 1=2']

In [118]:
df_1_2['date'] = pd.to_datetime(date_now, format='mixed')

In [119]:
df_1_2.to_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\ecom_stock_history\\ppg_ecom_{date_now}.xlsx', index=False)

In [120]:
df_1_2 = df_1_2.drop(columns=['price_personal_40', 'avg_weight', 'price_personal_1_2', 'date'])

In [121]:
df_1_2.columns = ['tg', '585*Золотой остатки 35%+20%', '585*Золотой остатки 1=2']

In [122]:
df_1_2

                tg  585*Золотой остатки 35%+20%  585*Золотой остатки 1=2
0        БК КОЛЬЦА                      6291.45                  6049.47
1  БК КОЛЬЦА ОБРУЧ                      6159.57                  5922.66
2  БК ПОДВЕС ДЕКОР                      6459.47                  6211.03
3  БК ПОДВЕС КУЛЬТ                      6443.51                  6195.69
4        БК СЕРЬГИ                      6532.18                  6280.94
5      ЦБ БРАСЛЕТЫ                      6935.51                  6668.76
6          ЦБ ЦЕПИ                      6891.41                  6626.36

In [123]:
pd.read_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\sklv_sl_data\grouped_data\result_{date_now}.xlsx').merge(df_1_2, how = 'left', on = 'tg').to_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\sklv_sl_data\grouped_data\result_{date_now}.xlsx', index=False)

In [124]:
data_history = pd.DataFrame({'date': [pd.to_datetime(date_now, format='mixed')],
                            'competitor': ['585*Золотой'],
                            'avg_ppg': [int(df['price_personal_12'].sum() / df['avg_weight'].sum())]})

In [125]:
data_history

        date   competitor  avg_ppg
0 2024-05-31  585*Золотой     6379

In [126]:
engine = create_engine('postgresql://yura:ivanov24.07@51.250.54.232:5432/dldb')

In [127]:
# data_history.to_sql('avg_ppg_for_monthly_monitoring', engine, schema = 'yura', if_exists='append', index = False)

In [128]:
df = df.drop_duplicates(subset=['article'])

In [129]:
df['date'] = pd.to_datetime('29.05.2024', format='mixed')
df['competitor'] = '585*Золотой'
df['price_per_gramm'] = df['price_personal_12'] / df['avg_weight']

In [130]:
df['price_case'] = np.where(
    df['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [131]:
df = df[['date', 'competitor', 'avg_weight', 'price_personal_12', 'product_group', 'price_per_gramm', 'discount_value_promotions_1', 'article', 'price_case']]
df.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [132]:
engine = create_engine('postgresql://yura:ivanov24.07@51.250.54.232:5432/dldb')

In [133]:
df

,date_,competitor,weight,price_personal,tg,price_per_gramm,discount_for_dash,url,price_case
4,2024-05-29,585*Золотой,2.47,14970.00,БК СЕРЬГИ,6060.73,0.50,1001070,6 000 руб. - 6 500 руб.
6,2024-05-29,585*Золотой,1.61,9910.00,БК КОЛЬЦА,6155.28,0.50,1001485,6 000 руб. - 6 500 руб.
10,2024-05-29,585*Золотой,5.62,38950.00,ЦБ ЦЕПИ,6930.60,0.50,1001697,6 500 руб. - 7 000 руб.
15,2024-05-29,585*Золотой,1.45,7710.00,БК КОЛЬЦА,5317.24,0.50,1001799,до 5 500 руб.
22,2024-05-29,585*Золотой,1.61,11480.00,БК ПОДВЕС ДЕКОР,7130.43,0.50,1001948,7 000 руб. - 8 000 руб.
...,...,...,...,...,...,...,...,...,...
18238,2024-05-29,585*Золотой,3.14,20630.00,ЦБ БРАСЛЕТЫ,6570.06,0.50,8378871,6 500 руб. - 7 000 руб.
18245,2024-05-29,585*Золотой,0.94,5800.00,ЦБ ЦЕПИ,6170.21,0.50,8378875,6 000 руб. - 6 500 руб.
18252,2024-05-29,585*Золотой,1.11,8620.00,ЦБ ЦЕПИ,7765.77,0.50,8378877,7 000 руб. - 8 000 руб.
18257,2024-05-29,585*Золотой,5.66,7080.00,ЦБ ЦЕПИ,1250.88,0.50,8379225,до 5 500 руб.
18261,2024-05-29,585*Золотой,2.65,15120.00,ЦБ ЦЕПИ,5705.66,0.50,8379266,5 500 руб. - 6 000 руб.

In [134]:
df.to_sql('price_per_gramm', engine, schema = 'yura', if_exists='append', index = False)

120