In [59]:
from sqlalchemy import create_engine
import datetime as dt
import pandas as pd
import numpy as np
import warnings
import glob
import os

warnings.filterwarnings('ignore')
pd.set_option('use_inf_as_na', True)
pd.options.display.max_columns = None
pd.set_option('float_format', '{:.2f}'.format)

In [60]:
current_date = dt.date.today()
day = current_date.day - 1 
month = current_date.month
year = current_date.year
current_date = current_date.strftime('%Y.%m.%d')

In [61]:
try:
    df = pd.read_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\Остатки {current_date}.xlsx')
except:
    df = pd.read_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\Остатки {current_date[:-2]}{day}.xlsx')

In [62]:
df.sample(5)

,article,size,name,published,product_line,product_group,material,type3,weaving,fineness,avg_weight,price,discount_price,"Остатки, шт*",Unnamed: 14,Unnamed: 15,*без франчайзинговых магазинов и Румянцево
14360,1140100,NaN,Подвеска крест с брилл. с родир.,False,ДК,ДК ПОДВЕСКИ,Золото,КРАСНЫЙ,NaN,585.00,1.89,60380,30560,18,NaN,NaN,NaN
156141,4463366,NaN,Подвеска из серебра с эмалью и фианитами,True,СИ,СИ ЭМАЛЬ,Серебро,БЕЛЫЙ С РОДИРОВАНИЕМ,NaN,925.00,2.46,3300,940,12,NaN,NaN,NaN
87711,1883698,21.00,Золотое обручальное кольцо с родированием,True,ДК,ДК КОЛЬЦА ОБРУЧ,Золото,БЕЛЫЙ,NaN,585.00,4.28,70640,42380,1,NaN,NaN,NaN
195003,8269980,16.50,Кольцо TALANT из золота с цитрином и фианитами,True,ПДК,ПДК КОЛЬЦА,Золото,КРАСНЫЙ,NaN,585.00,3.04,13750,13750,3,NaN,NaN,NaN
150752,4152354,19.50,Золотое обручальное кольцо с фианитами 5 мм,True,ИФ,ИФ КОЛЬЦА ОБРУЧ,Золото,КРАСНЫЙ,NaN,585.00,5.30,76220,63200,8,NaN,NaN,NaN

In [63]:
df.fineness.unique()

array([925., 375., 585.,  nan, 750., 999., 944., 945., 946., 947., 937.,
       938., 939., 931., 932., 933., 926., 928., 929., 930., 948., 949.,
       950., 951., 927., 934., 935., 936., 960., 961., 962., 963., 964.,
       956., 957., 958., 959., 875.])

In [64]:
df['published'].value_counts(dropna=False)

published
True     165275
False     36881
Name: count, dtype: int64

In [65]:
df['product_line'].unique()

array(['СИ', 'ПДК', 'ДК', 'ФУТЛЯРЫ', 'ДФРС', 'ЧАСЫ', 'ЦБ', 'ИФ', 'БК',
       'ВЫРИЦА', 'БИЖУТЕРИЯ', nan, 'БУ'], dtype=object)

In [66]:
df = df[(df['fineness'] == 585) & (df['product_line'].str.contains('ФУТЛЯРЫ|ДФРС|ВЫРИЦА|ЧАСЫ|БИЖУТЕРИЯ|БУ') == False)]

In [67]:
len(df.article.unique())

39702

In [68]:
# df=df[~(df['article_name'].str.contains('каучук')
#         |df['article_name'].str.contains('шнурок')
#         |df['article_name'].str.contains('текстиль')
#         |df['article_name'].str.contains('хлопок')
#         |df['article_name'].str.contains('шелк')
#         |df['article_name'].str.contains('на нитке')
#         |df['article_name'].str.contains('кожа'))]

In [69]:
df = df[(df['product_group'].str.contains('БК КОЛЬЦА')|
        df['product_group'].str.contains('БК КОЛЬЦА ОБРУЧ')|
        df['product_group'].str.contains('ЦБ БРАСЛЕТЫ')|
        df['product_group'].str.contains('БК СЕРЬГИ')|
        df['product_group'].str.contains('БК ПОДВЕС КУЛЬТ')|
        df['product_group'].str.contains('БК ПОДВЕС ДЕКОР')|
        df['product_group'].str.contains('ЦБ ЦЕПИ'))]

In [70]:
df['price'].value_counts()

price
24880    19
26880    18
25180    15
26420    14
49220    14
         ..
25130     1
27770     1
25510     1
27460     1
49880     1
Name: count, Length: 6240, dtype: int64

In [71]:
df

,article,size,name,published,product_line,product_group,material,type3,weaving,fineness,avg_weight,price,discount_price,"Остатки, шт*",Unnamed: 14,Unnamed: 15,*без франчайзинговых магазинов и Румянцево
20,1000477,16.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.10,19900,19900,62,NaN,NaN,NaN
21,1000477,17.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.18,19900,19900,75,NaN,NaN,NaN
22,1000477,18.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.22,19900,19900,91,NaN,NaN,NaN
23,1000477,19.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.24,19900,19900,73,NaN,NaN,NaN
63,1001070,NaN,Золотые серьги,True,БК,БК СЕРЬГИ,Золото,КРАСНЫЙ,NaN,585.00,2.47,38020,29940,71,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202017,8379266,40.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,2.65,39280,30240,5,NaN,NaN,NaN
202018,8379266,45.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,2.91,43440,38600,7,NaN,NaN,NaN
202019,8379266,50.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.25,47840,42380,22,NaN,NaN,NaN
202020,8379266,55.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.53,50700,43300,6,NaN,NaN,NaN
202021,8379266,60.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.86,57920,54080,9,NaN,NaN,NaN

In [72]:
df = df.drop(columns=['Unnamed: 15', '*без франчайзинговых магазинов и Румянцево'])

In [73]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\discounts_zolotoy\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)

discount = pd.read_excel(latest_file)

In [74]:
discount.columns = ['article', 'Опубликован', 'discount_value_promotions_1',
                    'discount_value_promotions_2', 'discount_value_promotions_3',
                    'discount_value_promotions_4']

In [75]:
df = df.merge(discount, how='left', on='article')

In [76]:
df

,article,size,name,published,product_line,product_group,material,type3,weaving,fineness,avg_weight,price,discount_price,"Остатки, шт*",Unnamed: 14,Опубликован,discount_value_promotions_1,discount_value_promotions_2,discount_value_promotions_3,discount_value_promotions_4
0,1000477,16.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.10,19900,19900,62,NaN,True,-,-,-,-
1,1000477,17.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.18,19900,19900,75,NaN,True,-,-,-,-
2,1000477,18.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.22,19900,19900,91,NaN,True,-,-,-,-
3,1000477,19.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.24,19900,19900,73,NaN,True,-,-,-,-
4,1001070,NaN,Золотые серьги,True,БК,БК СЕРЬГИ,Золото,КРАСНЫЙ,NaN,585.00,2.47,38020,29940,71,NaN,True,50,35,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18253,8379266,40.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,2.65,39280,30240,5,NaN,True,50,35,-,-
18254,8379266,45.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,2.91,43440,38600,7,NaN,True,50,35,-,-
18255,8379266,50.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.25,47840,42380,22,NaN,True,50,35,-,-
18256,8379266,55.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.53,50700,43300,6,NaN,True,50,35,-,-
18257,8379266,60.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.86,57920,54080,9,NaN,True,50,35,-,-

In [77]:
df = df[(df['published'] == 'ИСТИНА') | (df['published'] == True)]

In [78]:
df = df.drop(columns=['weaving', 'Unnamed: 14', 'name'])

In [79]:
df.columns = ['article', 'size', 'published', 'product_line', 'product_group',
            'material', 'type3', 'fineness', 'avg_weight', 'price',
            'discount_price', 'Остатки, шт*', 'type3',
            'discount_value_promotions_1', 'discount_value_promotions_2', 'discount_value_promotions_3', 'discount_value_promotions_4']

In [80]:
df = df.drop(columns=['discount_value_promotions_4', 'published'])

In [81]:
df.sample(5)

,article,size,product_line,product_group,material,type3,fineness,avg_weight,price,discount_price,"Остатки, шт*",type3,discount_value_promotions_1,discount_value_promotions_2,discount_value_promotions_3
4906,1625478,19.50,БК,БК КОЛЬЦА,Золото,КРАСНЫЙ,585.00,0.76,13720,9500,3,True,50,35,-
632,1082691,23.00,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,585.00,14.53,223180,202740,21,True,50,35,-
3069,1381725,22.50,БК,БК КОЛЬЦА ОБРУЧ,Золото,КРАСНЫЙ,585.00,3.48,53420,42560,11,True,50,35,-
8893,2007041,19.00,БК,БК КОЛЬЦА,Золото,КРАСНЫЙ,585.00,2.44,10980,10980,1,True,-,-,-
8370,2003961,1.50,БК,БК СЕРЬГИ,Золото,КРАСНЫЙ,585.00,1.57,27370,19450,18,True,-,-,-

In [82]:
def discount_index(discount):
    try:
        return 1 - discount / 100
    except:
        return 1

In [83]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.apply(discount_index)
df.discount_value_promotions_2 = df.discount_value_promotions_2.apply(discount_index)
df.discount_value_promotions_3 = df.discount_value_promotions_3.apply(discount_index)

In [84]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.fillna(1)
df.discount_value_promotions_2 = df.discount_value_promotions_2.fillna(1)
df.discount_value_promotions_3 = df.discount_value_promotions_3.fillna(1)

In [85]:
df = df.dropna(subset=['avg_weight', 'discount_value_promotions_1'])

In [86]:
# df['max_discount'] = df['discount_price'] * df['discount_value_promotions_1'] / df['avg_weight']
# df['mid_discount'] = df['discount_price'] * df['discount_value_promotions_2'] / df['avg_weight']
# df['min_discount'] = df['discount_price'] * df['discount_value_promotions_3'] / df['avg_weight']

In [87]:
df = df[df['discount_value_promotions_1'] < 0.51]

In [88]:
df['price_personal_12'] = df['discount_price'] * df['discount_value_promotions_1']
df['price_personal_40'] = df['discount_price'] * df['discount_value_promotions_2'] * 0.8

In [89]:
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')

In [90]:
df_1_2 = df.groupby('product_group', as_index=False)[['price_personal_12', 'avg_weight']].agg({'price_personal_12':'sum', 'avg_weight':'sum'})
df_1_2['price_per_gram'] = df_1_2['price_personal_12'] / df_1_2['avg_weight']

In [91]:
df_40 = df.groupby('product_group', as_index=False)[['price_personal_40', 'avg_weight']].agg({'price_personal_40':'sum', 'avg_weight':'sum'})
df_40['price_per_gram'] = df_40['price_personal_40'] / df_40['avg_weight']

In [92]:
df_1_2 = df_40.merge(df_1_2, how='left', on='product_group')

In [93]:
df_1_2 = df_1_2.drop(columns=['avg_weight_y'])

In [94]:
df_1_2

,product_group,price_personal_40,avg_weight_x,price_per_gram_x,price_personal_12,price_per_gram_y
0,БК КОЛЬЦА,20469508.80,3250.58,6297.19,19682220.00,6054.99
1,БК КОЛЬЦА ОБРУЧ,64962435.20,10538.54,6164.27,62463880.00,5927.19
2,БК ПОДВЕС ДЕКОР,2775552.00,429.49,6462.44,2668800.00,6213.88
3,БК ПОДВЕС КУЛЬТ,9000014.40,1394.97,6451.76,8653860.00,6203.62
4,БК СЕРЬГИ,20938829.60,3202.07,6539.15,20133490.00,6287.65
5,ЦБ БРАСЛЕТЫ,66922138.40,9645.26,6938.34,64348210.00,6671.49
6,ЦБ ЦЕПИ,104283108.80,15127.93,6893.42,100272220.00,6628.28

In [95]:
df_1_2.columns = ['tg', 'price_personal_40', 'avg_weight', '585*Золотой остатки онлайн 35%+20%', 'price_personal_1_2', '585*Золотой остатки онлайн 1=2']

In [96]:
df_1_2['date'] = pd.to_datetime(date_now, format='mixed')

In [234]:
df_1_2.to_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\ecom_stock_history\\ppg_ecom_{date_now}.xlsx', index=False)

In [97]:
df_1_2 = df_1_2.drop(columns=['price_personal_40', 'avg_weight', 'price_personal_1_2', 'date'])

In [98]:
df_1_2.columns = ['tg', '585*Золотой остатки 35%+20%', '585*Золотой остатки 1=2']

In [99]:
df_1_2

                tg  585*Золотой остатки 35%+20%  585*Золотой остатки 1=2
0        БК КОЛЬЦА                      6297.19                  6054.99
1  БК КОЛЬЦА ОБРУЧ                      6164.27                  5927.19
2  БК ПОДВЕС ДЕКОР                      6462.44                  6213.88
3  БК ПОДВЕС КУЛЬТ                      6451.76                  6203.62
4        БК СЕРЬГИ                      6539.15                  6287.65
5      ЦБ БРАСЛЕТЫ                      6938.34                  6671.49
6          ЦБ ЦЕПИ                      6893.42                  6628.28

In [238]:
pd.read_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\sklv_sl_data\grouped_data\result_{date_now}.xlsx').merge(df_1_2, how = 'left', on = 'tg').to_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\sklv_sl_data\grouped_data\result_{date_now}.xlsx', index=False)

In [100]:
data_history = pd.DataFrame({'date': [pd.to_datetime('2024-06-03', format='mixed')],
                            'competitor': ['585*Золотой'],
                            'avg_ppg': [int(df['price_personal_12'].sum() / df['avg_weight'].sum())]})

In [101]:
data_history

        date   competitor  avg_ppg
0 2024-06-03  585*Золотой     6382

In [102]:
engine = create_engine('postgresql://yura:ivanov24.07@51.250.54.232:5432/dldb')

In [103]:
data_history.to_sql('avg_ppg_for_monthly_monitoring', engine, schema = 'yura', if_exists='append', index = False)

1

In [104]:
df = df.drop_duplicates(subset=['article'])

In [105]:
df['date'] = pd.to_datetime('2024-06-03', format='mixed')
df['competitor'] = '585*Золотой'
df['price_per_gramm'] = df['price_personal_12'] / df['avg_weight']

In [106]:
df['price_case'] = np.where(
    df['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [107]:
df = df[['date', 'competitor', 'avg_weight', 'price_personal_12', 'product_group', 'price_per_gramm', 'discount_value_promotions_1', 'article', 'price_case']]
df.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [108]:
engine = create_engine('postgresql://yura:ivanov24.07@51.250.54.232:5432/dldb')

In [109]:
df

,date_,competitor,weight,price_personal,tg,price_per_gramm,discount_for_dash,url,price_case
4,2024-06-03,585*Золотой,2.47,14970.00,БК СЕРЬГИ,6060.73,0.50,1001070,6 000 руб. - 6 500 руб.
6,2024-06-03,585*Золотой,1.61,9830.00,БК КОЛЬЦА,6105.59,0.50,1001485,6 000 руб. - 6 500 руб.
10,2024-06-03,585*Золотой,5.62,38950.00,ЦБ ЦЕПИ,6930.60,0.50,1001697,6 500 руб. - 7 000 руб.
15,2024-06-03,585*Золотой,1.45,7710.00,БК КОЛЬЦА,5317.24,0.50,1001799,до 5 500 руб.
22,2024-06-03,585*Золотой,1.61,11480.00,БК ПОДВЕС ДЕКОР,7130.43,0.50,1001948,7 000 руб. - 8 000 руб.
...,...,...,...,...,...,...,...,...,...
18230,2024-06-03,585*Золотой,3.14,20620.00,ЦБ БРАСЛЕТЫ,6566.88,0.50,8378871,6 500 руб. - 7 000 руб.
18237,2024-06-03,585*Золотой,0.94,5800.00,ЦБ ЦЕПИ,6170.21,0.50,8378875,6 000 руб. - 6 500 руб.
18244,2024-06-03,585*Золотой,1.11,8620.00,ЦБ ЦЕПИ,7765.77,0.50,8378877,7 000 руб. - 8 000 руб.
18249,2024-06-03,585*Золотой,5.66,7080.00,ЦБ ЦЕПИ,1250.88,0.50,8379225,до 5 500 руб.
18253,2024-06-03,585*Золотой,2.65,15120.00,ЦБ ЦЕПИ,5705.66,0.50,8379266,5 500 руб. - 6 000 руб.

In [110]:
df.to_sql('price_per_gramm', engine, schema = 'yura', if_exists='append', index = False)

119

In [111]:
df

,date_,competitor,weight,price_personal,tg,price_per_gramm,discount_for_dash,url,price_case
4,2024-06-03,585*Золотой,2.47,14970.00,БК СЕРЬГИ,6060.73,0.50,1001070,6 000 руб. - 6 500 руб.
6,2024-06-03,585*Золотой,1.61,9830.00,БК КОЛЬЦА,6105.59,0.50,1001485,6 000 руб. - 6 500 руб.
10,2024-06-03,585*Золотой,5.62,38950.00,ЦБ ЦЕПИ,6930.60,0.50,1001697,6 500 руб. - 7 000 руб.
15,2024-06-03,585*Золотой,1.45,7710.00,БК КОЛЬЦА,5317.24,0.50,1001799,до 5 500 руб.
22,2024-06-03,585*Золотой,1.61,11480.00,БК ПОДВЕС ДЕКОР,7130.43,0.50,1001948,7 000 руб. - 8 000 руб.
...,...,...,...,...,...,...,...,...,...
18230,2024-06-03,585*Золотой,3.14,20620.00,ЦБ БРАСЛЕТЫ,6566.88,0.50,8378871,6 500 руб. - 7 000 руб.
18237,2024-06-03,585*Золотой,0.94,5800.00,ЦБ ЦЕПИ,6170.21,0.50,8378875,6 000 руб. - 6 500 руб.
18244,2024-06-03,585*Золотой,1.11,8620.00,ЦБ ЦЕПИ,7765.77,0.50,8378877,7 000 руб. - 8 000 руб.
18249,2024-06-03,585*Золотой,5.66,7080.00,ЦБ ЦЕПИ,1250.88,0.50,8379225,до 5 500 руб.
18253,2024-06-03,585*Золотой,2.65,15120.00,ЦБ ЦЕПИ,5705.66,0.50,8379266,5 500 руб. - 6 000 руб.