In [261]:
from sqlalchemy import create_engine
import datetime as dt
import pandas as pd
import numpy as np
import warnings
import glob
import os

warnings.filterwarnings('ignore')
pd.set_option('use_inf_as_na', True)
pd.options.display.max_columns = None
pd.set_option('float_format', '{:.2f}'.format)

In [262]:
current_date = dt.date.today()
day = current_date.day - 1 
month = current_date.month
year = current_date.year
current_date = current_date.strftime('%Y.%m.%d')

In [263]:
try:
    df = pd.read_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\Остатки {current_date}.xlsx')
except:
    df = pd.read_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\Остатки {current_date[:-2]}0{day}.xlsx')

In [264]:
df.fineness.unique()

array([925., 375., 585.,  nan, 750., 999., 944., 945., 946., 947., 937.,
       938., 939., 931., 932., 933., 926., 928., 929., 930., 948., 949.,
       950., 951., 927., 934., 935., 936., 960., 961., 962., 963., 964.,
       956., 957., 958., 959., 875.])

In [265]:
df['published'].value_counts(dropna=False)

published
True     166919
False     37849
Name: count, dtype: int64

In [266]:
df['product_line'].unique()

array(['СИ', 'ПДК', 'ДК', 'ФУТЛЯРЫ', 'ДФРС', 'ЧАСЫ', 'ЦБ', 'ИФ', 'БК',
       'ВЫРИЦА', 'БИЖУТЕРИЯ', nan, 'БУ'], dtype=object)

In [267]:
df = df[(df['fineness'] == 585) & (df['product_line'].str.contains('ФУТЛЯРЫ|ДФРС|ВЫРИЦА|ЧАСЫ|БИЖУТЕРИЯ|БУ') == False)]

In [268]:
len(df.article.unique())

40357

In [269]:
# df=df[~(df['article_name'].str.contains('каучук')
#         |df['article_name'].str.contains('шнурок')
#         |df['article_name'].str.contains('текстиль')
#         |df['article_name'].str.contains('хлопок')
#         |df['article_name'].str.contains('шелк')
#         |df['article_name'].str.contains('на нитке')
#         |df['article_name'].str.contains('кожа'))]

In [270]:
df = df[(df['product_group'].str.contains('БК КОЛЬЦА')|
        df['product_group'].str.contains('БК КОЛЬЦА ОБРУЧ')|
        df['product_group'].str.contains('ЦБ БРАСЛЕТЫ')|
        df['product_group'].str.contains('БК СЕРЬГИ')|
        df['product_group'].str.contains('БК ПОДВЕС КУЛЬТ')|
        df['product_group'].str.contains('БК ПОДВЕС ДЕКОР')|
        df['product_group'].str.contains('ЦБ ЦЕПИ'))]

In [271]:
df['price'].value_counts()

price
26880     20
24880     18
42180     14
25760     14
30400     14
          ..
146560     1
186900     1
193520     1
170660     1
64240      1
Name: count, Length: 6266, dtype: int64

In [272]:
df

,article,size,name,published,product_line,product_group,material,type3,weaving,fineness,avg_weight,price,discount_price,"Остатки, шт*",Unnamed: 14,Unnamed: 15,*без франчайзинговых магазинов и Румянцево
20,1000477,16.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.10,19900,19900,61,NaN,NaN,NaN
21,1000477,17.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.18,19900,19900,75,NaN,NaN,NaN
22,1000477,18.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.22,19900,19900,91,NaN,NaN,NaN
23,1000477,19.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.24,19900,19900,73,NaN,NaN,NaN
63,1001070,NaN,Золотые серьги,True,БК,БК СЕРЬГИ,Золото,КРАСНЫЙ,NaN,585.00,2.47,38040,29940,70,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204628,8379266,40.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,2.65,39280,30240,5,NaN,NaN,NaN
204629,8379266,45.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,2.91,43440,38600,7,NaN,NaN,NaN
204630,8379266,50.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.25,47840,42380,22,NaN,NaN,NaN
204631,8379266,55.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.53,50700,43300,6,NaN,NaN,NaN
204632,8379266,60.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.86,57920,54080,9,NaN,NaN,NaN

In [273]:
df = df.drop(columns=['Unnamed: 15', '*без франчайзинговых магазинов и Румянцево'])

In [274]:
path = r'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\discounts_zolotoy\\'
list_of_files = glob.glob(path + '\*.xlsx') 
latest_file = max(list_of_files, key=os.path.getctime)

discount = pd.read_excel(latest_file)

In [275]:
discount.columns = ['article', 'Опубликован', 'discount_value_promotions_1',
                    'discount_value_promotions_2', 'discount_value_promotions_3',
                    'discount_value_promotions_4']

In [276]:
df = df.merge(discount, how='left', on='article')

In [277]:
df

,article,size,name,published,product_line,product_group,material,type3,weaving,fineness,avg_weight,price,discount_price,"Остатки, шт*",Unnamed: 14,Опубликован,discount_value_promotions_1,discount_value_promotions_2,discount_value_promotions_3,discount_value_promotions_4
0,1000477,16.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.10,19900,19900,61,NaN,True,-,-,-,-
1,1000477,17.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.18,19900,19900,75,NaN,True,-,-,-,-
2,1000477,18.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.22,19900,19900,91,NaN,True,-,-,-,-
3,1000477,19.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.24,19900,19900,73,NaN,True,-,-,-,-
4,1001070,NaN,Золотые серьги,True,БК,БК СЕРЬГИ,Золото,КРАСНЫЙ,NaN,585.00,2.47,38040,29940,70,NaN,True,30,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18361,8379266,40.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,2.65,39280,30240,5,NaN,True,30,-,-,-
18362,8379266,45.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,2.91,43440,38600,7,NaN,True,30,-,-,-
18363,8379266,50.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.25,47840,42380,22,NaN,True,30,-,-,-
18364,8379266,55.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.53,50700,43300,6,NaN,True,30,-,-,-
18365,8379266,60.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.86,57920,54080,9,NaN,True,30,-,-,-

In [278]:
df = df[(df['published'] == 'ИСТИНА') | (df['published'] == True)]

In [279]:
df = df.drop(columns=['weaving', 'Unnamed: 14', 'name'])

In [280]:
df.columns = ['article', 'size', 'published', 'product_line', 'product_group',
            'material', 'type3', 'fineness', 'avg_weight', 'price',
            'discount_price', 'Остатки, шт*', 'type3',
            'discount_value_promotions_1', 'discount_value_promotions_2', 'discount_value_promotions_3', 'discount_value_promotions_4']

In [281]:
df = df.drop(columns=['discount_value_promotions_4', 'published'])

In [282]:
df.sample(5)

,article,size,product_line,product_group,material,type3,fineness,avg_weight,price,discount_price,"Остатки, шт*",type3,discount_value_promotions_1,discount_value_promotions_2,discount_value_promotions_3
14388,4053029,45.00,ЦБ,ЦБ ЦЕПИ,Золото,ТРЕХЦВЕТНЫЙ,585.00,10.79,181220,160080,1,True,30,-,-
11261,2246275,18.00,БК,БК КОЛЬЦА ОБРУЧ,Золото,КБК,585.00,4.59,20640,20640,25,True,-,-,-
252,1025971,16.00,БК,БК КОЛЬЦА ОБРУЧ,Золото,ЖБЖ,585.00,3.04,44480,34160,29,True,30,-,-
17064,7859846,60.00,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ,585.00,13.51,236500,189200,9,True,30,-,-
6386,1811231,NaN,БК,БК СЕРЬГИ,Золото,КРАСНЫЙ,585.00,0.22,5160,3360,507,True,30,-,-

In [283]:
def discount_index(discount):
    try:
        return 1 - discount / 100
    except:
        return 1

In [284]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.apply(discount_index)
df.discount_value_promotions_2 = df.discount_value_promotions_2.apply(discount_index)
df.discount_value_promotions_3 = df.discount_value_promotions_3.apply(discount_index)

In [285]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.fillna(1)
df.discount_value_promotions_2 = df.discount_value_promotions_2.fillna(1)
df.discount_value_promotions_3 = df.discount_value_promotions_3.fillna(1)

In [286]:
df = df.dropna(subset=['avg_weight', 'discount_value_promotions_1'])

In [287]:
# df['max_discount'] = df['discount_price'] * df['discount_value_promotions_1'] / df['avg_weight']
# df['mid_discount'] = df['discount_price'] * df['discount_value_promotions_2'] / df['avg_weight']
# df['min_discount'] = df['discount_price'] * df['discount_value_promotions_3'] / df['avg_weight']

In [293]:
df['price_personal'] = np.where(
    (df['price'] == df['discount_price']) & (df['discount_value_promotions_1'] == 1), df['discount_price'] * df['discount_value_promotions_1'], df['discount_price'] * df['discount_value_promotions_1'] * 0.8
)

In [289]:
dsa

NameError: name 'dsa' is not defined

In [ ]:
df = df.drop_duplicates(subset = ['article'])

In [294]:
df

,article,size,product_line,product_group,material,type3,fineness,avg_weight,price,discount_price,"Остатки, шт*",type3,discount_value_promotions_1,discount_value_promotions_2,discount_value_promotions_3,price_personal
0,1000477,16.00,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,585.00,3.10,19900,19900,61,True,1.00,1,1,19900.00
1,1000477,17.00,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,585.00,3.18,19900,19900,75,True,1.00,1,1,19900.00
2,1000477,18.00,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,585.00,3.22,19900,19900,91,True,1.00,1,1,19900.00
3,1000477,19.00,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,585.00,3.24,19900,19900,73,True,1.00,1,1,19900.00
4,1001070,NaN,БК,БК СЕРЬГИ,Золото,КРАСНЫЙ,585.00,2.47,38040,29940,70,True,0.70,1,1,16766.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18361,8379266,40.00,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,585.00,2.65,39280,30240,5,True,0.70,1,1,16934.40
18362,8379266,45.00,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,585.00,2.91,43440,38600,7,True,0.70,1,1,21616.00
18363,8379266,50.00,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,585.00,3.25,47840,42380,22,True,0.70,1,1,23732.80
18364,8379266,55.00,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,585.00,3.53,50700,43300,6,True,0.70,1,1,24248.00
18365,8379266,60.00,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,585.00,3.86,57920,54080,9,True,0.70,1,1,30284.80

In [295]:
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')

In [296]:
result = df.groupby('product_group', as_index=False)[['price_personal', 'avg_weight']].agg({'price_personal':'sum', 'avg_weight':'sum'})
result['price_per_gram'] = result['price_personal'] / result['avg_weight']

In [297]:
result['price_personal'].sum() / result['avg_weight'].sum()

6926.798827380813

In [302]:
result['date'] = pd.to_datetime('06.05.2024', format='mixed')

In [303]:
result

     product_group  price_personal  avg_weight  price_per_gram       date
0        БК КОЛЬЦА     27668819.60     4281.10         6463.02 2024-06-05
1  БК КОЛЬЦА ОБРУЧ     93515086.00    14837.48         6302.63 2024-06-05
2  БК ПОДВЕС ДЕКОР      3960669.20      635.92         6228.25 2024-06-05
3  БК ПОДВЕС КУЛЬТ     10346752.80     1520.16         6806.36 2024-06-05
4        БК СЕРЬГИ     26539229.20     3751.11         7075.03 2024-06-05
5      ЦБ БРАСЛЕТЫ    107330277.60    14885.33         7210.47 2024-06-05
6          ЦБ ЦЕПИ    176035793.60    24389.40         7217.72 2024-06-05

In [304]:
result.to_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\ecom_stock_history\\ppg_ecom_{date_now}.xlsx', index=False)

In [305]:
result = result.drop(columns=['price_personal', 'avg_weight', 'date'])

In [306]:
result

     product_group  price_per_gram
0        БК КОЛЬЦА         6463.02
1  БК КОЛЬЦА ОБРУЧ         6302.63
2  БК ПОДВЕС ДЕКОР         6228.25
3  БК ПОДВЕС КУЛЬТ         6806.36
4        БК СЕРЬГИ         7075.03
5      ЦБ БРАСЛЕТЫ         7210.47
6          ЦБ ЦЕПИ         7217.72

In [307]:
result.columns = ['tg', '585*Золотой остатки 30%+20%']

In [308]:
pd.read_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\sklv_sl_data\grouped_data\result_{date_now}.xlsx').merge(result, how = 'left', on = 'tg').to_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\sklv_sl_data\grouped_data\result_{date_now}.xlsx', index=False)

In [310]:
data_history = pd.DataFrame({'date': [pd.to_datetime('2024-06-05', format='mixed')],
                            'competitor': ['585*Золотой'],
                            'avg_ppg': [int(df['price_personal'].sum() / df['avg_weight'].sum())]})

In [311]:
data_history

        date   competitor  avg_ppg
0 2024-06-05  585*Золотой     6926

In [312]:
engine = create_engine('postgresql://yura:ivanov24.07@51.250.54.232:5432/dldb')

In [313]:
data_history.to_sql('avg_ppg_for_monthly_monitoring', engine, schema = 'yura', if_exists='append', index = False)

1

In [314]:
df = df.drop_duplicates(subset=['article'])

In [316]:
df['date'] = pd.to_datetime('2024-06-05', format='mixed')
df['competitor'] = '585*Золотой'
df['price_per_gramm'] = df['price_personal'] / df['avg_weight']

In [317]:
df['price_case'] = np.where(
    df['price_per_gramm'] <= 5500, 'до 5 500 руб.', 
    np.where(
        (df['price_per_gramm'] <= 6000), '5 500 руб. - 6 000 руб.', 
        np.where(
            (df['price_per_gramm'] <= 6500), '6 000 руб. - 6 500 руб.', 
            np.where(
                (df['price_per_gramm'] <= 7000), '6 500 руб. - 7 000 руб.', 
                np.where(
                    (df['price_per_gramm'] <= 8000), '7 000 руб. - 8 000 руб.', 
                    np.where(
                        (df['price_per_gramm'] <= 9000), '8 000 руб. - 9 000 руб.', 
                        np.where(
                            (df['price_per_gramm'] <= 10000), '9 000 руб. - 10 000 руб.',  'свыше 10 000 руб.'
                        )
                    )
                )
            )
        )
    )
)

In [318]:
df = df[['date', 'competitor', 'avg_weight', 'price_personal', 'product_group', 'price_per_gramm', 'discount_value_promotions_1', 'article', 'price_case']]
df.columns = ['date_', 'competitor', 'weight', 'price_personal', 'tg', 'price_per_gramm', 'discount_for_dash', 'url', 'price_case']

In [319]:
engine = create_engine('postgresql://yura:ivanov24.07@51.250.54.232:5432/dldb')

In [320]:
df

,date_,competitor,weight,price_personal,tg,price_per_gramm,discount_for_dash,url,price_case
0,2024-06-05,585*Золотой,3.10,19900.00,ЦБ БРАСЛЕТЫ,6419.35,1.00,1000477,6 000 руб. - 6 500 руб.
4,2024-06-05,585*Золотой,2.47,16766.40,БК СЕРЬГИ,6788.02,0.70,1001070,6 500 руб. - 7 000 руб.
6,2024-06-05,585*Золотой,1.61,11009.60,БК КОЛЬЦА,6838.26,0.70,1001485,6 500 руб. - 7 000 руб.
10,2024-06-05,585*Золотой,5.62,43624.00,ЦБ ЦЕПИ,7762.28,0.70,1001697,7 000 руб. - 8 000 руб.
15,2024-06-05,585*Золотой,1.45,10068.80,БК КОЛЬЦА,6944.00,0.70,1001799,6 500 руб. - 7 000 руб.
...,...,...,...,...,...,...,...,...,...
18338,2024-06-05,585*Золотой,3.14,23094.40,ЦБ БРАСЛЕТЫ,7354.90,0.70,8378871,7 000 руб. - 8 000 руб.
18345,2024-06-05,585*Золотой,0.95,6496.00,ЦБ ЦЕПИ,6837.89,0.70,8378875,6 500 руб. - 7 000 руб.
18352,2024-06-05,585*Золотой,1.11,9654.40,ЦБ ЦЕПИ,8697.66,0.70,8378877,8 000 руб. - 9 000 руб.
18357,2024-06-05,585*Золотой,5.66,7929.60,ЦБ ЦЕПИ,1400.99,0.70,8379225,до 5 500 руб.
18361,2024-06-05,585*Золотой,2.65,16934.40,ЦБ ЦЕПИ,6390.34,0.70,8379266,6 000 руб. - 6 500 руб.

In [321]:
df.to_sql('price_per_gramm', engine, schema = 'yura', if_exists='append', index = False)

255

In [322]:
df

,date_,competitor,weight,price_personal,tg,price_per_gramm,discount_for_dash,url,price_case
0,2024-06-05,585*Золотой,3.10,19900.00,ЦБ БРАСЛЕТЫ,6419.35,1.00,1000477,6 000 руб. - 6 500 руб.
4,2024-06-05,585*Золотой,2.47,16766.40,БК СЕРЬГИ,6788.02,0.70,1001070,6 500 руб. - 7 000 руб.
6,2024-06-05,585*Золотой,1.61,11009.60,БК КОЛЬЦА,6838.26,0.70,1001485,6 500 руб. - 7 000 руб.
10,2024-06-05,585*Золотой,5.62,43624.00,ЦБ ЦЕПИ,7762.28,0.70,1001697,7 000 руб. - 8 000 руб.
15,2024-06-05,585*Золотой,1.45,10068.80,БК КОЛЬЦА,6944.00,0.70,1001799,6 500 руб. - 7 000 руб.
...,...,...,...,...,...,...,...,...,...
18338,2024-06-05,585*Золотой,3.14,23094.40,ЦБ БРАСЛЕТЫ,7354.90,0.70,8378871,7 000 руб. - 8 000 руб.
18345,2024-06-05,585*Золотой,0.95,6496.00,ЦБ ЦЕПИ,6837.89,0.70,8378875,6 500 руб. - 7 000 руб.
18352,2024-06-05,585*Золотой,1.11,9654.40,ЦБ ЦЕПИ,8697.66,0.70,8378877,8 000 руб. - 9 000 руб.
18357,2024-06-05,585*Золотой,5.66,7929.60,ЦБ ЦЕПИ,1400.99,0.70,8379225,до 5 500 руб.
18361,2024-06-05,585*Золотой,2.65,16934.40,ЦБ ЦЕПИ,6390.34,0.70,8379266,6 000 руб. - 6 500 руб.