In [1]:
from sqlalchemy import create_engine
import datetime as dt
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')
pd.set_option('use_inf_as_na', True)
pd.options.display.max_columns = None
pd.set_option('float_format', '{:.2f}'.format)

In [2]:
current_date = dt.date.today()
day = current_date.day - 1 
month = current_date.month
year = current_date.year
current_date = current_date.strftime('%Y.%m.%d')

In [4]:
try:
    df = pd.read_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\Остатки {current_date}.xlsx')
except:
    df = pd.read_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\МЮР\ecom_stock_raw\Остатки {current_date[:-2]}{day}.xlsx')

In [5]:
df.sample(5)

,article,size,name,published,product_line,product_group,material,type3,weaving,fineness,avg_weight,price,discount_price,"Остатки, шт*",Unnamed: 14,Unnamed: 15,*без франчайзинговых магазинов и Румянцево
26197,1262935,NaN,Серебряная подвеска Крест с фианитами и родиро...,True,СИ,СИ ПОДВЕС ЦВ/К,Серебро,БЕЛЫЙ С РОДИРОВАНИЕМ,NaN,925.00,0.84,1320,760,268,NaN,NaN,NaN
112425,2224993,NaN,"Серьги, фианит",False,ИФ,ИФ СЕРЬГИ,Золото,КРАСНЫЙ,NaN,585.00,1.84,37520,24760,1,NaN,NaN,NaN
61250,1618804,16.00,Золотое кольцо,True,БК,БК КОЛЬЦА,Золото,КРАСНЫЙ,NaN,585.00,1.25,24480,14720,3,NaN,NaN,NaN
76043,1766262,18.50,"Кольцо с брилл.+изумруд выращ., с родир.+черн....",False,ДК,ДК КОЛЬЦА,Золото,КРАСНЫЙ,NaN,585.00,3.48,150780,82320,5,NaN,NaN,NaN
146160,3969457,NaN,Серьги из золота с аметистами и фианитами,True,ПДК,ПДК СЕРЬГИ,Золото,КРАСНЫЙ,NaN,585.00,4.76,15960,15960,4,NaN,NaN,NaN

In [6]:
df.fineness.unique()

array([925., 375., 585.,  nan, 750., 999., 944., 945., 946., 947., 937.,
       938., 939., 931., 932., 933., 926., 928., 929., 930., 948., 949.,
       950., 951., 927., 934., 935., 936., 960., 961., 962., 963., 964.,
       956., 957., 958., 959., 875.])

In [7]:
df['published'].value_counts(dropna=False)

published
True     165603
False     36726
Name: count, dtype: int64

In [8]:
df['product_line'].unique()

array(['СИ', 'ПДК', 'ДК', 'ФУТЛЯРЫ', 'ДФРС', 'ЧАСЫ', 'ЦБ', 'ИФ', 'БК',
       'ВЫРИЦА', 'БИЖУТЕРИЯ', nan, 'БУ'], dtype=object)

In [9]:
df = df[(df['fineness'] == 585) & (df['product_line'].str.contains('ФУТЛЯРЫ|ДФРС|ВЫРИЦА|ЧАСЫ|БИЖУТЕРИЯ|БУ') == False)]

In [10]:
len(df.article.unique())

39748

In [11]:
# df=df[~(df['article_name'].str.contains('каучук')
#         |df['article_name'].str.contains('шнурок')
#         |df['article_name'].str.contains('текстиль')
#         |df['article_name'].str.contains('хлопок')
#         |df['article_name'].str.contains('шелк')
#         |df['article_name'].str.contains('на нитке')
#         |df['article_name'].str.contains('кожа'))]

In [12]:
df = df[(df['product_group'].str.contains('БК КОЛЬЦА')|
        df['product_group'].str.contains('БК КОЛЬЦА ОБРУЧ')|
        df['product_group'].str.contains('ЦБ БРАСЛЕТЫ')|
        df['product_group'].str.contains('БК СЕРЬГИ')|
        df['product_group'].str.contains('БК ПОДВЕС КУЛЬТ')|
        df['product_group'].str.contains('БК ПОДВЕС ДЕКОР')|
        df['product_group'].str.contains('ЦБ ЦЕПИ'))]

In [13]:
df['price'].value_counts()

price
26880     19
24880     19
25180     16
26420     15
42220     15
          ..
216120     1
245040     1
197720     1
243560     1
268880     1
Name: count, Length: 6252, dtype: int64

In [14]:
df

,article,size,name,published,product_line,product_group,material,type3,weaving,fineness,avg_weight,price,discount_price,"Остатки, шт*",Unnamed: 14,Unnamed: 15,*без франчайзинговых магазинов и Румянцево
20,1000477,16.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.10,19900,19900,62,NaN,NaN,NaN
21,1000477,17.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.18,19900,19900,76,NaN,NaN,NaN
22,1000477,18.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.22,19900,19900,94,NaN,NaN,NaN
23,1000477,19.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.25,19900,19900,77,NaN,NaN,NaN
63,1001070,NaN,Золотые серьги,True,БК,БК СЕРЬГИ,Золото,КРАСНЫЙ,NaN,585.00,2.47,38020,29940,73,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202190,8379266,40.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,2.65,39280,30240,5,NaN,NaN,NaN
202191,8379266,45.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,2.92,43740,37840,8,NaN,NaN,NaN
202192,8379266,50.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.25,47500,42060,23,NaN,NaN,NaN
202193,8379266,55.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.53,50700,43300,6,NaN,NaN,NaN
202194,8379266,60.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.86,57920,54080,9,NaN,NaN,NaN

In [15]:
df = df.drop(columns=['Unnamed: 15', '*без франчайзинговых магазинов и Румянцево'])

In [16]:
try:
    discount = pd.read_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\discounts_zolotoy\Артикул сайта-скидки по ПК {current_date}.xlsx')
except:
    discount = pd.read_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\discounts_zolotoy\Артикул сайта-скидки по ПК 2024.0{month}.{day - 1}.xlsx')

In [17]:
discount.columns = ['article', 'Опубликован', 'discount_value_promotions_1',
                    'discount_value_promotions_2', 'discount_value_promotions_3',
                    'discount_value_promotions_4']

In [18]:
df = df.merge(discount, how='left', on='article')

In [19]:
df

,article,size,name,published,product_line,product_group,material,type3,weaving,fineness,avg_weight,price,discount_price,"Остатки, шт*",Unnamed: 14,Опубликован,discount_value_promotions_1,discount_value_promotions_2,discount_value_promotions_3,discount_value_promotions_4
0,1000477,16.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.10,19900,19900,62,NaN,True,-,-,-,-
1,1000477,17.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.18,19900,19900,76,NaN,True,-,-,-,-
2,1000477,18.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.22,19900,19900,94,NaN,True,-,-,-,-
3,1000477,19.00,Золотой браслет,True,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,NaN,585.00,3.25,19900,19900,77,NaN,True,-,-,-,-
4,1001070,NaN,Золотые серьги,True,БК,БК СЕРЬГИ,Золото,КРАСНЫЙ,NaN,585.00,2.47,38020,29940,73,NaN,True,50,35,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18277,8379266,40.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,2.65,39280,30240,5,NaN,True,50,35,-,-
18278,8379266,45.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,2.92,43740,37840,8,NaN,True,50,35,-,-
18279,8379266,50.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.25,47500,42060,23,NaN,True,50,35,-,-
18280,8379266,55.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.53,50700,43300,6,NaN,True,50,35,-,-
18281,8379266,60.00,Золотая пустотелая цепочка Лав с алмазной гран...,True,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ С БЕЛЫМ,Лав,585.00,3.86,57920,54080,9,NaN,True,50,35,-,-

In [20]:
df = df[(df['published'] == 'ИСТИНА') | (df['published'] == True)]

In [21]:
df = df.drop(columns=['weaving', 'Unnamed: 14', 'name'])

In [22]:
df.columns = ['article', 'size', 'published', 'product_line', 'product_group',
            'material', 'type3', 'fineness', 'avg_weight', 'price',
            'discount_price', 'Остатки, шт*', 'type3',
            'discount_value_promotions_1', 'discount_value_promotions_2', 'discount_value_promotions_3', 'discount_value_promotions_4']

In [23]:
df = df.drop(columns=['discount_value_promotions_4', 'published'])

In [24]:
df.sample(5)

,article,size,product_line,product_group,material,type3,fineness,avg_weight,price,discount_price,"Остатки, шт*",type3,discount_value_promotions_1,discount_value_promotions_2,discount_value_promotions_3
12534,2975461,55.00,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ,585.00,2.16,34500,25540,22,True,50,35,-
17792,8291189,16.00,ЦБ,ЦБ БРАСЛЕТЫ,Золото,КРАСНЫЙ,585.00,1.65,26440,18380,14,True,50,35,-
5891,1753076,55.00,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ,585.00,3.34,56060,49580,5,True,50,35,-
4912,1625777,45.00,ЦБ,ЦБ ЦЕПИ,Золото,КРАСНЫЙ,585.00,1.93,38200,29800,32,True,50,35,-
4101,1520450,16.00,ЦБ,ЦБ БРАСЛЕТЫ,Золото,ЖЁЛТЫЙ,585.00,1.22,24700,18280,6,True,50,35,-

In [25]:
def discount_index(discount):
    try:
        return 1 - discount / 100
    except:
        return np.nan

In [26]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.apply(discount_index)
df.discount_value_promotions_2 = df.discount_value_promotions_2.apply(discount_index)
df.discount_value_promotions_3 = df.discount_value_promotions_3.apply(discount_index)

In [27]:
df.discount_value_promotions_1 = df.discount_value_promotions_1.fillna(1)
df.discount_value_promotions_2 = df.discount_value_promotions_2.fillna(1)
df.discount_value_promotions_3 = df.discount_value_promotions_3.fillna(1)

In [28]:
df = df.dropna(subset=['avg_weight', 'discount_value_promotions_1'])

In [29]:
# df['max_discount'] = df['discount_price'] * df['discount_value_promotions_1'] / df['avg_weight']
# df['mid_discount'] = df['discount_price'] * df['discount_value_promotions_2'] / df['avg_weight']
# df['min_discount'] = df['discount_price'] * df['discount_value_promotions_3'] / df['avg_weight']

In [30]:
df['price_personal_12'] = df['discount_price'] * df['discount_value_promotions_1']
df['price_personal_40'] = df['discount_price'] * df['discount_value_promotions_2'] * 0.8

In [31]:
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')

In [32]:
df_1_2 = df.groupby('product_group', as_index=False)[['price_personal_12', 'avg_weight']].agg({'price_personal_12':'sum', 'avg_weight':'sum'})
df_1_2['price_per_gram'] = df_1_2['price_personal_12'] / df_1_2['avg_weight']

In [33]:
df_40 = df.groupby('product_group', as_index=False)[['price_personal_40', 'avg_weight']].agg({'price_personal_40':'sum', 'avg_weight':'sum'})
df_40['price_per_gram'] = df_40['price_personal_40'] / df_40['avg_weight']

In [34]:
df_1_2 = df_40.merge(df_1_2, how='left', on='product_group')

In [35]:
df_1_2 = df_1_2.drop(columns=['avg_weight_y'])

In [36]:
df_1_2

,product_group,price_personal_40,avg_weight_x,price_per_gram_x,price_personal_12,price_per_gram_y
0,БК КОЛЬЦА,25007932.00,4268.64,5858.52,25363040.00,5941.71
1,БК КОЛЬЦА ОБРУЧ,85050362.40,14749.81,5766.20,87376273.00,5923.89
2,БК ПОДВЕС ДЕКОР,3540804.00,632.24,5600.41,3625080.00,5733.71
3,БК ПОДВЕС КУЛЬТ,9430586.40,1509.51,6247.45,9197550.00,6093.07
4,БК СЕРЬГИ,24526123.20,3737.38,6562.38,24631710.00,6590.64
5,ЦБ БРАСЛЕТЫ,94326098.40,14662.79,6433.03,98739750.00,6734.04
6,ЦБ ЦЕПИ,156271136.80,24280.49,6436.08,165280520.00,6807.13

In [37]:
df_1_2.columns = ['tg', 'price_personal_40', 'avg_weight', '585*Золотой остатки онлайн 35%+20%', 'price_personal_1_2', '585*Золотой остатки онлайн 1=2']

In [38]:
df_1_2['date'] = pd.to_datetime(date_now, format='mixed')

In [39]:
df_1_2.to_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\ecom_stock_history\\ppg_ecom_{date_now}.xlsx', index=False)

In [40]:
df_1_2 = df_1_2.drop(columns=['price_personal_40', 'avg_weight', 'price_personal_1_2', 'date'])

In [41]:
df_1_2.columns = ['tg', '585*Золотой остатки 35%+20%', '585*Золотой остатки 1=2']

In [42]:
df_1_2

                tg  585*Золотой остатки 35%+20%  585*Золотой остатки 1=2
0        БК КОЛЬЦА                      5858.52                  5941.71
1  БК КОЛЬЦА ОБРУЧ                      5766.20                  5923.89
2  БК ПОДВЕС ДЕКОР                      5600.41                  5733.71
3  БК ПОДВЕС КУЛЬТ                      6247.45                  6093.07
4        БК СЕРЬГИ                      6562.38                  6590.64
5      ЦБ БРАСЛЕТЫ                      6433.03                  6734.04
6          ЦБ ЦЕПИ                      6436.08                  6807.13

In [43]:
pd.read_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\sklv_sl_data\grouped_data\result_{date_now}.xlsx').merge(df_1_2, how = 'left', on = 'tg').to_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\sklv_sl_data\grouped_data\result_{date_now}.xlsx', index=False)

In [44]:
data_history = pd.DataFrame({'date': [pd.to_datetime(date_now, format='mixed')],
                            'competitor': ['585*Золотой'],
                            'avg_ppg': [int(df['price_personal_12'].sum() / df['avg_weight'].sum())]})

In [45]:
data_history

        date   competitor  avg_ppg
0 2024-05-29  585*Золотой     6488

In [46]:
engine = create_engine('postgresql://yura:ivanov24.07@51.250.54.232:5432/dldb')

In [46]:
data_history.to_sql('avg_ppg_for_monthly_monitoring', engine, schema = 'yura', if_exists='append', index = False)

1