In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

In [2]:
date_now = dt.datetime.now().date().strftime('%d.%m.%Y')

In [3]:
engine = create_engine('postgresql://yura:ivanov24.07@51.250.54.232:5432/dldb')

In [4]:
df = pd.read_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\sklv_sl_data\grouped_data\result_{date_now}.xlsx')

In [5]:
df['date'] = pd.to_datetime(date_now, format='mixed')

In [8]:
# df['585*Золотой онлайн продажи'].fillna(np.nan, inplace=True)

In [9]:
df

,tg,Sokolov,Sunlight,585*Золотой оффлайн продажи,585*Золотой онлайн продажи,585*Золотой остатки 35%+20%,585*Золотой остатки 1=2,585*Золотой оффлайн остатки 10%+20%,date
0,БК КОЛЬЦА,7131.430085,6212.749004,6601,5979,5858.524495,5941.714457,7604,2024-05-29
1,БК КОЛЬЦА ОБРУЧ,8931.039455,6462.014241,6105,6100,5766.200541,5923.891426,7405,2024-05-29
2,БК ПОДВЕС ДЕКОР,7581.630510,7046.674972,7050,7408,5600.411236,5733.708718,8030,2024-05-29
3,БК ПОДВЕС КУЛЬТ,7557.597225,7091.753212,6899,6065,6247.448775,6093.069937,7942,2024-05-29
4,БК СЕРЬГИ,6803.285707,6404.665274,6864,6784,6562.384130,6590.635686,8185,2024-05-29
5,ЦБ БРАСЛЕТЫ,8741.218424,6161.031349,6577,6420,6433.025256,6734.035610,7605,2024-05-29
6,ЦБ ЦЕПИ,10058.733217,5960.636114,6730,6993,6436.078382,6807.132805,7213,2024-05-29

In [10]:
df['Sokolov'] = df['Sokolov'].astype(int)
df['Sunlight'] = df['Sunlight'].astype(int)
df['585*Золотой оффлайн продажи'] = df['585*Золотой оффлайн продажи'].astype(int)
df['585*Золотой онлайн продажи'] = df['585*Золотой онлайн продажи'].astype(float)
df['585*Золотой остатки 35%+20%'] = df['585*Золотой остатки 35%+20%'].astype(int)
df['585*Золотой остатки 1=2'] = df['585*Золотой остатки 1=2'].astype(int)
df['585*Золотой оффлайн остатки 10%+20%'] = df['585*Золотой оффлайн остатки 10%+20%'].astype(int)

In [11]:
df

,tg,Sokolov,Sunlight,585*Золотой оффлайн продажи,585*Золотой онлайн продажи,585*Золотой остатки 35%+20%,585*Золотой остатки 1=2,585*Золотой оффлайн остатки 10%+20%,date
0,БК КОЛЬЦА,7131,6212,6601,5979.0,5858,5941,7604,2024-05-29
1,БК КОЛЬЦА ОБРУЧ,8931,6462,6105,6100.0,5766,5923,7405,2024-05-29
2,БК ПОДВЕС ДЕКОР,7581,7046,7050,7408.0,5600,5733,8030,2024-05-29
3,БК ПОДВЕС КУЛЬТ,7557,7091,6899,6065.0,6247,6093,7942,2024-05-29
4,БК СЕРЬГИ,6803,6404,6864,6784.0,6562,6590,8185,2024-05-29
5,ЦБ БРАСЛЕТЫ,8741,6161,6577,6420.0,6433,6734,7605,2024-05-29
6,ЦБ ЦЕПИ,10058,5960,6730,6993.0,6436,6807,7213,2024-05-29

In [12]:
df.columns = ['tg', 'Sokolov', 'Sunlight', '585*Золотой оффлайн продажи', '585*Золотой онлайн продажи',
            '585*Золотой онлайн остатки 35%+20%', '585*Золотой онлайн остатки 1=2', '585*Золотой оффлайн остатки 10%+20%', 'date']

In [13]:
df.to_excel(rf'\\gold585.int\uk\Общее хранилище файлов\Служба аналитики\Тренкин Сергей\sklv_sl_data\grouped_data\result_{date_now}.xlsx', index=False)

In [14]:
df.columns = ['tg', 'Sokolov', 'Sunlight', '585*Золотой оффлайн продажи', '585*Золотой онлайн продажи',
            '585*Золотой онлайн ПК40', '585*Золотой онлайн остатки TOGETHER', '585*Золотой оффлайн остатки', 'date']

In [15]:
df.to_sql('grouped_tg_bk_cb', engine, schema = 'yura', if_exists='append', index = False)

7